<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR aboutus">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">About Us</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="row">
                        <div class="rowLeft fLeft">
                            <div class="sideDiv team">
                                <div class="texHolder fLeft">
                                    <ul class="licontent fmOpenR">
                                        <li class="mTop15 tActive"><a href="<?php echo DOMAIN ?>About-Us" alt="About Us" title="About Us">About us</a></li>
                                        <li><a href="<?php echo DOMAIN ?>Team" alt="Team" title="Team">Meet The Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="rowRight fRight">
                            <div class="containerA">
                                <div class="teamTabs">
                                    <div class="tTabComm fLeft"><a href="<?php echo DOMAIN ?>About-Us" alt="About Us" title="About Us">About IFtoSI</a></div>
                                    <div class="tTabComm fLeft"><a href="<?php echo DOMAIN ?>Team" alt="Team" title="Team">Meet The Team</a></div>
                                </div>
                                <div class="texHolder font15 fmOpenR fLeft">
                                    <div class="subHead4">About IFtoSI</div>
                                    <div class="botmLine"></div>
                                    <p class="mTop">IFtoSI is an online marketplace for your diamond solitaires, fine jewellery and bullion purchases. Our mission is to connect the 'end buyer with the 'first seller', thus providing the consumer with a phenomenal price edge vis-a-vis the traditional brick-and-mortar and online stores.
                                        With diamonds being our prominent product category, we named ourselves IFtoSI, which is an acronym for 'Internally Flawless' to 'Slight Inclusions', the grading terminology used while measuring the diamond clarity.</p>
                                    <p>At IFtoSI, we're committed to offering you an exciting product selection, shopping convenience, exceptional service and most of all, unmatched prices!
                                        Our exhaustive list of sellers including diamond dealers, jewellery retailers and bullion merchants spread locally in India and across the globe who are specialists in their respective markets.
                                        So whether you are looking for a solitaire engagement ring, or a 2 carat round brilliant cut diamond, a studded white gold necklace or gold coins, IFtoSI is the place to be! </p>

                                    <div class="subHead4">Why IFtoSI?</div>
                                    <div class="botmLine"></div>
                                    <div class="subHead4">1. Unmatched Prices</div>
                                    <p  class="mTop0">We connect you directly to the seller, and that's how you stand to save a lot of money! Take for instance, a customer who is looking to purchase a solitaire. Normally this solitaire will exchange two to three hands before it reaches the end buyer, thereby escalating its price with margins being added at every level. IFtoSI will help you get a leg up in your purchase process by connecting you with the manufacturer or importer of solitaires directly, and that's how bring the price down for you.</p>

                                    <div class="subHead4">2. Unmatched Quality </div>
                                    <p  class="mTop0">You can be assured of the quality of products offered on IFtoSI as every vendor listed on our site has been carefully scrutinized for legitimacy of business, quality of products and service to customers.
                                        All products on IFtoSI are sold and delivered by third-party sellers who are neither employed by, nor have any other relationship with IFtoSI itself.  All our sellers are reputable companies in the jewellery industry with local and global presence.</p>

                                    <div class="subHead4">3. Unmatched Choice</div>
                                    <p class="mTop0">With a network of over quality vendors, we offer one of the largest collections of diamonds, fine jewellery and bullion on sale online. It is a win-win for the customer as IFtoSI becomes an open marketplace with different sellers showcasing their best products at their best prices. IFtoSI is a unique online to offline (O2O) platform whereby the buyer can see various jewellery products pan India and decide jewellery store to visit. Not only it saves time, the customer gets to see the best variety on IFtoSI.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
