<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR aboutus">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
               <div class="heading font40 fmOpenL">About Us</div>
            </div>
            <div class="wrapperA">
            <div class="wrapperMax">
              <div class="row">
                  <div class="containerA">
                        <div class="texHolder font15 fmOpenR fLeft">
                         <div class="subHead4">About IFtoSI</div>
                          Jewellery is a piece of art and every diamond is one of the most beautiful gift of nature.
                          IFtoSI helps you connect with the best sources for your solitaire, jewellery and bullion purchases. Every jeweller listed on IFtoSI has been carefully scrutinized for legitimacy of business, quality of products and service to customers.
                          The huge list of diamond dealers, jewellers and bullion merchants available at IFtoSI ensures that we connect you with the first seller who can meet your requirements.
                          IFtoSI in its true sense connects the buyer with the seller without any middlemen involved in the transaction.

                          <div class="subHead4">Why IFtoSI?</div>
                          IFtoSI is the only platform in the world where the end buyer meets the first seller. Usually, a solitaire changes two to three hands before it comes into the hands of the end buyer. IFtoSI will help you connect with the manufacturer / direct importer who is sitting in the diamond bourse in Mumbai or any other part of the world ready to assist you to make your purchase. Not only you get your diamonds from a very genuine source but also you stand to save a lot of money.
                          IFtoSI becomes an open marketplace with various sellers giving their best prices. The buyer always stands to gain in this scenario.
                          All the companies listed on the IFtoSI website are well managed and professionally run companies. They are listed with various diamond bourses and have offices in many countries. Only companies which are registered and compliant with all government and council formalities are listed on IFtoSI.
                          Websites which say ‘No middlemen involved’ is a misnomer as they themselves are the middleman. At IFtoSI we connect you directly with dealers and we are not involved with the transaction. Once you register, you are free to connect with anybody directly.
                          Solitaires are valued and sold based on the GIA, IGI and HRD certificate. Buyers can match the certificate number with the laser inscription on the girdle of the diamond.  Your solitaire certificate number can also be checked on certification laboratory website.
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
