<!DOCTYPE html>
<html>
<head>
    <title><?php echo strtoupper($page)?></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' type="text/css" href='tools/css/backend.css'>
    <link rel='stylesheet' type="text/css" href='tools/css/ripple.css'>
    <script type="text/javascript" src='tools/js//cms/lib/jquery.js'></script>
    <script type="text/javascript" src='tools/js/cms/Common.js'></script>
    <script type="text/javascript" src='tools/js/cms/lib/ripple.js'></script>
</head>