<!DOCTYPE html>
<html>
<head>
    <title><?php echo strtoupper($page)?></title>
        <link rel="apple-touch-icon" sizes="57x57" href="tools/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="tools/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="tools/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="tools/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="tools/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="tools/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="tools/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="tools/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="tools/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="tools/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="tools/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="tools/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="tools/img/favicons/favicon-16x16.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' type="text/css" href='tools/css/backend.css'>
    <link rel='stylesheet' type="text/css" href='tools/css/ripple.css'>
    <script type="text/javascript" src='tools/js/cms/lib/jquery.js'></script>
    <script type="text/javascript" src='tools/js/cms/Common.js'></script>
    <script type="text/javascript" src='tools/js/cms/lib/ripple.js'></script>
    <link rel="stylesheet" href="tools/css/jquery.toast.min.css?v=3.2" />
</head>