<!DOCTYPE html>
<html>
<head>
    <title><?php echo strtoupper($page)?></title>
        <link rel="apple-touch-icon" sizes="57x57" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<?php echo DOMAIN;?>tools/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo DOMAIN;?>tools/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<?php echo DOMAIN;?>tools/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<?php echo DOMAIN;?>tools/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<?php echo DOMAIN;?>tools/img/favicons/favicon-16x16.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script>
        var DOMAIN = "<?php echo DOMAIN;?>";
        var IMGDOMAIN = "<?php echo IMGDOMAIN;?>";
        var APIDOMAIN = "<?php echo APIDOMAIN;?>";
        var llCount = "<?=count($landline);?>";
        var mNCount = "<?=count($alt_cmobile);?>";
    </script>
	
    <link rel='stylesheet' type="text/css" href='<?php echo DOMAIN;?>tools/css/backend.css?v=<?php echo VERSION; ?>'>
    <link rel='stylesheet' type="text/css" href='<?php echo DOMAIN;?>tools/css/ripple.css?v=<?php echo VERSION; ?>'>
    <script type="text/javascript" src='<?php echo DOMAIN;?>tools/js/cms/lib/jquery.js?v=<?php echo VERSION; ?>'></script>
    <script type="text/javascript" src='<?php echo DOMAIN;?>tools/js/cms/lib/ripple.js?v=<?php echo VERSION; ?>'></script>
    <link rel="stylesheet" href="<?php echo DOMAIN;?>tools/css/jquery.toast.min.css?v=<?php echo VERSION; ?>" />
    <script type="text/javascript" src="<?php echo DOMAIN;?>tools/js/lib/CustomStorage.js?v=<?php echo VERSION; ?>"></script>
    <script type="text/javascript" src='<?php echo DOMAIN;?>tools/js/cms/Common.js?v=<?php echo VERSION; ?>'></script>
    
	
	<?php
	if($page == 'upload')
	{
	?>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Image Upload</title>
		
		<!--Stylesheets-->
		<link href="<?php echo IMGDOMAIN;?>css/jquery.filer.css" type="text/css" rel="stylesheet" />
		<link href="<?php echo IMGDOMAIN;?>css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />

		<!--jQuery-->
		<script type="text/javascript" src="<?php echo $jvs['jqry'];?>"></script>
		<script type="text/javascript" src="<?php echo IMGDOMAIN;?>js/jquery.filer.min.js?v=1.0.5"></script>
		<script type="text/javascript" src="<?php echo IMGDOMAIN;?>js/custom.js?v=1.0.5"></script>
		
		<!--[if IE]>
			  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<style>
			body {
				
			}
			
			#content {
				width: 100%;   
			}
		</style>
	<?php
	}
	?>
</head>
