<!DOCTYPE html>
<html>
	<head>
		<title>IFtoSI</title>
		<link rel='shortcut icon' type='image/x-icon' href='<?php echo FAVICON; ?>' />
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="<?=$css['home'];?>">
		<link rel="stylesheet" href="<?=$css['ripple'];?>">
		<script type="text/javascript" src="<?=$jvs['jqry'];?>"></script>
		
	<?php
		if ($page == 'results')
		{
	?>
			<link rel="stylesheet" href="<?=$css['rngsld'];?>">
			<link rel="stylesheet" href="<?=$css['rngsldskin'];?>">
			<link rel="stylesheet" href="<?=$css['normalize'];?>">
			<script type="text/javascript" src="<?=$jvs['rngsld'];?>"></script>
	<?php
		}
	?>    
	</head>
