<!DOCTYPE html>
<html>
<head>
    <title>IFtoSI</title>
    <link rel='shortcut icon' type='image/x-icon' href='<?php echo DOMAIN; ?>tools/img/common/favicon.ico' />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet"  href="tools/css/home.css">
    <link rel="stylesheet"  href="tools/css/ripple.css">
    <script  src="tools/js/lib/jquery1.9.1.min.js"></script>
<?php
    if ($page=='index') 
{
?>
    
<?php } ?>
<?php
    if ($page=='results') 
{
?>
    <link rel="stylesheet" href="tools/css/rangeslider/ion.rangeSlider.css">
    <link rel="stylesheet" href="tools/css/rangeslider/ion.rangeSlider.skinHTML5.css">
    <link rel="stylesheet" href="tools/css/rangeslider/normalize.css">
    <script  src="tools/js/lib/ion.rangeSlider.js"></script>
<?php } ?>
<?php
    if ($page=='details') 
{
?>
<?php } ?>    
</head>
