<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR detailsPage bgWhite bullion_details">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="forBg bgWhite"></div>
            <div class='prdMainDetails'>
                <div class="wrapperMax">
                    <div class="imgsCont">
                        <div class="leftArrow transition300" onclick="movePrImg(true)"></div>
                        <div class="rightArrow  transition300" onclick="movePrImg(false)"></div>
                        <div id='prdImage' class="forImg fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/product1/b1.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
                        <div id='gallery1' class="gallery fLeft transition300">
                            <div class="carousel transition300">
                                <div class="thumbnil fLeft transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b1.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b2.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b3.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b4.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b4.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b4.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b4.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div><div class="thumbnil transition300" style="background:#fff url(<?php echo DOMAIN; ?>tools/img/product1/b4.jpg)no-repeat;background-size: contain;background-position: center;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detCont">
                        <div class="btnsCont fLeft">
                            <div class="prdShape fLeft">
                                <div class="prdShTitle fLeft fmOpenB">PRICE</div>
                                <div class="prdShType fLeft fmOpenL"><span>&#8377;</span><?php echo number_format($prdInfo['attr_details']['price']); ?></div>
                            </div>
                            <div class="prdBtns fLeft">
                                <div class="btnComm fLeft iconCall ripplelink poR" >Contact Merchant</div>
                                <div class="btnComm fLeft iconMessage ripplelink poR">Send SMS & E-Mail</div>
                                <div class="btnComm fLeft iconWishlist ripplelink poR" id="addtowishlist"><?=($uid!==null) ? 'Added To Wishlist' : 'Add To Wishlist'; ?></div>
                            </div>
                        </div>
                        <div class="majorInfoBox fLeft bullion_details">
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">TYPE</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $prdInfo['attr_details']['type']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">METAL</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $prdInfo['attr_details']['metal']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">GOLD PURITY</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $prdInfo['attr_details']['gold_purity']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">GOLD WEIGHT</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo number_format($prdInfo['attr_details']['gold_weight'], 2); ?> Gms</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='vDetails' class="vendorDetails fLeft transition300 dn vTransit">
                <div class="wrapperMax ">
                    <div class="vdLeftCard fLeft">
                        <div class="orgName fLeft fmOpenR"><?php echo $vndrDtls['OrganisationName']; ?></div>
                        <div class="orgAdd fLeft fmOpenR">
                            <?php echo trim($vndrAddr[0]); ?>,<br><?php echo trim($vndrAddr[1]); ?>,<br><?php echo trim($vndrAddr[2]); ?>,<br><?php echo trim($vndrAddr[3]); ?>.<br><?php echo trim($vndrAddr[4]); ?>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Telephone No.</div>
                            <div class="commtxt tel fmOpenR fLeft"><?php echo str_replace('~', ', ', $vndrDtls['telephones']); ?></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Email Address</div>
                            <div class="commtxt email fmOpenR fLeft"><?php echo str_replace('~', ', ', $vndrDtls['alt_email']); ?></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Website</div>
                            <div class="commtxt email fmOpenR fLeft"><a href="<?php echo 'http://' . str_replace('http://' , '' , $vndrDtls['website']) ;?>"><?php echo $vndrDtls['website']; ?></a></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="commLeft fLeft">
                                <div class="infoLabel fmOpenB font12 fmOpenB fLeft">VAT Number</div>
                                <div class="commtxt email fmOpenR fLeft"><?php echo $vndrDtls['Vat_Number']; ?></div>
                            </div>
                            <div class="commRight fLeft">
                                <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Turnover (cr)</div>
                                <div class="commtxt email fmOpenR fLeft"><?php echo $vndrDtls['turnover']; ?></div>
                            </div>
                        </div>

                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Bankers</div>
                            <div class="commtxt bankers fmOpenR fLeft"><?php echo str_replace('~', ', ', $vndrDtls['bankers']); ?></div>
                        </div>
                    </div>
                    <div class="vdCenterCard fLeft">
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #5e0037;">Contact Person</div>
                            <div class="cardCommCont"><div class="cardComm cntName orgName fLeft fmOpenR"><?php echo $vndrDtls['contact_person']; ?></div>
                                <div class="fmOpenB desig">(<?php echo $vndrDtls['position']; ?>)</div>
                                <div class="cardComm cntMb fmOpenB fLeft"><?php echo str_replace('~', ', ', $vndrDtls['contact_mobile']); ?></div>
                                <div class="cardComm cntEmail fmOpenB fLeft"><?php echo str_replace('~', ', ', $vndrDtls['email']); ?></div>
                            </div>
                        </div>
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #380B34;">Bharat Diamond Bourse Certificate</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo $vndrDtls['diamond_certificate']; ?></div>
                            </div>
                        </div>

                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #2A0E34;">GJEPC Membership Certificate</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo $vndrDtls['Membership_Certificate']; ?></div>
                            </div>
                        </div>
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #171334;">Membership Of Other Diamond Bourses</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo str_replace('~', ', ', $vndrDtls['membership_around_world']); ?></div>
                            </div>
                        </div>
                    </div>
                    <div  class="vdRightCard fLeft">
                        <div class="cntCard fLeft shadoNone">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #ebebde;color:#666;">Office Locations</div>
                            <div class='cardCommCont' style="padding: 10px;"><div id='googleMap' class="mapCont fLeft"></div></div>
                        </div>
                        
                        <div class="cntCard fLeft shadoNone">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #ebebde;color:#666;">Gallery</div>
                            <div class='cardCommCont' style="padding: 10px;">
                                <div class="gallery fLeft">
                                    <div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb5.jpg)no-repeat;background-size: contain;background-position: center;"></div><div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb2.png)no-repeat;background-size: contain;background-position: center;"></div>
                                    <div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb3.jpg)no-repeat;background-size: contain;background-position: center;"></div>
                                    <div id='moreimg' class="thumbnil fLeft poR" style="background:#8A0044"><span>+5 More</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='prdInfo fLeft'>
            <div class="wrapperMax fmOpenR">
                <div class="prdInfoTitle fLeft">Header 1</div>
                <div class="prdInfoDiv fLeft">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="prdInfoTitle fLeft">Header 2</div>
                <div class="prdInfoDiv fLeft">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="prdInfoTitle fLeft">Header 3</div>
                <div class="prdInfoDiv fLeft">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="prdInfoTitle fLeft">Header 4</div>
                <div class="prdInfoDiv fLeft">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="prdInfoTitle fLeft">Header 5</div>
                <div class="prdInfoDiv fLeft">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <!--<div class="prdInfoTitle fLeft">More Infor</div>
                <div class="prdInfoDiv fLeft">
                    <ul>
                        <li>
                            <div>Carat Weight - </div>
                            <div>A carat is the standard unit of measurement used to weigh diamond and gemstones. One carat (1.00 ct) equals 200 milligrams,
                                or 0.200 grams. You may also have heard jewelers talking about "points". In common jewelry parlance, 
                                when referring to a diamond weighing less than one carat, jewelers use points, just like pennies are used 
                                for prices lower than one dollar. A point equals 0.01 ct. So, for example, a 15 point diamond is the same 
                                as a 0.15 ct diamond.As large diamonds are rare, they have a greater value per carat and the price of diamonds rises 
                                exponentially in relation to size. Accordingly, a one carat diamond with a certain color and clarity will be much more 
                                valuable than two separate half carat diamonds of the same quality. Due to higher demand, diamonds increase in value after 
                                they reach the half and full carat mark.
                            </div>
                        </li>
                        <li>
                            <div>Color - </div>
                            <div>
                                Diamonds generally increase in value as their color moves from pale yellow to an absence of color that promotes more 
                                reflection and dispersal of light. Even the slightest tinge of yellow or brown in a white diamond will decrease its value.
                                White diamonds are graded on a scale that usesthe letters of the alphabet to describe color ranging from D (colorless) to Z (light yellow or brown). 
                            </div>
                        </li>
                        <li>
                            <div>Clarity - </div>
                            <div>
                                A diamond's clarity rating is based on the presence and visibility of internal flaws (called inclusions) and external flaws (called blemishes). 
                                Inclusions are naturally occurring impurities that can become embedded in a diamond during its formation. Blemishes can occur during cutting, polishing and wearing.
                                Clarity improves when a diamond has fewer flaws. A clarity grade is assigned based on the overall appearance of a diamond under 10x magnification. There are five factors that determine how 
                                a major laboratory will assign a clarity grade to a specific diamond:
                            </div>
                        </li>
                        <li>
                            <div>Cut - </div>
                            <div>
                                Referring to the pattern of angled facets on the surface of the diamond, the cut of a diamond determines its brilliance and fire. People often confuse a diamond's cut with its shape. 
                                Whereas shape refers to the physical form and contour of the diamond, the quality of its cut dictates overall proportion and how it reacts to light. A diamond's sparkling character 
                                and reflective brilliance increases in proportion to the fineness of its cut.The cut of a diamond includes considerations like symmetry, depth, crown and pavilion angles, uniformity of facets,
                                quality of polish and the overall skill of the cutter that sculpted the stone.
                                Most gemologists consider cut to be the most important diamond characteristic. A poor cut will dull the brilliance of a diamond of perfect color and clarity.
                                Cutting a diamond to ideal proportions sometimes requires sacrificing up to half of the crystal's initial weight. Consequently, such diamonds are sold at a relatively higher per-carat price.
                            </div>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="wrapper fLeft">
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
        <?php include 'logo.html'; ?>    
        <?php include 'leftmenu.html'; ?>    
        <div id='dragTarget' class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
        <div id='overlay' class="overlay transition300 transit-100Y1 dn"></div>
        <div id='userForm' class="userForm transition300 dn">
            <div class="lgTitle fLeft fmOpenR">Submit details to get vendor details</div>
            <div class="inputCont fLeft fmOpenR">
                <input type="tel" id="ur_mobile" name="ur_mobile" autocomplete="off" maxlength="10" class="txtInput cOrange fmOpenR font14 mobileIcon">
                <label for="ur_mobile" class="inp-label transition100">MOBILE</label>
                <div id="ur_mobile_inpText" class="inpText fRight transition300">enter<br>mobile number</div>
            </div> 
            <div class="inputCont fLeft fmOpenR">
                <input type="text" id="ur_name" name="ur_name" autocomplete="off"  class="txtInput cOrange fmOpenR font14 nameIcon">
                <label for="ur_name" class="inp-label transition100">NAME</label>
                <div id="ur_name_inpText" class="inpText fRight transition300">enter<br>your name</div>
            </div> 
            <div class="inputCont fLeft fmOpenR">
                <input type="text" id="ur_email" name="ur_email" autocomplete="off"  class="txtInput cOrange fmOpenR font14 emailIcon">
                <label for="ur_email" class="inp-label transition100">EMAIL</label>
                <div id="ur_email_inpText" class="inpText fRight transition300">enter<br>your email</div>
            </div> 
            <div class="cancelLgBtn fLeft fmOpenR" id='userCancel'> CANCEL</div>
            <div class="loginBtn fLeft fmOpenR" id='userSubmit'>SUBMIT</div>
        </div>
    </div>
    <div id='imgGallery' class="imgGallery dn">
        <div id='galleryClose' class="galleryClose ripplelink"></div>
        <div class="galleryImg fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        <div class="imgListCont fLeft">
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb2.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb3.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb4.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb5.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb2.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb3.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb4.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb5.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        </div>
    </div>
    
    <div id='imgvendorGallery' class="imgGallery dn">
        <div id='galleryClose2' class="galleryClose ripplelink"></div>
        <div class="galleryImg fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        <div class="imgListCont fLeft">
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb2.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb3.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        </div>
    </div>
    
    

<script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['dmap']; ?>"></script>
</body>
</html>
