<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div class="contentCont fLeft">
        <form id='jwAddForm'>
            <div class="wrapper">
                <div class="wrapperMax">
                    <div class="vCommTitle fLeft fmOpenL">Select a bullion you want to add</div>
                    <div class="formContainer fmOpenR">
                        <div class="jShapesCont resultsPage showHide fmOpenL fLeft">
                            <div class="allShapes resultsPage bresults">
                                <center>
                                    <div id="gbar" class="jshapeComm transition300 ripplelink gBar"><span class="ink animate" style="height: 337px; width: 337px; top: -73.5px; left: 114.5px;"></span>Gold Bar
                                    </div><div id="sBar" class="jshapeComm transition300 ripplelink sBar">Silver Bar
                                    </div><div id="gCoin" class="jshapeComm transition300 ripplelink gCoin">Gold Coin
                                    </div><div id="sCoin" class="jshapeComm transition300 ripplelink sCoin">Silver Coin
                                    </div>
                                </center>
                            </div>
                        </div>

                        <div class="divCon2  fLeft ">
                            <div  class="titleDiv txtCap fLeft">Gold Purity</div>
                            <input name="gold_purity" type="text" placeholder=" eg. 1.33" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Gold Weight</div>
                            <input name="gold_weight" type="text" placeholder=" eg. 10 Gms" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Silver Purity</div>
                            <input name="silver_purity" type="text" placeholder=" eg. 1.33" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Silver Weight</div>
                            <input name="silver_weight" type="text" placeholder=" eg. 10 Gms" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Price</div>
                            <input name="price" type="text" placeholder=" eg. 1200000" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <a href="<?php echo DOMAIN ?>index.php?case=vendor_landing"><div class="cancelBtn fmOpenR ripplelink poR">CANCEL</div></a>
                                <a href="<?php echo DOMAIN?>index.php?case=vendor_landing"><div class="submitBtn fmOpenR ripplelink poR">SUBMIT</div></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['jqryUi']; ?>"></script>
<script type="text/javascript" src='tools/js/cms/vendor_landing.js'></script>
</body>
</html>
