<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div class="contentCont fLeft">
        <form id='bAddForm'>
            <div class="wrapper">
                <div class="wrapperMax">
                    <div class="vCommTitle fLeft fmOpenL">Select a bullion you want to add</div>
                    <div class="formContainer fmOpenR">
                        <div class="jShapesCont resultsPage showHide fmOpenL fLeft">
                            <div class="allShapes resultsPage">
                                <center>
<?php
                        $catIds =  explode(',', $pdet['catid']);    
                        /*foreach($fil['attributes'] as $key=>$values)
                        {
                            if(strtolower($values['attribute_disp_name'])=='type')
                            {
                                $attr_values = $values['attribute_values'];
                                $attr_values = explode(',', $attr_values);
                                $i=0;
                                foreach($attr_values as $shape)
                                {
                                    $a=explode(' ',$shape);
                                    $firstval=  explode(',','g,s');
                                    $typeid= $firstval[$i].$a[1];
                                    $shapename=ucwords(strtolower(substr($shape,0,-1)));
                                    $i++;
                                    $idtemp=$typeid.$shapename;
                                    $type=$result[$pid]['attr_details']['type'];
                                    $check=($shapename==$type) ? 'shapeSelected' :'';
                                  echo "<div id='".$idtemp."' class='jshapeComm transition300 ripplelink SubCaTtype ".$check." ".$idtemp."'>".$shapename."</div>";
                                 }}}
                                 */
                                 //var_dump($cat); die;
                                                                $shapes= $attr['shape'];
                                                                $type=$val['catname'];
                                                                $shows='';
                                                                $showg='';
                                                                 if(!empty($params['prdid']))
                                                                {
                                                                    if(($shapes=='gCoins')||($shapes=='gBars'))
                                                                    {
                                                                        $showg='';
                                                                        $shows='dn';
                                                                    }
                                                                   else if(($shapes=='sBars')||($shapes=='sCoins'))
                                                                    {
                                                                        $shows='';
                                                                        $showg='dn';
                                                                    }
                                                                }
                                                                 
                                                                foreach($cat['subcat'] as $ky=>$val)
								{   
                                                                    if(strtolower($val)!=='')
									{
                                                                            if(($shapes=='gCoins')||($shapes=='gBars'))
                                                                            {
                                                                                echo "<div id='g".$val['catname']."' class='jshapeComm transition300 ripplelink g".ucwords(strtolower($val['catname']))." ".(('g'.$val['catname']==$shapes) ? 'shapeSelected':'')."'>Gold ".$val['catname']."</div>";
                                                                            }
                                                                            else
                                                                            {
                                                                                echo "<div id='g".$val['catname']."' class='jshapeComm transition300 ripplelink g".ucwords(strtolower($val['catname']))." ".(('g'.$val['catname']==$shapes) ? 'shapeSelected':'')."'>Gold ".$val['catname']."</div>";
                                                                            }
                                                                        }    
                                                                }

								foreach($cat['subcat'] as $ky=>$val)
								{   
									if(strtolower($val)!=='')
									{
                                                                            if(($shapes=='sCoins')||($shapes=='sBars'))
                                                                            {
                                                                            	echo "<div id='s".$val['catname']."' class=' jshapeComm transition300 ripplelink s".ucwords(strtolower($val['catname']))." ".(('s'.$val['catname']==$shapes) ? 'shapeSelected':'')."'>Silver ".$val['catname']."</div>";
                                                                            }
                                                                            else
                                                                            {
                                                                            	echo "<div id='s".$val['catname']."' class=' jshapeComm transition300 ripplelink s".ucwords(strtolower($val['catname']))." ".(('s'.$val['catname']==$shapes) ? 'shapeSelected':'')."'>Silver ".$val['catname']."</div>";
                                                                            }
                                                                        }
								}
?>
                                </center>
                            </div>
                        </div>                                        
 <div class="<?=(!empty($attr['product_id']) == True) ? '' : 'dn';?>" id="allcontent">                       
<!--                                    <div id="gbar" class="jshapeComm transition300 ripplelink gBar"><span class="ink animate" style="height: 337px; width: 337px; top: -73.5px; left: 114.5px;"></span>Gold Bar    
                                    </div><div id="sBar" class="jshapeComm transition300 ripplelink sBar">Silver Bar
                                    </div><div id="gCoin" class="jshapeComm transition300 ripplelink gCoin">Gold Coin
                                    </div><div id="sCoin" class="jshapeComm transition300 ripplelink sCoin">Silver Coin
                                    </div>-->
<?php                        
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='design')
                                            {
?>                              
                                                <div class="divCon  fLeft dAuto">
                                                    <div  class="titleDiv txtCap fLeft">Bullion Design</div>
                                                        <div class='radioCont fLeft'> 
<?php
                                                            $attr_values = $values['attribute_values'];
                                                            $attr_values = explode(',', $attr_values);
                                                            foreach($attr_values as $design)
                                                            {                                                                                                    
?>
                                                                <div class="checkDiv fLeft">
                                                                    <input type="radio" name='design' <?=($attr['bullion_design'] == $design) ? 'checked' : '';?> class="filled-in"  value="<?=$design;?>" id="<?=ucwords(strtolower($design)); ?>">
                                                                    <label for="<?=ucwords(strtolower($design));?>"> <?=$design; ?></label>
                                                                </div>
<?php                                                       }
?>
                                                        </div>
                                                </div>
<?php                                             
                                            }
                                        }
?>

                        <div class="divCon2  fLeft goldprop allprop <?=$showg;?>">
                                    <div  class="titleDiv txtCap fLeft">Gold Purity</div>
                                    <input name="gold_purity" id="goldpurity" type="text" placeholder=" eg. 999 or 995" maxlength="3" onkeyup="return common.isNumberKey(event);" value="<?=$attr['gold_purity'];?>" class="txtInput fLeft fmOpenR font14 c666">
                                    </div>
                        <div class="divCon2  fLeft goldprop allprop <?=$showg;?>">
                            <div  class="titleDiv txtCap fLeft">Gold Weight</div>
                            <input name="gold_weight" id="goldweight" type="text" placeholder=" eg. 10 Gms" value="<?=$attr['gold_weight'];?>" maxlength="8" onkeypress="return common.isDecimalNumber(event,this.value);" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft silverprop allprop <?=$shows;?> ">
                            <div  class="titleDiv txtCap fLeft">Silver Purity</div>
                            <input name="silver_purity" id="silverpurity" type="text" placeholder=" eg. 999 or 995" maxlength="3" onkeypress="return common.isDecimalNumber(event,this.value);" value="<?=$attr['gold_purity'];?>"  class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft silverprop allprop <?=$shows;?>">
                            <div  class="titleDiv txtCap fLeft">Silver Weight</div>
                            <input name="silver_weight" id="silverweight" type="text" placeholder=" eg. 10 Gms" maxlength="8" onkeypress="return common.isDecimalNumber(event,this.value);" value="<?=$attr['gold_weight'];?>" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Design Number</div>
                            <input name="barcode" id="barcode" type="text" placeholder=" eg. ALXPK12" maxlength="10" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_barcode'];?>">
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                            <!--    <a href="<?php echo DOMAIN ?>index.php?case=vendor_landing">--> <div class="cancelBtn fmOpenR ripplelink poR" onclick="backbtn();" id='backBtnDiv'>CANCEL</div></a>
                            <!--    <a href="<?php echo DOMAIN?>index.php?case=vendor_landing"> --> <div class="submitBtn fmOpenR ripplelink poR" onclick="validateBForm()">SUBMIT</div></a>
                            </center>
                        </div>
                     </div>   
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['jqryUi']; ?>"></script>
<script type="text/javascript" src='tools/js/cms/vendor_landing.js'></script>
<script type="text/javascript" src='tools/js/cms/lib/jquery.toast.min.js'></script>
<script type="text/javascript" src='tools/js/pForm.js'></script>


</body>
</html>
