<?php include 'backHead.html'?>
    <body>
        <div class="container">
            <?php include 'backheader.html';?>
            <div class="wrapper">
                <div class="wrapperMax">
                    <div class="formContainer fmOpenR">
                        <div class="formTitle fLeft fmOpenL">Select a bullion you want to add</div>
                        
                        
                        <div class="jShapesCont resultsPage showHide fmOpenL fLeft">
                            <div class="allShapes resultsPage bresults">
                                <center>
                                    <div id="gbar" class="jshapeComm transition300 ripplelink gBar"><span class="ink animate" style="height: 337px; width: 337px; top: -73.5px; left: 114.5px;"></span>Gold Bar
                                    </div><div id="sBar" class="jshapeComm transition300 ripplelink sBar">Silver Bar
                                    </div><div id="gCoin" class="jshapeComm transition300 ripplelink gCoin">Gold Coin
                                    </div><div id="sCoin" class="jshapeComm transition300 ripplelink sCoin">Silver Coin
                                    </div>
                                </center>
                            </div>
                        </div>

                        
                        
                        
                        
                        
                        
                        
                        
                        
<!--                        <div class="divCon  fLeft fmOpenR dAuto">
                            <div  class="titleDiv txtCap fLeft">Bullion Type</div>
                            <div class='radioCont fLeft'>    
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="coin" name="btype">
                                    <label for="coin">Coin</label>
                                </div>
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="bar" name="btype">
                                    <label for="bar">Bar</label>
                                </div>
                            </div>
                        </div>-->
<!--                        <div class="divCon  fLeft fmOpenR dAuto">
                            <div  class="titleDiv txtCap fLeft">Bullion Type</div>
                            <div class='radioCont fLeft'>    
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="gcoin" name="type">
                                    <label for="gcoin">Gold Coin</label>
                                </div>
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="gbar" name="type">
                                    <label for="gbar">Gold Bar</label>
                                </div>
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="scoin" name="type">
                                    <label for="scoin">Silver Coin</label>
                                </div>
                                <div class="checkDiv fLeft Round">
                                    <input type="radio" class="filled-in" id="sbar" name="type">
                                    <label for="sbar">Silver Bar</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="divCon2  fLeft ">
                            <div  class="titleDiv txtCap fLeft">Gold Purity</div>
                            <input name="gold_purity" type="text" placeholder=" eg. 1.33" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Gold Weight</div>
                            <input name="gold_weight" type="text" placeholder=" eg. 10 Gms" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Silver Purity</div>
                            <input name="silver_purity" type="text" placeholder=" eg. 1.33" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Silver Weight</div>
                            <input name="silver_weight" type="text" placeholder=" eg. 10 Gms" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Price</div>
                            <input name="price" type="text" placeholder=" eg. 1200000" class="txtInput fLeft fmOpenR font14 c666">
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <div class="cancelBtn fmOpenR ripplelink poR">CANCEL</div>
                                <div class="submitBtn fmOpenR ripplelink poR">SUBMIT</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
