<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Contact Us</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="contLeft fLeft">
                        <p class="font20 fmOpenR "> We would love to hear from you !</p>
                        <p class="font18 fmOpenR "> Customer Service</p>
                        <div class="texBlk fLeft underLn">
                            Call us at  080-324-00000 (8am-12 midnight, 7 days a week)
                            <br>
                            or
                            <br>
                            Write to us at cs@IFtoSI.com
                        </div>
                        <div class="texBlk underLn fLeft">
                            <b>Corporate Sales</b><br>
                            For all corporate sales related queries please write to us at corporate.sales@IFtoSI.com<br>
                            For bulk enquiries or sales associations please contact sales@IFtoSI.com<br>
                        </div>
                        <div class="texBlk underLn fLeft"> <b>Bangalore</b><br>
                            IFtoSI Pvt. Ltd.<br>
                            IndiQube, 3rd Floor,<br>
                            Plot No. 19/4 & 27,<br>
                            Kadubisanahalli, <br>
                            Outer Ring Road, <br>
                            Bangalore 560103<br>
                            Karnataka, India
                        </div>
                        <div class="texBlk underLn fLeft"><b>Mumbai</b><br>
                            IFtoSI Pvt. Ltd.<br>
                            302, Dhantak Plaza, Makwana Road,<br>
                            Marol, Andheri (East)<br>
                            Mumbai-59<br>
                            Maharashtra, India<br>
                        </div>
                        <div class="texBlk underLn fLeft"><b>Delhi</b><br>
                            IFtoSI Pvt. Ltd.<br>
                            2021, Janak Plaza, <br>
                            1st floor,<br>
                            Bank Street, <br>
                            Karol Bagh, New Delhi 110005<br>
                        </div>
                        <div class="texBlk  fLeft"><b> USA</b><br>
                            IFtoSI Pvt. Ltd.<br>
                            100 Arbor Oak Dr, Suite 200 <br>
                            Ashland VA 23005<br>
                            USA         <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
