<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR aboutus">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Contact Us</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="texHolder font15 fmOpenR fLeft">
                        <div class="subHead4">We Are Located At</div>
                        <div class="botmLine"></div>
                        <div class="fLeft contctCont">
                            <div class="addrCont fLeft fmOpenR">
                                <div class="locDiv fmOpenB">MUMBAI</div>
                                <div class="addTxt fLeft"> IFTOSI JEWELS PVT. LTD.</div>
                                <div class="addTxt fLeft"> 124, AMRIT DIAMOND HOUSE,</div>
                                <div class="addTxt fLeft">TATA ROAD NO. 1</div>
                                <div class="addTxt fLeft"> NEAR PANCHARATNA</div>
                                <div class="addTxt fLeft"> OPERA HOUSE,</div>
                                <div class="addTxt fLeft"> MUMBAI-400004,</div>
                                <div class="addTxt fLeft"> MAHARASTRA, INDIA</div>
                            </div>
                            <div class="addrCont fLeft fmOpenR">
                                <div class="locDiv fmOpenB">REGISTERED OFFICE</div>
                                <div class="addTxt fLeft">IFTOSI JEWELS PVT. LTD.</div>
                                <div class="addTxt fLeft">F- 27, Shagun Arcade,</div>
                                <div class="addTxt fLeft">Film City Road,</div>
                                <div class="addTxt fLeft">Mumbai - 400063</div>
                                <div class="addTxt fLeft"> Maharastra, India</div>

                            </div>
                            <div class="addrCont fLeft fmOpenR">
                                <div class="mailDiv fmOpenB">MAIL US</div>
                                <div class="addTxt1 fLeft fmOpenB">info@iftosi.com</div>
                            </div>
                            <div class="addrCont fLeft fmOpenR">
                                 <div class="callDiv fmOpenB">CALL US</div>
                                 <div class="addTxt1 fLeft fmOpenB">91-22-41222241</div>
                                 <div class="addTxt1 fLeft fmOpenB">91-22-41222242</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
