<!DOCTYPE html>
<?php include 'vendorHead.html'; ?>
<body>
    <div class="container  fmOpenR">
         <?php include 'HeaderVendor.html';?>
        <div class="wrapper">
            <div class="cstmrCnt fLeft">
                        <div class="cPrsnHdr fLeft">
                            <div class='div15 fLeft txtCenter'>Date</div>
                            <div class='div22 fLeft txtCenter'>Name</div>
                             <div class='div25 fLeft txtCenter'>Email</div>
                             <div class='div18 fLeft txtCenter '>Mobile</div>
                              <div class='div20 fLeft txtCenter bRnone'>City</div>
                        </div>
                     <div class="cntctCard fLeft">
                        <div class="cDtls fLeft">
                            <div class='cList fLeft'>
                                <div class='div15 fLeft txtCenter'>26Aug 2016</div>
                                <div class='div22 fLeft txtCenter'>Shubham Gupta</div>
                                <div class='div25 fLeft'><div class="emIcon fLeft">ddaayushi@gmail.com</div></div>
                                <div class='div18 fLeft txtCenter'><div class="mbIcon fLeft">9769620449</div></div>
                                <div class='div20 fLeft txtCenter bRnone'>Kanpur</div>
                            </div>
                        </div>
                    </div>
                    <div class="scntctCard fLeft dn"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?=DOMAIN;?>tools/js/adminNav.js?v=<?=VERSION;?>"></script>
    <script type="text/javascript" src="<?=DOMAIN;?>tools/js/Common.js?v=<?=VERSION;?>"></script>
    <script type="text/javascript" src="<?= $jvs['cms_jquery_toast'];?>"></script>
    <script type="text/javascript" src="<?= $jvs['customerList'];?>"></script>
</body>
</html>
