<?php include 'bHead.html'; ?>
<body>
   <div class="container bgWhite fmOpenR diamond_shap">
          <div class="wrapper">
        <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                      <?php include 'sideBarLeft.html'; ?>
                   <div class="centerDiv bLeft bRight">
                       <div class="textDiv fLeft bnone fmOpenB tcenter" ><b>Key Measurements</b></div>
                    <div class="divfirst fLeft fmOpenB">
                        <div class="textDivLft fLeft">
                            <div class="textDiv fLeft font13" id="t1">Crown</div>
                            <div class="textDiv fLeft" id="t2">Table</div>
                            <div class="textDiv fLeft" id="t3">Star Facets</div>
                            <div class="textDiv fLeft" id="t4">Bezel Facets</div>
                            <div class="textDiv fLeft" id="t5">Upper Girdle Facets</div>
                            <div class="textDiv fLeft" id="t6">Girdle</div>
                            <div class="textDiv fLeft" id="t7">Pavilion</div>
                            <div class="textDiv fLeft" id="t8">Lower Girdle Facets</div>
                            <div class="textDiv fLeft" id="t9">Pavilion Girdle</div>
                            <div class="textDiv fLeft " id="t10">Culet</div>
                        </div>

                    </div>
                    <div class="divfirst fLeft fmOpenB">
                        
                        <div class="textDiv fLeft" id="t11">Length</div>
                        <div class="textDiv fLeft" id="t12">Depth</div>
                        <div class="textDiv fLeft" id="t13">Width</div>
                        <div class="textDiv fLeft" id="t14">Depth%</div>
                        <div class="textDiv fLeft" id="t15">L/W Ration</div>
                        <div class="textDiv fLeft" id="t16">Table%</div>
                        <div class="textDiv fLeft" id="t17">Girdle Width</div>
                        <div class="textDiv fLeft" id="t18">Crown Angel</div>
                        <div class="textDiv fLeft" id="t19">Culet Size</div>
                        <div class="textDiv fLeft" id="t20">Pavilion Angel</div>

                    </div>

                    <div class="divfirst fLeft">
                        <div class="picDivRght fRight">
                            <div class="diamondPic diamontCat1 fLeft" id="picchange"></div>
                        </div>
                    </div>
                </div>
                       <?php include 'sideBarRight.html'; ?>
                </div>
            </div>

        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#t1").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat2 diamondPic fLeft");

            });
            $("#t2").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat3 diamondPic fLeft");
            });
            
            $("#t3").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat4 diamondPic fLeft");
            });
            
            $("#t4").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat5 diamondPic fLeft");
            });
            
            $("#t5").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat6 diamondPic fLeft");
            });
            
            $("#t6").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat7 diamondPic fLeft");
            });

            $("#t6").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat7 diamondPic fLeft");
            });

            $("#t7").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat8 diamondPic fLeft");
            });

            $("#t8").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat9 diamondPic fLeft");
            });

            $("#t9").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat10 diamondPic fLeft");
            });

            $("#t10").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat11 diamondPic fLeft");
            });

            $("#t11").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat12 diamondPic fLeft");
            });

            $("#t12").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat13 diamondPic fLeft");
            });

            $("#t13").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat14 diamondPic fLeft");
            });

            $("#t14").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat15 diamondPic fLeft");
            });

            $("#t15").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat16 diamondPic fLeft");
            });

            $("#t16").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat17 diamondPic fLeft");
            });

            $("#t17").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat18 diamondPic fLeft");
            });

            $("#t18").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat19 diamondPic fLeft");
            });

            $("#t19").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat20 diamondPic fLeft");
            });

            $("#t20").mouseover(function () {
                $("#picchange").removeClass().addClass("diamontCat21 diamondPic fLeft");
            });
            
        });

    </script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    
</body>
</html>
