<?php include 'bhead.html'; ?>
<body>
   <div class="container bgWhite fmOpenR diamond_shap">
          <div class="wrapper">
        <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                      <?php include 'sideBarLeft.html'; ?>
                   <div class="centerDiv bLeft bRight">
                     <div class="paraHead fmOpenL color0044 fLeft">Diamond Anatomy</div>
                       <div class="lineHeight24 topContent tx_margin fmOpenR">Once cut and polished, all diamonds possess a shared set of characteristics,
                         often referred to as the anatomy of the diamond. While the individual proportions, angles and placement
                          of these common characteristics vary for diamonds of different shapes, their definition is the same.
                       </div>
                      <div class="dia-char"> <div class="textDiv fLeft bnone fmOpenR tcenter font15 tx_margin" >Place your cursor over any term to learn more.</div></div>
                    <div class="divfirst fLeft fmOpenR">
                        <div class="textDivLft fLeft">
                            <div class="textDivH fLeft fmOpenB" id="t1">Crown</div>
                            <div class="textDiv fLeft" id="t2">Table</div>
                            <div class="textDiv fLeft" id="t3">Star Facets</div>
                            <div class="textDiv fLeft" id="t4">Bezel Facets</div>
                            <div class="textDiv fLeft" id="t5">Upper Girdle Facets</div>
                            <div class="textDivH fLeft fmOpenB" id="t6">Girdle</div>
                            <div class="textDivH fLeft fmOpenB" id="t7">Pavilion</div>
                            <div class="textDiv fLeft" id="t8">Lower Girdle Facets</div>
                            <div class="textDiv fLeft" id="t9">Pavilion Girdle</div>
                            <div class="textDiv fLeft " id="t10">Culet</div>
                          <div class="measurement">
                              <div class="textDivH fLeft fmOpenB" >Key Measurements</div>
                              <div class="textDiv fLeft" id="t11">Length</div>
                              <div class="textDiv fLeft" id="t12">Depth</div>
                              <div class="textDiv fLeft" id="t13">Width</div>
                              <div class="textDiv fLeft" id="t14">Depth%</div>
                              <div class="textDiv fLeft" id="t15">L/W Ration</div>
                              <div class="textDiv fLeft" id="t16">Table%</div>
                              <div class="textDiv fLeft" id="t17">Girdle Width</div>
                              <div class="textDiv fLeft" id="t18">Crown Angel</div>
                              <div class="textDiv fLeft" id="t19">Culet Size</div>
                              <div class="textDiv fLeft" id="t20">Pavilion Angel</div>
                           </div>
                        </div>

                    </div>

                    <div class="divsecond fLeft dia-char">
                        <div class="picDivRght fRight">
                            <div class="diamondPic diamontCat1 fLeft" id="picchange"></div>
                        </div>

                      <div class="textDivLft fLeft  tx_change ">
                        <div class="textDivH fLeft fmOpenB">Crown</div>
                            <div class="textDiv fLeft dia-char">The entire portion of the diamond that sits above the girdle. The table as well as the star, bezel , and upper girdle facets are all part of the crown.
                            usually constitutes the bulk of a diamonds weight.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB ">Table</div>
                            <div class="textDiv fLeft">The uppermost , flat surface of a diamond which runs parallel to the plane of the girdle.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Star Facets</div>
                            <div class="textDiv fLeft">The facets that sit adjacent to the table, responsible for directing light that enters the diamond down to the pavilion and lower girdle facets.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Bezel Facets</div>
                            <div class="textDiv fLeft">The kite shaped facets that sit between the table and girdle, resposible for directing light that enters the diamond down to the pavilion and lower girdle facets.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Upper Girdle Facets</div>
                            <div class="textDiv fLeft">The lowest facets on the crown, sitting just above the girdle. Responsible for directing light that enters the diamond down to the pavilion and lower girdle facets.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Girdle</div>
                            <div class="textDiv fLeft">The outer edge of the diamond , where the crown meets the pavilion . the girdle may be faceted or smooth.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Pavilion </div>
                            <div class="textDiv fLeft">The entire portion of the diamond that sits below the girdle. The lower girdle facets,pavilion facets , and culet are all part of the pavalion.
                            usually constitutes the bulk of a diamonds weight.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Lower Girdle Facets</div>
                            <div class="textDiv fLeft">The highest facets on the pavilion , sitting just below the girdle . Responsible fo redirectiong light that enters the diamond back out through the crown.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Pavilion Facets</div>
                            <div class="textDiv fLeft">The facets that sit adjacent to the culet, responsible for redirecting light that enters the diamond back out through the crown.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Culet</div>
                            <div class="textDiv fLeft">The culet is the small area at the bottom of the pavilion.The culet can be a point, or a very small facet sitting parallel to the table.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Length</div>
                            <div class="textDiv fLeft">When viewed from above as a diamond would sit in a ring , length is the diameter measured from the "top" to "bottom".Stated in millimeters . Length is always the first of three numbers shown under "measurements" for each diamond. </div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Depth</div>
                            <div class="textDiv fLeft">The distance from the table to the culet when the diamond is viewed from the side.State</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Width</div>
                            <div class="textDiv fLeft">When viewed from above as a diamond would sit in a ring, width is the diameter measured from "side" to "side". Width is always the measure perpendicular to length. Stated in millimeters . Width is always the measure perpendicular to length. Stated in millimeters . Width is always the second of the three numbers shown under "measurements" for each diamond.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Depth %</div>
                            <div class="textDiv fLeft">Calculated by dividing the dpth by the width. If a diamond is 3mm in depth , and has a midth of 4mm, the depth % is 75. Depth % is a measure of cut . The more shallow the cut of a diamond , teh higher the depth %.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Length / Width Ratio</div>
                            <div class="textDiv fLeft">Calculated by dividing the length by the width.A perfectly round or square diamond has a L/W ratio of 1.00(since it's length and width are equal). </div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Table %</div>
                            <div class="textDiv fLeft">Calculated by dividing the width of the table by the width of the diamond. If the table is 3mm wide , and the diamond is 4 mm in width , the table %is 75. The ;arger the table in relation to the diamond , the higher the table %.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Girdle Width</div>
                            <div class="textDiv fLeft">A measure of the thickness of the diamond's girdle.The measure is taken only at the "valleys" of the girdle, never the peaks. Usually stated in terms of a nine point scale , from the Extremely Thin through Extremely Thick. If the girdle valleys vary in width, two values are given, one of the widest and one for the narrowest points.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Crown Angle</div>
                            <div class="textDiv fLeft">Refers to the number of degrees between the plane of the table and bezel facets. The angle of the crown facets will determine how much light is reflected into the pavilion at an angle that will allow it to be reflected back up through the crown (where the observer cn perceive it).</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Culet Size</div>
                            <div class="textDiv fLeft">The culet can vary in size from a single point , to a small facet . Culet size is usually expressed using a seven point scale , from None(a point) to Very Large. If the culet is too large, it might appear as an inclusion when the diamond is viewed from above.</div>
                      </div>
                      <div class="textDivLft fLeft dn tx_change">
                        <div class="textDivH fLeft fmOpenB">Pavilion Angle</div>
                            <div class="textDiv fLeft">Refers to the number of degrees between the planes of the table , and the pavilion facets. the angle determines how much of the light which has travelled into the lower part of the diamond will be successfully reflected back through the crown (where the observer can perceive it).</div>
                      </div>
                    </div>
                           <div class="lineHeight24 topContent tx_margin fmOpenR">Questions about anatomy or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Email consultant@iftosi.com.</div>

                </div>
                       <?php include 'sideBarRight.html'; ?>
                </div>
            </div>

        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['anatomy']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>

</body>
</html>
