<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div class="contentCont fLeft">
        <form id='dAddForm'>
            <div class="wrapper">
                <div class="wrapperMax">
                    <div class="vCommTitle fLeft fmOpenL">Select a diamond shape you want to add</div>
                    <div class="formContainer fmOpenR">
                        <div class="shapesCont resultsPage showHide">
                            <div class="wrapperMax">
                                <div class="allShapes resultsPage">
                                    <center>
<?php
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='shape')
                                            {
                                                $attr_values = $values['attribute_values'];
                                                $attr_values = explode(',', $attr_values);
                                                foreach($attr_values as $shape)
                                                {
?>
                                                    <div id="<?=ucwords(strtolower($shape));?>" class="shapeComm transition300 <?=($attr['shape'] == $shape) ? 'shapeSelected' : '';?> ripplelink <?=$shape;?>">
                                                    </div>
<?php
                                                }                                                
                                            }
                                        }
?>
                                    </center>
                                </div>
                            </div>
                        </div>
                                      <!--  <div id="Round" class="shapeComm transition300 ripplelink Round">
                                        </div>
                                        
                                        <div id="Pear" class="shapeComm transition300 ripplelink Pear">
                                        </div>
                                        
                                        <div id="Princess" class="shapeComm transition300 ripplelink Princess">
                                        </div>
                                        <div id="Marquise" class="shapeComm transition300 ripplelink Marquise">
                                        </div>
                                        <div id="Oval" class="shapeComm transition300 ripplelink Oval">
                                        </div>
                                        <div id="Emerald" class="shapeComm transition300 ripplelink Emerald">
                                        </div>
                                        <div id="Cushion" class="shapeComm transition300 ripplelink Cushion">
                                        </div>
                                        <div id="Heart" class="shapeComm transition300 ripplelink Heart">
                                        </div>
                                        <div id="Radiant" class="shapeComm transition300 ripplelink Radiant">
                                        </div>
                                      -->
                                    
                        <div class="divCon  fLeft dAuto">
                            <div  class="titleDiv txtCap fLeft">Color</div>
                            <div class='radioCont fLeft'> 
<?php
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='colour')
                                            {
                                                $attr_values = $values['attribute_values'];
                                                $attr_values = explode(',', $attr_values);
                                                foreach($attr_values as $color)
                                                {
?>                                                  <div class="checkDiv fLeft">
                                                        <input type="radio" value='<?=$color?>' name='color' class="filled-in" <?=($attr['color'] == $color) ? 'checked' : '';?> id="color_<?=ucwords(strtolower($color));?>"/>
                                                        <label for="color_<?=ucwords(strtolower($color));?>"><?=$color?></label>
                                                    </div>
<?php
                                                }
                                            }
                                        }
?>

                                </div>
                         </div>
                        <div class="divCon  fLeft dAuto">
                            <div  class="titleDiv txtCap fLeft">Clarity</div>
                            <div class='radioCont fLeft'> 
<?php
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='clarity')
                                            {
                                                $attr_values = $values['attribute_values'];
                                                $attr_values = explode(',', $attr_values);
                                                foreach($attr_values as $clarity)
                                                {
                                                                                                    
?>                                               
                                                <div class="checkDiv fLeft">
                                                    <input type="radio" name='clarity' class="filled-in" value="<?=$clarity?>" <?=($attr['clarity'] == $clarity) ? 'checked' : '';?> id="clarity_<?=ucwords(strtolower($clarity));?>">
                                                    <label for="clarity_<?=ucwords(strtolower($clarity));?>"><?=$clarity?></label>
                                                 </div>
<?php                                           }
                                            }
                                        }
?>     
                          
                            </div>
                        </div>
<?php
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='cut')
                                            {
?>
                                            <div class="divCon  fLeft d5">
                                             <div  class="titleDiv txtCap fLeft">Cut</div>
                                                <div class='radioCont fLeft'>    
<?php
                                                    $attr_values = $values['attribute_values'];
                                                $attr_values = explode(',', $attr_values);
                                                foreach($attr_values as $cut)
                                                {
                                                                                                    
?>                                                      <div class="checkDiv fLeft">
                                                            <input type="radio" name='cut' class="filled-in" <?=($attr['cut'] == $cut) ? 'checked' : '';?> value="<?=$cut;?>" id="cut_<?=ucwords(strtolower($cut)); ?>">
                                                            <label for="cut_<?=ucwords(strtolower($cut));?>"> <?=$cut; ?></label>
                                                        </div>       
<?php                                           }
?>
                                                </div>
                                            </div>
<?php                                             
                                            }
                                        }
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='symmetry')
                                            {
?>                        
                                            <div class="divCon  fLeft d5">
                                                <div  class="titleDiv txtCap fLeft"><?=$values['attribute_disp_name'];?></div>
                                                        <div class='radioCont fLeft'> 
<?php
                                                $attr_values = $values['attribute_values'];
                                                $attr_values = explode(',', $attr_values);
                                                foreach($attr_values as $sym)
                                                {                                                                                                    
?>                                                              
                                                                <div class="checkDiv fLeft">
                                                                    <input type="radio" name='symmetry' class="filled-in" <?=($attr['symmetry'] == $sym) ? 'checked' : '';?> value="<?=$sym;?>" id="sym_<?=ucwords(strtolower($sym)); ?>">
                                                                    <label for="sym_<?=ucwords(strtolower($sym));?>"> <?=$sym; ?></label>
                                                                </div>                                                               
<?php                                           }
?>
                                                         </div>
                                            </div>
<?php                                             
                                            }
                                        }
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='polish')
                                            {
?>                  
                                                <div class="divCon  fLeft d5">
                                                    <div  class="titleDiv txtCap fLeft">Polish</div>
                                                        <div class='radioCont fLeft'> 
<?php
                                                            $attr_values = $values['attribute_values'];
                                                            $attr_values = explode(',', $attr_values);
                                                            foreach($attr_values as $polish)
                                                            {                                                                                                    
?>                                                          
                                                                <div class="checkDiv fLeft">
                                                                    <input type="radio" name='polish' class="filled-in" value="<?=$polish;?>" <?=($attr['polish'] == $polish) ? 'checked' : '';?> id="polish_<?=ucwords(strtolower($polish)); ?>">
                                                                    <label for="polish_<?=ucwords(strtolower($polish));?>"> <?=$polish; ?></label>
                                                                </div>
<?php                                                       }
?>
                                                        </div>
                                                </div>
<?php                                             
                                            }
                                        }
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='fluoresence')
                                            {
?>                               
                                                <div class="divCon  fLeft d5">
                                                    <div  class="titleDiv txtCap fLeft">Fluorescence</div>
                                                        <div class='radioCont fLeft'> 
<?php
                                                            $attr_values = $values['attribute_values'];
                                                            $attr_values = explode(',', $attr_values);
                                                            foreach($attr_values as $fluoresence)
                                                            {                                                                                                    
?>
                                                                <div class="checkDiv fLeft">
                                                                    <input type="radio" name='flourecence' class="filled-in" <?=($attr['flourecence'] == $fluoresence) ? 'checked' : '';?> value="<?=$fluoresence;?>" id="flourecence_<?=ucwords(strtolower($fluoresence)); ?>">
                                                                    <label for="flourecence_<?=ucwords(strtolower($fluoresence));?>"> <?=$fluoresence; ?></label>
                                                                </div>
<?php                                                       }
?>
                                                        </div>
                                                </div>
<?php                                             
                                            }
                                        }
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='certificate')
                                            {
?>                              
                                                <div class="divCon  fLeft dAuto">
                                                    <div  class="titleDiv txtCap fLeft">Certificate</div>
                                                        <div class='radioCont fLeft'> 
<?php
                                                            $attr_values = $values['attribute_values'];
                                                            $attr_values = explode(',', $attr_values);
                                                            foreach($attr_values as $certificate)
                                                            {                                                                                                    
?>
                                                                <div class="checkDiv fLeft">
                                                                    <input type="radio" name='Certificate' <?=($attr['cerified'] == $certificate) ? 'checked' : '';?> class="filled-in"  value="<?=$flourecense;?>" id="Certificate_<?=ucwords(strtolower($certificate)); ?>">
                                                                    <label for="Certificate_<?=ucwords(strtolower($certificate));?>"> <?=$certificate; ?></label>
                                                                </div>
<?php                                                       }
?>
                                                        </div>
                                                </div>
<?php                                             
                                            }
                                        }                                     
                                        foreach($fil['attributes'] as $key=>$values)
                                        {
                                            if(strtolower($values['attribute_disp_name'])=='carat')
                                            {    
?>
                                                <div class="divCon2  fLeft">
                                                    <div  class="titleDiv txtCap fLeft">Carat Weight</div>
                                                        <input name="carat_weight" id="caratweight" type="text" placeholder="Between <?=$values['attribute_range'];?>" class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['carat'];?>" onkeypress="return common.isDecimalKey(event)">
                                                </div>
<?php                                            }
                                        }
?>                                            
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Measurement</div>
                            <div class="mInputDiv fLeft">
<?php
                                    $measurement=explode('*',$attr['measurement']);
?>                                    
                                <input name="measurement1" id="measure1" type="text" placeholder=" eg. 10" class="mtxtInput fLeft fmOpenR font14 c666" value="<?php echo $measurement[0];?>">
                                <span class='fLeft'>X</span>
                                <input name="measurement2" id="measure2" type="text" id="measure2" placeholder=" eg. 20" class="mtxtInput fLeft fmOpenR font14 c666" value="<?php echo $measurement[1]; ?>">
                                <span class='fLeft'>X</span>
                                <input name="measurement3" id="measure3" type="text" id="measure3" placeholder=" eg. 30" class="mtxtInput fLeft fmOpenR font14 c666" value="<?php echo $measurement[2]; ?>">
                            </div>
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Table</div>
                            <input name="table" id="table" type="text" placeholder=" eg. 56" class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['tab'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Crown Angle</div>
                            <input name="crown_angle" id="crownangle" type="text" placeholder=" eg. 41" class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['crownangle'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Girdle</div>
                            <input name="girdle" id="girdle" type="text" placeholder=" eg. 1.33" class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['girdle'];?>">
                        </div>

                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Bar Code</div>
                            <input name="barcode" id="barcode" type="text" placeholder=" eg. ALXPK12" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_barcode'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Lot Number</div>
                            <input name="lot_no" id="lotnumber" type="text" placeholder=" eg. 56" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_lotno'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Lot Reference</div>
                            <input name="lot_ref" id="lotreference" type="text" placeholder=" eg. iftosi -012" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_lotref'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Base Price</div>
                            <input name="base_price" id="baseprice" type="text" placeholder=" eg. 120000" class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['baseprice'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">% Discount</div>
                            <input name="discount" id="discount" type="text" placeholder=" eg. 25%"  class="txtInput fLeft fmOpenR font14 c666" value="<?=$attr['discount'];?>">
                        </div>
                        <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Price</div>
                            <input name="price" id="prdprice" type="text" placeholder=" eg. 1200000" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_price'];?>">
                        </div>
                        <div class="btnCont fLeft">
                            <center>
                                <div class="cancelBtn fmOpenR ripplelink poR" id='backBtnDiv'>CANCEL</div>
                                <div class="submitBtn fmOpenR ripplelink poR" onclick='validateDForm()' id='Submitdiv'>SUBMIT</div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
<script type="text/javascript" src="<?= $jvs['jqryUi']; ?>"></script>
<script type="text/javascript" src='tools/js/cms/vendor_landing.js'></script>
<script type="text/javascript" src='tools/js/pForm.js'></script>
<script type="text/javascript">var DOMAIN = '<?php echo DOMAIN;?>';</script>
</body>
</html>
