<?php include 'bHead.html'; ?>
<body>
   <div class="container bgWhite fmOpenR diamond_shap">
          <div class="wrapper">
        <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft">
                    <div class="divfirst fLeft fmOpenB">
                        <div class="textDivLft fLeft">
                            <div class="textDiv fLeft font13" id="t1">Crown</div>
                            <div class="textDiv fLeft" id="t2">Table</div>
                            <div class="textDiv fLeft" id="t3">Star Facets</div>
                            <div class="textDiv fLeft" id="t4">Bezel Facets</div>
                            <div class="textDiv fLeft" id="t5">Upper Girdle Facets</div>
                            <div class="textDiv fLeft" id="t6">Girdle</div>
                            <div class="textDiv fLeft" id="t7">Pavilion</div>
                            <div class="textDiv fLeft" id="t8">Lower Girdle Facets</div>
                            <div class="textDiv fLeft" id="t9">Pavilion Girdle</div>
                            <div class="textDiv fLeft " id="t10">Culet</div>
                        </div>

                    </div>
                    <div class="divfirst fLeft fmOpenB">
                        <div class="textDiv fLeft bnone fmOpenB" ><b>Key Measurements</b></div>
                        <div class="textDiv fLeft" id="t11">Length</div>
                        <div class="textDiv fLeft" id="t12">Depth</div>
                        <div class="textDiv fLeft" id="t13">Width</div>
                        <div class="textDiv fLeft" id="t14">Depth%</div>
                        <div class="textDiv fLeft" id="t15">L/W Ration</div>
                        <div class="textDiv fLeft" id="t16">Table%</div>
                        <div class="textDiv fLeft" id="t17">Girdle Width</div>
                        <div class="textDiv fLeft" id="t18">Crown Angel</div>
                        <div class="textDiv fLeft" id="t19">Culet Size</div>
                        <div class="textDiv fLeft" id="t20">Pavilion Angel</div>

                    </div>

                    <div class="divfirst fLeft">
                        <div class="picDivRght fRight">
                            <div class="diamondPic diamontCat1 fLeft" id="picchange"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#t1").mouseover(function () {
                $("#picchange").addClass("diamontCat2");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");

            });
            $("#t2").mouseover(function () {
                $("#picchange").addClass("diamontCat3");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t3").mouseover(function () {
                $("#picchange").addClass("diamontCat4");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t4").mouseover(function () {
                $("#picchange").addClass("diamontCat5");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t5").mouseover(function () {
                $("#picchange").addClass("diamontCat6");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t6").mouseover(function () {
                $("#picchange").addClass("diamontCat7");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t7").mouseover(function () {
                $("#picchange").addClass("diamontCat8");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t8").mouseover(function () {
                $("#picchange").addClass("diamontCat9");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });

            $("#t9").mouseover(function () {
                $("#picchange").addClass("diamontCat10");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t10").mouseover(function () {
                $("#picchange").addClass("diamontCat11");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t11").mouseover(function () {
                $("#picchange").addClass("diamontCat12");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t12").mouseover(function () {
                $("#picchange").addClass("diamontCat13");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t13").mouseover(function () {
                $("#picchange").addClass("diamontCat14");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t14").mouseover(function () {
                $("#picchange").addClass("diamontCat15");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");

            });
            $("#t15").mouseover(function () {
                $("#picchange").addClass("diamontCat16");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t16").mouseover(function () {
                $("#picchange").addClass("diamontCat17");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t17").mouseover(function () {
                $("#picchange").addClass("diamontCat18");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t18").mouseover(function () {
                $("#picchange").addClass("diamontCat19");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat20");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t19").mouseover(function () {
                $("#picchange").addClass("diamontCat20");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");
                $("#picchange").removeClass("diamontCat21");
            });
            $("#t20").mouseover(function () {
                $("#picchange").addClass("diamontCat21");
                $("#picchange").removeClass("diamontCat1");
                $("#picchange").removeClass("diamontCat2");
                $("#picchange").removeClass("diamontCat3");
                $("#picchange").removeClass("diamontCat4");
                $("#picchange").removeClass("diamontCat5");
                $("#picchange").removeClass("diamontCat6");
                $("#picchange").removeClass("diamontCat7");
                $("#picchange").removeClass("diamontCat8");
                $("#picchange").removeClass("diamontCat9");
                $("#picchange").removeClass("diamontCat10");
                $("#picchange").removeClass("diamontCat11");
                $("#picchange").removeClass("diamontCat12");
                $("#picchange").removeClass("diamontCat13");
                $("#picchange").removeClass("diamontCat14");
                $("#picchange").removeClass("diamontCat15");
                $("#picchange").removeClass("diamontCat16");
                $("#picchange").removeClass("diamontCat17");
                $("#picchange").removeClass("diamontCat18");
                $("#picchange").removeClass("diamontCat19");

            });

        });

    </script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    
</body>
</html>
