<!DOCTYPE html>

<?php include 'bhead.html';?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html';?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html';?>
                    <div class="centerDiv bLeft">
                        <div class="paraHead  fmOpenL color0044 ">The basics of diamond grading</div>
                        <div class="diamond_info font13">
                            <p>The basics of diamond quality grading involve an understanding of the universally accepted standard for assessing the quality of diamonds. They comprise the 4 Cs; namely Cut, Color, Clarity and Carat Weight. Each of these four parameters plays paramount role in determining the precise quality of a diamond.
                            </p>
                        </div>
                        <div class="font13 fmOpenR fLeft lineHeight24  para">
                            <p>While the cut and the symmetry associated with it exhibit the overall brilliance, the color adds to the intensity of the beauty of the diamond. Clarity stands for the flawlessness of the piece, and carat weight is an obvious reference to the weight. The IFtoSI diamond buying guide presents an in-depth description of each of these four attributes along with charts respective to the grades and illustrates the differences among the grades. </p>
<!--                            <p>Below is the GIA diamond color chart with definitions, accompanied by further explanatory comments from IFtoSI:</p>-->
                        </div>

                        
                    </div>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>