<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR detailsPage bgWhite">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="forBg bgWhite"></div>
            <div class='prdMainDetails'>
                <div class="wrapperMax diamond_mod">
<?php
                    if(count($data1) == 0)
                    {
?>
                    <div class="imgsCont noImage"></div>
<?php                    
                    }
                    else
                    {
?>
                    <div id="detailsImgs" class="imgsCont">
<?php
/*
                        <div class="leftArrow transition300" onclick="movePrImg(true)"></div>
                        <div class="rightArrow  transition300" onclick="movePrImg(false)"></div>
                        <div id='prdImage' class="forImg fLeft imgPreview" style="background: url(<?php echo IMGDOMAIN.$data1[0];?>) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
                        <div id='gallery1' class="gallery fLeft transition300">
                            <div class="carousel transition300">
<?php
                                for($i=0;$i<count($data1);$i++)
{
?>
                                    <div class="thumbnil transition300" style="background:#fff url(<?php echo IMGDOMAIN.$data1[$i];?>)no-repeat;background-size: contain;background-position: center;">
                                    </div>
<?php
}
?>
                            </div>
                        </div>
*/
?>
						<div class="imgsCont noImage"></div>
                    </div>
<?php
                    }
?>
                    <div class="detCont">
                        <div class="btnsCont fLeft">
                            <div class="prdShape fLeft">
                                <div class="prdShTitle fLeft fmOpenB">PRICE</div>
                                                        <?php 
                                                            $rate = $data['attr_details']['dollar_rate'];
                                                            if(empty($data['attr_details']['dollar_rate']) || $data['attr_details']['dollar_rate'] == '0.00' || $data['attr_details']['dollar_rate'] == 0.00){
                                                                $rate = dollarValue;
                                                            }
                                                        ?>
                                <div class="prdShType fLeft fmOpenL"><span>&#8377;</span>
                                <?php $price = ceil(($data['attr_details']['price'] * $rate) * $data['attr_details']['carat']);
                                      echo $price = $comm->IND_money_format($price);
                                ?>
 </div>
                            </div>
                            <div class="prdBtns fLeft">
                                <div class="btnComm fLeft iconCall ripplelink poR" >Contact Dealer</div>
                                <div class="btnComm fLeft iconMessage ripplelink poR">Send SMS & E-Mail</div>
                                <div class="btnComm fLeft iconWishlist ripplelink poR" id="addtowishlist" onclick="">Add To Wishlist</div>
                            </div>
                        </div>
                        <div class="majorInfoBox fLeft">
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Shape</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['shape']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Carats</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['carat']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Color</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['color']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Clarity</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['clarity']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">CUT</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['cut']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">SYMMETRY</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['symmetry']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">POLISH</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['polish']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">FLUORESCENCE</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['fluorescence']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Measurement</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['measurement']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">TABLE</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['tab']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">CROWN ANGLE</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['crownangle']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">GIRDLE</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['attr_details']['girdle']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Certificate</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['certified']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Certificate No.</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['attr_details']['cno']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Barcode</div>
                                <div class="infoValue c666 fmOpenR font25"><?php echo $data['product_barcode']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">LOT NUMBER</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['product_lotno']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">LOT Reference</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo $data['product_lotref']; ?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">BASE Price </div>
                                <div class="infoValue c666 font25 fmOpenR"><?php $bprice = ceil((($data['attr_details']['baseprice'] * $data['attr_details']['dollar_rate'])*$data['attr_details']['carat']));
                                                                                $bprice = $comm->IND_money_format($bprice);?>
                                                                                &#8377; <?php echo $bprice;?></div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">% DISCOUNT</div>
                                <div class="infoValue c666 font25 fmOpenR"><?php echo str_replace('-', '', $data['attr_details']['discount']); ?>%</div>
                            </div>
<?php
							if(!empty($certificate_url))
							{
?>
								<div class="infoCommn fLeft fmOpenR cursorPointer">
									<div class="infoLabel fmOpenB  font12">Certificate</div>
									<div class="infoValue c666 font25 fmOpenR" onclick="common.showCertificate('<?php echo DOMAIN . $data['attr_details']['certificate_url']; ?>');">See Certificate</div>
								</div>
<?php
							}
?>
                        </div>
                    </div>
                </div>
            </div>
            <div id='vDetails' class="vendorDetails fLeft transition300 dn vTransit">
				<div class="wrapperMax ">
                    <div class="vdLeftCard fLeft">
                        <div class="orgName fLeft fmOpenR"><?php echo $vndrDtls['OrganisationName']; ?></div>
                        <div class="orgAdd fLeft fmOpenR">
                            <?php echo trim($vndrAddr[0]); ?>
							<?php
								if(!empty($vndrAddr[1]))
								{
                                                                    echo trim($vndrAddr[1]).', '; 
								}
								if(!empty($vndrAddr[2]))
								{
                                                                    echo trim($vndrAddr[2]).', ';
                                                            	}
                                                                if(!empty($vndrAddr[3]))
								{
                                                                    echo trim($vndrAddr[3]).', '; 
								}
                                                                if(!empty($vndrAddr[4]))
								{
                                                                    echo trim($vndrAddr[4]).', ';
                                                                }
                                                                if(!empty($vndrDtls['area']))
								{
                                                                    echo trim($vndrDtls['area']).', ';
								}
                                                                if(!empty($vndrDtls['city']))
								{
                                                                    echo trim($vndrDtls['city']).', ';
                                                                }
								if(!empty($vndrDtls['state']))
								{
                                                                    echo trim($vndrDtls['state']).',';
								}
                                                                if(!empty($vndrDtls['postal_code']))
								{
                                                                    echo trim($vndrDtls['postal_code']).'.';
								}
							?>
                                                                
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Telephone No.</div>
                            <div class="commtxt tel fmOpenR fLeft"><?php print_r(($vndrDtls['landline'] !== '') ? str_replace('|~|', ', ', $vndrDtls['landline']).', ' : '-, '); echo ($vndrDtls['telephones']) ? str_replace('~', ', ', $vndrDtls['telephones']) : '-';?></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Email Address</div>
                            <div class="commtxt email fmOpenR fLeft"><?php echo ($vndrDtls['email']) ? $vndrDtls['email'] : '-'; ?></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Website</div>
                            <div class="commtxt email fmOpenR fLeft"><a href="<?php echo ($vndrDtls['website']) ? 'http://' . str_replace('http://' , '' , $vndrDtls['website']) : '';?>"><?php echo ($vndrDtls['website']) ? $vndrDtls['website'] : '-'; ?></a></div>
                        </div>
                        <div class="orgNo fLeft">
                            <div class="commLeft fLeft">
                                <div class="infoLabel fmOpenB font12 fmOpenB fLeft">VAT Number</div>
                                <div class="commtxt email fmOpenR fLeft"><?php echo ($vndrDtls['Vat_Number']) ? $vndrDtls['Vat_Number'] : '-'; ?></div>
                            </div>
                            <div class="commRight fLeft">
                                <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Turnover (cr)</div>
                                <div class="commtxt email fmOpenR fLeft"><?php echo ($vndrDtls['turnover']) ? $vndrDtls['turnover'] : '-'; ?></div>
                            </div>
                        </div>

                        <div class="orgNo fLeft">
                            <div class="infoLabel fmOpenB font12 fmOpenB fLeft">Bankers</div>
                            <div class="commtxt bankers fmOpenR fLeft"><?php echo ($vndrDtls['bankers']) ? str_replace('~',', ', $vndrDtls['bankers']) : '-'; ?></div>
                        </div>
                    </div>
                    <div class="vdCenterCard fLeft">
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #5e0037;">Contact Person</div>
                            <div class="cardCommCont"><div class="cardComm cntName orgName fLeft fmOpenR"><?php echo $vndrDtls['contact_person']; ?></div>
                                <div class="fmOpenB desig">(<?php echo $vndrDtls['position']; ?>)</div>
                                <div class="cardComm cntMb fmOpenB fLeft"><?php echo str_replace('~', ', ', $vndrDtls['contact_mobile']); ?></div>
                                <div class="cardComm cntEmail fmOpenB fLeft"><?php echo str_replace('~', ', ', $vndrDtls['email']); ?></div>
                            </div>
                        </div>
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #380B34;">Bharat Diamond Bourse Certificate</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo ($vndrDtls['diamond_certificate']) ? $vndrDtls['diamond_certificate'] : '-'; ?></div>
                            </div>
                        </div>

                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #2A0E34;">GJEPC Membership Certificate</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo ($vndrDtls['Membership_Certificate']) ? $vndrDtls['Membership_Certificate'] : '-'; ?></div>
                            </div>
                        </div>
                        <div class="cntCard fLeft">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #171334;">Membership Of Other Diamond Bourses</div>
                            <div class='cardCommCont'>
                                <div class="cardComm fLeft fmOpenR"><?php echo ($vndrDtls['membership_around_world']) ? str_replace('~', ', ', $vndrDtls['membership_around_world']) : '-'; ?></div>
                            </div>
                        </div>
                    </div>
                    <div  class="vdRightCard fLeft">
                        <div class="cntCard fLeft shadoNone">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #ebebde;color:#666;">Office Locations</div>
                            <div class='cardCommCont' style="padding: 10px;"><div id='googleMap' class="mapCont fLeft"></div></div>
                        </div>

                        <div class="cntCard fLeft shadoNone">
                            <div class="vTitle fLeft fmOpenR" style="background-color: #ebebde;color:#666;">Gallery</div>
                            <div class='cardCommCont' style="padding: 10px;">
                                <div class="gallery fLeft">
                                    <div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb5.jpg)no-repeat;background-size: contain;background-position: center;"></div><div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb2.png)no-repeat;background-size: contain;background-position: center;"></div>
                                    <div class="thumbnil fLeft" style="background:#fff url(http://localhost/iftosi/tools/img/common/tumb3.jpg)no-repeat;background-size: contain;background-position: center;"></div>
                                    <div id='moreimg' class="thumbnil fLeft poR" style="background:#8A0044"><span>+5 More</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='prdInfo fLeft'>
            <div class="wrapperMax fmOpenR">
                <div class="prdInfoCont fLeft">
                    <div class="prdInfoTitle fLeft">Color - D (Colorless)</div>
                    <div class="prdInfoDiv fLeft">
                        While there are differences in color between D, E, and F diamonds, they can be detected only by a gemologist in side by side comparisons, and rarely by the untrained eye.
                    </div>
                </div>    
                <div class="prdInfoCont fLeft">
                    <div class="prdInfoTitle fLeft">Clarity</div>
                    <div class="prdInfoDiv fLeft">
                        Using a jewelers eye glass or loop at 10 times (10x) magnification, a trained eye can detect identifying characteristics which affect a diamonds clarity. The most common are internal flaws called inclusions. Some diamonds have external flaws, which are called blemishes. The size and location of these characteristics determine how the diamond is graded on scale as: Internally Flawless- IF, Very Very Small inclusions- VVS, Very Small inclusions-VS, Small Inclusions-SI.
                    </div>
                </div>    
                <div class="prdInfoCont fLeft">
                    <div class="prdInfoTitle fLeft">Cut - Excellent(EX)</div>
                    <div class="prdInfoDiv fLeft">
                        Cut refers not to a diamond's shape (e.g. round, oval, pear, etc.) but to a diamond's proportions, symmetry and polish. The beauty of a diamond depends more on cut than any other factor. <span class="fmOpenB">Maximum fire and brilliance. Reflects nearly all of the light that enters the diamond, creating exceptional sparkle and life.</span>
                                
                    </div>            
                </div>    
                <div class="prdInfoCont fLeft">
                    <div class="prdInfoTitle fLeft">Carat</div>
                    <div class="prdInfoDiv fLeft">
                        Among all of the characteristics of a diamond, the carat is the most known and probably the most easily observed. A carat abbreviated CT, measures the weight of a diamond. One carat is one fifth of a gram, meaning a 5 Carat diamond weighs one gram. Since larger diamonds are rarer than smaller ones, the price per carat increases with its weight. In other words, two one carat diamonds will cost less than a two carat diamond of the same grade. Although carat weight mostly determines a diamonds apparent size, what really determines its appearance are the other three C's. So while a larger diamond might be more costly, it may not be as beautiful as a smaller one.
                    </div>
                </div>    
                
                <div class="prdInfoTitle fLeft">Shape</div>
                <div class="prdInfoDiv fLeft shapesPage2 ">
                    <div class="shapesComm fLeft">
                        <div class="Round shapeComm"></div>
                        <div class="texHolder font13 fmOpenR">
                            The round cut diamond is the most popular diamond shape, representing approximately 75% of all diamonds sold. The most commonly chosen variation, round-cut diamonds have been more researched by certified gemologists than other shape. Renowned for its unrivaled fire and brilliance, this cut boasts excellent light refraction properties, causing it to appear brighter than other shapes. When clarity and color are equal, a round diamond will be more valuable than alternative shapes.
                        </div>
                    </div>
                </div>
                    
                
                
                

            </div>
        </div>
        <div class="wrapper fLeft">
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
        <?php include 'logo.html'; ?>
        <?php include 'leftmenu.html'; ?>
        <div id='dragTarget' class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
        <div id='overlay' class="overlay transition300 transit-100Y1 dn"></div>
        <div id='userForm' class="userForm transition300 dn">
             <div class="lgTitle fLeft fmOpenR">Submit details to get SMS & EMAIL</div>
             <div class="inputCont fLeft fmOpenR">
                 <input type="text" id="ur_mobile" name="ur_mobile" autocomplete="false" maxlength="10" class="txtInput cOrange fmOpenR font14 mobileIcon" onkeypress="return common.isNumberKey(event);">
                 <label for="ur_mobile" class="inp-label transition100">MOBILE</label>
                 <div id="ur_mobile_inpText" class="inpText fRight transition300">enter<br>mobile number</div>
             </div>
             <div class="inputCont fLeft fmOpenR">
                 <input type="text" id="ur_name" name="ur_name" autocomplete="false"  class="txtInput cOrange fmOpenR font14 nameIcon">
                 <label for="ur_name" class="inp-label transition100">NAME</label>
                 <div id="ur_name_inpText" class="inpText fRight transition300">enter<br>your name</div>
             </div>
             <div class="inputCont fLeft fmOpenR">
                 <input type="text" id="ur_email" name="ur_email" autocomplete="false" onKeyPress="return common.eSubmit(event,'userSubmit');" class="txtInput cOrange fmOpenR font14 emailIcon">
                 <label for="ur_email" class="inp-label transition100">EMAIL</label>
                 <div id="ur_email_inpText" class="inpText fRight transition300">enter<br>your email</div>
             </div>
             <div class="cancelLgBtn fLeft fmOpenR" id='userCancel'> CANCEL</div>
             <div class="loginBtn fLeft fmOpenR" id="userSubmit">SUBMIT</div>
         </div>
    </div>
    <div id='imgGallery' class="imgGallery dn">
        <div id='galleryClose' class="galleryClose ripplelink"></div>
        <div class="galleryImg fLeft" style="background: url(<?php echo IMGDOMAIN.$data1[0];?>) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        <div class="imgListCont fLeft">
<?php
                                for($i=0;$i<count($data1);$i++)
{
?>            
            <div class="imgThumbnil fLeft" style="background: url(<?php echo IMGDOMAIN.$data1[$i];?>) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
<?php
}
?>        
        </div>
    </div>
 
    <div id='imgvendorGallery' class="imgGallery dn">
        <div id='galleryClose2' class="galleryClose ripplelink"></div>
        <div class="galleryImg fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        <div class="imgListCont fLeft">
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb1.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb2.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
            <div class="imgThumbnil fLeft" style="background: url(<?php echo DOMAIN; ?>tools/img/common/tumb3.jpg) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
        </div>
    </div>
    
    <div id='overlay1' class="overlay transition300 transit-100Y1 dn" ></div>
        <div id="otpDiv" class="loginDiv transition300 dn" style="transform: scale(1);height:200px !important">
            <div class="lgTitle fLeft fmOpenR">Enter OTP sent to your mobile</div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="text" id="pr_otp" name="pr_otp" autocomplete="off" maxlength="6" class="txtInput cOrange fmOpenR font14 mobileIcon" style="padding-right: 80px">
                    <span onclick="otpGo();" class="resendOTP">RESEND</span>
                    <label for="pr_otp" class="inp-label transition100">OTP</label>
                </div>  
                <div class="cancelLgBtn fLeft fmOpenR" id="otpCancel" onclick="closeOtpForm();">CANCEL</div>
            <div class="loginBtn fLeft fmOpenR" id="otpSubmit" onclick="otpCheck();">Submit</div>
        </div>
    
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['dmap']; ?>"></script>
</body>
</html>
