<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Carat Size</div>
                        <p class="font13 lineHeight24">Diamonds are sold by the carat (shown as ct.), which is actually a unit of weight, though most think of a carat in terms of size. The word "carat" comes from the "carob" seed, the original unit of measure for diamond traders. Today, a carat is equal to exactly 0.2 grams (about the weight of a paper clip). Carat weight is unrelated to the similar sounding karat, which refers to gold's purity.</p>
                        <p class="font13 lineHeight24">Two diamonds of equal carat weight can have very different costs based on other factors (such as cut, color, and clarity). In understanding the importance of carat weight, know thy partner. If the recipient's heart is set on a certain size diamond, then carat weight will probably be the most important factor in your search until the desired size is attained. At that point, other criteria will take on more importance. Most women can tell you the carat weight and shape of their ideal diamond, and most men can tell you the price.</p>
                        <p class="font13 lineHeight24">As the carat size of a diamond increases, the diamond's price increases at an increasing rate. Why? Because the larger the diamond, the more increasingly rare it is. Fewer than one in one million mined rough stones are large enough to produce a finished 1 carat diamond. So, as carat weight increases, you will typically pay more not only in total, but on a price-per-carat basis as well. The table below illustrates the typical relationship between diamonds of equal quality and increasing carat weights:</p>
                        <div class="tableContr">
                            <div class="tableHeadng width49 fntBold">CARAT WEIGHT</div>
                            <div class="tableHeadng fntBold">1.00</div>
                            <div class="tableHeadng fntBold">2.00</div>
                            <div class="tableHeadng fntBold">3.00</div>
                            <div class="tableCont  width49 padding8">
                                <div class="subTxt fLeft fntBold">Price-per-carat</div>
                                <div class="subTxt fLeft fntBold">Total Price</div>
                            </div>
                            <div class="tableCont padding8">
                                <div class="subTxt fLeft ">$ 6,000</div>
                                <div class="subTxt fLeft ">$ 6,000</div>
                            </div>
                            <div class="tableCont padding8">
                                <div class="subTxt fLeft ">$ 12,000</div>
                                <div class="subTxt fLeft ">$ 24,000</div>
                            </div>
                            <div class="tableCont padding8">
                                <div class="subTxt fLeft ">$ 18,000</div>
                                <div class="subTxt fLeft ">$ 54,000</div>
                            </div>
                        </div>
                        <p class="font13 lineHeight24">Every IfToSi Diamond includes the price-per-carat so you can easily compare diamonds of various carat weights</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                        <div class="subHead4">Diamond Carat Size Chart</div>
                        <p class="font13 lineHeight24">Even though the price of a diamond increases exponentially with the carat weight, the actual size does not. The table below illustrates the typical size relationship between diamonds of increasing carat weights. Note that when carat weight triples (from 1 to 3 carats), perceived size (represented in the images below) roughly triples as well, however the diameter increases only 45% (from 6.50 to 9.40), and crown area (the surface area visible when the diamond is set) slightly more than doubles.</p>
                        <div class="tableContr">
                            <div class="tableHeadng width49 fntBold">CARAT WEIGHT</div>
                            <div class="tableHeadng fntBold">1.00</div>
                            <div class="tableHeadng fntBold">2.00</div>
                            <div class="tableHeadng fntBold">3.00</div>
                            <div class="tableCont1 width49 fntBold">
                                <div class="subtblecnt1 fLeft">
                                    <div class="txttblecnt1 l54  fbold">Approximate Size</div>
                                </div>
                                <div class="subtblecnt1 fLeft">
                                    <div class="txttblecnt1 l22  fbold">Diameter (mm)</div>
                                    <div class="txttblecnt1 l22  fbold">Crown (mm2)</div>
                                </div>
                            </div>
                            <div class="tableCont1">
                                <div class="subtblecnt1 fLeft imgDmnd"></div>
                                <div class="subtblecnt1 fLeft">
                                    <div class="txttblecnt1 l22 ">6.50</div>
                                    <div class="txttblecnt1 l22 ">33.2</div> 
                                </div>
                            </div>
                            <div class="tableCont1">
                                <div class="subtblecnt1 fLeft imgDmnd1"></div>
                                <div class="subtblecnt1 fLeft">
                                    <div class="txttblecnt1 l22 ">6.50</div>
                                    <div class="txttblecnt1 l22 ">33.2</div> 
                                </div>
                            </div>
                            <div class="tableCont1">
                                <div class="subtblecnt1 fLeft imgDmnd2"></div>
                                <div class="subtblecnt1 fLeft">
                                    <div class="txttblecnt1 l22 ">6.50</div>
                                    <div class="txttblecnt1 l22 ">33.2</div> 
                                </div>
                            </div> 
                        </div>
                        <p class="font13 lineHeight24">This is important to keep in mind when reviewing diamonds of any shape; a given increase in diameter will yield a larger increase in surface (crown) area and overall perceived size. While the third diamond above has a roughly 50% greater diameter than the first, it certainly appears more than 50% larger.</p>
                        <div class="shapTypes marTop15">
                            <div class="creatSzimg fRight">Two 1 ct. diamonds: The diamond on the left
                                has a deep cut and appears smaller from above</div>
                            <div class="fontPropery lineHeight24 fLeft width70">When viewing diamonds on IfToSi, check the measurements listed for each diamond to understand its size. The length and width will tell you exactly how large the diamond will appear when viewed from above.<br><br>Two diamonds of the same shape and carat weight may still appear different in size based on the cut proportions. A deeply cut diamond has a greater proportion of its total weight "hidden" in the depth, resulting in a smaller diameter than a well cut diamond. These differences are usually small, but noticable. A well cut diamond may even have a slightly lower carat weight than a deeply cut diamond, yet still have a larger diameter, making it appear larger in size.</div>

                        </div>
                        <div class="subHead4">Diamond Carat Size Comparison</div>
                        <p class="font13 lineHeight24">Two diamonds of equal carat weight may also appear very different in size based on the shape of the diamond. For instance, a 1 carat marquise tends to appear larger than a 1 carat round. The chart below illustrates why. For each diamond, the chart shows the following:</p>
                        <p class="font13 lineHeight24"><span class="fmOpenR color0044">Approximate size.</span> The diamond images shown are a very close approximation of the actual size of a 1 carat excellent cut for each shape. Visually, the longer shapes (oval, marquise, pear, emerald) tend to appear larger to the eye than the round and square shapes.</p>
                        <p class="font13 lineHeight24"><span class="fmOpenR color0044">Measurements (Length x Width).</span>The measurements correspond to the shape shown above, and are typical for excellent cut diamonds of 1 carat weight.</p>
                        <p class="font13 lineHeight24"><span class="fmOpenR color0044">Crown Area - The total surface area (mm2).</span>The area gives the true size of the diamond face up (as it would appear when set in a ring). For example, while the oval diamond image appears larger than the round image, the actual surface area is the same for the two shapes, meaning the difference in size is one of perception, not reality. In contrast, the oval not only appears larger than the princess cut, it actually has a larger surface area (approximately 10% larger in this example), meaning the difference is not simply an illusion created by the elongated shape.</p>
                        <p class="font13 lineHeight24">Remember that while the measurements below are typical, every diamond is unique.</p>
                        <div class="tableContr">
                            <div class="tableHeadngCrt fntBold l60">Size</div>
                            <div class="tableHeadngCrt imgcarat1"></div>
                            <div class="tableHeadngCrt imgcarat2"></div>
                            <div class="tableHeadngCrt imgcarat3"></div>
                            <div class="tableHeadngCrt imgcarat4"></div>
                            <div class="tableHeadngCrt imgcarat5"></div>
                            <div class="tableHeadngCrt imgcarat6"></div>
                            <div class="tableHeadngCrt imgcarat7"></div>
                            <div class="tableHeadngCrt imgcarat8"></div>
                            <div class="tableHeadngCrt imgcarat9"></div>
                            <div class="tableHeadngCrt imgcarat10"></div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26 fbold">Length</div>
                                <div class="txttblecnt1 tcenter l26 fbold">x</div>
                                <div class="txttblecnt1 tcenter l26 fbold">Width</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">6.50</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">6.50</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">5.58</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.46</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">7.76</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.69</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">10.18</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.33</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">8.67</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.66</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">6.12</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.69</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">6.57</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.09</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">5.68</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.60</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">6.35</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">5.39</div>
                            </div>
                            <div class="tableHeadngCrt h80">
                                <div class="txttblecnt1 tcenter l26">6.14</div>
                                <div class="txttblecnt1 tcenter l26">x</div>
                                <div class="txttblecnt1 tcenter l26">6.89</div>
                            </div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 fbold tcenter">Crown</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">33.2</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">30.2</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">33.3</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">36.9</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">34.0</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">29.2</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">31.8</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">28.7</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">32.1</div>
                            <div class="tableHeadngCrt h30 txttblecnt1 l30 tcenter">28.1</div>
                        </div>
                        <p class="font13 lineHeight24">To see the actual size of each diamond shape at various carat weights, print the diamond carat size chart below:</p>
                        <div class="pdscDiv fLeft">
                            <div class="subHead4">Printable Diamond Size Chart</div>
                            <div class="chartDv fLeft"></div>
                            <div class="pdscTxtRght fLeft">

                                <p class="font13 lineHeight24 m0t">Print a copy of our complimentary diamond size chart to see the actual sizes of diamonds of various shapes.</p>
                                <!--                               <div class="btnPrintDv fLeft margnTop0">-->
                                <!--                                   <div class="prntbtn fLeft">Print Size Chart</div>-->
                                <a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0">Print Size Chart</div></a>
                                <!--                               </div>-->
                                <p class="font13 lineHeight24 fLeft">(Requires Adobe Acrobat Reader. Download it here for free.)</p>
                            </div>
                            <p class="font13 lineHeight24 fLeft">Questions about carat weight or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Chat online, or send your request to <span class="color0044 fmOpenB"> consultant@iftosidiamonds.com.</span></p>
                        </div>
                        <div class="tableContr plr20">
                            <div class="subHead4">Buying Tip:</div>
                            <p class="font13 lineHeight24 fLeft">Look for diamonds that fall just under popular carat weights such as 1/2 ct. 3/4 ct., 1 ct., etc. Because these diamonds fall just shy of the popular weight, they are often sold at a slight discount compared to diamonds of full weight. For example, a .90 carat diamond will typically cost less on a price-per-carat basis than a full 1.00 carat diamond. Visually, they are difficult to distinguish. In fact, a smaller carat weight diamond may have a diameter equal to that of a heavier diamond, making it appear the same carat size when viewed from above.</p>
                            <p class="font13 lineHeight24 fLeft">Visit the IfToSi Diamond Buying Guide for additional tips and advice.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

