<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Certification and Grading</div>
                        <p class="font13 lineHeight24">Before being purchased, many diamonds (and all IFtoSI Diamonds) are sent to a third party laboratory for a comprehensive evaluation; a process known as diamond certification. A reputable lab is one staffed by professional gemologists who specialize in diamond grading. Each diamond certificate issued is uniquely numbered, and corresponds to one individual diamond. From that point forward, the diamond and certificate (laminated to prevent tampering or damage) will travel together from seller to buyer.</p>
                        <p class="font13 lineHeight24">Laboratory certification provides an impartial judgment of the characteristics and quality of each diamond. This certification (called a grading report, or dossier by GIA) gives the purchaser added confidence that the diamond received is as described by the seller. The diamond certificate is also valuable for insurance purposes, as it provides a professional, independent evaluation of the diamond. </p>
                        <p class="font13 lineHeight24">A laboratory certification is not an appraisal. An appraisal seeks to establish the value of an item, mainly for insurance purposes. A diamond certificate does not evaluate a diamond's market value, only its characteristics and quality. That said, diamond certification from a reputable laboratory is invaluable in generating an accurate appraisal. </p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a certified diamond</div></a></center>
                        <div class="subHead4">GIA Certification</div>
                        <div class="shapTypes">
                              <div class="giaCampus ">GIA Campus in Carlsbad, CA</div>
                            <div class="fontPropery lineHeight24 fLeft">IFtoSI sells only diamonds which have been certified by the Gemological Institute of America (GIA). GIA is the world's oldest, largest, and one of the most respected independent laboratories. Unlike some other labs, GIA is not owned or partially owned by diamond wholesalers or retailers, and is a non-profit organization. GIA actually developed the "4 C's" diamond grading system (used almost universally today) to provide truly objective standards in the evaluation of a diamond. </div>
                        </div>
                        <p class="font13 lineHeight24">Every IFtoSI Diamond is accompanied by its GIA Grading Report or Dossier. These diamond grading certificates may be viewed prior to purchase by clicking the name "GIA" next to any diamond.</p>
                        <div class="imgDiv">
                            <a href="tools/img/GIA_grading_report.pdf"><div class="reprtImg"></div></a>
                            <a href="tools/img/GIA_Dossier.pdf"> <div class="reprt2Img" ></div></a>
                            <!--                            <a href="#" class="fLeft font13 fmOpenR">View a GIA Grading Report</a>
                                                        <a href="#" class="fRight font13 fmOpenR">View a GIA Dossier</a>-->
                        </div>
                        <p class="font13">Following is an overview of what each document contains:</p>
                        <div class="subHead4">GIA Diamond Grading Report</div>
                        <p class="font13">The GIA diamond grading report includes the following information:</p>
                        <ul class="ulConts lineHeight24">
                            <li>Date: The date the diamond was examined by GIA</li>
                            <li>Report Number: The unique tracking number assigned to each diamond and report.</li>
                            <li>Shape (e.g. brilliant round, square modified brilliant)</li> 
                            <li>Measurements: to the nearest one-hundredth of a millimeter</li>
                            <li>Carat Weight: to the nearest one-hundredth of a carat</li>
                            <li>Depth %</li>
                            <li>Table %</li>
                            <li>Girdle Thickness</li>
                            <li>Culet Size </li>
                            <li>Polish Grade</li>
                            <li>Symmetry Grade</li>
                            <li>Clarity Grade</li>
                            <li>Color Grade</li>
                            <li>Cut Grade: for round diamonds only</li>
                            <li>Fluorescence Grade</li>
                            <li>Laser Inscription: Notes the content of any inscription present on the girdle of the diamond.</li>
                            <li>General Comments: Additional identifying characteristics or features not otherwise represented in the report.</li>
                            <li>Diamond Plot: showing all inclusions and blemishes found.</li>
                            <li>Proportion Diagram: A graphic representation of the diamond's actual proportions</li>
                            <li>Security Features: A variety of document security features (such as hologram, security screen, micro-print lines) which confirm the authenticity of the report.</li>

                        </ul>
                        <div class="subHead4">GIA Diamond Dossier</div>
                        <p class="font13 lineHeight24">For smaller diamonds, an abbreviated form of the GIA Grading Report is often used, called a GIA Dossier. This condensed report offers the same information as the GIA Grading Report listed above, with the exception of a diamond plot, since the individual flaws are less important in smaller stones (as is clarity in general). </p>
                        <p class="font13 lineHeight24">Every diamond that has been issued a GIA Diamond Dossier will have the report number laser inscribed on the diamond's girdle. This added security allows the purchaser to confirm the identity of the diamond at all times.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a certified diamond</div></a></center>
                        <div class="shapTypes borderTB">
                            <div class="subHead4">A note of caution:</div> 
                            <p class="font13 lineHeight24">All Labs are not created equal, and their judgments are not held to any objective standard. Unfortunately, some labs have succumbed to pressure from retailers to lower their standards, thereby allowing lower quality diamonds to be certified with higher ratings, increasing their value in the marketplace. Before relying on any diamond certificate, make sure you are comfortable with the reputation and expertise of its author. </p>
                            <p class="font13 lineHeight24">While IFtoSI chooses to offer only GIA certified diamonds, other labs which have a strong reputation in the marketplace include AGS (American Gem Society) and HRD (more common in Europe than the U.S). Diamonds with certification from labs such as IGI and EGL tend to sell at a small discount, since these labs are known for relaxed diamond grading standards (for example, a diamond graded G in color by EGL may only be graded H by GIA). </p>
                            <p class="font13 lineHeight24">Use caution when comparing the price of diamonds graded by two different labs; what at first seems like a bargain may only be the result of more relaxed diamond grading.</p>
                        </div>
                        <div class="tableContr padng15 marTop15">
                            <div class="subHead4">
                                Buying Tip:
                            </div>
                            <p class="font13 lineHeight24">Only buy diamonds which have been certified by a reputable lab. Do not accept certifications created by retailers, even if they claim to be GIA trained. </p>
                            <p class="font13 lineHeight24">Keep your diamond certificate in a safe place. It provides invaluable security in the case of loss (helping to establish the quality and size of diamond required for equitable replacement), trade, or resale. Whenever the diamond must leave your possession (for example, to be cleaned), always let the party taking possession know you have a certificate. Knowing you can positively identify your diamond removes any temptation on the part of the third party to commit fraud (such as switching the diamond for one of lower quality).</p>
                            <p class="font13 lineHeight24">A copy of your uniquely numbered GIA certificate is kept permanently on file with the GIA, and can be replaced at anytime if lost or destroyed.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to <span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

