<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Comparision Of GIA vs. EGL USA</div>
                        <p class="font13 lineHeight24">While GIA is the most popular certification in the world, EGL-USA is very popular in the United States, especially for diamonds under 1 carat. EGL certifications are less expensive for the seller to purchase, and are therefore more popular with retailers who must subsidize the cost of the certification within the cost of the diamond.</p>
                        <p class="font13 lineHeight24">EGL-USA certifications are also popular among some consumers who are under the impression that EGL diamonds are, on average, less expensive than identically graded GIA diamonds. This impression is the result of comparing diamonds from each certification and concluding that when size, color, and clarity are held constant (for example, both diamonds are certified as 1.00 ct. Round H VS1, Excellent Cut), the EGL USA diamond is invariably less expensive. This conclusion is based on the false assumption that GIA and EGL USA grading standards are comparable. This assumption is encouraged by the fact that EGL USA has adopted GIA's grading terminology. However, while the terminology is identical, the implementation and standards are very different.</p>
                        <p class="font13 lineHeight24">Because GIA and EGL apply different standards to the grading process, the resultant grades are very different as well. The two certificates show below are from the same diamond, which was submitted to both GIA and EGL USA for certification. While both labs substantially agree on the weight and physical proportions of the diamond (the objective measurements), they diverge significantly on the more subjective measurements of color and clarity. In fact, EGL USA certified the diamond a full three color grades higher than GIA.</p>
                        <div class="imgDiv">
                            <div class="giaimg3"></div>
                            <div class="giaimg4" onclick=""></div>
                                                        
                                                       
                        </div>
                        <p class="font13 lineHeight24">This comparison clearly illustrates the pitfalls in comparing GIA and EGL USA diamonds.In fact, when the differences in grading standards are taken into account, there is no price difference between EGL USA and GIA diamonds.</p>
                        <p class="font13 lineHeight24">Many retailers have embraced EGL certification due to the inflated grading standard, in combination with lower certification prices. Because there are few regulations governing the certification process, it is up to each consumer to understand the differences in certification lab experience, reputation, consistency, and reliability, so that an informed decision can be made.</p>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                     <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search For A Certified Diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>

</body>
</html>
