
<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>

                    <div class="centerDiv bLeft">
                        <div class="paraHead  fmOpenL color0044 ">Diamond Color </div>
                        <div class="diamond_info font13">
                            <p>As we begin our discussion on diamond color, let us remember that the stone at its best is colorless.
                                Diamonds are rendered colorful by the crystals growing inside and the due to structure distortion the
                                stones undergo upon pressure application. Diamonds with no color are the rarest and the costliest.
                                However, diamond is available in every color of the rainbow and the ones considered desirable range
                                from D (colorless) to Z (light yellow). Note that colored diamonds are graded using a different color scale
                                than the one used to determine white diamond.
                            </p>
                        </div>
                        <div class="font13 fmOpenR fLeft lineHeight24  para">
                            <p>Multiple factors impact how a diamond looks to its buyer. These factors include, among others, its
                                environment, the mounting of the stone and carat weight. In a smaller diamond color is difficult to
                                perceive. However, with the increase in carat weight color in the diamond becomes increasingly
                                prominent.</p>

<!--                            <p>Below is the GIA diamond color chart with definitions, accompanied by further explanatory comments from IFtoSI:</p>-->
                        </div>

                        <div class="fRight fmOpenR font13 img"></div>
                        <div class="fmOpenR font13 tcenter">Diamonds of D, K, and Z GIA Color Grade</div>

                        <div class="diamond_info font13 fLeft">
                            <p>Since white background is used to determine color grading in a diamond, when the same is put against a
                                colored environment after putting in an ornament shape, it becomes extremely difficult to ascertain the
                                precise color. Under usual light conditions, when a I colored diamond is set in a ring the piece of the
                                stone is more likely to appear as colorless as a D colored one.Since white background is used to determine color grading in a diamond, when the same is put against a
                                colored environment after putting in an ornament shape, it becomes extremely difficult to ascertain the
                                precise color. Under usual light conditions, when a I colored diamond is set in a ring the piece of the
                                stone is more likely to appear as colorless as a D colored one.</p>
                            <p>The mounting of a diamond determines how prominent a color in a diamond appears. For example,
                                minimal yellow a diamond when set against an ornament is yellow gold becomes less apparent. On the
                                other hand, when the same diamond is placed on white metal mountings the minimal yellow looks
                                slightly more prominent.</p>
                            <p>Most gemologists use the color scale grade of Colorless, Near Colorless, Faint Color, Very Light Color and
                                Light Color to determine color in a diamond. Presented below is brief understanding of each of these:</p>
                        </div>

                        <div class="subHead4 fLeft w_100">gia diamond color scale</div>
                        <div class="w_100 fLeft fmOpenR font13 table_color">

                            <div class="colorDiv fLeft font13 fmOpenR">Colorless</div>
                            <div class="color_img  fmOpenR font13 fLeft">
                                <img src="tools/img/common/colorless.gif" alt="no-image" class="">
                            </div>
                            <div class="color_cont fLeft font13">
                                <p class="font13 lineHeight24 padL10">Diamonds in this grade are considered to be the best. However, colorless diamonds are
                                    extremely rare and, hence, highly expensive. Within the range of D to Z, diamonds falling into the
                                    categories of D, E and F are viewed to be Colorless. While it is important to note that there are subtle
                                    differences in color among these three, it requires trained eyes to spot the differences even when these
                                    diamonds are kept side by side.</p>
<!--                                <p class="font13 lineHeight24 padL10">D-F diamonds should only be set in white gold / platinum. Yellow gold reflects color, negating the diamond's colorless effect.</p>-->
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Near Colorless</div>
                            <div class="color_img  fLeft">
                                <img src="tools/img/common/near_colorless.jpg" alt="no-image" class="">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">Diamonds with very little color in them fall within the category of Near Colorless. These
                                    diamonds are distinctive as they appear colorless when mounted in jewelry. Diamonds falling into the
                                    categories between G to J are Near Colorless while prices of each individual grades increases by 15-20
                                    percent beginning with G. Due to the extreme rarity of the Colorless grade, Near Colorless diamonds
                                    attract premium price and common in markets.</p>
<!--                                <p class="font13 lineHeight24 padL10">Because I-J diamonds are more common than the higher grades, they tend to be a great value. An I-J diamond may retail for half the price of a D diamond. Within the G-J range, price tends to increase 10-20% between each diamond grade.</p>-->
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Faint Color</div>
                            <div class="color_img   fLeft">
                                <img src="tools/img/common/faint_color.jpg" alt="no-image" class="">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">Diamonds with these three color grades namely, K, L and M belong to this grade. Relatively
                                    easy to detect with naked eye, a jewelry mounted Faint Color diamond weighing less than 0.50 carat will
                                    appear colorless while color could be spotted in larger Faint Color diamond.</p>
<!--                                <p class="font13 lineHeight24 padL10">Set in yellow gold, these warm colored diamonds appeal to some, and are an exceptional value. Others will feel they have too much color. Due to its perceptible color tint, a K diamond is often half the price of a G diamond.</p> -->
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Very Light Color</div>
                            <div class="color_img fLeft">
                                <img src="tools/img/common/vlight_color.gif" alt="no-image" class="">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">N-R color range diamonds exhibit noticeable color, are not expensive and are not
                                    sought after while few jewellers stock them.</p>
<!--                                <p class="font13 lineHeight24 padL10">IFtoSI does not carry diamonds in this color range due to a lack of demand. If you desire a diamond in this range, request a price quote using the custom diamond search.</p>  -->
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Light Color</div>
                            <div class="color_img fLeft">
                                <img src="tools/img/common/light_color.gif" alt="no-image" class="">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">S-Z diamonds fall within this grade and they exhibit highly discernible color and are seldom
                                    preferred by consumers.</p>
                                    <!--                                <p class="font13 lineHeight24 padL10">IFtoSI does not carry diamonds in this color range. If you desire a diamond in this range, request a price quote using the custom diamond search.</p>  -->
                            </div>
                        </div>
                        <div class="diamond_info font13 fmOpenR fLeft">
                            <p class="lineHeight24 font13">While the discussion above serves as general guidelines for diamond color, it is depended upon
                                individual preference of consumers. Overall, it can be put forth that despite the Colorless diamonds
                                being viewed as the best grade, consumers tend to favor the diamonds with slight tinge of yellow. This
                                preference can be attributed to the warmth of the slightly yellow diamond and the rarity and
                                expensiveness of the Colorless diamonds.</p>
                        </div>
                        <div class="diamonds fLeft"></div>
<!--                        <div class="para fmOpenR font13 fLeft ">
                            <p class="lineHeight24 font13">Color becomes much harder to detect once a stone is set in a ring and placed in an environment that contains color (as opposed to the all white background used in diamond color grading). For instance, an H color diamond may look as colorless as a D when set in a ring under normal lighting conditions, especially if the two are not compared side by side.</p>
                            <p class="lineHeight24 font13">Another factor that affects a diamonds's apparent color is the color of the mounting itself. Yellow gold makes slight amounts of yellow in a diamond less obvious, while white metal mountings make the color in yellow diamonds more apparent.</p>
                            <p class="lineHeight24 font13">The vast majority of untrained observers (and many gemologists) cannot distinguish a color grade from the one just above or below unless the diamonds are compared side by side in a controlled environment.</p>
                        </div>-->
<!--                        <div class="ringImage fRight"></div>
                        <div class="fmOpenR font12 tcenter fRight">This J color diamond appears
                            whiter when set in yellow gold</div>
                        <div class="w_100 fLeft">
                            <p class="lineHeight24 font13">Color becomes more important as carat weight increases, because color is easier to perceive in a larger diamond, just as a carafe of white wine shows more color than a single glass.</p>
                        </div>

                        <div class="question fLeft fmOpenR font13">
                            <p>Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Send email to consultant@IFtoSI.com.</p>
                        </div>
                        <div class="tip font13 fLeft fmOpenR">
                            <div class="subHead4 fLeft w_100">Buying Tip</div>
                            <p>Cut grade is the most important factor in determining the overall appearance of a diamond, because a poorly cut diamond will seem dull even with excellent clarity and color. Conversely, a well cut diamond can have a slightly lower color (G-H) or clarity (SI1-SI2) and still look quite beautiful, due to its superior ability to create sparkle and brilliance.</p>

                            <p>For superior brilliance, choose a diamond with a Cut grade of Very Good or Excellent for round diamonds, and Good or better in fancy shape diamonds. When choosing a diamond in this range, make sure its Symmetry and Polish are Very Good or Excellent, so that the impact of the above average Cut is not obscured.</p>

                            <p>For those on a budget, primarily concerned with size, a diamond of Fair - Good cut may be an acceptable choice, especially in fancy shapes. While the diamond will lack the scintillation and brilliance of a well cut diamond, it will allow a significant increase in size for the same price.</p>

                            <p>Avoid Poor cut diamonds, even if size is the primary concern. Most find these diamonds to be an unacceptable trade off, despite the lower price. IFtoSI does not offer Poor cut diamonds.</p>
                            <p>Visit the IFtoSI Diamond Buying Guide for additional tips and advice. </p>
                        </div>-->
                        <div class="wrapper">
                            <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>