
<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>

                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead  fmOpenL color0044 ">Diamond Color Chart</div>
                        <div class="diamond_info font13">
                            <p>Diamonds come in a variety of colors, some of them highly prized (pinks, blues, even yellow). However in a white diamond, the presence of a yellow tint will lower the price of a diamond. The less body color in a white diamond, the more true color it will reflect, and thus the greater its value.</p>

                            <p>Every IFtoSI Diamond has been assigned a color grade by the GIA in a viewing environment specially designed to eliminate color from surrounding surfaces as well as the light source itself. This allows the color of the diamond to be accurately measured. Minor differences in diamond color detected in this environment are very difficult if not impossible to detect in a normal environment. The diamond industry has adopted the GIA diamond color scale; almost every diamond sold today is rated using the GIA color scale, whether it was actually certified by the GIA or not.</p>

                        </div>
                        <div class="font13 fmOpenR fLeft lineHeight24  para">
                            <p>The GIA grades diamonds on a scale of D (colorless) through Z (light color). All D-Z diamonds are considered white, even though they contain varying degrees of color. True fancy colored diamonds (such as yellows, pinks, and blues) are graded on a separate color scale.</p>
                            <p>Below is the GIA diamond color chart with definitions, accompanied by further explanatory comments from IFtoSI:</p>
                        </div>

                        <div class="fRight fmOpenR font13 img"></div>
                        <div class="fmOpenR font13 tcenter">Diamonds of D, K, and Z GIA Color Grade</div>
                        <div class="subHead4 fLeft w_100">gia diamond color scale</div>
                        <div class="w_100 fLeft fmOpenR font13 table_color">

                            <div class="colorDiv fLeft font13 fmOpenR">Colorless</div>
                            <div class="color_img  fmOpenR font13 fLeft">
                                <img src="tools/img/common/colorless.gif" alt="no-image" class="imgtag">
                            </div>
                            <div class="color_cont fLeft font13">
                                <p class="font13 lineHeight24 padL10">While there are differences in color between D, E, and F diamonds, they can be detected only by a gemologist in side by side comparisons, and rarely by the untrained eye.</p>
                                <p class="font13 lineHeight24 padL10">D-F diamonds should only be set in white gold / platinum. Yellow gold reflects color, negating the diamond's colorless effect.</p>
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Near Colorless</div>
                            <div class="color_img  fLeft">
                                <img src="tools/img/common/near_colorless.jpg" alt="no-image" class="imgtag">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">While containing traces of color, G-J diamonds are suitable for a platinum or white gold setting, which would normally betray any hint of color in a diamond.</p>
                                <p class="font13 lineHeight24 padL10">Because I-J diamonds are more common than the higher grades, they tend to be a great value. An I-J diamond may retail for half the price of a D diamond. Within the G-J range, price tends to increase 10-20% between each diamond grade.</p>
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Faint Color</div>
                            <div class="color_img   fLeft">
                                <img src="tools/img/common/faint_color.jpg" alt="no-image" class="imgtag">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">Beginning with K diamonds, color (usually a yellow tint) is more easily detected by the naked eye.</p>
                                <p class="font13 lineHeight24 padL10">Set in yellow gold, these warm colored diamonds appeal to some, and are an exceptional value. Others will feel they have too much color. Due to its perceptible color tint, a K diamond is often half the price of a G diamond.</p> 
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Very Light Color</div>
                            <div class="color_img fLeft">
                                <img src="tools/img/common/vlight_color.gif" alt="no-image" class="imgtag">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">Diamonds in the N-R color range have an easily seen yellow or brown tint, but are much less expensive than higher grades.</p>
                                <p class="font13 lineHeight24 padL10">IFtoSI does not carry diamonds in this color range due to a lack of demand. If you desire a diamond in this range, request a price quote using the custom diamond search.</p>  
                            </div>

                            <div class="colorDiv fLeft font13 fmOpenR">Light Color</div>
                            <div class="color_img fLeft">
                                <img src="tools/img/common/light_color.gif" alt="no-image" class="imgtag">
                            </div>
                            <div class="color_cont fLeft">
                                <p class="font13 lineHeight24 padL10">For almost all customers, S-Z diamonds have too much color for a white diamond.</p>
                                <p class="font13 lineHeight24 padL10">IFtoSI does not carry diamonds in this color range. If you desire a diamond in this range, request a price quote using the custom diamond search.</p>  
                            </div>
                        </div>
                        <div class="diamond_info font13 fmOpenR fLeft">
                            <p class="lineHeight24 font13">The photo below shows a master set used by gemologists to grade color in diamonds. Each diamond to be graded is compared to the master set to determine where it should fall on the diamond color scale. The colors you see below are slightly exaggerated, since viewing diamonds face down makes their body color more pronounced. The face down orientation makes the detection of body color easier because brightness and fire are minimized when the diamond is face down.</p>
                        </div>
                        <div class="diamonds fLeft"></div>
                        <div class="para fmOpenR font13 fLeft ">
                            <p class="lineHeight24 font13">Color becomes much harder to detect once a stone is set in a ring and placed in an environment that contains color (as opposed to the all white background used in diamond color grading). For instance, an H color diamond may look as colorless as a D when set in a ring under normal lighting conditions, especially if the two are not compared side by side.</p>
                            <p class="lineHeight24 font13">Another factor that affects a diamonds's apparent color is the color of the mounting itself. Yellow gold makes slight amounts of yellow in a diamond less obvious, while white metal mountings make the color in yellow diamonds more apparent.</p>
                            <p class="lineHeight24 font13">The vast majority of untrained observers (and many gemologists) cannot distinguish a color grade from the one just above or below unless the diamonds are compared side by side in a controlled environment.</p>
                        </div>
                        <div class="ringImage fRight"></div>
                        <div class="fmOpenR font12 tcenter fRight">This J color diamond appears
                            whiter when set in yellow gold</div>
                        <div class="w_100 fLeft">
                            <p class="lineHeight24 font13">Color becomes more important as carat weight increases, because color is easier to perceive in a larger diamond, just as a carafe of white wine shows more color than a single glass.</p>
                        </div>

                        <div class="question fLeft fmOpenR font13">
                            <p>Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Send email to consultant@iftosi.com.</p>
                        </div>
                        <div class="tip font13 fLeft fmOpenR">
                            <div class="subHead4 fLeft w_100">Buying Tip</div>
                            <p>Cut grade is the most important factor in determining the overall appearance of a diamond, because a poorly cut diamond will seem dull even with excellent clarity and color. Conversely, a well cut diamond can have a slightly lower color (G-H) or clarity (SI1-SI2) and still look quite beautiful, due to its superior ability to create sparkle and brilliance.</p>

                            <p>For superior brilliance, choose a diamond with a Cut grade of Very Good or Excellent for round diamonds, and Good or better in fancy shape diamonds. When choosing a diamond in this range, make sure its Symmetry and Polish are Very Good or Excellent, so that the impact of the above average Cut is not obscured.</p>

                            <p>For those on a budget, primarily concerned with size, a diamond of Fair - Good cut may be an acceptable choice, especially in fancy shapes. While the diamond will lack the scintillation and brilliance of a well cut diamond, it will allow a significant increase in size for the same price.</p>

                            <p>Avoid Poor cut diamonds, even if size is the primary concern. Most find these diamonds to be an unacceptable trade off, despite the lower price. IFtoSI does not offer Poor cut diamonds.</p>
                            <p>Visit the IFtoSI Diamond Buying Guide for additional tips and advice. </p>
                        </div>
                        <div class="wrapper">
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                        </div>
                    </div>

                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
