<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>

                    <div class="centerDiv bLeft bRight">
                        <div class="  fmOpenL color0044 paraHead ">Diamond Fluorescence</div>
                        <div class="diamond_info font13">
                            <p>Fluorescence refers to a diamond's tendency to emit a soft colored glow when subjected to ultraviolet light (such as a "black light"). Roughly 30% of diamonds fluoresce to some degree. Colorless (D-F) fluorescent diamonds sell at up to a 15% discount since the fluorescence is perceived as a defect. In fact, the visible effects of Faint to Medium fluorescence are perceptible only to a gemologist using a special UV light source.</p>
                            <p>Because the fluorescent glow is usually blue (which is the complementary color to yellow) fluorescence can make diamonds of I-M color appear up to one grade whiter. For this reason, I-M diamonds tend to sell at a slight premium when they possess Medium to Very Strong fluorescence.</p>
                        </div>
                        <div class="w_100  fLeft">
                            <div class="subHead4 fLeft">A GIA study of diamond fluorescence:</div>
                            <p class="lineHeight24 fmOpenR font13 fLeft">A study performed in 1997 by the GIA found that the level of fluorescence has no widely perceptible effect on the color appearance or transparency of diamonds when viewed table down (upside down). In the table up position, diamonds of Strong or Very Strong fluorescence appeared to have better color than less fluorescent stones. The effect was most noticeable in the I-K colors.</p>
                        </div>
                        <div class="leftContent fLeft font13 fmOpenR">

                            <p>Overall, diamond fluorescence should not be a major factor in the purchase of a diamond since its effects are negligible, if not slightly positive. The exception would be to exercise caution in purchasing a diamond with Strong fluorescence in D-F color diamonds or Very Strong fluorescence in G-H color diamonds(which do not possess enough body color to offset the degree of fluorescence).</p>

                            <p>Every IFtoSI Diamond displays the fluorescence grade as determined by the GIA, using the following scale:</p>

                            <p class="fmOpenB">Very Strong, Strong, Medium, Faint, None</p>

                        </div>
                        <div class="outerImage fLeft">
                       <div class="imageRight fRight font13 fmOpenR pt150">
                           <img src="tools/img/common/degree-of-diamond-fluoroescence.jpg" alt="no-image" class="imgtag">
                             <div class=" w_100 fLeft">Top Row: Diamonds with 5 degrees of fluoro,
                            randomly ordered.
                            Bottom Row: Same diamonds under UV light,
                            ordered from Very Strong to No fluoro.
                             </div>
                        </div>
                        </div>
                        <div class="d_propoation fLeft font13">
                            <p>For a precise summary of the effects of fluorescence on price, use the chart below. The effect on price varies depending on the degree of fluorescence, diamond color, and clarity. For example, according to the chart, an E color diamond of VS1 clarity and Strong Fluorescence will tend to sell for 3-5% less than a like diamond with no fluorescence. Alternatively, a J color diamond of any clarity and Medium fluorescence will typically sell for up to 2% more than a like diamond with no fluorescence. While clarity has no bearing on the appearance of color and fluorescence, it does impact price. This is because customers who gravitate towards higher clarity tend to be more adverse to the presence of fluorescence.</p>
                        </div>
                        <div class="subHead4 fLeft">How Fluorescence Affects Price</div>
                        <div class="tableContr">
                            <div class="tableHeadng width33"></div>

                            <div class="tableHeadng fntBold">V.STRONG</div>
                            <div class="tableHeadng fntBold">STRONG</div>
                            <div class="tableHeadng fntBold">MEDIUM</div>
                            <div class="tableHeadng fntBold">FAINT</div>

                            <div class="tableHeadng fntBold h120">D - F</div>
                            <div class="tableHeadng tablValue">IF - VVS2</div>
                            <div class="tableHeadng tablValue">-10 to -15%</div>
                            <div class="tableHeadng tablValue">-7 to -10%</div>
                            <div class="tableHeadng tablValue">-3 to -7%</div>
                            <div class="tableHeadng tablValue">-1%</div>

                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue w16">-6 to -10%</div>
                            <div class="tableHeadng tablValue">-3 to -5%</div>
                            <div class="tableHeadng tablValue">-1 to -2%</div>
                            <div class="tableHeadng tablValue">0%</div>
                            <div class="tableHeadng tablValue">SI1 - I3</div>

                            <div class="tableHeadng tablValue">0 to -3%</div>
                            <div class="tableHeadng tablValue w16">0 to -1%</div>

                            <div class="tableHeadng tablValue">0%</div>
                            <div class="tableHeadng tablValue">0%</div>


                            <div class="tableHeadng fntBold h120">G - H</div>
                            <div class="tableHeadng tablValue">IF - VVS2</div>
                            <div class="tableHeadng tablValue">-7 to -10%</div>
                            <div class="tableHeadng tablValue">-7 to -10%</div>
                            <div class="tableHeadng tablValue">-3 to -7%</div>
                            <div class="tableHeadng tablValue">-1%</div>

                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue w16">-3 to -5%</div>
                            <div class="tableHeadng tablValue">-2 to -3%</div>
                            <div class="tableHeadng tablValue">-1 to -2%</div>
                            <div class="tableHeadng tablValue">0%</div>
                            <div class="tableHeadng tablValue">SI1 - I3</div>

                            <div class="tableHeadng tablValue">0%</div>
                            <div class="tableHeadng tablValue w16">0%</div>

                            <div class="tableHeadng tablValue">0%</div>
                            <div class="tableHeadng tablValue">0%</div>

                            <div class="tableHeadng fntBold h45">I - M</div>
                            <div class="tableHeadng tablValue">IF - I3</div>
                            <div class="tableHeadng tablValue w16">0 to +2%</div>

                            <div class="tableHeadng tablValue">0 to +2%</div>
                            <div class="tableHeadng tablValue">0 to +2%</div>
                            <div class="tableHeadng tablValue">0%</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.<span class="color0044 fmOpenB"> Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                        <div class="wrapper">    
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
