<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                <div class="centerDiv bLeft bRight">
                    <div class="paraHead fmOpenL color0044">Hearts And Arrows</div>
                    <div class="diamond_info font13 fLeft">
                        <p> The hearts and arrows pattern (often marketed under brand names such as 'Hearts on Fire') refers to a symmetrical light pattern visible using a specialized viewer in diamonds cut within certain narrow specifications.</p>
                    </div>
                    <div class="subHead4 fLeft w_100">History Of Hearts And Arrows</div>    
                    <div class="leftContent fLeft font13 fmOpenR">
                        <p>The hearts and arrows pattern was first viewed using a Firescope; a tool developed by Kazumi Okuda in the 1970s. Firescopes and their modern equivalents (such as the H&A Viewer, Ideal-scope and ASET-scope) use colored reflectors to display a pattern showing the direction and intensity of light emitted from a diamond. These colorful patterns can be evaluated to determine how much light is exiting the diamond at proper angles, and whether the diamond is optically symmetrical (indicated by a uniform pattern).</p>
                    </div>
                    <div class="img_div fLeft font13 fmOPenR">
                        <div class="img_container font13 fLeft fmOpenR heart_img"></div>
                        <div class="tcenter">Modern, portable H&A viewers</div>
                    </div>
                    <div class='shapTypes'>
                        <div class="leftContent fRight font13 fmOpenR">
                            <p>In the example at left, red represents light being emitted from the diamond in a direction and intensity that will be perceived by the viewer as brightness. Pink areas represent areas of less brightness. Dark areas indicate areas where light is blocked by the viewers head (these areas are perceived as dark flashes, or scintillation, when the viewer or the diamond moves). Finally, white areas indicate where light is traveling through the diamond, and 'leaking' out of the bottom (perceived as dull or dark areas in the diamond). Different types of viewers will use different color schemes, but all produce similar patterns.</p>
                        </div>
                        <div class="img_div  font13 fmOPenR">
                            <div class="img_container font13 fmOpenR scope_img">
                              
                            </div>
                             <div class="font13 fmOpenR">An Ideal-scope image displaying symmetry</div>
                            
                             
                        </div>
                    </div>
                    <div class='shapTypes'>
                        <div class="leftContent  font13 fmOpenR">
                            <p>One possible pattern is what is today marketed as "hearts and arrows". The "arrows" are visible when the diamond is viewed from the top. The "hearts" are visible when the diamond is flipped over and viewed from the bottom.</p>
                            <div class="subHead4 fLeft w_100">Impact Of Hearts And Arrows</div>
                            <p>The hearts and arrows pattern was initially noticed by accident; the name first coined by Kinsaku Yamashita, and eventually trademarked in 1988, the birth of the hearts and arrows marketing campaign. The hearts and arrows phenomenon quickly spread from Japan to the U.S in the early 1990s. The hearts and arrows pattern is now so popular that many diamond manufactures cut to a specification that will yield this particular pattern, even at the expense of overall cut quality.</p>
                           
                        </div>
                        <div class="img_div fRight font13 fmOPenR">
                            <div class="img_container font13 fmOpenR arrow_img h400"></div>
                            <div class="font13 fLeft fmOpenR">Hearts (top) and Arrows (bottom) as seen in the viewer</div>
                        </div>
                         <p class="lineHeight24 font13">The intrinsic appeal of the hearts and arrows pattern, with its association to Cupid, is obvious; even if the heart pattern is invisible once the diamond is set. Often the presence of the hearts and arrows pattern is taken as confirmation that the diamond is well cut. This is not necessarily true. In a round diamond, a clearly defined set of 8 hearts and 8 arrows is a sign of excellent optical symmetry, an important component of cut. As such, its appearance is a very likely a sign of superior cut, but not a guarantee.</p>

                    </div>
                    <div class="diamond_info font13 fLeft">
                        <p> Consumers are often misled regarding the quality of a hearts and arrows pattern. While a diamond may display what appears to be a pronounced hearts and arrows effect, several subtle details in the shape, spacing, and positioning of the pattern can have a significant impact on desirability and therefore value. These variations are often not detectable by any except experienced graders or jewelers.</p>
                        <p>Even so, the marketing impact of the hearts and arrows campaign has been profound. Because well cut diamonds are rare to begin with, and diamonds with the particular hearts and arrow pattern rarer still, H&A diamonds carry a premium price. This is due not only to effective marketing, but because all well cut diamonds (including H&A) require more time to cut, and generate about 15% more waste than lower quality cuts.</p>
                        <p>For consumers, the greatest benefit of the popularity of hearts and arrows is actually the increased attention brought to the grading of cut. In the late 90s, major labs (including GIA) quickly perceived the demand for a cut grade by customers newly educated to the importance of cut and symmetry in the overall appearance of a diamond. Today, independent laboratory cut grades are the single biggest factor in helping customers to distinguish quality (beyond color and clarity) in diamonds.</p>

                    </div>
                    <div class="noteContent font13 fmOpenR fLeft ">
                        <div class="subHead4 fLeft w_100">A note of caution:</div>
                        <p>GIA does not recognize hearts and arrows as a component of cut grade. This is partly due to the fact that the presence of the pattern is not a guarantee of cut. Occasionally you will see a hearts and arrows notation on a GIA certificate. This is simply GIA noting that an H&A inscription is present on the girdle of the diamond. This is provided as information only, not as a confirmation of the presence or quality of any hearts and arrows pattern in the diamond itself.</p>
                    </div>
                    <div class="diamond_info font13 fLeft">
                        <div class="subHead4 fLeft fmOpenR w_100">Conclusion</div>

                        <p>At IFtoSI, we believe the best approach to hearts and arrows is not to be carried away by the marketing of the pattern. One of the reasons GIA (and AGS) do not incorporate or acknowledge H&A in their grading is that it has never been shown to be preferred by consumers in blind tests. While the pattern has an emotional appeal, its actual affect on appearance is debated.</p>
                        <p>A IFtoSI diamond consultant would be happy to locate true hearts and arrows diamonds for customers who attach a high value to this particular pattern, and also to find high performance diamonds of similar patterns for customers who value the concept behind hearts and arrows if not necessarily the pattern itself. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Send email to consultant@IFtoSI.com.</p>
                    </div>
                    <div class="wrapper">    
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                    </div>
                </div>

              <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>