<!DOCTYPE html>

<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Polish</div>
                        <div class="leftContent fLeft font13 fmOpenR">
                            <p>Polish refers to the degree of smoothness of each facet of a diamond as measured by a gemologist. When a diamond is cut and polished, microscopic surface defects may be created by the polishing wheel as it drags tiny dislodged crystals across the diamond's surface. Depending on the severity, these defects may disrupt light patterns as the light rays enter and exit the diamond.</p>
                            <p>Each iftosi Diamond displays the polish grade as determined by the GIA, using the following scale:</p>
                        </div>
                        <!--                    <div class="imageRight polish_img fRight padding font13 fmOpenR">Polish defects on diamond surface</div>-->
                        <div class="img_div fLeft font13 fmOPenR">
                            <div class="img_container font13 fLeft fmOpenR polish_img polish"></div>
                            <div class="tcenter">Polish defects on diamond surface</div>
                        </div>


                            <div class="table_div fLeft">
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Excellent</div>
                                <div class="width70 fLeft fmOpenR font13">No polish defects visible at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30  fLeft font14 fmOpenB">Very Good</div>
                                <div class="width70 fLeft fmOpenR font13">Any defects are extremely difficult to see at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Good</div>
                                <div class="width70 fLeft fmOpenR font13">Any defects are difficult to see at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Fair</div>
                                <div class="width70 fLeft fmOpenR font13">Defects are noticeable at 10x magnification, and may be visible to the naked eye.</div>

                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Poor</div>
                                <div class="width70 fLeft fmOpenR font13">Defects are visible to the naked eye. Not offered by iftosi.</div>
                            </div>
                        </div>
                        <div class="diamond_info font13 fLeft">
                            <p> For diamonds with a polish grade of Excellent to Good, any polishing defects are not visible to the naked eye, and should have no impact on the diamond's overall appearance.</p>
                            <p>For diamonds with clarity grades of I1 or lower, even a polish grade of Fair is acceptable, since these diamonds already possess internal inclusions that are visible to the naked eye, making any polish markings less relevant.</p>
                            <p>For diamonds less than .75 carats, any polish grade of Fair or better will not affect the appearance of the diamond to an untrained observer.</p>
                            <p>Poor is the only polish grade that should be avoided regardless of the size or clarity of the diamond. For this reason, iftosi does not carry diamonds with a polish grade of Poor.</p>
                        </div>
                        <div class="fLeft w_100">
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search For a Diamond Now</div></a></center>
                        </div>
                        </div>
                   <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
