<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Cut</div>

                        <p class="font13 lineHeight24">Cut refers not to a diamond's shape (e.g. round, oval, pear, etc.) but to a diamond's proportions, symmetry and polish. The beauty of a diamond depends more on cut than any other factor. Though extremely difficult to analyze and quantify, diamond cut has three primary effects on appearance: brilliance (the brightness created by the combination of all the white light reflections from the surface and the inside of a polished diamond), fire (the dispersion of light into the colors of the visible spectrum, seen as flashes of color), and scintillation (the flashes of light and dark, or sparkle, when a diamond or light source is moved).<br><br></p>

                        <p class="font13 lineHeight24"> When a diamond is fashioned from a rough stone, the cutter must balance optimal cut (and therefore appearance) against maximum yield (cutting the diamond to maintain as much carat weight from the rough stone as possible). Because many customers are willing to pay more for a larger, fair-cut cut diamond than for a slightly smaller, well-cut diamond, there is pressure on the cutter to sacrifice appearance for weight. This is why the Cut grade is so important; it allows the purchaser to identify those stones that were cut Fair to Poor in an effort to gain carat weight.</p>

                        <div class="imageDiv fLeft"></div>
                        <div class="fontPropery lineHeight24 fLeft width50">

                            <p class="font13 lineHeight24">At left, the same rough stone (shown in blue) can yield one of two potential diamonds:</p>

                            <p class="font13 lineHeight24">A too-deep cut diamond (orange) would yield a significantly larger diamond, earning the diamond cutter a larger profit on his investment.<br></p>

                            <p class="font13 lineHeight24">A smaller, well cut diamond (white) may sell for less in total than the larger diamond, but it will command a higher price-per-carat not only because of its superior appearance, but also due to decreased yield from the rough stone (which therefore makes the diamond more expensive to create).<br></p>

                        </div>
                        <div class="fontPropery lineHeight24 fLeft w_100">
                            <p class="font13 lineHeight24">Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Chat online, or send your request to consultant@lumeradiamonds.com.</p>
                        </div>
                        <div class="subHead4 fLeft">
                            Diamond Cut Proportions
                        </div>
                        <div class="fontPropery lineHeight24 fLeft w_100">
                            <p class="font13 lineHeight24 margnTop0">Diamond proportion refers to the relationship between the size, shape, and angle of each facet of a diamond. A wide range of combinations are possible, ultimately determining the diamond's interaction with light.</p>
                            <p class="font13 lineHeight24">When light strikes a diamond, approximately 20% immediately reflects off the surface (as glare). Of the 80% that enters, a portion will escape through the bottom of the diamond (where the observer cannot appreciate it). A well proportioned diamond will have each facet properly placed and angled so as to maximize the amount of light that reflects back out of the crown (top) of the diamond, to the eye of the observer. This reflected light is perceived as scintillation, fire and brilliance.</p>
                            <p class="font13 lineHeight24">In the diagram below, three common light patterns are shown. When light meets any facet of a diamond, it will either reflect (bounce back) or refract (bend while passing through the facet). The angle that the light hits the facet determines whether the majority of light reflects or refracts, which is why cut is so important.</p>
                        </div>
                        <div class="tableDiv fLeft color">
                            <div class="images  fLeft">
                                <img src="tools/img/common/shallow_diamond_cut.jpg" alt="no-image" class="imgtag">
                            </div>
                            <div class="definition fLeft font13">
                                <p>If the diamond cut is too shallow, entering light strikes the pavilion facet at a low angle and passes through the facet (refracts), escaping through the bottom of the diamond.</p>
                            </div>
                            <div class="images fLeft">
                                <img src="tools/img/common/deep_diamond_cut.jpg" alt="no-image" class="imgtag">
                            </div>
                            <div class="definition fLeft font13">
                                <p>If the diamond cut is too deep, entering light strikes the first pavilion facet at an angle sharp enough to reflect to the second pavilion. But the light strikes the second pavilion at too low an angle, causing the light to refract (pass through the facet), escaping through the bottom of the diamond.</p>
                            </div>
                            <div class="images  fLeft">
                                <img src="tools/img/common/correct_diamond_cut.jpg" alt="no-image" class="imgtag">
                            </div>
                            <div class="definition fLeft font13">
                                <p> In a well cut diamond, the light strikes each pavilion facet at an angle which allows most of the light to reflect back to the crown (top). As it passes through the crown facets at a low angle, the light refracts upon exit. In this case, refraction is a good thing, as the bent light travels to the observer's eye and is perceived as a lively fire.</p>
                            </div>
                        </div>
                        <div class="diamond_depth fLeft">
                            <div class="subHead4 fLeft w_100">Diamond Depth%</div>
                            <div class="fontPropery lineHeight24 fLeft width50">

                                <p class="font13 lineHeight24 margnTop0">Depth refers to the distance between the culet and the table when the diamond is viewed from the side. Diamond depth is expressed in millimeters, and is given as the third number under "measurements" for every Lumera Diamond (the first two numbers are length and width).</p>

                                <p class="font13 lineHeight24">The depth % of a diamond is calculated by dividing the depth by the width of the diamond. So, if a diamond is 3 mm in depth, and 4.5 mm in width, its depth % is 66.7. The lower the depth %, the larger a diamond of a given carat weight will appear (since most of the diamond's size is in its width vs. in its depth).</p>

                                <div class="subHead4 fLeft w_100">Diamond Table %</div>
                                <p  class="font13 lineHeight24">The table % of a diamond is calculated by dividing the width of the table facet by the width of the diamond. So, if the table facet is 3 mm wide, and the diamond is 4.5 mm wide, its table % is 66.7.</p>
                            </div>
                            <div class="outerImage fLeft">
                                <div class="imageRight fRight">
                                    <img src="tools/img/common/depth_table.gif" class="imgtag">
                                </div>
                            </div>
                            <div class="note fLeft">
                                <div class="noteContent font13 fmOpenR">
                                    <div class="subHead4 fLeft w_100">a note of caution:</div>
                                    <p class="font13 lineHeight24 margnTop0" >A diamond should not be chosen or rejected based solely on depth % or table %. Because the overall Cut grade already incorporates both factors, it should be used as the primary determinant when choosing a diamond. When comparing two diamonds of equal Cut grade, depth % and table % can then be used as further refinements, especially (in the case of depth %) if one is concerned about how large the diamond will appear.</p>
                                </div>
                            </div>
                        </div>
                        <div class="subHead4 fLeft w_100">Diamond Proportion Diagram</div>
                        <div class="fontPropery lineHeight24 fLeft width50">
                            <p class="font13 lineHeight24 margnTop0">Every Lumera Diamond comes with a GIA Grading Report or Dossier certificate, most of which include a proportion diagram. The proportion diagram is a graphic representation of the diamond's actual proportions.</p>

                                The proportion diagram shows the diamond's girdle size, culet size, table and depth percentages, as well as other measurements, such as the crown and pavillion angles.

                                Each angle and dimension is measured electronically using a light scanner. The proportion diagram is a "fingerprint" of your diamond.</p>
                        </div>
                        <div class="outerImage fLeft">
                            <div class="imageRight fLeft">
                                <img src="tools/img/common/diamond-proportion-diagram.jpg" class="imgtag">
                                <div class=" w_100 fLeft">GIA Diamond Proportion Diagram</div>
                            </div>
                        </div>
                        <center>

                        </center>
                        <div class="subHead4 fLeft w_100">grading diamond cut</div>
                        <div class="fontPropery  fLeft width50">
                            <p class="font13 lineHeight24 margnTop0">Evaluating the combined effects of facet shapes and angles, girdle width, culet size, polish and symmetry on the overall appearance of a diamond is a daunting task, even for professional gemologists. Fortunately, all of these factors have already been taken into consideration when calculating the diamond's Cut grade.</p>
                        </div>      


                        <div class="outerImage fLeft">
                            <div class="imageRight fLeft h150">
                                <img src="tools/img/common/gia-cut-grades.jpg" class="imgtag">
                                <div class="w_100 fLeft font13 fmOpenR">Excellent, Very Good, and Good GIA Cut Grades</div>
                            </div>
                        </div>
                        <div class="fontPropery  fLeft w_100">
                            <p class="font13 lineHeight24">Because Cut grade provides a single rating which weighs the combined impact of all of the factors listed above on a diamond's visual performance, it is a simple yet vital tool in evaluating a diamond.</p>

                            <p  class="font13 lineHeight24">Cut grade should be a primary consideration when evaluating a diamond. Only when comparing two diamonds of identical Cut grade should the individual components of Cut (such as girdle width, symmetry, polish, depth%, table %, and culet size) be used as further refinements or tie breakers.</p>
                        </div>
                        <div class="caution fLeft fmOpenR color">
                            <div class="font13 fmOpenR fLeft ">
                                <div class="subHead4 fLeft w_100">A note of caution:</div>
                                <p class="font13 lineHeight24 margnTop0">Unlike the other "Cs" (carat weight, color, and clarity), the various Cut grades in existence today were not originated by GIA, and are not uniformly applied. In fact, GIA has only been assigning cut grades since 2005, and only to round diamonds.</p>

                                <p class="font13 lineHeight24"> Even though retailers use common terms to describe Cut (such as Excellent, Very Good, Fair, Poor) the terms are not uniformly defined or applied. In fact, a diamond seller may assign any cut grade they choose, based on any set of factors they wish. One retailer will use terms such as "Signature Ideal", "Ideal", and "Excellent"; while another uses "Ideal" to describe all three, and another uses "Excellent" for all. Be cautious when comparing cut grades from different sources, as they are most likely inconsistent.</p>

                                <p class="font13 lineHeight24">To avoid confusion or misrepresentation of any diamond, Lumera uses the same cut grades as employed by GIA, and does not engage in "cut inflation" by creating other grades ("signature", "super ideal", etc.).</p>
                                Also, be aware of diamond sellers who assign their own cut grades in place of what GIA has already assigned to a particular diamond. Many popular websites and retail stores display their own, more generous Cut rating, in place of the GIA grade.
                            </div>
                        </div>
                        <div class="fLeft fmOpenR font13 lumera color">
                            <p class="font13 lineHeight24">At Lumera, the GIA cut grade is always shown. For diamonds without a GIA cut grade (because the diamond was certified before GIA began assigning cut grades in 2005, or is a shape that GIA does not currently assign cut grades to), Lumera will apply its own cut grade according to a proprietary formula. Like GIA, the Lumera cut grade is based on a variety of factors and is conservatively applied. In fact, when comparing our cut grade to that assigned by GIA, the Lumera grade is equal to or lower than GIA 90% of the time.</p>
                        </div>
                        <div class="fLeft fmOpenR font13 tableHdng color">
                            <p>Cut grade is assigned by the GIA (or Lumera itself when there is no GIA grade), using the following scale:</p>
                        </div>
                        <div class="rating fLeft">
                            <div class="row fLeft">

                                <div class="rate fLeft fmOpenR color font13">
                                    Excellent
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Maximum fire and brilliance. Reflects nearly all of the light that enters the diamond, creating exceptional sparkle and life.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Very Good
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Properly reflects most of the light that enters the diamond, producing superior fire and brilliance. Under normal lighting conditions, appears very similar to Excellent Cut, but for a lower price.  
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Good
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Reflects a majority of the light that enters the diamond, for an above average appearance. An excellent value compared to higher cut grades.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Fair
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Allows much of the light entering the diamond to escape from the sides or bottom, reducing perceived fire and brilliance. More acceptable in diamonds of less than .75 carats, where differences in sparkle are more difficult to perceive.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Poor
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Allows most of the light entering the diamond to escape from the sides or bottom. The diamond may appear noticeably dull and lifeless, even to an untrained eye. Lumera does not offer Poor cut diamonds.
                                </div>
                            </div>
                        </div>
                        <div class="fontPropery  fLeft w_100">
                            <p class="font13 lineHeight24" >Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Chat online, or email consultant@lumeradiamonds.com.</p>
                        </div>
                        <div class="tableContr padng15">
                        <div class="subHead4 fLeft w_100">Buying Tip:</div>
                        
                        <p class="font13 lineHeight24 margnTop0">Cut grade is the most important factor in determining the overall appearance of a diamond, because a poorly cut diamond will seem dull even with excellent clarity and color. Conversely, a well cut diamond can have a slightly lower color (G-H) or clarity (SI1-SI2) and still look quite beautiful, due to its superior ability to create sparkle and brilliance.</p>

                        <p class="font13 lineHeight24">For superior brilliance, choose a diamond with a Cut grade of Very Good or Excellent for round diamonds, and Good or better in fancy shape diamonds. When choosing a diamond in this range, make sure its Symmetry and Polish are Very Good or Excellent, so that the impact of the above average Cut is not obscured.</p>

                        <p class="font13 lineHeight24">For those on a budget, primarily concerned with size, a diamond of Fair - Good cut may be an acceptable choice, especially in fancy shapes. While the diamond will lack the scintillation and brilliance of a well cut diamond, it will allow a significant increase in size for the same price.</p>

                        <p class="font13 lineHeight24">Avoid Poor cut diamonds, even if size is the primary concern. Most find these diamonds to be an unacceptable trade off, despite the lower price. Lumera does not offer Poor cut diamonds.</p>
                        <p class="font13 lineHeight24">Visit the Lumera Diamond Buying Guide for additional tips and advice. </p>
                        </div>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search For a Diamond Now</div></a></center>
                    </div>

                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>


