<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Polish</div>
                        <div class="leftContent fLeft font13 fmOpenR">
                            <p>Polish in a diamond refers to the overall smoothness of individual facets of a diamond. A diamond with
                                ideal polish is the glittering outcome of the superlative degree of skill involved in the polishing process.
                                While Diamond Cut process impacts the polish of a diamond, polish maximizes its luster.</p>
                            <p>The polish grade of a diamond can be evaluated by applying the following parameters:</p>
                        </div>
                        <!--                    <div class="imageRight polish_img fRight padding font13 fmOpenR">Polish defects on diamond surface</div>-->
                        <div class="img_div fLeft font13 fmOPenR">
                            <div class="img_container font13 fLeft fmOpenR polish_img polish"></div>
                            <div class="tcenter">Polish defects on diamond surface</div>
                        </div>


                        <div class="table_div fLeft">
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Excellent</div>
                                <div class="width70 fLeft fmOpenR font13">The most preferable of the polish grade. Visibly glittering and superlative look.
                                    No imperfections are visible under 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30  fLeft font14 fmOpenB">Very Good</div>
                                <div class="width70 fLeft fmOpenR font13">Noticeably brilliant with imperfections extremely tough to spot at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Good</div>
                                <div class="width70 fLeft fmOpenR font13">AImperfections are difficult to spot at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Fair</div>
                                <div class="width70 fLeft fmOpenR font13">Unimpressive luster and defects visible at 10x magnification. Efforts expose imperfections to the naked eye.</div>

                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Poor</div>
                                <div class="width70 fLeft fmOpenR font13">No luster with visible defects.</div>
                            </div>
                        </div>
                        <div class="diamond_info font13 fLeft">
                            <p>We at IFtoSI recommend buying diamonds with polish grade ranging between Excellent and Good,
                                primarily because they are visibly appealing with no defects detectable even to the trained eyes. While
                                customers should avoid buying the poor grade polish diamonds, stones belonging to the Fair grade
                                sometimes make decent looks. We also advise buyers to avoid buying the Poor grade of diamonds, even
                                if they are presented in a visually impressive manner.</p>
                            <p>Another significant aspect that determines diamonds’ qualitative and visual brilliance is their polish
                                lines. Obviously, polish lines that require high degree of magnification renders a diamond’s polish rating
                                excellent. Gemologists also consider certain other characteristics to evaluate a diamond’s grade. They
                                include: Scratch, Lizard skin, Burn marks, Abrasion and Rough girdle.</p>
                            <p>Visible white lines on the surface of a diamond are referred to as Scratch, while Lizard skin points to
                                uneven surface on a diamond. When a diamond is exposed to high temperatures the surface of it
                                acquires a faint whitish layer referred to as Burn marks. A girdle left unpolished is a Rough girdle and a
                                series of cut marks at junctions of facets are Abrasion.</p>
<!--                            <p>Poor is the only polish grade that should be avoided regardless of the size or clarity of the diamond. For this reason, IFtoSI does not carry diamonds with a polish grade of Poor.</p>-->
                        </div>
                        <div class="fLeft w_100">
                            <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>