<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft">
                        <div class="paraHead fmOpenL color0044">Diamond Cut</div>

                        <p class="font13 lineHeight24">The cut on the diamond has the greatest influence on its outer aesthetics and hence, in most cases, ends
                            up being primary determinant of the price. However, contrary to popular belief, cut does not merely
                            mean the shape of the diamond. It is in essence a combination of multiple factors that determine the
                            look of the diamond. They include the fineness and the polish, the consistency in the cut itself and
                            proportions.<br><br></p>

                        <p class="font13 lineHeight24">A diamond takes its shape from the brilliance of the cutter, who optimizes his skills to reduce waste and
                            maximize the yield. Weight usually gains prominence over the appearance as buyers are often ready to
                            shell out more money for a larger bauble. This factor renders cut grade important; it enables the buyer
                            to choose stones in which carat weight has been retained, making the Cut fit into the category of Fair to
                            Poor. However, it is important to note that a small, nicely cut diamond fetches a premium per-carat-
                            price for the cutter.</p>

                        <div class="imageDiv fLeft"></div>
                        <div class="fontPropery lineHeight24 fLeft width50">

                            <p class="font13 lineHeight24">For example, let’s us assume we are extracting two diamond pieces from a rough stone (see image on the left).</p>

                            <p class="font13 lineHeight24">A deep, large cut (shown in x color) would fetch more money for the cutter due to its larger size. The cost of a stone cut small, nice cut would be less than that of the larger piece.<br></p>

                            <p class="font13 lineHeight24">The price of the smaller piece would be determined by the per-carat- price factor. The selling of a smaller diamond,
                                therefore, does not necessarily mean low profit for merchant. Also, note that superior aesthetics and
                                reduced output from the rough stone renders the smaller diamond piece expensive.<br></p>
                        </div>
                        <!--                        <div class="fontPropery lineHeight24 fLeft w_100">
                                                    <p class="font13 lineHeight24">Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Send your request to consultant@IFtoSI.com.</p>
                                                </div>-->
                        <div class="subHead4 fLeft">
                            Diamond Cut Proportions
                        </div>
                        <div class="fontPropery lineHeight24 fLeft w_100">
                            <p class="font13 lineHeight24 margnTop0">Proportion in a diamond cut comprises multiple factors and the inter-relationship among those factors.
                                They include, among others, different angles of the diamond, its size and shape. Different combinations
                                among these factors give rise to multiple possibilities in the diamond look and design. These possibilities
                                determine how the diamond interacts with light.</p>
                            <p class="font13 lineHeight24">A diamond proportioned well typically has each of its aspects appropriately positioned. Upon striking of
                                light on a diamond, about one-fifth of it is reflected from the surface. Out of the remaining amount of
                                light, a decent amount refracts through the diamond and the onlooker does not get to see any trace of
                                it. Only the one-fifth of the light that reflects from the surface hits the observer’s eye. This light is
                                considered as brilliance, scintillation and fire.</p>
                            <p class="font13 lineHeight24">Light either bends while passing through the many facets of a diamond or the diamond makes light
                                bounce back. This behavior of light – whether it refracts or reflects after hitting the diamond – depends
                                on the angle of light that falls on the different facets of the diamond, making diamond cut an important
                                aspect in the determination of a diamond’s quality and premiumness. Usually, there are three patterns
                                in which light behaves depending on a diamond’s facet after hitting a diamond.</p>

                            <div class="subNumber font12 fmOpenB">1. &nbsp;</div><p class="font13 padL10">A diamond cut too shallow allows the light to hit the pavilion facet at a low angle and refracts.
                                In this scenario, light escapes through the diamond’s bottom.</p>
                            <div class="subNumber font12 fmOpenB">2. &nbsp;</div><p class="font13 padL10">When a diamond cut is very deep, light hits the facet of the first pavilion at a sharp angle. It has
                                enough spikes to reflect to the second pavilion; however, it hits the second pavilion at an angle
                                very low. It makes the light pass through the facet, and then it makes its way through the
                                diamond’s bottom.</p>
                            <div class="subNumber font12 fmOpenB">3. &nbsp;</div><p class="font13 padL10">When a diamond is cut well, light is reflected to the top of the stone. It occurs due to the angle
                                in which light hits each pavilion facet.</p>


                        </div>
                        <!--                        <div class="tableDiv fLeft color">
                                                    <div class="images  fLeft">
                                                        <img src="tools/img/common/shallow_diamond_cut.jpg" alt="no-image" class="imgtag">
                                                    </div>
                                                    <div class="definition fLeft font13">
                                                        <p>If the diamond cut is too shallow, entering light strikes the pavilion facet at a low angle and passes through the facet (refracts), escaping through the bottom of the diamond.</p>
                                                    </div>
                                                    <div class="images fLeft">
                                                        <img src="tools/img/common/deep_diamond_cut.jpg" alt="no-image" class="imgtag">
                                                    </div>
                                                    <div class="definition fLeft font13">
                                                        <p>If the diamond cut is too deep, entering light strikes the first pavilion facet at an angle sharp enough to reflect to the second pavilion. But the light strikes the second pavilion at too low an angle, causing the light to refract (pass through the facet), escaping through the bottom of the diamond.</p>
                                                    </div>
                                                    <div class="images  fLeft">
                                                        <img src="tools/img/common/correct_diamond_cut.jpg" alt="no-image" class="imgtag">
                                                    </div>
                                                    <div class="definition fLeft font13">
                                                        <p> In a well cut diamond, the light strikes each pavilion facet at an angle which allows most of the light to reflect back to the crown (top). As it passes through the crown facets at a low angle, the light refracts upon exit. In this case, refraction is a good thing, as the bent light travels to the observer's eye and is perceived as a lively fire.</p>
                                                    </div>
                                                </div>-->
                        <div class="diamond_depth fLeft">
                            <div class="subHead4 fLeft w_100">Diamond Depth%</div>
                            <div class="fontPropery lineHeight24 fLeft width50">

                                <p class="font13 lineHeight24 margnTop0">The measure of distance between the culet and the table is referred to as the Depth
                                    in a diamond cut. It is shown in millimeters, and is evaluated by dividing the depth of the diamond by
                                    the width of it.</p>

                                <!--                                <p class="font13 lineHeight24">The depth % of a diamond is calculated by dividing the depth by the width of the diamond. So, if a diamond is 3 mm in depth, and 4.5 mm in width, its depth % is 66.7. The lower the depth %, the larger a diamond of a given carat weight will appear (since most of the diamond's size is in its width vs. in its depth).</p>-->

                                <div class="subHead4 fLeft w_100">Diamond Table %</div>
                                <p class="font13 lineHeight24">When the width of the table facet is divided by the width of the diamond we get the table %.</p>
                            </div>
                            <div class="outerImage fLeft">
                                <div class="imageRight fRight">
                                    <img src="tools/img/common/depth_table.gif" class="imgtag">
                                </div>
                            </div>
                            <!--                            <div class="note fLeft">
                                                            <div class="noteContent font13 fmOpenR">
                                                                <div class="subHead4 fLeft w_100">a note of caution:</div>
                                                                <p class="font13 lineHeight24 margnTop0" >A diamond should not be chosen or rejected based solely on depth % or table %. Because the overall Cut grade already incorporates both factors, it should be used as the primary determinant when choosing a diamond. When comparing two diamonds of equal Cut grade, depth % and table % can then be used as further refinements, especially (in the case of depth %) if one is concerned about how large the diamond will appear.</p>
                                                            </div>
                                                        </div>-->
                        </div>
                        <!--                        <div class="subHead4 fLeft w_100">Diamond Proportion Diagram</div>
                                                <div class="fontPropery lineHeight24 fLeft width50">
                                                    <p class="font13 lineHeight24 margnTop0">Every IFtoSI Diamond comes with a GIA Grading Report or Dossier certificate, most of which include a proportion diagram. The proportion diagram is a graphic representation of the diamond's actual proportions.</p>
                        
                                                    The proportion diagram shows the diamond's girdle size, culet size, table and depth percentages, as well as other measurements, such as the crown and pavillion angles.
                        
                                                    Each angle and dimension is measured electronically using a light scanner. The proportion diagram is a "fingerprint" of your diamond.</p>
                                                </div>-->
                        <!--                        <div class="outerImage fLeft">
                                                    <div class="imageRight fLeft">
                                                        <img src="tools/img/common/diamond-proportion-diagram.jpg" class="imgtag">
                                                        <div class=" w_100 fLeft">GIA Diamond Proportion Diagram</div>
                                                    </div>
                                                </div>-->

                        <div class="subHead4 fLeft w_100">grading diamond cut</div>
                        <div class="fontPropery  fLeft width50">
                            <p class="font13 lineHeight24 margnTop0">A diamond’s Cut grade is the most pivotal aspect in assessing a diamond. The grade is determined by
                                examining the collective effects of a diamond’s shapes and angles along with the impacts of girdle
                                width, culet size, polish and symmetry on the exterior of a diamond. </p>
                        </div>      


                        <div class="outerImage fLeft">
                            <div class="imageRight fLeft h150">
                                <img src="tools/img/common/gia-cut-grades.jpg" class="">
                                <div class="w_100 fLeft font13 fmOpenR">Excellent, Very Good, and Good GIA Cut Grades</div>
                            </div>
                        </div>
                        <!--                        <div class="fontPropery  fLeft w_100">
                                                    <p class="font13 lineHeight24">Because Cut grade provides a single rating which weighs the combined impact of all of the factors listed above on a diamond's visual performance, it is a simple yet vital tool in evaluating a diamond.</p>
                        
                                                    <p  class="font13 lineHeight24">Cut grade should be a primary consideration when evaluating a diamond. Only when comparing two diamonds of identical Cut grade should the individual components of Cut (such as girdle width, symmetry, polish, depth%, table %, and culet size) be used as further refinements or tie breakers.</p>
                                                </div>
                                                <div class="caution fLeft fmOpenR color">
                                                    <div class="font13 fmOpenR fLeft ">
                                                        <div class="subHead4 fLeft w_100">A note of caution:</div>
                                                        <p class="font13 lineHeight24 margnTop0">Unlike the other "Cs" (carat weight, color, and clarity), the various Cut grades in existence today were not originated by GIA, and are not uniformly applied. In fact, GIA has only been assigning cut grades since 2005, and only to round diamonds.</p>
                        
                                                        <p class="font13 lineHeight24"> Even though retailers use common terms to describe Cut (such as Excellent, Very Good, Fair, Poor) the terms are not uniformly defined or applied. In fact, a diamond seller may assign any cut grade they choose, based on any set of factors they wish. One retailer will use terms such as "Signature Ideal", "Ideal", and "Excellent"; while another uses "Ideal" to describe all three, and another uses "Excellent" for all. Be cautious when comparing cut grades from different sources, as they are most likely inconsistent.</p>
                        
                                                        <p class="font13 lineHeight24">To avoid confusion or misrepresentation of any diamond, IFtoSI uses the same cut grades as employed by GIA, and does not engage in "cut inflation" by creating other grades ("signature", "super ideal", etc.).</p>
                                                        Also, be aware of diamond sellers who assign their own cut grades in place of what GIA has already assigned to a particular diamond. Many popular websites and retail stores display their own, more generous Cut rating, in place of the GIA grade.
                                                    </div>
                                                </div>-->
                        <!--                        <div class="fLeft fmOpenR font13  color">
                                                    <p class="font13 lineHeight24">At IFtoSI, the GIA cut grade is always shown. For diamonds without a GIA cut grade (because the diamond was certified before GIA began assigning cut grades in 2005, or is a shape that GIA does not currently assign cut grades to), IFtoSI will apply its own cut grade according to a proprietary formula. Like GIA, the IFtoSI cut grade is based on a variety of factors and is conservatively applied. In fact, when comparing our cut grade to that assigned by GIA, the IFtoSI grade is equal to or lower than GIA 90% of the time.</p>
                                                </div>-->
                        <div class="fLeft fmOpenR font13 tableHdng color">
                            <p>Usually, five scale parameters –Excellent, Very Good, Good, Fair, and Poor – are applied to determine a diamond’s cut grade. These can
                                be elaborated as below:</p>
                        </div>
                        <div class="rating fLeft">
                            <div class="row fLeft">

                                <div class="rate fLeft fmOpenR color font13">
                                    Excellent
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    It exhibits optimal fire and brilliance. Presents the diamond in the most dazzling manner consequent to the penetration of all light into the diamond.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Very Good
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Showcases itself as closely comparable to the Excellent Cut, but comes at a less premium price. Diamonds in this grade appropriately reflect almost all of the light and produces superior look under usual light scenarios.  
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Good
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Cut grades falling under this parameter is often viewed as offering the
                                    best value for consumers’ money, due to its adequate pricing and above
                                    average exterior.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Fair
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    In the Fair Cut grade, light escapes a diamond either from the bottom or the sides, thereby reducing the surface brilliance.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Poor
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    A Poor Cut grade cannot hold any passing through it, thereby making it visibly unattractive to even common eyes.
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="fontPropery  fLeft w_100">
                                                    <p class="font13 lineHeight24" >Questions about cut or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria. Chat online, or email consultant@IFtoSI.com.</p>
                                                </div>
                                                <div class="tableContr padng15">
                                                    <div class="subHead4 fLeft w_100">Buying Tip:</div>
                        
                                                    <p class="font13 lineHeight24 margnTop0">Cut grade is the most important factor in determining the overall appearance of a diamond, because a poorly cut diamond will seem dull even with excellent clarity and color. Conversely, a well cut diamond can have a slightly lower color (G-H) or clarity (SI1-SI2) and still look quite beautiful, due to its superior ability to create sparkle and brilliance.</p>
                        
                                                    <p class="font13 lineHeight24">For superior brilliance, choose a diamond with a Cut grade of Very Good or Excellent for round diamonds, and Good or better in fancy shape diamonds. When choosing a diamond in this range, make sure its Symmetry and Polish are Very Good or Excellent, so that the impact of the above average Cut is not obscured.</p>
                        
                                                    <p class="font13 lineHeight24">For those on a budget, primarily concerned with size, a diamond of Fair - Good cut may be an acceptable choice, especially in fancy shapes. While the diamond will lack the scintillation and brilliance of a well cut diamond, it will allow a significant increase in size for the same price.</p>
                        
                                                    <p class="font13 lineHeight24">Avoid Poor cut diamonds, even if size is the primary concern. Most find these diamonds to be an unacceptable trade off, despite the lower price. IFtoSI does not offer Poor cut diamonds.</p>
                                                    <p class="font13 lineHeight24">Visit the IFtoSI Diamond Buying Guide for additional tips and advice. </p>
                                                </div>-->
                        <div class="fLeft w_100">
                            <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>


