<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                <div class="centerDiv bLeft bRight">
                    <div class="paraHead fmOpenL color0044">Diamond Gridle</div>
                    <div class="fontPropery lineHeight24 fLeft width50">

                            <p class="font13 lineHeight24" >The girdle is the outer edge of the diamond, where the crown (top) meets the pavilion (bottom).</p>

                            <p class="font13 lineHeight24" >A girdle may be faceted (a series of tiny polished sides going around the diamond), bruted (a single continuous unpolished surface going round the diamond; no longer common), or polished (a bruted girdle that has been polished smooth). Whether a girdle is faceted, bruted, or polished usually has no impact on the appearance or value of the diamond.</p>
                   </div>
                    <div class="outerImage fLeft">
                    <div class="imageRight fRight h115">
                         <img src="tools/img/common/diamond_girdle_width.gif" alt="no-image" class="imgtag ">
                    </div>
                    </div>
                        
                    <div class="fontPropery lineHeight24 fLeft w_100">
                        <p class="font13 lineHeight24"> The girdle is described according to its width. Often, the width of the girdle varies at different points around the diamond, and is quoted in a range designating the thinnest and thickest point along the girdle (e.g. "Thin - Medium" means the diamond's girdle varies in width from thin at the narrowest point to medium at the widest point). Each IFtoSI Diamond displays the girdle width as determined by the GIA, using the following scale:</p>
                   </div>
                   <div class="table_div fLeft">
                       <div class="table_data fLeft">
                           <div class="thin fLeft font14 fmOpenR">Extremely Thin</div>
                           <div class="w50 fLeft table_img1"></div>
                       </div>
                       <div class="table_data fLeft">
                           <div class="thin fLeft font14 fmOpenR">very Thin</div>
                           <div class="w50 fLeft table_img2"></div>
                       </div>
                       <div class="table_data fLeft">
                           <div class="thin fLeft font14 fmOpenR"> Thin</div>
                           <div class="w50 fLeft table_img3"></div>
                       </div>
                       <div class="table_data fLeft">
                               <div class="thin fLeft font14 fmOpenR">Slightly Thin</div>
                           <div class="w50 fLeft table_img3"></div>
                           
                       </div>
                       <div class="table_data fLeft">
                               <div class="thin fLeft font14 fmOpenR">Medium</div>
                           <div class="w50 fLeft table_img4"></div>
                       </div>
                       <div class="table_data fLeft">
                               <div class="thin fLeft font14 fmOpenR">Slightly Thick</div>
                           <div class="w50 fLeft table_img5"></div>
                       </div>
                       <div class="table_data fLeft">
                              <div class="thin fLeft font14 fmOpenR">Thick</div>
                           <div class="w50 fLeft table_img6"></div>
                       </div>
                       <div class="table_data fLeft">
                              <div class="thin fLeft font14 fmOpenR">Very Thick</div>
                           <div class="w50 fLeft table_img7"></div>
                       </div>
                       <div class="table_data fLeft">
                              <div class="thin fLeft font14 fmOpenR">Extremely Thick</div>
                           <div class="w50 fLeft table_img8"></div>
                       </div>
                    </div>
                      <div class="fontPropery lineHeight24 fLeft w_100">
                          <p class="font13 lineHeight24">The girdle can impact a diamond in three important ways:</p>  
                          <p class="font13 lineHeight24">The thickness of the girdle affects the relative position of the surrounding facets, and so can impact cut. Because girdle width is already factored into the diamond's overall cut grade, a diamond graded as well cut will produce superior brilliance, fire, and scintillation, even if the girdle itself is not in the ideal Thin-Slightly Thick range of width.</p>
                     </div>
                     <div class="leftContent fLeft font13 fmOpenR">
                            <p class="font13 lineHeight24">A thicker girdle will add weight to a diamond, thereby increasing its price. Since a thick girdle adds depth to a diamond but not width, a thick girdled diamond will not appear any larger when viewed from the top (e.g. when set in a piece of jewelry), despite the additional carat weight. The effect on carat weight and price is minimal, but real.</p>
                   </div>
                    <div class="outerImage fLeft"> 
                    <div class="imageRight fRight font13 fmOpenR h150">
                            <img src="tools/img/common/thick-thin-girdle-compared.jpg" alt="no-image" class="imgtag width250">
                             <div class="font13 fLeft fmOpenR gtext"> A thick girdle (right) adds weight to a diamond.The diamond on the right is heavier, yet will appear no larger when set in a ring.</div>
                   </div>
                    </div>
                    
                   

                
                    <div class="diamond_info font13 fLeft">
                        <p class="font13 lineHeight24">An Extremely Thin girdle is more susceptible to chipping, and for that reason should be avoided for diamonds that are to be set in a ring. Earrings or pendants are less exposed to rough contact and so are less susceptible to chipping around the girdle. Avoid both Extremely Thin and Very Thin girdles in princess cut diamonds, as this shape already has sharp corners more prone to chipping. If you do purchase a princess cut diamond with a Very Thin girdle, consider setting it in a style that covers and protects the corners.</p>
                    </div>
                    <div class="fLeft w_100">
                    <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond Now</div></a></center>
                    </div>
                </div>
                   <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
