<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft">
                        <div class="paraHead fmOpenL color0044">Diamond Gridle</div>
                        <div class="fontPropery lineHeight24 fLeft width50">

                            <p class="font13 lineHeight24" >The girdle of a diamond refers to the edge at the outermost of it. Girdle divides the crown of a diamond
                                from its pavilion and in a polished it is the widest portion visible when viewed in its setting. Diamond
                                girdle can be polished, faceted or rough. However, these aspects hardly influence the value or the look
                                of the diamond.</p>

<!--                            <p class="font13 lineHeight24" >A girdle may be faceted (a series of tiny polished sides going around the diamond), bruted (a single continuous unpolished surface going round the diamond; no longer common), or polished (a bruted girdle that has been polished smooth). Whether a girdle is faceted, bruted, or polished usually has no impact on the appearance or value of the diamond.</p>-->
                        </div>
                        <div class="outerImage fLeft">
                            <div class="imageRight fRight h115">
                                <img src="tools/img/common/diamond_girdle_width.gif" alt="no-image" class="imgtag ">
                            </div>
                        </div>

                        <div class="fontPropery lineHeight24 fLeft w_100">
                            <p class="font13 lineHeight24"> What determine the value of a diamond are its girdle thickness ratings. The girdle width can be described as discussed in the below parameters:</p>
                        </div>
                        <div class="table_div fLeft">
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Extremely Thin</div>
                                <div class="w50 fLeft table_img1"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">very Thin</div>
                                <div class="w50 fLeft table_img2"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR"> Thin</div>
                                <div class="w50 fLeft table_img3"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Slightly Thin</div>
                                <div class="w50 fLeft table_img3"></div>

                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Medium</div>
                                <div class="w50 fLeft table_img4"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Slightly Thick</div>
                                <div class="w50 fLeft table_img5"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Thick</div>
                                <div class="w50 fLeft table_img6"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Very Thick</div>
                                <div class="w50 fLeft table_img7"></div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="thin fLeft font14 fmOpenR">Extremely Thick</div>
                                <div class="w50 fLeft table_img8"></div>
                            </div>
                        </div>
                        <div class="rating fLeft marTop15">
                            <div class="row fLeft">

                                <div class="rate fLeft fmOpenR color font13">
                                    Extremely Thin
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Extreme thin girdle diamonds should be avoided as they would fragile and consequently
                                    prone to breaking. Further, extreme thickness allows room for mistake as they call for extra carefulness during the setting process of the stone. (Commonly used acronyms are ETN, ETH, XTN, EXN).
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Very Thin
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    These also call for caution during stone setting and their durability will remain in doubt due
                                    to sharp edges. Similar to Extremely Thin girdle, Very Thin diamond girdles are best avoided. (Commonly
                                    used acronyms are VTN, VT, VETN).
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Thin-Medium
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Girdles falling under this range of width are considered to be of ideal proportion.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Slightly Thick, Thick
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Girdles of this range of width belong to the excellent to ideal proportion.
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Very Thick
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Diamonds with this range of girdle with are considered to be of good proportion.(Commonly used acronyms are VTK, VTH).
                                </div>
                            </div>
                            <div class="row fLeft">
                                <div class="rate fLeft fmOpenR color font13">
                                    Extremely Thick
                                </div>
                                <div class="rating_def fLeft fmOpenR color font13">
                                    Too thick girdles make a diamond appear smaller and are middle-heavy, making a
                                    diamond weigh more. (Commonly used acronyms are ET, EXTK, XT, XTK).
                                </div>
                            </div>
                            
                        </div>
                        <div class="fontPropery lineHeight24 fLeft w_100">
                            <p class="font13 lineHeight24">We at IFtoSI recommend buying a diamond with a girdle width ranging between Thin and Thick.</p>  
<!--                            <p class="font13 lineHeight24">The thickness of the girdle affects the relative position of the surrounding facets, and so can impact cut. Because girdle width is already factored into the diamond's overall cut grade, a diamond graded as well cut will produce superior brilliance, fire, and scintillation, even if the girdle itself is not in the ideal Thin-Slightly Thick range of width.</p>-->
                        </div>
<!--                        <div class="leftContent fLeft font13 fmOpenR">
                            <p class="font13 lineHeight24">A thicker girdle will add weight to a diamond, thereby increasing its price. Since a thick girdle adds depth to a diamond but not width, a thick girdled diamond will not appear any larger when viewed from the top (e.g. when set in a piece of jewelry), despite the additional carat weight. The effect on carat weight and price is minimal, but real.</p>
                        </div>
                        <div class="outerImage fLeft"> 
                            <div class="imageRight fRight font13 fmOpenR h150">
                                <img src="tools/img/common/thick-thin-girdle-compared.jpg" alt="no-image" class="">
                                <div class="font13 fLeft fmOpenR gtext"> A thick girdle (right) adds weight to a diamond.The diamond on the right is heavier, yet will appear no larger when set in a ring.</div>
                            </div>
                        </div>-->




<!--                        <div class="diamond_info font13 fLeft">
                            <p class="font13 lineHeight24">An Extremely Thin girdle is more susceptible to chipping, and for that reason should be avoided for diamonds that are to be set in a ring. Earrings or pendants are less exposed to rough contact and so are less susceptible to chipping around the girdle. Avoid both Extremely Thin and Very Thin girdles in princess cut diamonds, as this shape already has sharp corners more prone to chipping. If you do purchase a princess cut diamond with a Very Thin girdle, consider setting it in a style that covers and protects the corners.</p>
                        </div>-->
                        <div class="fLeft w_100">
                            <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond Now</div></a></center>
                        </div>
                    </div>
                 
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
