<!DOCTYPE html>

<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Symmetry</div>
                        <div class="leftContent fLeft font13 fmOpenR">
                            <p>Symmetry refers to how precisely the various facets of a diamond align and intersect. This can include extra or misshapen facets, off center culets and tables, and wavy girdles.</p>
                            <p>A diamond with poor symmetry may misdirect light that travels into the diamond, sending it off at slightly wrong 
                            <p>angles, and thereby reducing the diamond's brilliance. Often, a diamond cutter will purposefully allow a minor reduction in symmetry as a way of preventing a defect present in the rough stone from being retained as part of the finished diamond.</p>
                            <p>Each IFtoSI Diamond displays the symmetry grade as determined by the GIA, using the following scale:</p>
                        </div>
                        <div class="outerImage fLeft">
                            <div class="imageRight  fRight  font13 fmOpenR">
                                <img src="tools/img/common//diamond_symmetry.gif" alt="no-image" class="imgtag">
                            </div>
                        </div>
                        <div class="table_div fLeft">
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Excellent</div>
                                <div class="width70 fLeft fmOpenR font13">No symmetry defects visible at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30  fLeft font14 fmOpenB">Very Good</div>
                                <div class="width70 fLeft fmOpenR font13">Any defects are extremely difficult to see at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Good</div>
                                <div class="width70 fLeft fmOpenR font13">Any defects are difficult to see at 10x magnification.</div>
                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Fair</div>
                                <div class="width70 fLeft fmOpenR font13">Defects are noticeable at 10x magnification, and may be visible to the naked eye.</div>

                            </div>
                            <div class="table_data fLeft">
                                <div class="width30 fLeft font14 fmOpenB">Poor</div>
                                <div class="width70 fLeft fmOpenR font13">Defects are visible to the naked eye. Not offered by IFtoSI.</div>
                            </div>
                        </div>
                        <div class="diamond_info font13 fLeft">
                            <p> For diamonds with a symmetry grade of Excellent to Good, symmetry should not be used as a primary factor in choosing a diamond, since each of these grades is possible in diamonds of exceptional appearance.</p>
                            <p>Symmetry is more important in diamonds of VVS2 Clarity and higher, since the very subtle defects produced by Fair or Poor symmetry (which can resemble pinpoint inclusions) would compromise the diamond's otherwise flawless appearance.</p>
                            <p>Despite its modest impact on appearance, symmetry has a significant impact on price; a diamond with Excellent Symmetry and Polish may be priced 10%-15% higher than a diamond with Good Symmetry and Polish. This premium has more to do with consumer's perceived value of "excellent" grades, than the actual effect on a diamond's appearance.</p>
                            <p>Because diamonds with Poor symmetry have defects visible to the naked eye, these diamonds should be avoided in all cases. For this reason, IFtoSI does not carry diamonds with a symmetry grade of Poor.</p>
                            <p>A diamond should not be chosen or rejected based solely on symmetry. Because the overall Cut grade already incorporates symmetry, it should be used as the primary determinant when choosing a diamond. When comparing two diamonds of equal Cut grade, symmetry (and polish) can then be used as a further refinement or tie breaker.

                            </p>
                        </div>
                        <div class="fLeft w_100">
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search For a Diamond Now</div></a></center>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>

