<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Diamond Culet</div>
                        <div class="leftContent fLeft font13 fmOpenR">

                            <p>The cone-shaped bottom-most part of the diamond is the culet of it. A culet can be flat-surfaced or
                                pointed based on the choice of the diamond cutter and sometimes based on the culture of the target
                                market for the gemstone. Pointed culet is usually preferred, but it is susceptible to damage due to the
                                sharpness at the end. While experts continue to debate whether a culet should there in a diamond, it is
                                left to individual customers to make their choice.</p>
                        </div>
                        <div class="outerImage fLeft">
                            <div class="imageRight fRight h235">
                                <img src="tools/img/common/diamond_culet_size.gif" alt="no-image" class="imgtag">
                            </div>
                        </div>
                        <div class="diamond_info font13 fLeft">
                            <p>Notably, culet is created to enhance the aesthetics; it is not necessarily present on all diamonds. And at
                                the same time, it makes no difference to its quality. While a small culet adds to the diamond’s beauty
                                and contributes to its protection, a larger culet impacts on how the stone looks.</p>
                            <p>Usually, the culet size is determined by following the grades:</p>
                            <p class="fmOpenB">None, Very Small, Small, Medium, Slightly Large, Large, Very Large and Extremely Large.</p>

                        </div>
                        <div class="wrapper">
                            <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond now</div></a></center>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>