<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="containerA shapesPage">
                            <div class="paraHead fmOpenL color0044">Shapes</div>
                            <div class="shapesComm fLeft">
                                <div class="Round shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    The round cut diamond is the most popular diamond shape, representing approximately 75% of all diamonds sold. The most commonly chosen variation, round-cut diamonds have been more researched by certified gemologists than other shape. Renowned for its unrivaled fire and brilliance, this cut boasts excellent light refraction properties, causing it to appear brighter than other shapes. When clarity and color are equal, a round diamond will be more valuable than alternative shapes.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_round';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Pear shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Exuding elegance, pear-shaped diamonds (also referred to as a 'drop cut' or 'teardrop' diamonds) are cut to resemble a drop of water with a single point and rounded end, resulting in a cross between a round and marquise cut. There is some variation among pear-cut diamonds, with some appearing wider and others exhibiting a longer, narrower shape. Pear diamonds are noted for their slenderizing effect, creating the illusion of longer, more tapered fingers. They are also renowned for their high levels of brilliance, boasting 58 radiant facets.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_pear';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Heart shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Living up to its name, the heart-cut diamond has become synonymous with love and affection, making it an excellent choice for an anniversary or engagement ring. The Heart-Shaped Diamond is considered the most romantic of all diamond cuts, because they are cut with triangular and kite-shaped facets, causing light to when reflected back. A heart-shaped diamond generally contains 59 facets, and is cut much the same way that a Pear-Shaped diamond is. Often, a diamond cutter will cut a Heart-Shaped Diamond because the cleft at the top of the heart is a way of cutting out inclusions without losing carat weight.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_heart';?>">..read more</a></span>

                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Princess shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    The princess cut diamond, first created in 1980, is the most popular fancy diamond shape, especially for engagement rings. A square stone with 90-degree corners, this shape is one of the most efficiently produced types of diamonds, with nearly 60% of the original rough preserved during the cutting process. The most desirable princess diamonds are perfectly square in shape, with the more rectangular variations decreasing in value.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_princess';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Emerald shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Emerald-cut diamonds are usually shorter in length than a rectangle, falling somewhere in the range between a square and a rectangle shape. Distinguished by beveled corners and step facets, this type of diamond is more transparent than other shapes, resulting in the need for higher standards of clarity. If an emerald-cut diamond is marked by an inclusion, it will be much more likely to be detected with the naked eye. For this reason, we recommend selecting a clarity level of SI1 or higher when choosing an emerald diamond. Every diamond shape has a length-to-width ratio, which determines how a diamond will appear when viewed from above. When selecting an emerald shaped diamond, look for a length-to-width ratio between 1.25 and 1.5.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'Emerald';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Asscher shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    A 57 facet diamond, the Asscher cut diamond was developed at a time when the round brilliant diamond was the common diamond shape. The Asscher cut was developed in 1902, coming in the beginning of the Art-Deco movement that embraced and championed the straight lined geometric form. Its square, step cut shape was the forerunner of the later emerald cut shape of diamond.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_asscher';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Marquise shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    The marquise cut diamond is a football-shaped, modified brilliant cut. Because the marquise diamond is long and narrow, it can also create the illusion of greater size. Carat for carat, the marquise diamond has one of the largest surface areas of any diamond shape, making it a good choice when trying to maximize perceived size. Due to their extended length, marquise diamonds have more size per carat weight than other shapes and boast a brilliant 58 facets. This cut’s flattering effect creates the illusion of long, slender fingers.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_marq';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Oval shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Timeless and classic, an oval-cut diamond is flattering to most any wearer, creating the illusion of a longer, more slender finger. Cut with the same number of facets as a round diamond, an oval shape emits nearly the same level of brilliance and fire, and its elongated shape makes it appear larger in carat weight than a round.
                                    <span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_oval';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Radiant shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Relatively new to the jewellery industry, radiant diamonds were introduced a little more than 20 years ago. This unique shape is a stunning hybrid of a traditional round-cut and an elegant emerald-cut, resulting in a square, near-square, or rectangular orientation.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_radiant';?>">..read more</a></span>
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Cushion shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    First introduced into the jewellery market in 1830, the long-standing cushion diamond is rooted in mining history. Cut into a square or rectangular shape with rounded corners and sides, it's considered by many to be a softer version of the emerald cut. Possessing a character-rich antique look, the cushion-cut diamond is a favorite of those who prefer vintage-style rings and jewellery.<span class="color0044 fmOpenB cPointer"><a href="<?php echo DOMAIN.'index.php?case=education_cushion';?>">..read more</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

