<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft">
                        <div class="containerA shapesPage">
                            <div class="paraHead fmOpenL color0044">Shapes</div>
                            <p class=" fLeft font13 lineHeight24">
                                Each diamond has its own characteristics which determine the shape of the stone. Consumers’
                                knowledge about diamond shapes goes a long way in helping to choose the best diamond to suit one’s
                                choice. The round cut shape has long been preferred. However, with the advancement of technology
                                enabling evolved options consumers have started opt of varied shapes which include pear shaped,
                                cushion and radiant cut diamonds, among several others.
                            </p>

                            <p class=" fLeft font13 lineHeight24"> While a thorough knowledge of each of the available shapes is not mandatory for individual buyers,
                                basic information about each shape helps in choosing the perfect diamond to your personality. We have
                                presented below an introduction to all the popular shapes.
                            </p>
                            <div class="shapesComm fLeft">
                                <div class="Round shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    As already stated, the round cut diamond is the most preferred and sought after diamond shape. The
                                    shape also represents more than one third of all diamonds sold in the jewellery market. Alongside the
                                    precise calculations used in its cut, the flexibility it offers in balancing color, clarity and cut
                                    grades renders it superior to usually available fancy shapes. Round cut diamonds achieve optimal
                                    brilliance due to good polish and symmetry allowing adequate light reflection which in turn maximizes
                                    its brightness.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Pear shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Named after the shape of the fruit, the unique pear-shaped diamond comes in excellent symmetry. It is
                                    an enviable combination of the marquise and the round shape. Presenting a pointed tip on one end –
                                    which should be pointing towards the wearer – the elongated shape combined with the length of the
                                    diamond gives a slimming effect on the fingers. The length-to- width ratio of a pear-shaped diamond
                                    should ideally be between 1.45 and 1.75. While cut, color and clarity of the pear-shaped diamond should
                                    mostly depend on the wearer’s individual preference, it is important to go for the ones which are
                                    technically flawless and aesthetically appealing.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Heart shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Among all diamond shapes heart shaped diamonds offer the distinctive choice and the cut is one of the
                                    most complex to create requiring high level of dexterity. While traditional heart-shaped diamond should
                                    have length-to- width ratios between 0.90 and 1.10, consumers are recommended to select a diamond
                                    larger than 0.5 carats, as finer details won’t be emphatically visible in smaller stones. Consumers
                                    preferring smaller diamond should opt for a bezel or 3-prong setting as this will better display the
                                    unique shape of the cut.

                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Princess shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    One of the most popular among all square shapes, princess cut has existed since 1979. Prior to achieving
                                    its present shape and name, the cut design had gone through several years of optical research involving
                                    names such as Quadrillion Cut and Barion Cut. It comes in pyramidal shape comprising either 57 or 76
                                    facets. Princess shape diamonds are ideal for long fingers and are equally suitable for solitaire
                                    engagement rings and earrings.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Emerald shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Rectangular in shape, the emerald-shaped diamonds got their name from the shape which was used for
                                    the cutting of emeralds. Emeralds come with truncated corners and rows of step-facets while the top is
                                    flat. The unique cuts in the diamond are achieved from the pavilion; however, they are not comparable
                                    to brilliant-cut and have less fire. When selecting an emerald cut diamonds buyers should look for clarity
                                    grade of SI 1 or higher. In cases where consumers prefer emeralds below this grade, we recommend
                                    reviewing the clarity grade on the diamond certificate. Also, buyers of emerald-shaped should ideally
                                    look for a length-to- with ratio between 1.25 and 1.5. Ideal for budget-conscious consumers, Emerald cut
                                    diamonds look great in rings especially on longer fingers.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Asscher shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Consumers who prefer square emerald cut over rectangular shape in diamond should consider asscher
                                    shaped diamonds. Introduced by Joseph Asscher in 1902, asscher shaped diamonds became highly
                                    popular in 1920s and then started regaining popularity exactly after a century of their introduction.
                                    Being square in shape the ideal length-to- width ratio would naturally have to be 1.00, but consumers
                                    can also buy between length-to- width ratio of 1.00 and 1.05. Although modern cutting techniques have
                                    continued to optimize the excellence of the asscher cut diamond, timeless look continues to dominate
                                    buyers taste.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Marquise shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Marquise shaped diamonds maximize carat weight and presents a narrow and larger look. It bears some
                                    similarity with the Oval shaped diamonds in the sense that it accentuates slender fingers. Rumored to be
                                    developed for King Louis XIV to match the smile of Marquise de Pompadour, marquise shaped diamonds
                                    have striking appeal.  While a traditional marquise diamond length-to- width ratios stand between 1.75
                                    and 2.25, individual preference determines the narrowness a marquise diamond.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Oval shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Oval shaped diamonds are comparable to round shaped diamonds as far overall brilliance is concerned.
                                    The modern oval cut as it exists today came into being in 1960 while diamonds bearing oval shaped
                                    name had existed for more than 200 years earlier.  Characterized by symmetrical, elongated rounded
                                    shape, oval shaped diamonds optimizes carat weight, elongates shorter fingers and are ideal for
                                    accentuating slender fingers.
                                    
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Radiant shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Radiant diamonds were introduced to the industry in the 1970s as an alternative to the emerald cut.
                                    True to their name, radiant diamonds exude vibrant, memorable glow. They come in square, near-
                                    square, or rectangular shape and therefore are great reflectors of light. Trimmed corner squares of the
                                    radiant are the signature of this diamond, and they connect the cushion and the princess cut. Radiant
                                    diamonds come with an intricate 70 facet cut. Consumers who prefer the fire of round diamonds and
                                    the superiority of asscher or emerald diamonds will find the radiant diamonds to be a great combination
                                    of both. If you are looking for a square radiant cut diamond, go for length-to- width ratios between 1 and
                                    1.05. Buyers who like a rectangular shape should opt for length-to- width ratios greater than 1.10.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Cushion shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Cushion-shaped diamond stones round shape corners with bigger facets which contribute to increasing
                                    their brilliance. Being large, the facets exhibit the diamond’s brilliance. Available in shapes ranging from
                                    square to rectangular, cushion-cut diamond shapes have evolved over the years. However, buyers seem
                                    to prefer the ones that bear a combination antique design and modern performance. While cut in
                                    cushion diamonds are matter of personal preference, the ones that are usually in high demand come in
                                    rectangle of 1.10-1.20 length to width. For color, the ones ranging between the grades of D-F are
                                    preferred.
                                </div>
                            </div>
                        </div>
                    </div>
              
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

