<!DOCTYPE html>

<!--<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>-->
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_shape">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">

<?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Round Diamonds</div>
                        

                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Round"></div>
                            <div class="lineHeight24 topContent">The round cut diamond is the most popular diamond shape, representing approximately 75% of all diamonds sold. Due to the mechanics of its shape, the round diamond is generally superior to fancy shapes at the proper reflection of light, maximizing potential brightness. more on round diamonds…</div>
                        </div>
                        <p class="font13 lineHeight24">Virtually all round diamonds are brilliant-cut, meaning they have 58 facets (57 when there is no culet).</p>
                        <p class="font13 lineHeight24">Round diamonds cost more on a per carat basis than fancy shapes for two reasons; the demand for round diamonds is very high, and the yield is relatively low. Because more of the rough stone is lost in the cutting of a round diamond, the cost of each carat retained is higher. A typical round diamond (for example; a 1.00 carat, F-color, VS2-clarity, Ex cut) may cost 25-35% more than a similar fancy shape.</p>
                        <p class="font13 lineHeight24">The round diamond began to rise in popularity in 1919 with the publication of Marcel Tolkowsky's thesis "Diamond Design: A Study of the Reflection and Refraction of Light in Diamond". Tolkowsky's work described the ideal proportions of a round cut diamond for maximizing light return (or brilliance) and dispersion (or fire). The original Tolkowsky specifications (53% table, 59.3% depth, 34.50 crown angle, visible culet) have since been modified as the cut mechanics for round diamonds have perfected over time. These theoretical advancements, as well as advancements in technology (such as the use of lasers in diamond cutting), have been adopted by diamond manufacturers to produce the incredibly brilliant cuts we see today in well cut round diamonds.</p>
                        <p class="font13 lineHeight24">The table below serves as a general guideline for evaluating the cut of a round diamond. GIA takes these and other factors into consideration when assigning a cut grade.</p>
                        <div class="subHead4">Round Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">53 - 58</div>
                            <div class="tableCont tablValue">52 - 53
                                or
                                58 - 60</div>
                            <div class="tableCont tablValue">51
                                or
                                61 - 64</div>
                            <div class="tableCont tablValue">50
                                or
                                65 - 69</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 69</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">59 - 62.3</div>
                            <div class="tableCont tablValue">58 - 58.9
                                or
                                62.4 - 63.5</div>
                            <div class="tableCont tablValue">57.5 - 57.9
                                or
                                63.6 - 64.1</div>
                            <div class="tableCont tablValue">56.5 - 57.4
                                or
                                64.2 - 65</div>
                            <div class="tableCont tablValue">< 56.5
                                or
                                > 65</div>

                            <div class="tableCont fntBold">Crown Angel</div>
                            <div class="tableCont tablValue">34 - 34.9</div>
                            <div class="tableCont tablValue">32.1 - 33.9
                                or
                                35 - 35.9</div>
                            <div class="tableCont tablValue">30.1 - 32
                                or
                                36 - 37.9</div>
                            <div class="tableCont tablValue">29 - 30
                                or
                                38 - 40.5</div>
                            <div class="tableCont tablValue">< 29
                                or
                                > 40.5</div>

                            <div class="tableCont fntBold">Pavilion Depth</div>
                            <div class="tableCont tablValue">42.8 - 43.2</div>
                            <div class="tableCont tablValue">42 - 42.7
                                or
                                43.3 - 43.9</div>
                            <div class="tableCont tablValue">41 - 41.9
                                or
                                44 - 45.5</div>
                            <div class="tableCont tablValue">39 - 40.9
                                or
                                45.6 - 48</div>
                            <div class="tableCont tablValue">< 39
                                or
                                > 48</div>

                            <div class="tableCont fntBold">Girdle</div>
                            <div class="tableCont tablValue">Thin
                                to
                                Sl. Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Sl. Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>

                            <div class="tableHeadng fntBold">L/W Ratio</div>
                            <div class="tableHeadng tablValue width50">1.00 - 1.01</div>
                            <div class="tableHeadng tablValue">1.02</div>
                            <div class="tableHeadng tablValue">> 1.02</div>
                        </div>
                        <p class="font13 lineHeight24">Evaluating color in round cut diamonds is subjective. Keep in mind that many customers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with round diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive. The color chart below provides a general guide for evaluating color in round diamonds.</p>
                        <div class="subHead4">Round Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G - H</div>
                            <div class="tableHeadng tablValue">I - J</div>
                            <div class="tableHeadng tablValue">K - L</div>
                            <div class="tableHeadng tablValue">> L</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H</div>
                            <div class="tableHeadng tablValue">I - J</div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint - Med</div>
                            <div class="tableHeadng tablValue">Strong</div>
                            <div class="tableHeadng tablValue width33">Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in round diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance. The clarity chart below provides a general guide for evaluating clarity in round diamonds.</p>
                      
                        <div class="subHead4">Round Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1L</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@IFtoSI.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Round"><div class="searchBtn fmOpenR ripplelink">Search for round diamond</div></a></center>
                    </div>

 <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
