<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR homePage">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
               <div class="heading font40 fmOpenL">Know Your Diamonds</div>
            </div>
            <div class="wrapperA">
            <div class="wrapperMax">
              <div class="row">
                  <div class="containerA">
                        <div class="texHolder font16 fmOpenR fLeft">

                          <h3>FOUR C’S</h3>
                          <h3>First C - Color</h3>
                          All International gemological institutes have established a scale of 23 letter grades indicating a diamond's color. D,E, and F are the highest and rarest grades. G through J are nearly colorless. K,L and M are faint yellow. N through R are grades of very light yellow. And S through Z are considered light yellow. There are other fancy colors of diamond, such as blue, pink and yellow.

                          <h3>Second C – Clarity </h3>
                          Using a jewelers eye glass or loop at 10 times (10x) magnification, a trained eye can detect identifying characteristics which affect a diamonds clarity. The most common are internal flaws called inclusions. Some diamonds have external flaws, which are called blemishes. The size and location of these characteristics determine how the diamond is graded on scale as: Internally Flawless- IF, Very Very Small inclusions- VVS, Very Small inclusions-VS, Small Inclusions-SI.

                           <h3>Third C – Cut</h3>
                           There are many different shapes of polished diamonds, such as Round, Pear, Marquise etc. But, while these are often referred to as cuts, this is not what is meant by the third C. From a gemologist’s point of view, the cut of a diamond is what determines its brilliance. Unlike the other three C's, a diamonds cut has no single defined standard. Rather it is a set of measurements which determine the relationship between its dimensions, finish and light performance. Whatever the diamonds shape is, its width and depth determine how light travels inside. The more successful a diamond cutter is in balancing these considerations, the more valuable the stone will be. Even a colorless and flawless stone can be significantly diminished by a poor cut, because it will lack visible brilliance.
                           <h3>Fourth C – Carat</h3>
                            Among all of the characteristics of a diamond, the carat is the most known and probably the most easily observed. A carat abbreviated CT, measures the weight of a diamond. One carat is one fifth of a gram, meaning a 5 Carat diamond weighs one gram. Since larger diamonds are rarer than smaller ones, the price
                            per carat increases with its weight. In other words, two one carat diamonds will cost less than a two carat diamond of the same grade. Although carat weight mostly determines a diamonds apparent size, what really determines its appearance are the other three C's. So while a larger diamond might be more costly, it may not be as beautiful as a smaller one.
                        </div>
                    </div>
                  <!-- <div class="containerB">
                        <div class="texHolder font15 fmOpenR fLeft">
                            <h3>Ipsum</h3>
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                        </div>
                  </div>
                  <div class="containerB">
                        <div class="texHolder font15 fmOpenR fLeft">
                          <h3>Ipsum</h3>
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                        </div>
                  </div>
                  <div class="containerC">
                        <div class="texHolder font15 fmOpenR fLeft">
                          <h3>Dolor</h3>
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                        </div>
                  </div>
                  <div class="containerC">
                        <div class="texHolder font15 fmOpenR fLeft">
                          <h3>Dolor</h3>
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                        </div>
                  </div>
                  <div class="containerC">
                        <div class="texHolder font15 fmOpenR fLeft">
                          <h3>Dolor</h3>
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                              Immer mehr Deutsche fragen sich deshalb: Schaffen wir es, so viele Menschen zu versorgen?
                              Im Moment kommen sehr viele Flüchtlinge nach Deutschland.
                              Vielleicht werden es in diesem Jahr mehr als 1,5 Millionen Menschen sein.
                        </div>
                  </div> -->

              </div>
            </div>
          </div>



        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
