<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Asscher Cut Diamonds</div>
                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Asscher"></div>
                            <div class="topContent lineHeight24">The asscher cut diamond was first produced in 1902 by the Asscher Brothers of Holland, famous at the time for cutting the world's largest rough stone (the Cullinan, at 3,106 carats). Asscher cut diamonds originally peaked in popularity in the 1920's, and could recently be found only in antique jewelry shops. Around 2002, one hundred years after the first asscher cut diamond was </div>
                        </div>
                        <!--                        <div class="shapTypes marTop15">
                                                    <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every IFtoSI Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                                                    <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                                                </div>
                                                <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Chat online, or email consultant@IFtoSI.com.</p>-->
                        <p class="font13 lineHeight24">created, the shape began to make a comeback, spurred on by cut modifications that gave the shape more brilliance than traditional asscher cut diamonds</p>
                         <p class="font13 lineHeight24">The modern asscher cut diamond is similar to a square emerald cut, usually with larger step facets, a higher crown, and a smaller table. This combination often produces more brilliance than the emerald cut. A well cut asscher will appear to have concentric squares as you look down through the table, the result of proper positioning of the pavilion facets underneath. Like the emerald cut, the asscher cut has cropped corners; however, because an asscher is square, the cropped corners give the asscher cut a somewhat octagonal shape. Once mounted in a four prong setting, the diamond maintains its unique shape within a square silhouette.</p>
                          <div class="shapTypes marTop15">
                            <div class="fontPropery lineHeight24 fLeft width70">The classic asscher cut diamond is a square (with a length to width ratio of 1.00); however they are often found in slightly rectangular shapes as well. Any ratio of 1.05 or less will appear square to the naked eye. Every IFtoSI Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the asscher cut diamond you are considering.</div>
                            <div class="asscherImg fRight">Asscher Cut Diamond LW Ratios</div>
                        </div>
                        <div class="subHead4">Asscher Cut Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">61 - 69</div>
                            <div class="tableCont tablValue">57 - 60
                                or
                                70 - 72</div>
                            <div class="tableCont tablValue">54 - 56
                                or
                                73 - 74</div>
                            <div class="tableCont tablValue">51 - 53
                                or
                                75 - 79</div>
                            <div class="tableCont tablValue">< 51
                                or
                                > 79</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">61 - 67</div>
                            <div class="tableCont tablValue">59 - 60.9
                                or
                                67.1 - 70</div>
                            <div class="tableCont tablValue">57 - 58.9
                                or
                                70.1 - 74</div>
                            <div class="tableCont tablValue">54 - 56.9
                                or
                                74.1 - 79</div>
                            <div class="tableCont tablValue">< 54
                                or
                                > 79</div>



                            <div class="tableCont fntBold">Girdle</div>
<!--                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>-->
                            <div class="tableCont tablValue width33">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>
                            <div class="tableHeadng fntBold">L/W Ratio</div>
                             <div class="tableHeadng tablValue width33">1.00 - 1.03</div>
                            <div class="tableHeadng tablValue">1.04 - 1.05</div>
                            <div class="tableHeadng tablValue">1.06 - 1.08</div>
                            <div class="tableHeadng tablValue">> 1.08</div>    
                        </div>
                             
                        <p class="font13 lineHeight24">Evaluating color in asscher cut diamonds is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with asscher cut diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive.</p>  
                         <p class="font13 lineHeight24">Often, body color is easier to see in an asscher cut diamond (especially over 1.50 carats) because of the large, open facets. The color chart below provides a general guide for evaluating color in asscher cut diamonds.</p>                 
                        
                        <div class="subHead4">Asscher Cut Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue width33">Strong-Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in asscher cut diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance</p>
                        <p class="font13 lineHeight24">Often, inclusions are easier to see in an asscher cut diamond. While an SI1-clarity might be a great balance of price and appearance in other diamond shapes, in asscher cut a VS2 might be a comparable choice. The clarity chart below provides a general guide for evaluating clarity in asscher cut diamonds.</p>
                        <div class="subHead4">Asscher Cut Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@IFtoSI.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
