<!DOCTYPE html>
<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Marquise Cut Diamonds</div>
                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Marquise"></div>
                            <div class="topContent lineHeight24">The football-shaped marquise diamonds are a modified brilliant-cut. The name is derived from the Marquise of Pompadour, for whom King Louis XIV of France allegedly had a stone fashioned to resemble what he considered her perfectly shaped mouth. Because marquise diamonds are long and narrow, they can also create the illusion of greater size. Carat for carat, the marquise diamond has one of the largest crown surface areas of any diamond shape, making it a good choice when trying to maximize the perceived size of a diamond. Like the oval diamond, the marquise cut diamond's elongated shape can make the finger of the wearer appear longer and slimmer </div>
                        </div>
                        <!--                        <div class="shapTypes marTop15">
                                                    <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every iftosi Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                                                    <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                                                </div>
                                                <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Chat online, or email consultant@iftosidiamonds.com.</p>-->
                        <p class="font13 lineHeight24">Marquise diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing a marquise cut diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com.</span></p>
                          <div class="shapTypes marTop15">
                            <div class="fontPropery lineHeight24 fLeft width70">Personal preference should dictate how narrow or fat of a marquise diamond you choose, although a length to width ratio of 1.75 -2.15 is considered the classic marquise cut. Every IFtoSI Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the marquise cut diamond you are considering.</div>
                            <div class="marqImg fRight">Marquise Diamond LW Ratios</div>
                            <div class="fontPropery lineHeight24 fLeft width70">Symmetry is very important in marquise cuts. The two end points should align with each other, and the right and left sides should form a near mirror image. Even a slight misalignment in the points can result in an off kilter look in the final setting. For this reason, excellent or very good symmetry is strongly recommended.</div>
                        </div>
                        <p class="font13 lineHeight24">A marquise diamond should always be set with prongs to protect the two points (the most likely location for chipping). Because these points were once nearest the outer edge of the rough stone, flaws such as naturals, extra facets, and other inclusions may be located here. Since the points are covered by prongs, these flaws will be invisible once the diamond is set. The only remaining concern would be if the flaws are significant enough to affect the stability of the diamond (this is extremely rare, however).</p>
                        <p class="font13 lineHeight24">The chart below serves as a general guideline for evaluating the cut of a marquise diamond.</p>
                        <div class="subHead4">Marquise Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">53 - 63</div>
                            <div class="tableCont tablValue">52
                                or
                                64 - 65</div>
                            <div class="tableCont tablValue">51
                                or
                                66 - 68</div>
                            <div class="tableCont tablValue">50
                                or
                                69 - 70</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 70</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">58 - 62</div>
                            <div class="tableCont tablValue">56 - 57.9
                                or
                               62.1 - 66</div>
                            <div class="tableCont tablValue">53 - 55.9
                                or
                                66.1 - 71</div>
                            <div class="tableCont tablValue">50 - 52.9
                                or
                                71.1 - 74</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 74</div>



                            <div class="tableCont fntBold">Girdle</div>
<!--                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>-->
                            <div class="tableCont tablValue width33">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>
                             <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">1.85 - 2.00</div>
                            <div class="tableCont tablValue">1.75 - 1.84
                                or
                                2.01 - 2.15</div>
                            <div class="tableCont tablValue">1.65 - 1.74
                                or
                                2.16 - 2.30</div>
                            <div class="tableCont tablValue">1.55 - 1.64
                                or
                                2.31 - 2.45</div>
                            <div class="tableCont tablValue">> 1.55
                                or
                                < 2.45</div>   
                        </div>
                             
                        <p class="font13 lineHeight24">Evaluating color in a marquise cut diamond is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with a marquise cut diamond at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive.</p>  
                         <p class="font13 lineHeight24">In larger marquise diamonds (over 1 carat), the color may appear slightly darker at the points. For this reason, buyers may choose to move up one color grade as compared to other diamond shapes. The color chart below provides a general guide for evaluating color in marquise diamonds.</p>                 
                        
                        <div class="subHead4">Marquise Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G - H</div>
                            <div class="tableHeadng tablValue">I - J </div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue width33">Strong-Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in marquise diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance. The clarity chart below provides a general guide for evaluating clarity in marquise diamonds.</p>
                        <div class="subHead4">Marquise Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Marquise"><div class="searchBtn fmOpenR ripplelink">Search for marquise diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

     <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
