<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Know Your Diamonds</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="row">
                        <div class="containerA">
                            <div class="texHolder font15 fmOpenR fLeft">
                                <h3>FOUR C’S</h3>
                                <h3>First C - Color</h3>
                                All International gemological institutes have established a scale of 23 letter grades indicating a diamond's color. D,E, and F are the highest and rarest grades. G through J are nearly colorless. K,L and M are faint yellow. N through R are grades of very light yellow. And S through Z are considered light yellow. There are other fancy colors of diamond, such as blue, pink and yellow.
                                <h3>Second C – Clarity </h3>
                                Using a jewelers eye glass or loop at 10 times (10x) magnification, a trained eye can detect identifying characteristics which affect a diamonds clarity. The most common are internal flaws called inclusions. Some diamonds have external flaws, which are called blemishes. The size and location of these characteristics determine how the diamond is graded on scale as: Internally Flawless- IF, Very Very Small inclusions- VVS, Very Small inclusions-VS, Small Inclusions-SI.
                                <h3>Third C – Cut</h3>
                                There are many different shapes of polished diamonds, such as Round, Pear, Marquise etc. But, while these are often referred to as cuts, this is not what is meant by the third C. From a gemologist’s point of view, the cut of a diamond is what determines its brilliance. Unlike the other three C's, a diamonds cut has no single defined standard. Rather it is a set of measurements which determine the relationship between its dimensions, finish and light performance. Whatever the diamonds shape is, its width and depth determine how light travels inside. The more successful a diamond cutter is in balancing these considerations, the more valuable the stone will be. Even a colorless and flawless stone can be significantly diminished by a poor cut, because it will lack visible brilliance.
                                <h3>Fourth C – Carat</h3>
                                Among all of the characteristics of a diamond, the carat is the most known and probably the most easily observed. A carat abbreviated CT, measures the weight of a diamond. One carat is one fifth of a gram, meaning a 5 Carat diamond weighs one gram. Since larger diamonds are rarer than smaller ones, the price
                                per carat increases with its weight. In other words, two one carat diamonds will cost less than a two carat diamond of the same grade. Although carat weight mostly determines a diamonds apparent size, what really determines its appearance are the other three C's. So while a larger diamond might be more costly, it may not be as beautiful as a smaller one.
                            </div>
                        </div>
                        <div class="containerA shapesPage">
                            <h3>Shapes</h3>
                            <div class="shapesComm fLeft">
                                <div class="Round shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    The most commonly chosen variation, round-cut diamonds have been more researched by certified gemologists than other shape. Renowned for its unrivaled fire and brilliance, this cut boasts excellent light refraction properties, causing it to appear brighter than other shapes. When clarity and color are equal, a round diamond will be more valuable than alternative shapes.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Pear shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Exuding elegance, pear-shaped diamonds (also referred to as a 'drop cut' or 'teardrop' diamonds) are cut to resemble a drop of water with a single point and rounded end, resulting in a cross between a round and marquise cut. There is some variation among pear-cut diamonds, with some appearing wider and others exhibiting a longer, narrower shape. Pear diamonds are noted for their slenderizing effect, creating the illusion of longer, more tapered fingers. They are also renowned for their high levels of brilliance, boasting 58 radiant facets.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Heart shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Living up to its name, the heart-cut diamond has become synonymous with love and affection, making it an excellent choice for an anniversary or engagement ring.<br>
                                    The Heart-Shaped Diamond is considered the most romantic of all diamond cuts., because they are cut with triangular and kite-shaped facets, causing light to when reflected back. A Heart-Shaped Diamond generally contains 59 facets, and is cut much the same way that a Pear-Shaped Diamond is. Often, a diamond cutter will cut a Heart-Shaped Diamond because the cleft at the top of the heart is a way of cutting out inclusions without losing carat weight.

                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Princess shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    A square stone with 90-degree corners, the princess cut originated in the United States in 1980. This shape is one of the most efficiently produced types of diamonds, with nearly 60% of the original rough preserved during the cutting process. The most desirable princess diamonds are perfectly square in shape, with the more rectangular variations decreasing in value.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Asscher shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    A 57 facet diamond, the Asscher cut diamond was developed at a time when the round brilliant diamond was the common diamond shape.
                                    The Asscher cut was developed in 1902, coming in the beginning of the Art-Deco movement that embraced and championed the straight lined geometric form. Its square, step cut shape was the forerunner of the later emerald cut shape of diamond.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Marquise shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    There’s no denying the timeless elegance of a marquis-cut diamond. Reputed to have been specially made for King Louis XIV of France, who wanted a diamond that simulated the smile of Marquise de Pompadour, this elongated stone has gracefully pointed ends for a dramatic appeal. Due to their extended length, marquise diamonds have more size per carat weight than other shapes and boast a brilliant 58 facets. This cut’s flattering effect creates the illusion of long, slender fingers.
                                    Every diamond shape has a length-to-width ratio, which determines how a diamond will appear when viewed from above. When selecting a marquise shaped diamond, look for a length-to-width ratio between 1.7 and 2.3.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Oval shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Timeless and classic, an oval-cut diamond is flattering to most any wearer, creating the illusion of a longer, more slender finger. Cut with the same number of facets as a round diamond, an oval shape emits nearly the same level of brilliance and fire, and its elongated shape makes it appear larger in carat weight than a round.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Radiant shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    Relatively new to the jewelry industry, radiant diamonds were introduced a little more than 20 years ago. This unique shape is a stunning hybrid of a traditional round-cut and an elegant emerald-cut, resulting in a square, near-square, or rectangular orientation.
                                </div>
                            </div>
                            <div class="shapesComm fLeft">
                                <div class="Cushion shapeComm"></div>
                                <div class="texHolder font13 fmOpenR">
                                    First introduced into the jewelry market in 1830, the long-standing cushion diamond is rooted in mining history. Cut into a square or rectangular shape with rounded corners and sides, it's considered by many to be a softer version of the emerald cut. Possessing a character-rich antique look, the cushion-cut diamond is a favorite of those who prefer vintage-style rings and jewelry.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>