<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Heart Shape Diamond</div>
                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Heart"></div>
                            <div class="topContent lineHeight24">The modified brilliant-cut heart shaped diamond is a unique and unmistakable symbol of love. Heart shaped diamonds are very popular in solitaire pendants as well as rings. When choosing a heart, symmetry is a very important characteristic, since it is critical that the two halves of the heart are identical. The cleft (between the two lobes) should be sharp and distinct, and the wings (the sides as they curve down to the point) should have a very slightly rounded shape.</div>
                        </div>
                        <!--                        <div class="shapTypes marTop15">
                                                    <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every iftosi Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                                                    <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                                                </div>
                                                <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Chat online, or email consultant@iftosidiamonds.com.</p>-->
                        <p class="font13 lineHeight24">Heart shaped diamonds of less than .50 carats may not be a good choice, as the heart shape is more difficult to perceive in smaller diamonds, especially after they are set in prongs. For smaller hearts, a bezel or three prong setting (one prong on each lobe, one prong at the point) will better preserve the heart shape outline of the diamond after it is set.</p>
                          <div class="shapTypes marTop15">
                              <div class="heartImg fRight">Heart Shaped Diamonds LW Ratios</div>
                            <div class="fontPropery lineHeight24 fLeft width70">Heart shaped diamonds come in a variety of silhouettes, from narrow to fat. The choice of a particular silhouette should be dictated by personal preference, though the length to width ratio of a classic heart shaped diamond is approximately 1.00. For hearts that are to be set in pendants, buyers may prefer a slightly narrow cut (1.05 - 1.15), while for hearts set in a solitaire ring, a slightly wide cut (.85 - 1.00) may be most appealing. Every iftosi Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the heart shape diamond you are considering.</div>
                            
                        </div>
                        <p class="font13 ">The chart below serves as a general guideline for evaluating the cut of a heart shaped diamond.</p>
                        <div class="subHead4">Heart Shaped Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">53 - 63</div>
                            <div class="tableCont tablValue">52
                                or
                                64 - 65</div>
                            <div class="tableCont tablValue">51
                                or
                                66 - 68</div>
                            <div class="tableCont tablValue">50
                                or
                                69 - 70</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 70</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">58 - 62</div>
                            <div class="tableCont tablValue">56 - 57.9
                                or
                                62.1 - 66</div>
                            <div class="tableCont tablValue">53 - 55.9
                                or
                                66.1 - 71</div>
                            <div class="tableCont tablValue">50 - 52.9
                                or
                               71.1 - 74</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 74</div>



                            <div class="tableCont fntBold">Girdle</div>
<!--                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>-->
                            <div class="tableCont tablValue width33">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>
                             <div class="tableCont fntBold">L/W Ratio</div>
                            <div class="tableCont tablValue">.95 - 1.02</div>
                            <div class="tableCont tablValue">89 - .94
                                or
                               1.03 - 1.05</div>
                            <div class="tableCont tablValue">83 - .87
                                or
                               1.06 - 1.10</div>
                            <div class="tableCont tablValue">.80 - .83
                                or
                               1.11 - 1.15</div>
                            <div class="tableCont tablValue">> .80
                                or
                                < 1.15</div>
                            
                        </div>
                             
                        <p class="font13 lineHeight24">Evaluating color in heart shaped diamonds is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with heart shaped diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive.</p>  
                         <p class="font13 lineHeight24">The color chart below provides a general guide for evaluating color in heart shaped diamonds.</p>                 
                        
                        <div class="subHead4">Heart Shaped Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue width33">Strong-Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in asscher cut diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance</p>
                        <div class="subHead4">Heart Shaped Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.<span class="color0044 fmOpenB"> Chat online</span>, or email <span class="color0044 fmOpenB">consultant@iftosidiamonds.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for Heart diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

   <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

