<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Know Your Diamonds</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">

                    <div class="totalDiv fLeft marTop15">
                        <?php include 'sideBarLeft.html'; ?>
                        <div class="centerDiv bLeft bRight">
                            <div class="paraHead fmOpenL color0044 font40">The 4c's Of Diamonds & So Much More </div>
                            <div class="leftContent fLeft fmOpenR">
                                <p class='font13 lineHeight24'>The basics of diamond quality grading involve an understanding of the universally accepted standard for assessing the quality of diamonds. They comprise the 4 Cs; namely Cut, Color, Clarity and Carat Weight.Each of these four parameters plays paramount role in determining the precise quality of a diamond.</p>
                                <p class="font13 lineHeight24">While the cut and the symmetry associated with it exhibit the overall brilliance, the color adds to the
                                    intensity of the beauty of the diamond. Clarity stands for the flawlessness of the piece, and carat weight
                                    is an obvious reference to the weight. The IFtoSI diamond buying guide presents an in-depth description
                                    of each of these four attributes along with charts respective to the grades and illustrates the differences
                                    among the grades.</p>
                            </div>
                            <div class="videoDiv marTop15 diamontCat1"></div>
                            <div class="subHead4 fLeft w_100">The IFtoSI Diamond Buying Guide</div>
                            <p class="font13 lineHeight24 fLeft">All of us are desirous of buying diamond. However, the experience is troublesome and often bitter for
                                many as lack of education hinders in making the right decision. We at IFtoSI have developed this
                                comprehensive guide to provide you with the most accurate information on diamond quality standards
                                to help you ascertain the true quality while purchasing a diamond.</p>
                            <p class="font13 lineHeight24 fLeft">
                                Every diamond is captivating in its own way due to its uniqueness: The shape, the color, the size and
                                many more factors. All these attributes contribute to determining the piece of elegance you are going to
                                buy. It is easy to fall in love all diamonds you see; however, it is important to choose the one that
                                complements your individuality. While no diamond is notorious for not being beautiful, buying the right
                                piece of diamond will enhance your beauty and personality. At IFtoSI, our aim is help you in making an
                                informed decision and let you cherish the piece along with passion you have associated with your
                                possession.
                            </p>
                                <!--                            <p class="font13 lineHeight24">You also have access to a personal diamond consultant; who can walk you through the diamond selection process or answer any questions you have. send your request to <span class="color0044 fmOpenB"> consultant@IFtoSI.com</span>.</p>
                                                            <div class="subHead4">Diamond Grading Chart</div>
                                                            <p class="font13 lineHeight24 margnTop0">Every IFtoSI Diamond has been certified by the GIA after a thorough, independent evaluation. Here you will learn how GIA diamond grades are established, and how those grades affect the diamond's price. Each of the four C's (Carat Weight, Cut, Color, Clarity) is accompanied by a diamond chart illustrating the differences between grades.</p>
                                                            <p class="font13 lineHeight24">After learning more, if you need to see diamonds in person, visit your local jewelry store. Get a better sense of what you personally value in a diamond. Note the color, cut, and clarity that best fit your needs. While you're there, compare the prices with what you find at IFtoSI. We're confident you will be pleased with what you find.</p>
                                                            <p class="font13 lineHeight24">Next: Diamond Shape</p>-->
                            <div class="tableContr noBorder">
                                <div class="sectns">
                                    <a href="<?php echo DOMAIN . 'Shapes'; ?>" class="sideli <?= ($page == 'e_shapes') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn allShapesImg">
                                            <div class="subHead4 fmOpenB padB0">Shape</div>
                                            <p class="font13 lineHeight24 margnTop0">See every round and fancy <br>diamond shape…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>
                                        </div>
                                    </a>
                                    <a href="<?php echo DOMAIN . 'Cut'; ?>" class="sideli <?= ($page == 'e_cut') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn cutShape">
                                            <div class="subHead4 fmOpenB padB0">Cut</div>
                                            <p class="font13 lineHeight24 margnTop0">How diamond cut affects <br>appearance & beauty…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>
                                        </div>
                                    </a>
                                    <a href="<?php echo DOMAIN . 'Certification-And-Grading'; ?>" class="sideli <?= ($page == 'e_certification') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn certificate noBBorder">
                                            <div class="subHead4 fmOpenB padB0">Certification</div>
                                            <p class="font13 lineHeight24 margnTop0">On the impartial grading of <br> diamonds…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>

                                        </div>
                                    </a>

                                </div>
                                <div class="sectns">
                                    <a href="<?php echo DOMAIN . 'Carat-Weight'; ?>" class="sideli <?= ($page == 'e_carat_weight') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn caratWeight">
                                            <div class="subHead4 fmOpenB padB0">Carat Weight</div>
                                            <p class="font13 lineHeight24 margnTop0">How diamond carat size <br>affects price…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>

                                        </div>
                                    </a>
                                    <a href="<?php echo DOMAIN . 'Color'; ?>" class="sideli <?= ($page == 'e_color') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn diamondGrade">
                                            <div class="subHead4 fmOpenB padB0">Color</div>
                                            <p class="font13 lineHeight24 margnTop0">Learn how diamond color is <br>measured…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>

                                        </div>
                                    </a>
                                </div>
                                <div class="sectns noBorder">
                                    <a href="<?php echo DOMAIN . 'Anatomy'; ?>" class="sideli <?= ($page == 'diamond_shapes') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn anatomy noRBorder">
                                            <div class="subHead4 fmOpenB padB0">Anatomy</div>
                                            <p class="font13 lineHeight24 margnTop0">See every round and fancy <br>diamond shape…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>
                                        </div>
                                    </a>
                                    <a href="<?php echo DOMAIN . 'Clarity'; ?>" class="sideli <?= ($page == 'education_clarity') ? 'sideactive' : ''; ?>">
                                        <div class="subSectn clarityImg noRBorder">
                                            <div class="subHead4 fmOpenB padB0">Clarity</div>
                                            <p class="font13 lineHeight24 margnTop0">Get the definition of common <br>terms…</p>
                                            <center><div class="searchBtn fmOpenR ripplelink margnTop0 marBottom0 moreBtn transition100">More</div></center>

                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <?php include 'sideBarRight.html'; ?>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>