<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Oval Diamonds</div>
                        <div class="shapTypes">
                            <!--                            <div class="subHead4">ROUND DIAMOND</div>-->
                            <div class="shapeSize Oval"></div>
                            <div class="topContent lineHeight24">Created by Lazare Kaplan in the 1960's, oval diamonds are a modified brilliant-cut (like virtually all round cuts). Because the two shapes possess a similar fire and brilliance, the oval is an ideal choice for a customer who likes the look of a round diamond, but wants something more unique. Oval diamonds have the added advantage of an elongated shape, which can create the illusion of greater size. The slender shape can also make the finger of the wearer appear longer and slimmer, an effect often desired.</div>
                        </div>
                        <div class="shapTypes marTop15">
                            <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every IFtoSI Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                            <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                        </div>
                        <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Send email to consultant@iftosi.com.</p>
                        <p class="font13">The chart below serves as a general guideline for evaluating the cut of an oval diamond.</p>
                        <div class="subHead4">Oval Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                           <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">53 - 63</div>
                            <div class="tableCont tablValue">52
                                or
                                64 - 65</div>
                            <div class="tableCont tablValue">51
                                or
                                66 - 68</div>
                            <div class="tableCont tablValue">50
                                or
                                69 - 70</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 70</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">58 - 62</div>
                            <div class="tableCont tablValue">56 - 57.9
                                or
                                62.1 - 66</div>
                            <div class="tableCont tablValue">53 - 55.9
                                or
                                66.1 - 71</div>
                            <div class="tableCont tablValue">50 - 52.9
                                or
                                71.1 - 74</div>
                            <div class="tableCont tablValue">< 50
                                or
                                > 74</div>



                            <div class="tableCont fntBold">Girdle</div>
                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>

                            <div class="tableCont fntBold">L/W Ratio</div>
                            <div class="tableCont tablValue">1.35 - 1.50</div>
                            <div class="tableCont tablValue">1.30 - 1.34
                                or
                                1.51 - 1.55</div>
                            <div class="tableCont tablValue">1.25 - 1.29
                                or
                                1.56 - 1.60</div>
                            <div class="tableCont tablValue">1.20 - 1.24
                                or
                                1.61 - 1.65</div>
                            <div class="tableCont tablValue">> 1.20
                                or
                                < 1.65</div>
                        </div>
                        <p class="font13 lineHeight24">Evaluating color in oval diamonds is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with oval diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive. The color chart below provides a general guide for evaluating color in oval diamonds.</p>
                        <div class="subHead4">Oval Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G - H</div>
                            <div class="tableHeadng tablValue">I - J</div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint - Med</div>
                            <div class="tableHeadng tablValue">Strong</div>
                            <div class="tableHeadng tablValue width33">Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in oval diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance. The clarity chart below provides a general guide for evaluating clarity in oval diamonds.</p>
                        <div class="subHead4">Oval Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                     <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Oval"><div class="searchBtn fmOpenR ripplelink">Search for oval diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

     <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
