<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Cushion Cut Diamonds</div>
                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Cushion"></div>
                            <div class="topContent lineHeight24">The cushion cut diamond once referred to as old mine cut) combines a square cut with rounded corners, much like a pillow (hence the name). This classic cut has been around for almost 200 years, and for the first century of its existence was the most popular diamond shape (similar to round cut today). Until the early 20th century, the cushion cut diamond was the de facto diamond shape </div>
                        </div>
                        <!--                        <div class="shapTypes marTop15">
                                                    <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every iftosi Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                                                    <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                                                </div>
                                                <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Chat online, or email consultant@iftosidiamonds.com.</p>-->
                        <p class="font13 lineHeight24">Traditional cushion cut diamonds return light in a chunkier pattern than modern cuts. Combined with the enlarged culet (which was considered desirable for the pattern created when viewed through the table), this created a distinctive look that is prized today among dealers in antique diamonds</p>
                         <p class="font13 lineHeight24">Partially based on cut research initiated by Marcel Tolkowsky in the 1920's, refinements to cushion cut diamonds over time (such as shrinking the culet, enlarging the table, and improving cut angles for increased brilliance), have led to a resurgence in popularity. Many buyers are attracted to the antique feel combined with modern performance offered by the cushion cut</p>
                          <div class="shapTypes marTop15">
                               <div class="cushnImg fRight">Cushion Cut Diamond - Three Pavilion Patterns</div>
                            <div class="fontPropery lineHeight24 fLeft width70">The standards for cushion cut vary more than most other shapes, and personal taste will dictate choice. While generally less brilliant than round brilliant diamonds, cushion cut diamonds often have better fire, which is part of their appeal. Modern cushion cuts tend to have one of three basic pavilion facet patterns (see picture). The third pattern has an extra row of facets on the pavilion and is classified by GIA as a "modified" cushion cut. These modified cuts tend to have a "crushed ice" or needle like facet pattern, more similar to a radiant cut than a traditional cushion cut.</div>
                          
                        </div>
                         <p class="font13 lineHeight24">The chart below serves as a general guideline for evaluating the cut of a cushion cut diamond.</p>
                        <div class="subHead4">Cushion Cut Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">61 - 67</div>
                            <div class="tableCont tablValue">58 - 60
                                or
                                68 - 70</div>
                            <div class="tableCont tablValue">56 - 57
                                or
                                71</div>
                            <div class="tableCont tablValue">54 - 55
                                or
                                72 - 73</div>
                            <div class="tableCont tablValue">< 54
                                or
                                > 73</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">61 - 67</div>
                            <div class="tableCont tablValue">58 - 60.9
                                or
                                67.1 - 70</div>
                            <div class="tableCont tablValue">56 - 57.9
                                or
                                70.1 - 71</div>
                            <div class="tableCont tablValue">54 - 55.9
                                or
                                71.1 - 73</div>
                            <div class="tableCont tablValue">< 54
                                or
                                > 73</div>



                            <div class="tableCont fntBold">Girdle</div>
<!--                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>-->
                            <div class="tableCont tablValue width33">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div> 
                        </div>
                          <div class="shapTypes marTop15">
                               <div class="cushnImg1 fRight">Cushion Cut Diamond LW Ratios</div>
                            <div class="fontPropery lineHeight24 fLeft width70">While the classic cushion cut diamond is a square (with a length to width ratio of 1.00), they are often found in slightly rectangular shapes as well. The most popular shape is a slight rectangle of 1.10-1.20 length to width, however personal preference should dictate choice. Every IFtoSI Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the cushion cut diamond you are considering.</div>
                           
                        </div>
                        <div class="subHead4">Cushion Cut Diamond - Length To Width Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>
                             <div class="tableHeadng fntBold">Square</div>
                             <div class="tableHeadng tablValue width33">1.00 - 1.03</div>
                            <div class="tableHeadng tablValue">1.04 - 1.05</div>
                            <div class="tableHeadng tablValue">1.06 - 1.08</div>
                            <div class="tableHeadng tablValue">> 1.08</div> 
                             <div class="tableCont fntBold">Rectangle</div>
                            <div class="tableCont tablValue">
                                1.15 - 1.20
                                </div>
                             <div class="tableCont tablValue width33">1.10 - 1.14
                                or
                                1.21 - 1.30</div>
                            <div class="tableCont tablValue">1.08 - 1.09
                                or
                                1.31 - 1.50</div>
                            <div class="tableCont tablValue">< 1.08
                                or
                                > 1.50</div>
                        </div>
                        <p class="font13 lineHeight24">Evaluating color in cushion cut diamonds is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with cushion cut diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive.</p>
                        <p class="font13 lineHeight24">The color chart below provides a general guide for evaluating color in cushion cut diamonds.</p>     
                        <div class="subHead4">Cushion Cut Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G - H</div>
                            <div class="tableHeadng tablValue">I - J</div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue width33">Strong-Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24"> Like color, evaluating clarity in cushion cut diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance. The clarity chart below provides a general guide for evaluating clarity in cushion cut diamonds.</p>
                        <div class="subHead4">Cushion Cut Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.Send email to<span class="color0044 fmOpenB"> consultant@iftosi.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for Cushion diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

     <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
