<!DOCTYPE html>
<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Emerald Cut Diamonds</div>
                        <div class="shapTypes">
                            <!--                            <h4>ROUND DIAMOND</h4>-->
                            <div class="shapeSize Emerald"></div>
                            <div class="topContent lineHeight24">The unique look of the emerald cut diamond is created by the step cuts of its pavilion and its large, open table. Instead of the sparkle of a brilliant-cut, emerald cut diamonds produce a hall-of-mirrors effect, with the interplay of light and dark planes. While less fiery, the long lines and dramatic flashes of light give the emerald cut an elegant appeal. The shape was originally developed for the cutting of emeralds, thus the name.</div>
                        </div>
                        <!--                        <div class="shapTypes marTop15">
                                                    <div class="fontPropery lineHeight24 fLeft width70">Preferences vary on how narrow or fat an oval cut diamond should be, so choose what appeals to you personally (though a length to width ratio of 1.35 - 1.50 is considered the classic oval cut). A slightly thinner cut may look most appealing in a setting where the diamond is flanked by side stones. Every Lumera Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the oval diamond you are considering.</div>
                                                    <div class="ovalImg fRight">Oval Diamond LW Ratios</div>
                                                </div>
                                                <p class="font13 lineHeight24">Oval cut diamonds posses some degree of bow-tie, varying from near invisible to severe. The visibility of a bow-tie effect cannot be ascertained by reviewing the diamond certificate or dimensions, but only upon visual inspection. If you are interested in purchasing an oval diamond, but would like to have it inspected first, please contact a diamond consultant, who can review diamonds on your behalf. Chat online, or email consultant@lumeradiamonds.com.</p>-->
                        <p class="font13">The chart below serves as a general guideline for evaluating the cut of an oval diamond.</p>
                        <div class="subHead4">Emerald Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">61 - 69</div>
                            <div class="tableCont tablValue">57 - 60
                                or
                                70 - 72</div>
                            <div class="tableCont tablValue">54 - 56
                                or
                                73 - 74</div>
                            <div class="tableCont tablValue">51 - 53
                                or
                                75 - 79</div>
                            <div class="tableCont tablValue">< 51
                                or
                                > 79</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue">61 - 67</div>
                            <div class="tableCont tablValue">59 - 60.9
                                or
                                67.1 - 70</div>
                            <div class="tableCont tablValue">57 - 58.9
                                or
                                70.1 - 74</div>
                            <div class="tableCont tablValue">54 - 56.9
                                or
                                74.1 - 79</div>
                            <div class="tableCont tablValue">< 54
                                or
                                > 79</div>



                            <div class="tableCont fntBold">Girdle</div>
<!--                            <div class="tableCont tablValue">Thin
                                to
                                Slightly Thick</div>-->
                            <div class="tableCont tablValue width33">Very Thin
                                to
                                Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>

                            
                        </div>
                             <div class="shapTypes marTop15">
                                 <div class="emraldImg fRight font13">Emerald Cut Diamond LW Ratios</div>
                                 <div class="fontPropery lineHeight24 fLeft width70">Emerald cut diamonds vary from nearly square to a narrow rectangle. The classic emerald cut diamond has a length to width ratio of around 1.50. If you prefer the look of the square emerald cut diamond, be sure to consider the asscher cut as well (which has a very similar appearance, and is defined by GIA as a square cut emerald). Every Lumera Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the emerald cut diamond you are considering.</div>
                                                    
                                                </div>
                        <p class="font13 lineHeight24">Often, body color is easier to see in an emerald cut diamond (especially over 1.50 carats) because of the large, open facets. The color chart below provides a general guide for evaluating color in emerald cut diamonds.</p>                 
                        
                        <div class="subHead4">Emerald Diamond - Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> I</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue width33">Strong-Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in emerald cut diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance.</p>
                        <p class="font13 lineHeight24">Often, inclusions are easier to see in an emerald cut diamond. While an SI1-clarity might be a great balance of price and appearance in other diamond shapes, in emerald cut a VS2 might be a comparable choice. The clarity chart below provides a general guide for evaluating clarity in emerald cut diamonds.</p>
                        <div class="subHead4">Emerald Cut Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1</div>
                            <div class="tableHeadng tablValue">VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">> SI1</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.<span class="color0044 fmOpenB"> Chat online</span>, or email <span class="color0044 fmOpenB">consultant@lumeradiamonds.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for emerald diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

