
<!DOCTYPE html>

<?php include 'bHead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="paraHead fmOpenL color0044">Princess Cut Diamond</div>
                        <div class="shapTypes">
                            <!--                            <div class="subHead4">ROUND DIAMOND</div>-->
                            <div class="shapeSize Princess"></div>
                            <div class="topContent lineHeight24">The princess cut diamond, first created in 1980 by Betzalel Ambar and Israel Itzkowitz, is the most popular fancy cut, especially for engagement rings. Like round cut diamonds, princess cut diamonds are a good choice for their flexibility in working in almost any style of ring.</div>
                        </div>
                        <div class="shapTypes marTop15">
                            <div class="fontPropery lineHeight24 fLeft width70">Princess cut diamonds also tend to have a slightly lower price-per-carat than round cut diamonds. This is because the four sided pyramid shape of the princess cut diamond is similar to one half of the octahedron rough stone from which a princess diamond is cut. This similarity allows two equally sized princess cut diamonds to be cut from the same rough stone with relatively little waste (roughly 60% of the weight of the original rough stone is retained after cutting). The greater efficiency, or yield, translates to a lower price.</div>
                            <div class="ovalImg fRight background height "></div>
                        </div>
                        <p class="font13 lineHeight24">Carat for carat, the crown surface area of a princess cut is about 10% less than a same-weight round diamond. However, the corner to corner measure of a princess cut is typically 15% greater than the diameter of a same-weight round diamond, creating the illusion of greater size.</p>
                        <div class="shapTypes marTop15">
                            <div class="fontPropery lineHeight24 fRight width70 padL10">The princess is traditionally a square cut (four sides of equal length). However, many princess cut diamonds are slightly rectangular, though this is often hard to detect. All other things being equal, the more rectangular a princess cut diamond, the lower the price. Many buyers actually prefer a slightly rectangular princess cut; it's all about finding what is most pleasing to you. Any length to width ratio of 1.05 or less will appear square to the naked eye. If the princess will be set with side diamonds, a length to width of 1.05 - 1.08 may still look square, as the side diamonds will create the illusion of greater width in the center stone.</div>
                            <div class=" fLeft prince_bkg">Princess Cut Diamond LW Ratios.</div>
                        </div>
                        <p class="font13 lineHeight24"> Every iftosi Diamond includes precise measurements, as well as the length to width ratio, so you know the exact shape of the princess cut diamond you are considering.</p>
                        <div class="shapTypes">
<!--                            <div class="fontPropery lineHeight24 w_100">-->
                                <p class="font13 lineHeight24">A princess cut diamond should always be set with prongs that protect the four corners (the most likely location for chipping). Because these corners were once near the outer edge of the rough stone, flaws such as naturals, extra facets, and other inclusions may be located here. Since the corners are covered by the prongs, these flaws will be invisible once the diamond is set. The only remaining concern would be if the flaws are significant enough to affect the stability of the diamond (this is extremely rare, however). Most other square cuts (such as emerald, asscher, and radiant) have cropped corners.</p>
                                <p class="font13 lineHeight24">Of all of the square cuts, the brilliant-cut princess (along with the radiant cut) comes the closet to achieving the fire and brilliance of a round diamond, making it an ideal combination of unique shape, sparkling appearance, and relative price value.</p>
                                <p class="font13 lineHeight24">The chart below serves as a general guideline for evaluating the cut of a princess diamond. A common rule of thumb with princess cut diamonds is to avoid those with a table % that is greater than the depth %.</p>
<!--                            </div>-->

                        </div>



                        <div class="subHead4">Princess Cut Diamond - Cut Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableCont fntBold">Table%</div>
                            <div class="tableCont tablValue">62 - 70</div>
                            <div class="tableCont tablValue">59 - 61
                                or
                                71 - 74</div>
                            <div class="tableCont tablValue">56 - 58
                                or
                                75 - 82</div>
                            <div class="tableCont tablValue">53 - 55
                                or
                                83 - 85</div>
                            <div class="tableCont tablValue">< 53
                                or
                                > 85</div>

                            <div class="tableCont fntBold">Depth%</div>
                            <div class="tableCont tablValue width33">64 - 75</div>
                            <div class="tableCont tablValue">58 - 63.9
                                or
                                75.1 - 80</div>
                            <div class="tableCont tablValue">56 - 57.9
                                or
                                80.1 - 84</div>
                            <div class="tableCont tablValue">< 56
                                or
                                > 84</div>




                            <div class="tableCont fntBold">Girdle</div>
                            <div class="tableCont tablValue width33">Very Thin - Slightly Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Thick</div>
                            <div class="tableCont tablValue">Very Thin
                                to
                                Very Thick</div>
                            <div class="tableCont tablValue">Ex. Thin
                                to
                                Ex. Thick</div>
                            

                            <div class="tableHeadng fntBold">Culet</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Very Small</div>
                            <div class="tableHeadng tablValue">Small</div>
                            <div class="tableHeadng tablValue">Medium</div>
                            <div class="tableHeadng tablValue">> Medium</div>

                            <div class="tableCont fntBold">L/W Ratio</div>
                            <div class="tableCont tablValue width33">1.00 - 1.03</div>
                            <div class="tableCont tablValue">1.04 - 1.05</div>
                            <div class="tableCont tablValue">1.06 - 1.08</div>
                            <div class="tableCont tablValue">> 1.08</div>
                           
                        </div>
                        <p class="font13 lineHeight24">Evaluating color in princess cut diamonds is subjective. Keep in mind that many buyers may actually prefer the ever so slightly warmer colors of a G-H diamond over the cool colorlessness of a D-F diamond. In fact, most of the premium in price associated with princess cut diamonds at the higher end of the color scale is driven by supply and demand; customers want the D-F color grades, and are willing to pay a premium to get them. In a world without diamond color grading, the price premium for higher grades would be much lower, as the actual differences in color are difficult to perceive. The color chart below provides a general guide for evaluating color in princess cut diamonds.</p>
                        <div class="subHead4">Princess Cut Diamond- Color Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">D - G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">L - M</div>
                            <div class="tableHeadng tablValue">> M</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">D - F</div>
                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">J - K</div>
                            <div class="tableHeadng tablValue">> K</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G - H</div>
                            <div class="tableHeadng tablValue">I - J</div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue width33">D - F</div>

                            <div class="tableHeadng tablValue">G</div>
                            <div class="tableHeadng tablValue">H - I</div>
                            <div class="tableHeadng tablValue">> J</div>

                            <div class="tableHeadng fntBold">Fluoro</div>
                            <div class="tableHeadng tablValue">None</div>
                            <div class="tableHeadng tablValue">Faint - Med</div>
                            <div class="tableHeadng tablValue">Strong</div>
                            <div class="tableHeadng tablValue width33">Very Strong</div>
                            <!--                            <div class="tableHeadng fntBold">> J</div>-->
                        </div>
                        <p class="font13 lineHeight24">Like color, evaluating clarity in princess cut diamonds is subjective. GIA provides excellent help with their clarity grades. Still, it is important to understand that each customer will have a unique standard for clarity. Some may be perfectly comfortable with an inclusion as long as they cannot easily see it. Others may insist on a more technically flawless appearance. Because of its brilliance, a princess cut is more forgiving of inclusions than other square cuts (like Asscher and Emerald), especially when viewed with the naked eye. The clarity chart below provides a general guide for evaluating clarity in princess cut diamonds.</p>
                        <div class="subHead4">Princess Cut Diamond - Clarity Guide</div>
                        <div class="tableContr">
                            <div class="tableHeadng"></div>
                            <div class="tableHeadng fntBold">EXCELLENT</div>
                            <div class="tableHeadng fntBold">VERY GOOD</div>
                            <div class="tableHeadng fntBold">GOOD</div>
                            <div class="tableHeadng fntBold">FAIR</div>
                            <div class="tableHeadng fntBold">POOR</div>

                            <div class="tableHeadng fntBold">< .50 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">.51-1.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VS1</div>
                            <div class="tableHeadng tablValue">	VS2 - SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">I1 - I2</div>
                            <div class="tableHeadng tablValue">> I2</div>

                            <div class="tableHeadng fntBold">1.0-2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1 - SI2</div>
                            <div class="tableHeadng tablValue">I1</div>
                            <div class="tableHeadng tablValue">> I1</div>

                            <div class="tableHeadng fntBold">> 2.0 ct.</div>
                            <div class="tableHeadng tablValue">FL - VVS2</div>
                            <div class="tableHeadng tablValue">VS1 - VS2</div>
                            <div class="tableHeadng tablValue">SI1</div>
                            <div class="tableHeadng tablValue">SI2</div>
                            <div class="tableHeadng tablValue">> SI2</div>
                        </div>
                        <p class="font13 lineHeight24">Questions about shape or other aspects of a diamond? Ask a diamond consultant for answers. A consultant will answer any questions you have, and if you like, search for diamonds on your behalf that match your criteria.<span class="color0044 fmOpenB"> Chat online</span>, or email <span class="color0044 fmOpenB">consultant@iftosidiamonds.com</span>.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for oval diamond</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
                 <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>
