<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft">
                        <div class="paraHead fmOpenL color0044">Diamond Clarity</div>
                        <p class="font13 lineHeight24">Clarity in a diamond grading, and therefore its value, attains importance due to the factor of rarity
                            attached to higher clarity in a diamond. Put simply, clarity refers to the transparency despite the
                            presence of microscopic inclusions and blemishes, which are kind of inherent in diamonds due to the
                            situation under which they are formed and due to the process they undergo to attain brilliance.</p>
                        <p class="font13 lineHeight24">Minor flaws on a diamond’s surface borne out of the polishing process are referred to as blemishes;
                            those inside the stone formed naturally during its birth are called inclusions. While inclusions and
                            blemishes are integral part of a diamond’s clarity, significantly high presence of these in a diamond
                            impacts the way light passes through it, and thereby its visible brilliance.</p>
                        <p class="font13 lineHeight24">The grading a diamond’s clarity in contingent upon multiple factors including the stone’s perceptible
                            imperfections under 10x magnification, its color, number, size, and reflectivity. World over, clarity of
                            diamonds are graded by using the 11 point scale. The scales can be explained as below:</p>
                        <p class="font13 lineHeight24">Below is the GIA diamond clarity chart with definitions, accompanied by further explanatory comments from IFtoSI:</p>
                        <div class="subHead4">GIA Diamond Clarity Scale</div>
                        <div class="tableContr">
                            <div class="width10 tableBox  fmOpenB">FL</div>
                            <div class="width20 tableBox font13 contStyle "><div class="subT">Flawless</div> </div>
                            <div class="tableBox contStyle font13 width70">FL rated diamonds are free from all blemishes or
                                inclusions even upon using 10x magnification.
                                Flawless diamonds are extremely rare.</div>

                            <div class="width10 tableBox  fmOpenB">IF</div>
                            <div class="width20 tableBox font13 contStyle  "><div class="subT">Internally Flawless</div></div>
                            <div class=" tableBox contStyle font13 width70">In IF rated diamonds only minor blemishes are visible to a skilled grader using 10x magnification while inclusions are not visible. FL and IF diamonds
                                look very similar and skilled grader requires 10x
                                magnification to discern differences.</div>

                            <div class="width10 tableBox fmOpenB ">VVS1 VVS2</div>
                            <div class="width20 tableBox font13 contStyle "><div class="subT">Very, Very Slightly Included</div></div>
                            <div class=" tableBox contStyle font13 width70">VVS1 and VVS2 are superior diamonds and it is very
                                difficult to see imperfections under 10x
                                magnification.
                            </div>

                            <div class="width10 tableBox fmOpenB ">VS1 VS2</div>
                            <div class="width20 tableBox font13 contStyle"><div class="subT">Very Slightly Included</div></div>
                            <div class=" tableBox font13 contStyle width70">In VS1 and VS2 rated diamonds inclusions are not
                                detectable by the naked eye while minor inclusions
                                are easily noticeable under 10x magnification.</div>

                            <div class="width10 tableBox fmOpenB ">SI1  SI2</div>
                            <div class="width20 tableBox font13 contStyle "><div class="subT">Slightly Included</div></div>
                            <div class=" tableBox contStyle font13 width70">In SI1 rated diamonds imperfections are not visible
                                to the naked eye while in SI2 diamonds
                                imperfections require close inspection to be
                                exposed by the onlooker.</div>

                            <div class="width10 tableBox fmOpenB "> L1</div>
                            <div class="width20 tableBox font13 contStyle "><div class="subT">Included </div></div>
                            <div class=" tableBox contStyle font13 width70">In L1 rated diamonds imperfections are always
                                evident to even the unaided eye.</div>

                            <div class="width10 tableBox fmOpenB">I2-I3</div>
                            <div class="width20 tableBox font13 contStyle "><div class="subT">Diamonds</div></div>
                            <div class=" tableBox contStyle font13 width70">12-13 rated diamonds have low durability due to too many imperfections. </div>
                        </div>
                        <p class="font13 lineHeight24">There are multiple factors which graders consider before determining a diamond’s clarity grade. They
                            are size, nature, number, location, and relief. Size in clarity grade refers to the inclusions size which
                            significantly impacts a diamond’s value. Nature refers to the superficiality or depth of inclusions while
                            greater number in clarity grade signifies lower grade in a diamond.</p>
                        <p class="font13 lineHeight24">Location refers to the position of the inclusion/blemish in the diamond. Imperfections near the center of
                            the table significantly impact clarity while imperfections near the girdle points toward future damage
                            risk. Relief is the clarity of the inclusion.</p>
                        <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition100">Search for a diamond now</div></a></center>
                        <!--                        <div class="subHead4">Diamond Plot</div>
                                                <p class="font13 lineHeight24 margnTop0">Because a photograph cannot capture the subtleties of clarity, GIA uses a diamond plot to map a diamond's interior and exterior flaws. A diamond plot is a graphic representation of every flaw that affects the overall clarity grade. The flaws are found under 10x magnification by a skilled grader.</p>
                                                <div class="shapTypes marTop15">
                                                    <div class="diamond_plot fRight font13">Example GIA Diamond Plot: The Key To Symbols section shows the flaws in order of severity</div>
                                                    <div class="halfPara lineHeight24 fLeft">While the plot shows the type and position of each flaw, the actual visibility of the flaw is communicated in the diamond Clarity Grade itself (i.e. two diamonds may have very similar plots, but very different Clarity grades, reflecting the actual severity and visibility of the recorded flaws).</div>
                        
                                                </div>
                                                <p class="font13 lineHeight24">Besides the plot, there is also a comment section on the certificate where additional clarity characteristics are often noted. These are usually too minor to be reflected in the plot itself. Between the plot and the comment section, all inclusions visible under 10x magnification are accounted for.</p>
                                                <div class="shapTypes borderTB">
                                                    <div class="subHead4">A note of caution:</div> 
                                                    <p class="font13 lineHeight24">A diamond plot does not reproduce the actual appearance of a diamond. For SI1 or lower grades, do not assume that a relatively clean plot indicates that there are no flaws visible to the naked eye. Often, a plot may carry only one or two markings, but these are so severe that they warrant a lower overall clarity grade.</p>
                                                    <p class="font13 lineHeight24">By the same token, a cluttered plot may not mean the diamond is visually flawed. The diamond may in fact be flawless to the naked eye, since no single inclusion is severe enough to be seen (even though the cumulative effect of the flaws might warrant a lower clarity grade). When in doubt, speak to a diamond consultant, who will gladly review a diamond on your behalf.</p>
                                                </div>-->
                        <!--                        <p class="font13 lineHeight24">Common inclusions and blemishes, as they are represented on the GIA diamond plot, are illustrated below. GIA uses the color green for surface blemishes, and red for internal inclusions. Sometimes the nature of the inclusion (if it reaches the surface, for example) calls for the use of both green and red. The color black is used to convey extra facets. </p>-->


                                                
<!--                        <div class='MoreDetails'>
                                                    <div class="subHead4">Place Your Cursor Over Any Term to Learn More..</div>
                                                    <div class='nameDetails'>
                        
                                                        <div class='nameFont' id="cr">Crystal</div>
                                                        <div class='nameFont' id="pin">Pinpoint</div>
                                                        <div class='nameFont' id="cl">Cloud</div>
                                                        <div class='nameFont' id="ca">Cavity</div>
                                                        <div class='nameFont' id="cp">Chip</div>
                                                        <div class='nameFont' id="br">Bruise</div>
                                                        <div class='nameFont' id="fr">Feather</div>
                                                        <div class='nameFont' id="nd">Needle</div>
                                                        <div class='nameFont' id="tw">Twinning Wisp</div>
                                                        <div class='nameFont' id="na">Natural</div>
                                                        <div class='nameFont' id="in">Indented Natural</div>
                                                        <div class='nameFont' id="ex">Extra Facet</div>
                                                    </div>
                                                    <div class='imagChange'>
                                                        <div class="crystal imagSize" id="img"></div>
                                                    </div>
                                                    <div class="meanigDiv" id='cry'>
                                                        <div class="subHead4">Crystal:</div>
                                                        <p class="font13 lineHeight24">A mineral deposite inside the diamond,either alone or in group.
                                                            The crystal may be color or colorless,but usually appears black in overhead lighting.</p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='pinP'>
                                                        <div class="subHead4">Pin Point:</div>
                                                        <p class="font13 lineHeight24">A very small crystal,often whitish in color.
                                                            When clustered together,these points can form a cloud.</p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='clo'>
                                                        <div class="subHead4">Cloud:</div>
                                                        <p class="font13 lineHeight24">A tight grouping of pinpoint inclusions. 
                                                            The individual pinpoints are often impossible to see under 10x magnification,but the cloud they form can be.</p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='cav'>
                                                        <div class="subHead4">Cavity:</div>
                                                        <p class="font13 lineHeight24">An opening or depression in the surface of the diamond , usually the result of a natural flaw in the rough stone.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='chi'>
                                                        <div class="subHead4">Chip:</div>
                                                        <p class="font13 lineHeight24">A shallow nick in the surface of the diamond,often created during cutting.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='bru'>
                                                        <div class="subHead4">Bruise:</div>
                                                        <p class="font13 lineHeight24">A chip on the diamond surface that may include root-like feathers radiating into the diamond.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='fea'>
                                                        <div class="subHead4">Feather:</div>
                                                        <p class="font13 lineHeight24">A feather that often has fine lines radiating from it,resembling a feather.
                                                            Feathers usually appears white or transparent,depending on the viewing angle. </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='nee'>
                                                        <div class="subHead4">Needle:</div>
                                                        <p class="font13 lineHeight24">A very fine,elongated inclusion.Similar in appearance to a feather,without the radiating lines.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='twi'>
                                                        <div class="subHead4">Twinning wisp:</div>
                                                        <p class="font13 lineHeight24">A flat ribbon of pinpoints or clouds,caused by natural distortion created during the growth of the crystal.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='nat'>
                                                        <div class="subHead4">Natural:</div>
                                                        <p class="font13 lineHeight24">A small remains of the original rough stones surface,left unpolished on the surface of the finished diamonds.usually found on the girdle.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='ind'>
                                                        <div class="subHead4">Indented Natural:</div>
                                                        <p class="font13 lineHeight24">A natural that leaves an actual depression or indentation in the finished diamond's surface.
                                                        </p>
                                                    </div>
                                                    <div class="meanigDiv" style="display: none;" id='ext'>
                                                        <div class="subHead4">Extra Facet:</div>
                                                        <p class="font13 lineHeight24">Any facet that is not a part of the shape's standard cut.usually created by the cutter due to a limitation or flaw in the original rough stone.
                                                        </p>
                                                    </div>
                                                </div>-->

                        <!--                        <div class="shapTypes borderTB">
                                                    <div class="subHead4">A note of caution:</div> 
                                                    <div class="flucturng fRight font13">Before and After: Diamond Fracture Filling</div>
                                                    <div class="fontPropery lineHeight24 fLeft">Approximately 1 in 3 diamonds sold has been treated or "enhanced" in some way. A variety of techniques exist to artificially improve the natural clarity of a diamond. By drilling a pathway to an internal inclusion with a laser beam, acid can be poured into the tunnel to bleach the inclusion. The laser tunnel appears as a tiny white dot when viewed from the top of the diamond (where the drilling was performed), but as a long white line when viewed from the side. In addition, fractures in a diamond can be filled with a clear glass-like material, making them less visible. GIA will not certify diamonds which have been fracture filled.</div>
                        
                                                    <div class="fLeft">
                                                        <p class="font13 lineHeight24">While laser drilling and fracture filling are used to improve a diamond's clarity, high pressure / high temperature (HPHT) treatments are used to improve color by removing brown colorations from the diamond. HPHT involves placing the diamond in a pressure vessel and applying extremely high pressure and temperature. This environment mimics the conditions the diamond crystal was originally formed under. The effects of HPHT are permanent, and the presence of the treatment is very difficult to detect. GIA will certify a HPHT diamond, but will note the presence of the treatment on the diamond's certificate. </p>
                                                        <p class="font13 lineHeight24">Any treatment or "enhancement" made to a diamond lowers its value.<span class="fmOpenB color0044"> IFtoSI does not sell diamonds that have been treated in any way, including HPHT</span>.</p>
                                                    </div>
                                                </div>-->
                        <!--                        <div class="tableContr padng15 marTop15">
                                                    <div class="subHead4">
                                                        Buying Tip:
                                                    </div>
                                                    <p class="font13 lineHeight24">If you cannot tolerate imperfections, even those you cannot see, choose a VVS2 or better diamond. About 10% of all diamonds sold fall into this category.</p>
                                                    <p class="font13 lineHeight24">The most popular range is the VS1-VS2 diamond. These diamonds appear flawless to the naked eye, and are a fraction of the price of a truly flawless diamond. Almost half of all diamonds purchased fall into this range.</p>
                                                    <p class="font13 lineHeight24">The next most popular range is SI1, where the inclusions are usually not significant enough to impact the appearance of the diamond for the casual observer. Often, customers will opt for this clarity range in exchange for a higher cut or color grade. This combination often results in a beautiful, lively diamond with imperfections detectable only upon close inspection. In diamonds under 1 carat, the same can be said for an SI2 grade. In diamonds over 1 carat (where clarity is more important, and SI2 inclusions are often easier to detect), an SI2 is often half the price of a VS1 diamond. About one third of diamonds sold fall into the SI1-SI2 range.</p>
                                                    <p class="font13 lineHeight24">If you are primarily concerned with size and price, I1 may be your best option. While the inclusions are visible to the unaided eye, many customers find it to be well worth the sacrifice for what it affords in size.</p>
                                                    <p class="font13 lineHeight24">The larger the diamond, the easier imperfections are to detect; therefore Clarity becomes more important. For diamonds over 2 carats, a clarity grade of VS2 or higher is the safest bet for avoiding any signs of visible inclusions. In diamonds between 1 and 2 carats, clarity grades of SI1 or better will not have inclusions easily visible to the naked eye. In diamonds under 1 carat, clarity should be considered the least important of the traditional 4 Cs. </p>
                                                    <p class="font13 lineHeight24">Brilliant-cut diamonds (such as round, princess, cushion, oval, pear, and marquise) hide inclusions better than step cuts (emerald, asscher). When purchasing a step-cut, move up one clarity grade (e.g. purchase a VS2 instead of an SI1 if you desire the lowest grade that has no visible inclusions).</p>
                                                    <p class="font13 lineHeight24">If, while shopping for a diamond, you are ever given a clarity range (e.g. SI1-SI2) as opposed to a specific clarity grade, the diamond is not certified by GIA. The seller is only estimating the diamond's clarity using GIA terminology.</p>
                                                    <center><a id="dialink" href="<?php echo DOMAIN; ?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink">Search for a diamond now</div></a></center>
                                                </div>-->

                    </div>
                </div>
                <?php include 'link.html'; ?>
            </div>
        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['clarity']; ?>"></script>
</body>
</html>

