<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">FAQs</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="faqs">
                        <div class="paraHead fmOpenL color0044">For Buyers</div>
                        <div class="ques font15" id="que1">
                            1.How does IFtoSI help me in saving time and money while sourcing diamond solitaires, jewellery or bullion?
                        </div>
                        <div class="ans">
                            <div class="para">
                                <b>Diamond solitaires:</b><br> IFtoSI connects you directly with the diamond dealers or importers
                                who have offices in the diamond bourse.  Normally solitaires change at least two to three 
                                hands before it reaches the final buyer. IFtoSI eliminates this scope of involving any 
                                middlemen in your purchase process thus saving your money and time.
                            </div>
                            <div class="para">
                                <b>Jewellery:</b><br> Sitting in the comfort of one’s home and office, you can select the jewellery
                                you like and block it for a limited period. Once the jewellery has been blocked, you can 
                                visit the store at an appointed time and make your purchase. This process helps you 
                                save time. Also, you get to view jewellery of other manufacturers and brands on our 
                                website, where you would very unlikely to visit. 
                            </div>
                            <div class="para">
                                <b>Bullion:</b><br> IFtoSI connects you directly with the bullion manufacturers having offices or
                                shops in the jewellery hotspots in their respective cities. The gold coins sold by them are 
                                hallmarked for authenticity and there are no middlemen involved. You can visit their 
                                office or shop in your city or even have the coins delivered at your home.
                            </div>
                        </div>
                        <div class="ques font15" id="que2">
                            2.My family has been buying solitaires and jewellery since many years from our
                            trusted family jeweller. What is the credibility of the diamond companies, jewellers 
                            and bullion merchants listed on your site?
                        </div>
                        <div class="ans">
                            <div class="para">
                                All products on IFtoSI are sold and delivered by third party sellers that are neither
                                employed by, nor have any other relationship with IFtoSI itself. You can be assured of 
                                the quality of products offered on IFtoSI as every vendor listed on our site has been 
                                carefully scrutinized for legitimacy of business, quality of products and service to 
                                customers.  These companies are well established with proper VAT Nos. and are also 
                                registered with their respective trade bodies and councils. Many of them have multiple 
                                offices in India and abroad. Once you register at IFtoSI, you can also get access to 
                                these details for your own satisfaction.
                            </div>
                        </div>
                        <div class="ques font15" id="que3">
                            3. Do I have to pay a charge or fee to start making my purchases?
                        </div>
                        <div class="ans">
                            <div class="para">
                                No, that’s another good news! There are no fees or charges whatsoever for you to start
                                making your purchases.
                            </div>                       
                        </div>
                        <div class="ques font15" id="que4">
                            4.How can I make a purchase through IFtoSI.com?
                        </div>
                        <div class="ans">
                            <div class="para">
                                IFtoSI has made the purchase process  very simple. You need to first register for FREE 
                                on our site  <a href="<?php echo DOMAIN;?>"><span class="fmOpenB color0044">www.IFtoSI.com.</span></a> For this, just enter your name, email id and other necessary 
                                details on our buyer registration form. Once you receive the ‘verified your account’ 
                                confirmation email in your inbox, you can use your login details to access our inventory, 
                                analyze your requirements and contact the seller to make your purchases directly.
                            </div>
                        </div>
                        <div class="ques font15" id="que5">
                            5. What is a diamond certificate?
                        </div>
                        <div class="ans">
                            <div class="para">
                                A diamond certificate, also known as a diamond report, is issued by an 
                                accredited independent gemmological laboratory like GIA, IGI or HRD. In addition 
                                to the diamond’s carat weight and measurements, a certificate includes grades 
                                for the diamond’s cut, color and clarity. These grades are the opinion of the 
                                individual at the lab who graded the diamond, based on the lab’s own subjective 
                                grading standards. Certificates also include other information about the 
                                diamond’s polish, symmetry and fluorescence, and also a graphical depiction of 
                                the diamond showing the location of the diamond’s inclusions.
                            </div>
                        </div>
                        <div class="ques font15" id="que6">
                            6.What is a jewellery certificate?
                        </div>
                        <div class="ans">
                            <div class="para">
                                A jewellery certificate is issued by accredited independent gemmological
                                laboratories that specialize in grading the quality of diamonds used in the 
                                jewellery. These grades are the opinion of the individual at the lab who graded 
                                the jeweller and are based on the lab’s own subjective grading standards. The 
                                jewellery certificate mentions the quality of diamonds, weight of diamonds, colour 
                                stones details and the gold weight.
                            </div>
                        </div>
                        <div class="ques font15" id="que7">
                            7.What is a hallmark?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Hallmark has been acting as a safeguard to purchasers of gold and gold articles 
                                for centuries in various countries. In simple terms, Hallmark is a purity 
                                certification of gold articles in accordance with Indian Standard specifications. 
                                Gold articles are evaluated and tested at an official Assaying and Hallmarking 
                                Centre and then certified that the metal used conforms to the national and 
                                international standard of fineness and purity.
                                The BIS hallmark, a mark of conformity widely accepted by the consumer, 
                                bestows the additional confidence to the consumer on the purity of gold 
                                jewellery.
                            </div>
                        </div>
                        <div class="ques font15" id="que8">
                            8.How will I receive details of quote from IFtoSI.com?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Once you have finalized the product you want to buy, you can contact the respective 
                                seller and get a quote by speaking on the phone or via e-mail which will be sent to you 
                                by the seller.
                            </div>
                        </div>

                        <div class="ques font15" id="que9">
                            9.Will I get an option to select the quote?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Yes, you will see numerous quotes based on your requirement. You can select whatever is suitable to you.
                            </div>
                        </div>

                        <div class="ques font15" id="que10">
                            10.Are there any charges applicable on the quote provided to me?
                        </div>
                        <div class="ans">
                            <div class="para">
                                There are absolutely no charges applicable to you on any quote. You can ask for as
                                many quotes as you wish.
                            </div>
                        </div>

                        <div class="ques font15" id="que11">
                            11.Once the seller and I agree upon a rate, how long is it valid for?
                        </div>
                        <div class="ans">
                            <div class="para">
                                If you have decided what to buy you should confirm with the seller and act upon 
                                accordingly. While diamond prices are controlled by the dollar rate, bullion rates change 
                                by the minute. You need to confirm immediately before the price changes. Jewellery 
                                quotes may be valid for a few days but will be subject to its availability in the seller’s 
                                stock.
                            </div>
                        </div>

                        <div class="ques font15" id="que12">
                            12.How can I make the payment to the seller?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Payment can be made directly to the seller by whatever medium that is comfortable to 
                                both of you.
                            </div>
                        </div>

                        <div class="ques font15" id="que13">
                            13.Do I need to submit any documents while making a purchase?
                        </div>
                        <div class="ans">
                            <div class="para">
                                You will be required to furnish your pan card details for purchases above INR 5 lacs for
                                solitaires and jewellery and for purchases above INR 2 lacs for bullion. The pan card 
                                details can be given directly to the seller. There will also be 1% TDS applicable.
                            </div>
                        </div>

                        <div class="ques font15" id="que14">
                            14.Is there any home delivery facility?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Well, this depends on the seller. As long as he is comfortable, home delivery is possible.
                            </div>
                        </div>

                        <div class="ques font15" id="que15">
                            15.How can I be assured of the quality of the solitaires I buy from IFtoSI?
                        </div>
                        <div class="ans">
                            <div class="para">
                                Solitaires are traded worldwide based on the diamond certificate. A diamond certificate, 
                                also known as a diamond report, is issued by an accredited independent gemmological 
                                laboratory. In addition to the diamond's carat weight and measurements, a certificate 
                                includes grades for the diamond's cut, color and clarity. A diamond certificate issued by 
                                GIA, IGI and HRD are based on very stringent checks and measures. Each diamond 
                                sold at IFtoSI is certified by the seller and has a unique number laser engraved on the 
                                girdle of the diamond which cannot be replicated. Based on this unique number you can 
                                verify the diamond certificates on the respective websites of these laboratories or check 
                                it online at www.checkcerts.com
                            </div>
                        </div>

                        <div class="ques font15" id="que16">
                            16.What if at any point of time I want to return or sell my solitaire, jewellery or 
                            bullion? Is it possible? If yes, how do I go about it?
                        </div>
                        <div class="ans">
                            <div class="para">
                                The return or exchange procedures are applicable according to the individual sellers’
                                terms and conditions. This can be ascertained with the seller at the time of making the 
                                purchase. The bullion that you buy can be sold at the prevalent market rates anywhere.
                            </div>
                        </div>
                        <div class="ques font15" id="que28">
                            17.What if I receive a solitaire with a wrong certificate?
                        </div>
                        <div class="ans">
                            <div class="para">
                                This is unlikely but in a rare case if this happens, you can inform the seller immediately 
                                and also send us an email. We will assist you in following up with the seller and get the 
                                mistake rectified as soon as possible.
                            </div>
                        </div>

                        <div class="ques font15" id="que17">
                            18.Can I cancel an order I've already placed? 
                        </div>
                        <div class="ans">
                            <div class="para">
                                By placing an order for a product you agree to be bound by the conditions of sale and
                                invitation of offer included in the item's description. If you wish to cancel or modify the 
                                order, every effort will be made to accommodate your request. However in case you 
                                have already given an advance to the seller, then it will solely depend on discretion of 
                                the individual seller.
                            </div>
                        </div>
                        <div class="ques font15" id="que18">
                            19.Who should be contacted in case of any disputes? 
                        </div>
                        <div class="ans">
                            <div class="para">
                                You can contact the seller directly as well as write to us at <span class='color0044 fmOpenB'>info@IFtoSI.com</span>
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
    <script>
        var last = "";
        $(document).ready(function () {
            $(".ques").click(function () {
                $('.ans').each(function () {
                    $(this).slideUp();
                });

                if (last == '' || (last !== '' && last.attr('id') !== $(this).attr('id')) || (last !== '' && last.attr('id') === $(this).attr('id') && last.next(".ans").is(":visible") === false))
                {
                    last = $(this);
                    $(this).next(".ans").slideDown();
                }
            });
        });
    </script>
</body>
</html>
