<div id='filters' class='filterList fLeft transit-100X transition300'>
    <div id='mfHeader' class="mfHeader fLeft fmOpenR">
        <div class="backToRes fLeft ripplelink poR" onclick="swichFilter();">Back to results</div>
        <div class="clearFill fRight ripplelink poR">Clear</div>
    </div>
    <div class='shapesCont resultsPage hideShow'>
        <div class="wrapperMax">
            <div class="allShapes resultsPage">
                <div class="fLeft optionTitle fmOpenR">All Shapes</div>
                <center>
                    <div class="shapeComm transition300 ripplelink Round">
                    </div><div class="shapeComm transition300 ripplelink Pear">
                    </div><div class="shapeComm transition300 ripplelink Heart">
                    </div><div class="shapeComm transition300 ripplelink Princess">
                    </div><div class="shapeComm transition300 ripplelink Asscher">
                    </div><div class="shapeComm transition300 ripplelink Marquise">
                    </div><div class="shapeComm transition300 ripplelink Oval">
                    </div><div class="shapeComm transition300 ripplelink Emerald">
                    </div><div class="shapeComm transition300 ripplelink Radiant">
                    </div><div class="shapeComm transition300 ripplelink Cushion"></div>
                </center>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft hideShow">
        <div class="fLeft optionTitle fmOpenR">Sort By</div>
        <select class="sortSelect fmOpenR">
            <option>Best Match</option>
            <option>Lowest Price</option>
            <option>Highest Price</option>
            <option>Rating</option>
        </select>
    </div>

    <?php if ($page == 'jewellery' && count($showcat['subcat']) && ($showcat['catid'] == $_GET['catid'])) { ?>
        <div class="filterCont fLeft" id="idlist">
            <div class="fLeft optionTitle fmOpenR">Category</div>
            <div id="wrapper" class="fLeft">
                <div class="tree transition300">
                    <ul>
                        <li><a><?php echo $showcat['cat_name'];?></a>
                            <ul>
								<?php
								foreach($showcat['subcat'] as $ky => $vl)
								{
								?>
                                <li id='<?php echo $vl['catid'];?>'><a><?php echo $vl['cat_name'];?></a>
                                    <ul>
										<?php
										foreach($vl['subcat'] as $k => $v)
										{
										?>
                                        <li>
                                            <a>
                                                <div class="checkDiv fLeft">
                                                    <input type="checkbox" class="filled-in" id="<?php echo $v['catid'];?>"/>
                                                    <label for="<?php echo $v['catid'];?>"><?php echo $v['cat_name'];?></label>
                                                </div>
                                            </a>
                                        </li>
										<?php
										}
										?>
                                    </ul>
                                </li>
								<?php
								}
								?>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <?php } ?>
    <div class="filterCont fLeft">
        <!-- <div class="fLeft optionTitle fmOpenR">City / Area</div>
        <div class='areaCont fLeft'>
            <input type="text" id='txtArea' class="fliterTxt fLeft fmOpenR" placeholder=" Search city / area here" onkeyup="searchArea(this.value)">
            <div class="autoSuggestOuter fmOpenR dn" id="asug">
                <ul>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri</li>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri west</li>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri east</li>
                </ul>
            </div>
        </div>
        <div id='cityfil' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Bangalore"/>
                <label for="Bangalore">Bangalore</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Mumbai"/>
                <label for="Mumbai">Mumbai</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Delhi"/>
                <label for="Delhi">Delhi</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Hyderabad"/>
                <label for="Hyderabad">Hyderabad</label>
            </div>
        </div> -->
    </div>
	
	<?php
	if(count($fil))
	{
		foreach($fil as $key => $val)
		{
			if(!empty($val['attribute_range']))
			{
				if(stristr($val['attribute_range'],'-'))
					$expd = explode("-",$val['attribute_range']);
				else
					$expd = explode(",",$val['attribute_range']);
	?>
				<input type="hidden" id="<?php echo $val['attribute_name'];?>RangeMin" value="<?php echo $expd[0];?>">
				<input type="hidden" id="<?php echo $val['attribute_name'];?>RangeMax" value="<?php echo $expd[1];?>">
				<div id="<?php echo $val['attribute_name'];?>Div" class="filterCont fLeft">
					<div class="fLeft optionTitle fmOpenR"><?php echo $val['attribute_disp_name'];?></div>
					<div class='fLeft rangeCont'>
						<div class='fLeft rangeDiv'>
							<input type="text" id="<?php echo $val['attribute_name'];?>Range" class="fLeft rngInp" style="visibility: hidden;">
						</div>
					</div>
				</div>
	<?php
			}
			else if(!empty($val['attribute_values']))
			{
				$expd = explode(",",$val['attribute_values']);
	?>
				<div class="filterCont fLeft <?php echo ($page == 'diamonds') ? 'halfSize' : '';?>">
					<div class="fLeft optionTitle fmOpenR"><?php echo $val['attribute_disp_name'];?></div>
					<div id='<?php echo $val['attribute_name'].'_'.str_replace(' ','-',$val['atrribute_id']);?>' class="filterOptions fLeft fmOpenR">
						<?php
						for($i=0;$i<count($expd);$i++)
						{
						?>
							<div class="checkDiv fLeft">
								<input type="checkbox" class="filled-in" id="<?php echo $val['attribute_name'].'_'.$expd[$i];?>" />
								<label for="<?php echo $val['attribute_name'].'_'.$expd[$i];?>"><?php echo $expd[$i];?></label>
							</div>
						<?php
						}
						?>
					</div>
				</div>
	<?php
			}
		}
	}
	?>
    <div id='mfFooter' class="mfFooter fLeft fmOpenB ripplelink">
        <div id='resetDbtn'> Reset Filters</div>
        <div id='applyDbtn'> Apply Filters</div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function( ) {
        $('.tree li').each(function() {
            if ($(this).children('ul').length > 0) {
                $(this).addClass('parent');
            }
        });
        $('.tree li.parent > a').bind('click',function( ) {
            var id = $(this).parent().attr('id');
            $(this).parent().toggleClass('active');
            $(this).parent().children('ul').slideToggle('fast');
			if($(this).parent().hasClass('active'))
			{
				var idexd = $(this).text().split('/');
				console.log(idexd);
				$('#'+id+'_'+idexd[0]).addClass('shapeSelected');
			}
			else
			{
				var idexd = $(this).text().split('/');
				$('#'+id+'_'+idexd[0]).removeClass('shapeSelected');
				$('#'+id+' :input[type=checkbox]').each(function() {
					$(this).attr('checked',false);
				});
			}
			FR();
        });
        $('.tree ul:first > li').eq(0).each(function() {
            $(this).toggleClass('active');
            $(this).children('ul').slideToggle('fast');
        });
    });
</script>
