<div id='filters' class='filterList fLeft transit-100X transition300'>
    <div id='mfHeader' class="mfHeader fLeft fmOpenR">
        <div class="backToRes fLeft ripplelink poR" onclick="swichFilter();">Back to results</div>
        <div class="clearFill fRight ripplelink poR">Clear</div>
    </div>
    <div class='shapesCont resultsPage hideShow'>
        <div class="wrapperMax">
            <div class="allShapes resultsPage">
                <div class="fLeft optionTitle fmOpenR">All Shapes</div>
                <center>
                    <div class="shapeComm transition300 ripplelink Round">
                    </div><div class="shapeComm transition300 ripplelink Pear">
                    </div><div class="shapeComm transition300 ripplelink Heart">
                    </div><div class="shapeComm transition300 ripplelink Princess">
                    </div><div class="shapeComm transition300 ripplelink Asscher">
                    </div><div class="shapeComm transition300 ripplelink Marquise">
                    </div><div class="shapeComm transition300 ripplelink Oval">
                    </div><div class="shapeComm transition300 ripplelink Emerald">
                    </div><div class="shapeComm transition300 ripplelink Radiant">
                    </div><div class="shapeComm transition300 ripplelink Cushion"></div>
                </center>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft hideShow">
        <div class="fLeft optionTitle fmOpenR">Sort By</div>
        <select class="sortSelect fmOpenR">
            <option>Best Match</option>
            <option>Lowest Price</option>
            <option>Highest Price</option>
            <option>Rating</option>
        </select>
    </div>
    <div class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">City / Area</div>
        <div class='areaCont fLeft'>
            <input type="text" id='txtArea' class="fliterTxt fLeft fmOpenR" placeholder=" Search city / area here" onkeyup="searchArea(this.value)">
            <div class="autoSuggestOuter fmOpenR dn" id="asug">
                <ul>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri</li>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri west</li>
                    <li class="autoSuggstions transition300 txtCap" onclick="setData(this)">andheri east</li>
                </ul>
            </div>
        </div>
        <div id='cityfil' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Bangalore"/>
                <label for="Bangalore">Bangalore</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Mumbai"/>
                <label for="Mumbai">Mumbai</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Delhi"/>
                <label for="Delhi">Delhi</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="Hyderabad"/>
                <label for="Hyderabad">Hyderabad</label>
            </div>
        </div>
    </div>
    <div id="caratsDiv" class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">Carats</div>
        <div class='fLeft rangeCont'>
            <div class='fLeft rangeDiv'>
                <input type="text" id="caratsRange" class="fLeft rngInp" style="visibility: hidden;">
            </div>
        </div>
    </div>
    <div class="filterCont fLeft forClarity">
        <div class="fLeft optionTitle fmOpenR">Color</div>
        <div id='color' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clD"/>
                <label for="clD">D</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clE"/>
                <label for="clE">E</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clF"/>
                <label for="clF">F</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clG"/>
                <label for="clG">G</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clH"/>
                <label for="clH">H</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clI"/>
                <label for="clI">I</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clJ"/>
                <label for="clJ">J</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="clK"/>
                <label for="clK">K</label>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft forClarity">
        <div class="fLeft optionTitle fmOpenR">Clarity</div>
        <div id='clarity' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="if"/>
                <label for="if">IF</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="vs2"/>
                <label for="vs2">VS2</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="vvs1"/>
                <label for="vvs1">VVS1</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="s11"/>
                <label for="s11">S11</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="vvs2"/>
                <label for="vvs2">VVS2</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="s12"/>
                <label for="s12">S12</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="vs1"/>
                <label for="vs1">VS1</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="s13"/>
                <label for="s13">S13</label>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">Price</div>
        <div class='fLeft rangeCont'>
            <div class='fLeft rangeDiv'>
                <input type="text" id="priceRange" class="fLeft rngInp" style="visibility: hidden;">
            </div>
        </div>
    </div>
    <div class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">Cut</div>
        <div id='cut' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="excellent"/>
                <label for="excellent">Excellent</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="vgood"/>
                <label for="vgood">Very Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="good"/>
                <label for="good">Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="fair"/>
                <label for="fair">Fair</label>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">Polish</div>
        <div id='polish' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="plexcellent"/>
                <label for="plexcellent">Excellent</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="plvgood"/>
                <label for="plvgood">Very Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="plgood"/>
                <label for="plgood">Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="plfair"/>
                <label for="plfair">Fair</label>
            </div>
        </div>
    </div>
    <div class="filterCont fLeft">
        <div class="fLeft optionTitle fmOpenR">Symmetry</div>
        <div id='symmetry' class="filterOptions fLeft fmOpenR">
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="syexcellent"/>
                <label for="syexcellent">Excellent</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="syvgood"/>
                <label for="syvgood">Very Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="sygood"/>
                <label for="sygood">Good</label>
            </div>
            <div class="checkDiv fLeft">
                <input type="checkbox" class="filled-in" id="syfair"/>
                <label for="syfair">Fair</label>
            </div>
        </div>
    </div>
    <div id='mfFooter' class="mfFooter fLeft fmOpenB ripplelink">
        <div id='resetDbtn'> Reset Filters</div>
        <div id='applyDbtn'> Apply Filters</div>
    </div>
</div>
