<?php /* include 'mainJsIncluder'; */ ?>
<input type="hidden" id="catid" value="<?php echo $_GET['catid']; ?>" />
<input type="hidden" id="ctid" value="" />
<input type="hidden" id="pgno" value="1" />
<input type="hidden" id="uid" value="<?php echo $_GET['uid']; ?>" />
<input type="hidden" id="slist" value="<?php echo $_GET['slist']; ?>" />
<input type="hidden" id="total_pageno" value="<?php echo $lastpg; ?>" />
<input type="hidden" id="sortbyvl" value="" />


<div class="bottmInfo fmOpenR">
    <div class="wrapperMax">
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Certified </div>
                <div class="infoLower">Vendors</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Lowest Price</div>
                <div class="infoLower">Guaranteed</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Hallmarked</div>
                <div class="infoLower">Products</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">International</div>
                <div class="infoLower">Certification</div>
            </div>
        </div>
    </div>
</div>
<?php
if($case != 'b2bproducts' && $case != 'b2bdetails')
{
?>
<div class="pageLinks fmOpenR">
	<center>
       <a href="<?php echo DOMAIN?>About-Us" alt="About Us" title="About Us"><div class="lowerFooterTab transition100">ABOUT US</div></a>
	<?php /*   <a href="<?php echo DOMAIN?>Membership" alt="Membership" title="Membership"><div class="lowerFooterTab transition100">MEMBERSHIP</div></a> */?>
	   <a href="<?php echo DOMAIN?>Education" alt="Education" title="Education"><div class="lowerFooterTab transition100">EDUCATION</div></a>
	   <a href="<?php echo DOMAIN?>FAQ" alt="FAQ" title="FAQ"><div class="lowerFooterTab transition100">FAQ</div></a>
	   <a href="<?php echo DOMAIN?>Terms-Of-Service" alt="Terms Of Service" title="Terms Of Service"><div class="lowerFooterTab transition100">TERMS OF SERVICE</div></a>
	   <a href="<?php echo DOMAIN?>Terms-Of-Listing" alt="Terms Of Listing" title="Terms Of Listing"><div class="lowerFooterTab transition100">TERMS OF LISTING</div></a>
	   <a href="<?php echo DOMAIN?>Privacy-Policy" alt="Privacy Policy" title="Privacy Policy"><div class="lowerFooterTab transition100">PRIVACY POLICY</div></a>
	   <a href="<?php echo DOMAIN?>Contact-Us" alt="Contact Us" title="Contact us"><div class="lowerFooterTab transition100">CONTACT US</div></a>
	   <?php /* <a href="<?php echo DOMAIN?>Vendor-Sign-Up" alt="Vendor SignUp" class="dn" title="Vendor SignUp" id="vsignup"><div class="lowerFooterTab transition100" >VENDOR SIGN UP</div></a> */ ?>
    </center>
    <div class="fLeft font11 fmOpenR copyright">
        &copy; copyrights <?php echo date("Y"); ?> IFtoSI.com &nbsp; All rights reserved.
    </div>
</div>

<?php
}
?>
<script type="text/javascript">
	var prdList = "<?=$prdList;?>";
        var similarPrdList = "<?=$smPrdList;?>";
</script>
