<input type="hidden" id="catid" value="<?php echo $_GET['catid']; ?>" />
<input type="hidden" id="ctid" value="" />
<input type="hidden" id="pgno" value="1" />
<input type="hidden" id="uid" value="<?php echo $_GET['uid']; ?>" />
<input type="hidden" id="slist" value="<?php echo $_GET['slist']; ?>" />
<input type="hidden" id="total_pageno" value="<?php echo $lastpg; ?>" />
<div class="bottmInfo fmOpenR">
    <div class="wrapperMax">
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Range of</div>
                <div class="infoLower">Solitaires</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Lowest Price</div>
                <div class="infoLower">Guaranteed</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Services of a</div>
                <div class="infoLower">Gemologist</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">International</div>
                <div class="infoLower">Certification</div>
            </div>
        </div>
    </div>
</div>
<div class="pageLinks fmOpenR">
	<center>
       <a href="<?php echo DOMAIN?>index.php?case=about_us" alt="About Us" title="About Us"><div class="lowerFooterTab transition100">ABOUT US</div></a>
	   <a href="<?php echo DOMAIN?>index.php?case=membership" alt="Membership" title="Membership"><div class="lowerFooterTab transition100">MEMBERSHIP</div></a>
	   <a href="<?php echo DOMAIN?>index.php?case=education" alt="Education" title="Education"><div class="lowerFooterTab transition100">EDUCATION</div></a>
	   <a href="<?php echo DOMAIN?>index.php?case=faq" alt="FAQs" title="FAQs"><div class="lowerFooterTab transition100">FAQs</div></a>   
	   <a href="<?php echo DOMAIN?>index.php?case=terms_conditions" alt="Terms And Conditions" title="Terms And Conditions"><div class="lowerFooterTab transition100">TERMS &amp; CONDITIONS</div></a>
    </center>
</div>
