<div class="bottmInfo fmOpenR">
    <div class="wrapperMax">
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Range of</div>
                <div class="infoLower">Solitaires</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Lowest Price</div>
                <div class="infoLower">Guaranteed</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">Services of a</div>
                <div class="infoLower">Gemologist</div>
            </div>
        </div>
        <div class="infoComm fLeft">
            <div class="infoTxt fLeft">
                <div class="infoUpper">International</div>
                <div class="infoLower">Certification</div>
            </div>
        </div>
    </div>
</div>