<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR signupPage forgotP">
        <div class="wrapper">
            <div class='signupDiv' style="height:184px;">
                <div class="wrapperMax">
                     <div class="signupTitle fLeft">Forgot Password?</div>
                     <div class="inputCont fLeft fmOpenR">
                         <input type="text" id="pr_email" name="pr_email" autocomplete="off" class="txtInput cOrange fmOpenR font14 emailIcon" onKeyPress="common.eSubmit(event, 'submitBtn');">
                        <label for="pr_email" class="inp-label transition100">MOBILE</label>
                        <div id="pr_email_inpText" class="inpText fRight transition300">enter<br> mobile number</div>
                    </div>
                     <div class="cancelLgBtn fLeft fmOpenR ripplelink poR" id='cancelBtn' onclick="window.location.assign(DOMAIN+'index.php')"> CANCEL</div>
                    <div class="loginBtn fLeft fmOpenR ripplelink poR" id='submitBtn'>RETRIEVE</div>
                </div>
            </div>
        </div>
         <?php include 'logo.html'?>
    </div>
     <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?=$jvs['signup'];?>"></script>
    <script type="text/javascript" src="<?=$jvs['comm'];?>"></script>
    <script>
        
    $('#submitBtn').click(function () {
        var pr_email=  $('#pr_email').val();
        $.ajax({url: DOMAIN + "apis/index.php?action=forgotPwd&email=" + pr_email, success: function (result) {
            var obj = jQuery.parseJSON(result);
            var errCode = obj['error']['Code'];
            var errMsg = obj['error']['Msg'];
            if(errCode == 1) {
                customStorage.toast(0,errMsg);
            } else {
                customStorage.toast(1,errMsg);
                window.location.assign(DOMAIN + "index.php?case=login");
            }
        }});
    });
    </script>
</body>

