<!DOCTYPE html>

<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR education_oval">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <div class="catCont">
                        <div class="category">GEM ENCYCLOPEDIA</div>
                        <div class="category">ANALYSIS & GRADING</div>
                        <div class="category">PROFESSIONAL EDUCATION</div>
                        <div class="category">RESEARCH & NEWS</div>
                        <div class="category">ABOUT IFtoSI</div>
                    </div> 
                </div>

            </div>
            <div class="sectionCont fLeft">
                <div class="wrapperMax">
                    <div class="headrParts paddTop">
                        <div class="font12 fmOpenB colo4d4d txtCenter">FEATURED GEM</div>
                        <div class="font50 color0044 fmOpenR txtCenter">GARNET</div>
                        <p class="font18 lineHeight24 txtCenter colo4d4d fmOpenR margnTop0">
                            Garnets are a set of closely related minerals forming a group, with gemstones in almost every color.
                        </p>
                    </div>
                    <div class="centerPart ">
                        <div class="font50 color0044 fmOpenR txtCenter marTop15">GEM ENCYCLOPEDIA</div>
                    </div>
                    <div class="headrParts paddTop">
                        <div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                        <p class="fmOpenR lineHeight24 colo4d4d font18 txtCenter">
                            The garnet group of related mineral species offers gems of every hue, including fiery red pyrope, vibrant orange spessartine, and rare intense-green varieties of grossular and andradite.
                        </p>
                        <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink">More About This Stone</div></a></center>
                        <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                    </div>
                </div>
            </div>
            <div class="wrapperMax">
                <div class="filterSec fLeft">
<!--                    <div class="fLeft subDiv fmOpenB filterIcon txtCenter">FILTER BY COLOR<div class='downArrow'></div></div>
                    <div class="fLeft subDiv fmOpenB countryIcon txtCenter">FILTER BY COUNTRY<div class='downArrow'></div></div>-->
                    <div class="fLeft subDiv fmOpenB">VIEW GEMS BY<div class="btn1 font13 transition300 butn" id="polish">POLISHED</div><div class="butn btn2 font13 transition300" id="rgh">ROUGH</div></div>
                    <div class="fRight subDiv fmOpenB"><input type="text" name="" value="" placeholder="find a gem" class="searchBar fmOpenR font13"></div>
                </div>
            </div>
            <!--            <div class="maxDiv">-->
            <div class="gemContr">
                <div class="maxDiv" id="first">
                    <div class="gemContrDiv bordrImg transition300 row1" id="alxImg"><div class="imgHolder satellite1 gemTitle polished">ALEXANDRITE</div><div class="imgHolder roughImg1 gemTitle rough dn" >ALEXANDRITE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row1" id="ambImg"><div class="imgHolder satellite2 gemTitle polished">AMBER</div><div class="imgHolder roughImg2 gemTitle rough  dn" >AMBER</div></div>
                    <div class="gemContrDiv bordrImg transition300 row1" id="amyImg"><div class="imgHolder satellite3 gemTitle polished">AMETHYST</div><div class="imgHolder roughImg3 gemTitle rough dn" >AMETHYST</div></div>
                    <div class="gemContrDiv bordrImg transition300 row1" id="amtImg"><div class="imgHolder satellite4 gemTitle polished">AMETRINE</div><div class="imgHolder roughImg4 gemTitle rough dn" >AMETRINE</div></div>
                    <div class="gemContrDiv sideBorder bordrImg transition300 row1" id="aqaImg"><div class="imgHolder satellite5 gemTitle polished">AQUAMARINE</div><div class="imgHolder roughImg5 gemTitle rough dn" >AQUAMARINE</div></div>
                </div>

                <!--                first row-->

                <div class="info1 dn first_info">
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter alexandrite dn  alxImg_desc">ALEXANDRITE</div>
                            <div class="font40 color0044 fmOpenR txtCenter amber dn ambImg_desc">AMBER</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn amyImg_desc">AMETHYST</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn amtImg_desc">AMETRINE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn aqaImg_desc">AQUAMARINE</div>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR alxImg_desc dn" >Green in sunlight. Red in lamplight. Color-changing alexandrite is nature’s magic trick.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR ambImg_desc dn" >Amber is nature’s time capsule. This fossilized tree resin contains remnants of life on earth millions of years ago.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  amyImg_desc dn">The essence of the color purple, amethyst is beautiful enough for crown jewels yet affordable enough for class rings.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR amtImg_desc dn">This transparent quartz has colors of both amethyst and citrine, and is called ametrine or amethyst-citrine.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR aqaImg_desc dn">Named after seawater, aquamarine’s fresh watery hue is a cool plunge into a refreshing pool.</p>
                        </div>

                        <div class="large1 alxImg_desc dn pl"></div>
                        <div class="large2 ambImg_desc dn pl"></div>
                        <div class="large3 amyImg_desc dn pl"></div>
                        <div class="large4 amtImg_desc dn pl"></div>
                        <div class="large5 aqaImg_desc dn pl"></div>


                        <div class="largeRough1 alxImg_desc dn rg" ></div>
                        <div class="largeRough2 ambImg_desc dn rg" ></div>
                        <div class="largeRough3 amyImg_desc dn rg" ></div>
                        <div class="largeRough4 amtImg_desc dn rg" ></div>
                        <div class="largeRough5 aqaImg_desc dn rg" ></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter alxImg_desc dn">It’s the color-change variety of the mineral, chrysoberyl. Bluish green in daylight, purplish red under incandescent light; hard and durable. Top quality examples are rare and valuable.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter ambImg_desc dn">Fossilized resin, color of the burnished sun--orange or golden brown. Amber might trap and preserve ancient life, including insects, leaves, even scorpions and occasionally lizards.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter amyImg_desc dn">Ametrine, one of the rarest types of transparent quartz, combines two colors: amethyst’s purple and citrine’s orange-to-yellow, growing together in a single crystal</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter amtImg_desc dn">Purple variety of the mineral quartz, often forms large, six-sided crystals. Fine velvety-colored gems come from African and South American mines. In demand for jewelry at all price points.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter aqaImg_desc dn">Blue to slightly greenish-blue variety of the mineral beryl. Crystals are sometimes big enough to cut fashioned gems of more than 100 carats. Well-formed crystals might make superb mineral specimens.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

                <div class="maxDiv" id="second">
                    <div class="gemContrDiv bordrImg transition300 row2" id="citImg" ><div class="imgHolder satellite6 gemTitle polished">CITRINE</div><div class="imgHolder roughImg6 gemTitle rough dn">CITRINE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row2" id="diaImg"><div class="imgHolder satellite7 gemTitle polished">DIAMOND</div><div class="imgHolder roughImg7 gemTitle rough dn">DIAMOND</div></div>
                    <div class="gemContrDiv bordrImg transition300 row2" id="fanImg"><div class="imgHolder satellite8 gemTitle polished">FANCY COLOR DIAMOND</div><div class="imgHolder roughImg8 gemTitle rough dn">FANCY COLOR DIAMOND</div></div>
                    <div class="gemContrDiv bordrImg transition300 row2" id="emeImg"><div class="imgHolder satellite9 gemTitle polished">EMERALD</div><div class="imgHolder roughImg9 gemTitle rough dn">EMERALD</div></div>
                    <div class="gemContrDiv sideBorder bordrImg transition300 row2 " id="garImg"><div class="imgHolder satellite10 gemTitle polished">GARNET</div><div class="imgHolder roughImg10 gemTitle rough dn">GARNET</div></div>
                </div>

                <!--                second row-->

                <div class="info1 dn second_info" >
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter  dn  citImg_desc">CITRINE</div>
                            <div class="font40 color0044 fmOpenR txtCenter  dn diaImg_desc">DIAMOND</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn fanImg_desc">FANCY COLOR DIAMOND</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn emeImg_desc">EMERALD</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn garImg_desc">GARNET</div>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR citImg_desc dn" >Citrine is the transparent, pale yellow to brownish orange variety of quartz.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR diaImg_desc dn" >Diamonds are among nature’s most precious and beautiful creations</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  fanImg_desc dn">Dazzling brilliance. Captivating color. The planet’s most valued gems are fancy color diamonds.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR emeImg_desc dn">Emerald is the bluish green to green variety of beryl, a mineral species that includes aquamarine.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR garImg_desc dn">Garnets are a set of closely related minerals forming a group, with gemstones in almost every color.</p>
                        </div>
                        <div class="large6 citImg_desc dn pl"></div>
                        <div class="large7 diaImg_desc dn pl"></div>
                        <div class="large8 fanImg_desc dn pl"></div>
                        <div class="large9 emeImg_desc dn pl"></div>
                        <div class="large10 garImg_desc dn pl"></div>

                        <div class="largeRough6 citImg_desc dn rg" ></div>
                        <div class="largeRough7 diaImg_desc dn rg" ></div>
                        <div class="largeRough8 fanImg_desc dn rg" ></div>
                        <div class="largeRough9 emeImg_desc dn rg" ></div>
                        <div class="largeRough10 garImg_desc dn rg" ></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter citImg_desc dn">Citrine’s color comes from traces of iron. It’s perhaps the most popular and frequently purchased yellow gemstone and an attractive alternative for topaz as well as for yellow sapphire.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter diaImg_desc dn">This hardest gem of all is made of just one element: carbon. It’s valued for its colorless nature and purity. Most diamonds are primeval—over a billion years old—and form deep within the earth.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter fanImg_desc dn">Fine color diamonds are the most rare and costly of all gemstones. Their ranks include the world’s most famous jewel—the Hope—and the most expensive gem ever auctioned—The Graff Pink.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter emeImg_desc dn">The most valued variety of beryl, emerald was once cherished by Spanish conquistadors, Inca kings, Moguls, and pharaohs. Today, fine gems come from Africa, South America, and Central Asia.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter garImg_desc dn">The garnet group of related mineral species offers gems of every hue, including fiery red pyrope, vibrant orange spessartine, and rare intense-green varieties of grossular and andradite.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

                <div class="maxDiv" id="third">
                    <div class="gemContrDiv bordrImg transition300 row3" id="iolImg"><div class="imgHolder satellite11 gemTitle polished">IOLITE</div><div class="imgHolder roughImg11 gemTitle rough dn">IOLITE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row3" id="jadImg"><div class="imgHolder satellite12 gemTitle polished">JADE</div><div class="imgHolder roughImg12 gemTitle rough dn">JADE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row3" id="kunImg"><div class="imgHolder satellite13 gemTitle polished">KUNZITE</div><div class="imgHolder roughImg13 gemTitle rough dn">KUNZITE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row3" id="lapImg"><div class="imgHolder satellite14 gemTitle polished">LAPIS LAZULI</div><div class="imgHolder roughImg14 gemTitle rough dn">LAPIS LAZULI</div></div>
                    <div class="gemContrDiv sideBorder bordrImg transition300 row3" id="mnlImg"><div class="imgHolder satellite15 gemTitle polished">MOON STONE</div><div class="imgHolder roughImg15 gemTitle rough dn">MOON STONE</div></div>
                </div>

                <!--                third row-->

                <div class="info1 third_info dn">
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter  dn  iolImg_desc">IOLITE</div>
                            <div class="font40 color0044 fmOpenR txtCenter  dn jadImg_desc">JADE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn kunImg_desc">KUNZITE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn lapImg_desc">LAPIS LAZULI</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn mnlImg_desc">MOONSTONE</div>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR iolImg_desc dn" >According to legend, Vikings used iolite slices to reduce glare when checking the sun’s position.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR jadImg_desc dn" >Jade is actually two separate gems: nephrite and jadeite. In China, a pierced jade disk is a symbol of heaven.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  kunImg_desc dn">Collectors love kunzite for its color range, from delicate pastel pink to intense violetish purple.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR lapImg_desc dn">Lapis is a beautiful rock; an aggregate of several minerals, mainly lazurite, calcite, and pyrite.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR mnlImg_desc dn">A ghostly sheen moves under the surface of this feldspar, like moonlight glowing in water.</p>
                        </div>
                        <div class="large11 iolImg_desc dn pl"></div>
                        <div class="large12 jadImg_desc dn pl"></div>
                        <div class="large13 kunImg_desc dn pl"></div>
                        <div class="large14 lapImg_desc dn pl"></div>
                        <div class="large15 mnlImg_desc dn pl"></div>

                        <div class="largeRough11 iolImg_desc dn rg"></div>
                        <div class="largeRough12 jadImg_desc dn rg"></div>
                        <div class="largeRough13 kunImg_desc dn rg"></div>
                        <div class="largeRough14 lapImg_desc dn rg"></div>
                        <div class="largeRough15 mnlImg_desc dn rg"></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter iolImg_desc dn">Known in the jewelry trade as iolite, this mineral is known as cordierite to geologists and mineralogists. It was named after French mineralogist Pierre Cordier.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter jadImg_desc dn">Prized by civilizations from ancient China to the Aztecs and Mayans of Central America, jade is crafted into objects of stunning artistry.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter kunImg_desc dn">Trace amounts of manganese give this pink to violet variety of spodumene its feminine glow. A relative newcomer to the gemstone stage, kunzite was only confirmed as a unique variety of spodumene in the early part of the twentieth century.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter lapImg_desc dn">Lapis lazuli is treasured for its beautiful deep blue color. Afghanistan is considered the source of the best-quality lapis.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter mnlImg_desc dn">Feldspar prized for its billowy blue adularescence, caused by light scattering from an intergrowth of microscopic, alternating layers. Favored gem of many Art Nouveau jewelry designers.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

                <div class="maxDiv" id="fourth">
                    <div class="gemContrDiv bordrImg transition300 row4" id="morImg"><div class="imgHolder satellite16 gemTitle polished">MORGANITE</div><div class="imgHolder roughImg16 gemTitle rough dn">MORGANITE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row4" id="oplImg"><div class="imgHolder satellite17 gemTitle polished">OPAL</div><div class="imgHolder roughImg17 gemTitle rough dn">OPAL</div></div>
                    <div class="gemContrDiv bordrImg transition300 row4" id="prlImg"><div class="imgHolder satellite18 gemTitle polished">PEARL</div><div class="imgHolder roughImg18 gemTitle rough dn">PEARL</div></div>
                    <div class="gemContrDiv bordrImg transition300 row4" id="pdtImg"><div class="imgHolder satellite19 gemTitle polished">PERIDOT</div><div class="imgHolder roughImg19 gemTitle rough dn">PERIDOT</div></div>
                    <div class="gemContrDiv sideBorder bordrImg transition300 row4" id="rosImg"><div class="imgHolder satellite20 gemTitle polished">ROSE QUARTZ</div><div class="imgHolder roughImg20 gemTitle rough dn">ROSE QUARTZ</div></div>
                </div>

                <!--                    fourth row-->

                <div class="info1 dn fourth_info" id="row_4">
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter  dn  morImg_desc">MORGANITE</div>
                            <div class="font40 color0044 fmOpenR txtCenter  dn oplImg_desc">OPAL</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn prlImg_desc">PEARL</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn pdtImg_desc">PERIDOT</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn rosImg_desc">ROSE QUARTZ</div>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR morImg_desc dn" >Morganite is the pink to orange-pink variety of beryl, a mineral that includes emerald and aquamarine.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR oplImg_desc dn" >Fireworks. Jellyfish. Galaxies. Lightning. Opal’s shifting play of kaleidoscopic colors is unlike any other gem.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  prlImg_desc dn">Perfect shining spheres. Lustrous baroque forms. Seductive strands, warm to the touch. Pearls are simply and purely organic.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR pdtImg_desc dn">Found in lava, meteorites, and deep in the earth’s mantle, yellow-green peridot is the extreme gem</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR rosImg_desc dn">Rose quartz is a quartz variety that gets its name from its delicate pink color.</p>
                        </div>
                        <div class="large16 morImg_desc dn pl"></div>
                        <div class="large17 oplImg_desc dn pl"></div>
                        <div class="large18 prlImg_desc dn pl"></div>
                        <div class="large19 pdtImg_desc dn pl"></div>
                        <div class="large20 rosImg_desc dn pl"></div>

                        <div class="largeRough16 morImg_desc dn rg"></div>
                        <div class="largeRough17 oplImg_desc dn rg"></div>
                        <div class="largeRough18 prlImg_desc dn rg"></div>
                        <div class="largeRough19 pdtImg_desc dn rg"></div>
                        <div class="largeRough20 rosImg_desc dn rg"></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter morImg_desc dn">Like its cousins emerald and aquamarine, morganite is a variety of the beryl mineral species. This gem gets its subtle blush when a trace amount of manganese makes its way into morganite’s crystal structure.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter oplImg_desc dn">Opal’s microscopic arrays of stacked silica spheres diffract light into a blaze of flashing colors. An opal’s color range and pattern help determine its value.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter prlImg_desc dn">Produced in the bodies of marine and freshwater mollusks naturally or cultured by people with great care. Lustrous, smooth, subtly-colored pearls are jewelry staples, especially as strands.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter pdtImg_desc dn">Yellow-green gem variety of the mineral olivine. Found as nodules in volcanic rock, occasionally as crystals lining veins in mountains of Myanmar and Pakistan, and occasionally inside meteorites.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter rosImg_desc dn">Microscopic mineral inclusions cause the pink color and translucence of rose quartz. Well shaped, transparent pink quartz crystals are rare.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

                <div class="maxDiv" id="fifth">
                    <div class="gemContrDiv bordrImg transition300 row5" id="rbyImg"><div class="imgHolder satellite21 gemTitle polished">RUBY</div><div class="imgHolder roughImg21 gemTitle rough dn">RUBY</div></div>
                    <div class="gemContrDiv bordrImg transition300 row5" id="supImg"><div class="imgHolder satellite22 gemTitle polished">SUPPHIRE</div><div class="imgHolder roughImg22 gemTitle rough dn">SUPPHIRE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row5" id="spiImg"><div class="imgHolder satellite23 gemTitle polished">SPINEL</div><div class="imgHolder roughImg23 gemTitle rough dn">SPINEL</div></div>
                    <div class="gemContrDiv bordrImg transition300 row5" id="sunImg"><div class="imgHolder satellite24 gemTitle polished">SUNSTONE</div><div class="imgHolder roughImg24 gemTitle rough dn">SUNSTONE</div></div>
                    <div class="gemContrDiv sideBorder bordrImg transition300 row5" id="tanImg"><div class="imgHolder satellite25 gemTitle polished">TANZANITE</div><div class="imgHolder roughImg25 gemTitle rough dn">TANZANITE</div></div>
                </div>

                <!--                    fifth row-->

                <div class="info1 dn fifth_info" id="row_5">
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter  dn  rbyImg_desc">RUBY</div>
                            <div class="font40 color0044 fmOpenR txtCenter  dn supImg_desc">SUPPHIRE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn spiImg_desc">SPINEL</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn sunImg_desc">SUNSTONE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn tanImg_desc">TANZANITE</div>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR rbyImg_desc dn" >Ruby is the most valuable variety of the corundum mineral species, which also includes sapphire.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR supImg_desc dn" >The name “sapphire” can also apply to any corundum that’s not ruby, another corundum variety.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  spiImg_desc dn">The Black Prince’s Ruby. The Timur Ruby. For centuries, spinel, the great imposter, masqueraded as ruby in Europe’s crown jewels.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR sunImg_desc dn">Sunstone’s phenomenal varieties show a distinct and lively glitter called aventurescence.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR tanImg_desc dn">Lush blue velvet. Rich royal purple. Exotic tanzanite is found in only one place on earth, near majestic Kilimanjaro.</p>
                        </div>
                        <div class="large21 rbyImg_desc dn pl"></div>
                        <div class="large22 supImg_desc dn pl"></div>
                        <div class="large23 spiImg_desc dn pl"></div>
                        <div class="large24 sunImg_desc dn pl"></div>
                        <div class="large25 tanImg_desc dn pl"></div>

                        <div class="largeRough21 rbyImg_desc dn rg"></div>
                        <div class="largeRough22 supImg_desc dn rg"></div>
                        <div class="largeRough23 spiImg_desc dn rg"></div>
                        <div class="largeRough24 sunImg_desc dn rg"></div>
                        <div class="largeRough25 tanImg_desc dn rg"></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter rbyImg_desc dn">Traces of chromium give this red variety of the mineral corundum its rich color. Long valued by humans of many cultures. In ancient Sanskrit, ruby was called ratnaraj, or “king of precious stones.”</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter supImg_desc dn">Depending on their trace element content, sapphire varieties of the mineral corundum might be blue, yellow, green, orange, pink, purple or even show a six-rayed star if cut as a cabochon.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter spiImg_desc dn">Although frequently confused with ruby, spinel stands on its own merits. Available in a striking array of colors, its long history includes many famous large spinels still in existence.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter sunImg_desc dn">Sunstone, a member of the feldspar group, can be an orthoclase feldspar or a plagioclase feldspar, depending on chemistry. Both can show aventurescence. “Sunstone” applies to the gem’s appearance.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter tanImg_desc dn">Named for Tanzania, the country where it was discovered in 1967, tanzanite is the blue-to-violet or purple variety of the mineral zoisite. It’s become one of the most popular of colored gemstones.</p>
                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

                <div class="maxDiv" id="sixth">
                    <div class="gemContrDiv bordrImg transition300 row6" id="topImg"><div class="imgHolder satellite26 gemTitle polished">TOPAZ</div><div class="imgHolder roughImg26 gemTitle rough dn">TOPAZ</div></div>
                    <div class="gemContrDiv bordrImg transition300 row6" id="torImg"><div class="imgHolder satellite27 gemTitle polished">TORMALINE</div><div class="imgHolder roughImg27 gemTitle rough dn">TORMALINE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row6" id="turImg"><div class="imgHolder satellite28 gemTitle polished">TURQUOISE</div><div class="imgHolder roughImg28 gemTitle rough dn">TURQUOISE</div></div>
                    <div class="gemContrDiv bordrImg transition300 row6" id="zirImg"><div class="imgHolder satellite29 gemTitle polished">ZIRCON</div><div class="imgHolder roughImg29 gemTitle rough dn">ZIRCON</div></div>
                </div>

                <div class="info1 dn sixth_info" id="row_6">
                    <div class="wrapperMax">
                        <div class="closeButton fRight transition300" id="close1"></div>
                        <div class="sideInfo ">
                            <div class="font40 color0044 fmOpenR txtCenter  dn  topImg_desc">TOPAZ</div>
                            <div class="font40 color0044 fmOpenR txtCenter  dn torImg_desc">TORMALINE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn turImg_desc">TURQUOISE</div>
                            <div class="font40 color0044 fmOpenR txtCenter dn zirImg_desc">ZIRCON</div>

                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR topImg_desc dn" >Honey yellow. Fiery orange. Cyclamen pink. Icy blue. In warm or cool tones, topaz is a lustrous and brilliant gem.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR torImg_desc dn" >Tourmalines have a variety of exciting colors with one of the widest color ranges of any gem.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR  turImg_desc dn">Azure sky, robin’s egg blue: Vivid shades of turquoise define the color that’s named after this gem.</p>
                            <p class="font15 lineHeight24 txtCenter colo4d4d fmOpenR zirImg_desc dn">Zircon is a colorful gem with high refraction and fire that’s unfairly confused with cubic zirconia.</p>

                        </div>
                        <div class="large26 topImg_desc dn pl"></div>
                        <div class="large27 torImg_desc dn pl"></div>
                        <div class="large28 turImg_desc dn pl"></div>
                        <div class="large29 zirImg_desc dn pl"></div>

                        <div class="largeRough26 topImg_desc dn rg"></div>
                        <div class="largeRough27 torImg_desc dn rg"></div>
                        <div class="largeRough28 turImg_desc dn rg"></div>
                        <div class="largeRough29 zirImg_desc dn rg"></div>

                        <div class="sideInfo"><div class="fmOpenB colo4d4d font12 txtCenter">THE FACTS</div>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter topImg_desc dn">Colorless topaz treated to blue is a mass-market gem. Fine pink-to-red, purple, or orange gems are one-of-a-kind pieces. Top sources include Ouro Prêto, Brazil, and Russia's Ural Mountains.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter torImg_desc dn">Comes in many colors, including the remarkable intense violet-to-blue gems particular to Paraíba, Brazil, and similar blues from Africa. Favorite of mineral collectors.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter turImg_desc dn">Ancient peoples from Egypt to Mesoamerica and China treasured this vivid blue gem. It’s a rare phosphate of copper that only forms in the earth’s most dry and barren regions.</p>
                            <p class="fmOpenR lineHeight24 colo4d4d font15 txtCenter zirImg_desc dn">Optical properties make it bright and lustrous. Best known for its brilliant blue hues; also comes in warm autumnal yellows and reddish browns, as well as red and green hues.</p>

                            <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000?slist=Princess"><div class="searchBtn fmOpenR ripplelink margnTop0">More About This Stone</div></a></center>
                            <div class='font15 color0044 txtCenter fmOpenB cursorPointer'>Buyer's Guide</div>
                        </div>
                    </div>
                </div>

            </div> 
            <!--            </div>-->

        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">




        var lastOpen = "";
        var lastPid = "";
        $('.gemContrDiv').click(function () {
            var pid = $(this).parent().attr('id');
//            alert(pid);
            $('.' + pid + '_info').slideDown("500");
            $('.' + pid + "_info").removeClass("dn");
            var id = $(this).attr('id');
            $("." + id + "_desc").removeClass("dn");
            if (lastOpen !== id)
            {
                $("." + lastOpen + "_desc").addClass("dn");
            }
            if (lastPid !== pid)
            {
                $('.' + lastPid + "_info").slideUp("500");
            }
            lastOpen = id;
            lastPid = pid;
        });
        $(".closeButton").click(function () {
            $('.info1').slideUp("500");
        });

        $('.butn').click(function () {
            var btn_id = $(this).attr('id');

            if (btn_id === 'polish')
            {
//                alert(btn_id);
                $('.rough').addClass("dn");
                $('.polished').removeClass("dn");
                $('.rg').css('display', 'none');
                $('.pl').css('display', 'block');
                 $('.btn1').css({'background-color':'#8A0044','color':'#f0f0f0'});
                $('.btn2').css({'background-color':'#f0f0f0','color':'#8A0044'});
            } else if (btn_id === 'rgh')
            {
//                alert(btn_id);
                $('.btn2').css({'background-color':'#8A0044','color':'#f0f0f0'});
                $('.btn1').css({'background-color':'#f0f0f0','color':'#8A0044'});
                $('.pl').css('display', 'none');
                $('.polished').addClass("dn");
                $('.rough').removeClass("dn");
                $('.rg').css('display', 'block');
            }
        });

    </script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
</body>
</html>

