<?php
switch ($page) {
    case 'index':
        ?>
        <div id='header' class="header transition300">
            <div class="wrapperMax">
                <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick=""></div>
                <div class="cityName fLeft txtOver">Bangalore</div>
                <div class="headRight fRight">
                    <div class="compNo fRight fmOpenB">+91 9980051525</div>
                    <div class="signInUpTab fRight fmOpenR">Sign In / <a href="<?php echo DOMAIN; ?>signup">Sign Up</a></div>
                    <div class="headDivider fRight"></div>
                    <div class="wishlist fRight fmOpenR"><a href="<?php echo DOMAIN ?>wishlist">Wishlist</a></div>
                    <div class="wishCount fRight fmOpenR ripplelink">25</div>
                </div>
            </div>
        </div>
        <?php
    break;

    case 'diamonds':
        ?>
        <div id='header' class="header transition300">
            <div class="wrapperMax poR">
                <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick="showLeftMenu(true)"></div>
                <div id="mFilterBtn" class="filterBtn fRight transition300 ripplelink" onclick="swichFilter();"></div>
                <div class="headCatCont fLeft transition300">
                    <div id='hbgDiam' class="headCat fLeft bgDiamond transition300 headSelected"><span>Diamonds</span></div>
                    <div id='hbgJewel' class="headCat fLeft bgJewellery transition300"><span>Jewellery</span></div>
                    <div id='hbgBull' class="headCat fLeft bgBullion transition300"><span>Bullions</span></div>
                </div>
                <div class="headRight fRight">
                    <div class="compNo fRight fmOpenB">+91 9980051525</div>
                    <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                    <div class="headDivider fRight"></div>
                    <div class="wishlist fRight fmOpenR">Wishlist</div>
                    <div class="wishCount fRight fmOpenR ripplelink">25</div>
                </div>
            </div>
        </div>
        <?php
    break;

    case 'jewellery':
        ?>
        <div id='header' class="header transition300">
            <div class="wrapperMax poR">
                <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick="showLeftMenu(true)"></div>
                <div id="mFilterBtn" class="filterBtn fRight transition300 ripplelink" onclick="swichFilter();"></div>
                <div class="headCatCont fLeft transition300">
                    <div id='hbgDiam' class="headCat fLeft bgDiamond transition300 headSelected"><span>Diamonds</span></div>
                    <div id='hbgJewel' class="headCat fLeft bgJewellery transition300"><span>Jewellery</span></div>
                    <div id='hbgBull' class="headCat fLeft bgBullion transition300"><span>Bullions</span></div>
                </div>
                <div class="headRight fRight">
                    <div class="compNo fRight fmOpenB">+91 9980051525</div>
                    <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                    <div class="headDivider fRight"></div>
                    <div class="wishlist fRight fmOpenR">Wishlist</div>
                    <div class="wishCount fRight fmOpenR ripplelink">25</div>
                </div>
            </div>
        </div>

        <?php
    break;

    case 'product_details':
        ?>
        <div id='header' class="header transition300">
            <div class="wrapperMax poR">
                <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick="showLeftMenu(true)"></div>
                <div id="mFilterBtn" class="filterBtn fRight transition300 ripplelink" onclick="swichFilter();"></div>
                <div class="headCatCont fLeft transition300">
                    <div id='hbgDiam' class="headCat fLeft bgDiamond transition300 headSelected"><span>Diamonds</span></div>
                    <div id='hbgJewel' class="headCat fLeft bgJewellery transition300"><span>Jewellery</span></div>
                    <div id='hbgBull' class="headCat fLeft bgBullion transition300"><span>Bullions</span></div>
                </div>
                <div class="headRight fRight">
                    <div class="compNo fRight fmOpenB">+91 9980051525</div>
                    <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                    <div class="headDivider fRight"></div>
                    <div class="wishlist fRight fmOpenR">Wishlist</div>
                    <div class="wishCount fRight fmOpenR ripplelink">25</div>
                </div>
            </div>
        </div>
        <?php
    break;

    case 'wishlist':
        ?>
        <div id='header' class="header transition300">
            <div class="wrapperMax">
                <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick=""></div>
                <div class="cityName fLeft txtOver">Bangalore</div>
                <div class="headRight fRight">
                    <div class="compNo fRight fmOpenB">+91 9980051525</div>
                    <div class="fRight sortBox">
                        <div class="dropdownBox fLeft">
                            <div id="drpinp" class="dropInput fmOpenR"></div>
                            <ul id="hdropList" class="fmOpenR">
                                <li class="transition100">Log Out</li>
                                <li class="transition100">Wishlist (25)</li>
                                <li class="transition100">Profile</li>
                                <li class="transition100">Orders</li>
                            </ul>
                        </div>
                    </div>
                    <div class="signInUpTab fRight fmOpenR loggedIn">Hello Ankur</div>
                </div>
            </div>
        </div>
        <?php
    break;
    default:
    break;
}
?>