<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR homePage">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div id="dragTarget" class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px; -webkit-user-select: none; width: 20px;"></div>
            <div class='categoryCont'>
                <div class="wrapperMax">
                    <center>
                        <div class="buyTxt fmOpenL">What would you like to buy today?</div>
                        <ul id="scene" class="prllx transition300 txtCenter">
                            <?php
                            for ($i = 0; $i < count($data); $i++) {
                            ?>
                            <li class="layer"  data-depth="<?php echo $data[$i]['depth']; ?>">
                                <a href="<?php echo DOMAIN . strtolower(str_replace(' ', '-', $data[$i]['category_name'])); ?>/ct-<?php echo $data[$i]['category_id']; ?>">
                                    <div id='cat<?php echo $i; ?>' class="categoryCircle bg<?php echo $data[$i]['category_name']; ?> ripplelink" style="transform: scale(0);"><?php echo $data[$i]['category_name']; ?></div>
                                </a>
                            </li>
                            <?php
                            }
                            ?>
                        </ul>
                    </center>
                </div>
            </div>
            <?php
            if(count($fil))
            {
            foreach($fil as $key => $val)
            {
            if($val['attribute_name'] == 'shape')
            {
            ?>
            <div class='shapesCont'>
                <div class="wrapperMax">
                    <div class="shapesTitle fmOpenL">What's your perfect solitaire?</div>
                    <div class="allShapes">
                        <center>
                            <?php
                            $filval = explode(",", $val['attribute_values']);
                            foreach ($filval as $ky => $vl)
                            {
                            ?>
                            <div id="<?php echo $vl; ?>" class="shapeComm transition300 ripplelink <?php echo $vl; ?>">
                            </div><?php
                            }
                            ?>
                        </center>
                    </div>
                    <center><a id="dialink" href="<?php echo DOMAIN;?>diamonds/ct-10000"><div class="searchBtn fmOpenR ripplelink transition300">Search my diamond</div></a></center>
                </div>
            </div>
            <?php
            }
            }
            }
            ?>
            <div class='shapesCont bgGray'>
                <div class="wrapperMax">
                    <div class="shapesTitle fmOpenL">Find your perfect jewellery match!</div>
                    <?php
                    //echo "here<pre>";print_r($showcat['subcat']);die;
                    foreach($headcat['root'] as $key => $v)
                    {
                    if(count($v['subcat']) && ($v['catid'] == 10001))
                    {
                    ?>
                    <div class='jShapesCont resultsPage fmOpenL'>
                        <div class="allShapes resultsPage">
                            <div class="prImgPrev" onclick="movePrImg(true)"></div>
                            <div class="prImgNext" onclick="movePrImg(false)"></div>
                            <center>
                                <div class="prImageStrip" id="touch" >
                                    <ul class="carousel transition300" style="touch-action:pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
                                        <?php
                                        $html = '';
                                        foreach($v['subcat'] as $key => $val)
                                        {
                                        $exp = explode('/',$val['cat_name']);
                                        if($exp[0] == 'Ring' || $exp[0] == 'Earring' || $exp[0] == 'Pendant' || $exp[0] == 'Necklace' || $exp[0] == 'Bangle')
                                        {
                                        $scat = trim($exp[0].'s');
                                        }
                                        else
                                        {
                                        $scat = trim($exp[0]);
                                        }

                                        $cname = preg_replace('/[^a-zA-Z0-9]+/', ' ', $val['cat_name']);
                                        $cname = ereg_replace("[ \t\n\r]+", " ", $cname);
                                        $cname = strtolower(str_replace(" ", "-", $cname));
                                        $html.='<li id="id1">';
                                        $html .= '<a href="'.DOMAIN.strtolower($v['cat_name']).'/'.$cname.'/ct-'.$val['catid'].'">';
                                        $html .= '<div id="'.$val['catid'].'_'.$scat.'" class="jshapeComm transition300 ripplelink '.$scat.'">'.$val['cat_name'].'</div>';
                                        $html .= '</a>';
                                        $html.='</li>';
                                        }
                                        echo $html;
                                        ?>
                                    </ul>
                                </div>
                            </center>
                        </div>
                    </div>
                    <?php
                    }
                    }
                    ?>
                </div>
            </div>
            <div class='shapesCont'>
                <div class="wrapperMax">
                    <div class="shapesTitle fmOpenL">Lowest prices guaranteed for bullion!</div>
                    <?php
                    foreach($headcat['root'] as $key => $v)
                    {
                    if(count($v['subcat']) && ($v['catid'] == 10002))
                    {
                    ?>
                    <div class='jShapesCont resultsPage  fmOpenL'>
                        <div class="allShapes resultsPage bresults">
                            <center>
                                <?php
                                $html = '';
                                foreach($v['subcat'] as $key => $val)
                                {
                                $exp = explode('/',$val['cat_name']);
                                $scat = trim($exp[0]);

                                $cname = preg_replace('/[^a-zA-Z0-9]+/', ' ', $val['cat_name']);
                                $cname = ereg_replace("[ \t\n\r]+", " ", $cname);
                                $cname = strtolower(str_replace(" ", "-", $cname));

                                $html .= '<a href="'.DOMAIN.strtolower($v['cat_name']).'/'.$cname.'/ct-'.$val['catid'].'">';
                                $html .= '<div id="'.$val['catid'].'_'.$scat.'" class="jshapeComm transition300 ripplelink g'.$scat.'">'.$val['cat_name'].'</div>';
                                $html .= '</a>';
                                }
                                echo $html;
                                ?>
                            </center>
                        </div>
                    </div>
                    <?php
                    }
                    }
                    ?>
                </div>
            </div>
            <?php include 'footer.html'; ?>
        </div>
        <?php include 'logo.html'; ?>
        <?php include 'leftmenu.html'; ?>
    </div>
    <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-72438271-1', 'auto');
              ga('send', 'pageview');
    </script>
    <!--    <div id="dragTarget" class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px; -webkit-user-select: none;"></div>-->
    <script type="text/javascript" src="<?= $jvs['parlx']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['home']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript">

                                var val = 0;
                                var moveCount = 0;
                                var ele = document.getElementById('touch');
                                if(ele)
                                {
                                var mc = new Hammer(ele);

                                mc.on("panend", function (ev) {
                                    if (ev.direction === Hammer.DIRECTION_LEFT)
                                    {
                                        movePrImg(false);
                                    }else if(ev.direction === Hammer.DIRECTION_RIGHT){
                                           movePrImg(true);
                                    }
                                });
                                }

                                function movePrImg(flag) {
                                    var totalThumbs = $(".carousel  li").length;
                                    var liWidth = ($(".carousel  li").outerWidth());
                                    var mobile = $(window).width();
                                    if (!flag && mobile <= 425) {
                                        if (moveCount < (totalThumbs - 1)) {
                                            val = val - liWidth;
                                            console.log(liWidth);
                                            $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                                            moveCount++;
                                        }
                                    } else if (!flag && mobile <= 768) {
                                        if (moveCount < (totalThumbs - 2)) {
                                            val = val - liWidth;
                                            $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                                            moveCount++;
                                        }
                                    } else if (!flag && mobile <= 1024) {
                                        if (moveCount < (totalThumbs - 5)) {
                                            val = val - liWidth;
                                            $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                                            moveCount++;
                                        }

                                    } else if (!flag && mobile > 1024) {
                                        if (moveCount < (totalThumbs - 5)) {
                                            val = val - liWidth;
                                            $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                                            moveCount++;
                                        }
                                    } else if (flag) {
                                        if (moveCount > 0) {
                                            val = val + liWidth;
                                            $(".carousel").css({transform: 'translateX(' + val + 'px)'});
                                            moveCount--;
                                        }
                                    }

                                }
 </script>
  <script>
        var supportsOrientationChange = "onorientationchange" in window,
           orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";

        window.addEventListener(orientationEvent, function() {
           window.location.reload()
       }, false);

    </script>
</body>
</html>
