<!DOCTYPE html>
<html>
    <head>
        <title>IFtoSI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet"  href="tools/css/home.css">
        <link rel="stylesheet"  href="tools/css/ripple.css">
        <script  src="tools/js/lib/jquery1.9.1.min.js"></script>
    </head>
    <body>
        <div id='baseCont' class="container fmOpenR">
            <div class="wrapper">
                <div id='header' class="header transition300">
                    <div class="wrapperMax">
                        <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick=""></div>
                        <div class="cityName fLeft txtOver">Bangalore</div>
                        <div class="headRight fRight">
                            <div class="compNo fRight fmOpenB">+91 9980051525</div>
                            <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                            <div class="headDivider fRight"></div>
                            <div class="wishlist fRight fmOpenR">Wishlist</div>
                            <div class="wishCount fRight fmOpenR ripplelink">25</div>
                        </div>
                    </div>
                </div>
                <div class='categoryCont'>
                    <div class="wrapperMax">
                        <center>
                            <div class="buyTxt fmOpenL">What would you like to buy today?</div>
                            <ul id="scene" class="prllx transition300 txtCenter">
                                <li class="layer"  data-depth="0.7">
                                    <div id='catDiamond' class="categoryCircle bgDiamond ripplelink" style="transform: scale(0);">Diamonds</div>
                                </li>
                                <li class="layer"  data-depth="0.6">
                                    <div id='catJewellery' class="categoryCircle bgJewellery ripplelink"  style="transform: scale(0);">Jewellery</div>
                                </li>
                                <li class="layer"  data-depth="0.8">
                                    <div id='catBullion' class="categoryCircle bgBullion ripplelink"  style="transform: scale(0);">Bullions</div>
                                </li>
                            </ul>
                        </center>
                    </div>
                </div>
                <div class="homeProd">
                    <div class="wrapperMax">
                        <div class="hPrdComm fLeft">
                            <div class="hPrdLeft fLeft">
                                <div class="hPrdLUpper fLeft">
                                    <div class="infoTxt fLeft fmOpenL">
                                        <div class="infoUpper">Party Wear</div>
                                        <div class="infoLower">Necklaces</div>
                                    </div>
                                </div>
                                <div class="hPrdLLower fLeft img1"></div>
                            </div>
                            <div class="hPrdRight fLeft">
                                <div class="pRboxComm bgColor1 img7"></div>
                                <div class="pRboxComm img5"></div>
                                <div class="pRboxComm bgColor2 img7"></div>
                            </div>
                        </div>
                        <div class="hPrdComm fLeft">
                            <div class="st2Upper">
                                <div class="st2Left fLeft img2"></div>
                                <div class="st2Right fLeft">
                                    <div class="st2pRboxComm bgColor3 img7"></div>
                                    <div class="st2pRboxComm img4"></div>
                                </div>
                            </div>
                            <div class="st2Lower bgColor4">
                                <div class="infoTxt fLeft fmOpenL txtLeft pL25px">
                                    <div class="infoUpper">Wedding Wear</div>
                                    <div class="infoLower">Ethnic Jewellery</div>
                                </div>
                            </div>
                        </div>
                        <div class="hPrdComm fLeft ">
                            <div class="st3Upper fLeft ">
                                <div class="st3UpperLeft fLeft img6"></div>
                                <div class="st3UpperRight fLeft bgColor4">
                                    <div class="infoTxt fLeft fmOpenL txtLeft pL25px">
                                        <div class="infoUpper">.999 Clarity</div>
                                        <div class="infoLower">Gold Coins</div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="st3Middle fLeft img3"></div>
                            <div class="st3Lower fLeft bgColor5 posR">
                                <div class="infoSingle fmOpenL">
                                    2035 Diamond Rings
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='shapesCont'>
                    <div class="wrapperMax">
                        <div class="shapesTitle fmOpenL">What's your perfect solitaire?</div>
                        <div class="allShapes">
                            <center>
                                <div class="shapeComm transition300 ripplelink Round">
                                </div><div class="shapeComm transition300 ripplelink Pear">
                                </div><div class="shapeComm transition300 ripplelink Heart">
                                </div><div class="shapeComm transition300 ripplelink Princess">
                                </div><div class="shapeComm transition300 ripplelink Asscher">
                                </div><div class="shapeComm transition300 ripplelink Marquise">
                                </div><div class="shapeComm transition300 ripplelink Oval">
                                </div><div class="shapeComm transition300 ripplelink Emerald">
                                </div><div class="shapeComm transition300 ripplelink Radiant">
                                </div><div class="shapeComm transition300 ripplelink Cushion"></div>
                            </center>
                        </div>
                        <center><div class="searchBtn fmOpenR ripplelink">Search my diamond</div></center>
                    </div>
                </div>
                <div class="bottmInfo fmOpenR">
                    <div class="wrapperMax">
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Range of</div>
                                <div class="infoLower">Solitaires</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Lowest Price</div>
                                <div class="infoLower">Guaranteed</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Services of a</div>
                                <div class="infoLower">Gemologist</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">International</div>
                                <div class="infoLower">Certification</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php include 'logo.html';?>
        </div>
        <script  src="tools/js/lib/parallax.js"></script>
        <script  src="tools/js/lib/velocity.js"></script>
        <script  src="tools/js/lib/ripple.js"></script>
        
        <script>
            var scene;
            var parallax;
            var lastSc=0;
            var pw=$(window).width();
            var isMobile=false;
            if(pw<768){
                isMobile=true;
            }
            
            
            $(document).ready(function() {
                //$('.categoryCircle').velocity({scale: "0"}, {duration: 0, delay: 0});
                $('body').animate({scrollTop:0});
                scene = document.getElementById('scene');
                parallax = new Parallax(scene);
                
                if(!isMobile){
                    setTimeout(function(){
                        //showCategory();
                    },10);
                    showCategory();
                }
                
                
                if(isMobile){
                    $('.hPrdComm').height(pw+'px');
                }
                

                $(window).scroll(function(){
                    var sc=$(window).scrollTop();
                    $('#header,#logoTxt,#mMenuBtn').velocity("stop");
                    $('.logo').velocity("stop");
                    
                    if(!isMobile){
                        if(sc>10){
                            $('#header').velocity({height: "60px",paddingTop:12+"px",paddingBottom:12+"px"},{duration:0, delay:0,easing:'swing'});
                            $('#logoTxt').velocity({opacity:0},{duration:0, delay:0});
                            $('.logo').velocity({top:20+"px",height:60+"px",width:60+"px"},{duration:0, delay:100});
                        }else if(lastSc>sc){
                            $('.logo').velocity({top:30+"px",height:100+"px",width:100+"px"},{duration:0, delay:0});
                            $('#logoTxt').velocity({opacity:1},{duration:300, delay:400});
                            $('#header').velocity({height: "100px",paddingTop:32+"px",paddingBottom:32+"px"},{duration:0, delay:0,easing:'swing'});
                        } 
                    }else{
                        if(sc>10){
                            $('.logo').velocity({top:20+"px",height:50+"px",width:50+"px"},{duration:0, delay:000});
                            $('#logoTxt').velocity({opacity:0},{duration:0, delay:0});
                            $('#header').velocity({height: "50px"},{duration:0, delay:000,easing:'easeOut'});
                            $('#mMenuBtn').velocity({marginTop:0+"px"},{duration:0, delay:0});
                        }else if(lastSc>sc){
                            $('.logo').velocity({top:20+"px",height:80+"px",width:80+"px"},{duration:0, delay:0});
                            $('#logoTxt').velocity({opacity:1},{duration:00, delay:000});
                            $('#header').velocity({height: "60px"},{duration:0, delay:0,easing:'swing'});
                            $('#mMenuBtn').velocity({marginTop:5+"px"},{duration:0, delay:0});
                        } 
                        
                    }
                    lastSc=sc;
                });
                
                if(!isMobile){
                    $('.categoryCircle').mouseover(function(){
                        $(this).velocity({boxShadowSpread:"10px", scale:"1.1"},{duration:150, delay:0});
                    });
                    $('.categoryCircle').mouseout(function(){
                        $(this).velocity({boxShadowSpread:"0px", scale:"1.0"},{duration:150, delay:0});
                    });
                }
                
                $('.shapeComm').bind('click',function(){
                    $(this).toggleClass('shapeSelected');
                });
                
                $('.searchBtn ').bind('click',function(){
                    $(this).addClass('sBtnActive');
                });
                
            });


            $(window).load(function(){
                if(!isMobile){
                   // $('.categoryCircle').velocity({scale: "0"}, {duration: 0, delay: 0});
                }
            });


            function showCategory(){
                $('#catDiamond').velocity({scale: "1"}, {duration: 800, delay: 0,easing:'spring'});
                $('#catJewellery').velocity({scale: "1"}, {duration: 800, delay: 150,easing:'spring'});
                $('#catBullion').velocity({scale: "1"}, {duration: 800, delay: 250,easing:'spring'});
            }
            
            
            
    
        </script>
    </body>
</html>