<?php include 'bhead.html';?>
    <body>
        <div id='baseCont' class="container fmOpenR">
            <div class="wrapper">
                <div id='header' class="header transition300">
                    <div class="wrapperMax">
                        <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick=""></div>
                        <div class="cityName fLeft txtOver">Bangalore</div>
                        <div class="headRight fRight">
                            <div class="compNo fRight fmOpenB">+91 9980051525</div>
                            <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                            <div class="headDivider fRight"></div>
                            <div class="wishlist fRight fmOpenR">Wishlist</div>
                            <div class="wishCount fRight fmOpenR ripplelink">25</div>
                        </div>
                    </div>
                </div>
                <div class='categoryCont'>
                    <div class="wrapperMax">
                        <center>
                            <div class="buyTxt fmOpenL">What would you like to buy today?</div>
                            <ul id="scene" class="prllx transition300 txtCenter">
                                <li class="layer"  data-depth="0.7">
                                    <a href="<?php echo DOMAIN?>diamonds">
										<div id='catDiamond' class="categoryCircle bgDiamond ripplelink" style="transform: scale(0);">Diamonds</div>
									</a>
                                </li>
                                <li class="layer"  data-depth="0.6">
                                    <a href="<?php echo DOMAIN?>jewellery">
										<div id='catJewellery' class="categoryCircle bgJewellery ripplelink"  style="transform: scale(0);">Jewellery</div>
									</a>
                                </li>
                                <li class="layer"  data-depth="0.8">
									<a href="<?php echo DOMAIN?>bullions">
										<div id='catBullion' class="categoryCircle bgBullion ripplelink"  style="transform: scale(0);">Bullions</div>
									</a>
                                </li>
                            </ul>
                        </center>
                    </div>
                </div>
                <div class="homeProd">
                    <div class="wrapperMax">
                        <div class="hPrdComm fLeft">
                            <div class="hPrdLeft fLeft">
                                <div class="hPrdLUpper fLeft">
                                    <div class="infoTxt fLeft fmOpenL">
                                        <div class="infoUpper">Party Wear</div>
                                        <div class="infoLower">Necklaces</div>
                                    </div>
                                </div>
                                <div class="hPrdLLower fLeft img1"></div>
                            </div>
                            <div class="hPrdRight fLeft">
                                <div class="pRboxComm bgColor1 img7"></div>
                                <div class="pRboxComm img5"></div>
                                <div class="pRboxComm bgColor2 img7"></div>
                            </div>
                        </div>
                        <div class="hPrdComm fLeft">
                            <div class="st2Upper">
                                <div class="st2Left fLeft img2"></div>
                                <div class="st2Right fLeft">
                                    <div class="st2pRboxComm bgColor3 img7"></div>
                                    <div class="st2pRboxComm img4"></div>
                                </div>
                            </div>
                            <div class="st2Lower bgColor4">
                                <div class="infoTxt fLeft fmOpenL txtLeft pL25px">
                                    <div class="infoUpper">Wedding Wear</div>
                                    <div class="infoLower">Ethnic Jewellery</div>
                                </div>
                            </div>
                        </div>
                        <div class="hPrdComm fLeft ">
                            <div class="st3Upper fLeft ">
                                <div class="st3UpperLeft fLeft img6"></div>
                                <div class="st3UpperRight fLeft bgColor4">
                                    <div class="infoTxt fLeft fmOpenL txtLeft pL25px">
                                        <div class="infoUpper">.999 Clarity</div>
                                        <div class="infoLower">Gold Coins</div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="st3Middle fLeft img3"></div>
                            <div class="st3Lower fLeft bgColor5 posR">
                                <div class="infoSingle fmOpenL">
                                    2035 Diamond Rings
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='shapesCont'>
                    <div class="wrapperMax">
                        <div class="shapesTitle fmOpenL">What's your perfect solitaire?</div>
                        <div class="allShapes">
                            <center>
                                <div class="shapeComm transition300 ripplelink Round">
                                </div><div class="shapeComm transition300 ripplelink Pear">
                                </div><div class="shapeComm transition300 ripplelink Heart">
                                </div><div class="shapeComm transition300 ripplelink Princess">
                                </div><div class="shapeComm transition300 ripplelink Asscher">
                                </div><div class="shapeComm transition300 ripplelink Marquise">
                                </div><div class="shapeComm transition300 ripplelink Oval">
                                </div><div class="shapeComm transition300 ripplelink Emerald">
                                </div><div class="shapeComm transition300 ripplelink Radiant">
                                </div><div class="shapeComm transition300 ripplelink Cushion"></div>
                            </center>
                        </div>
                        <center><div class="searchBtn fmOpenR ripplelink">Search my diamond</div></center>
                    </div>
                </div>
                <div class="bottmInfo fmOpenR">
                    <div class="wrapperMax">
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Range of</div>
                                <div class="infoLower">Solitaires</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Lowest Price</div>
                                <div class="infoLower">Guaranteed</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">Services of a</div>
                                <div class="infoLower">Gemologist</div>
                            </div>
                        </div>
                        <div class="infoComm fLeft">
                            <div class="infoTxt fLeft">
                                <div class="infoUpper">International</div>
                                <div class="infoLower">Certification</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php include 'logo.html';?>
        </div>
        <script type="text/javascript" src="<?=$jvs['parlx'];?>"></script>
        <script type="text/javascript" src="<?=$jvs['velocity'];?>"></script>
        <script type="text/javascript" src="<?=$jvs['ripple'];?>"></script>
        <script type="text/javascript" src="<?=$jvs['home'];?>"></script>
        <script type="text/javascript" src="<?=$jvs['head'];?>"></script>
        <script type="text/javascript" src="<?=$jvs['comm'];?>"></script>
    </body>
</html>
