    <div id='jwMenu' class="upperMenu dn upTransit1">
    <div class="wrapperMax">
        <div id='mTitle' class="menuTittle fmOpenL transition300"><a href="<?php echo DOMAIN.strtolower($showcat['cat_name']).'/ct-'.$showcat['catid'];?>"><?php echo $showcat['cat_name'];?></a></div>
        <div class="menuListCont">
			<?php
			foreach($showcat['subcat'] as $key => $val)
			{
				$dname = preg_replace('/[^a-zA-Z0-9]+/', ' ', $val['cat_name']);
				$dname = ereg_replace("[ \t\n\r]+", " ", $dname);
				$dname = strtolower(str_replace(" ", "-", $dname));
			?>
				<div class="mItemDiv fLeft">
					<a href="<?php echo DOMAIN.strtolower($showcat['cat_name']).'/'.$dname.'/ct-'.$val['catid'];?>"><div class="mItemTitle fLeft fmOpenL"><?php echo $val['cat_name'];?></div></a>
					<ul class="fmOpenR">
					<?php
					foreach($val['subcat'] as $ky => $vl)
					{
						$cname = preg_replace('/[^a-zA-Z0-9]+/', ' ', $vl['cat_name']);
						$cname = ereg_replace("[ \t\n\r]+", " ", $cname);
						$cname = strtolower(str_replace(" ", "-", $cname));
					?>
						<li><a href="<?php echo DOMAIN.strtolower($showcat['cat_name']).'/'.$dname.'/'.$cname.'/ct-'.$vl['catid'];?>"><?php echo $vl['cat_name'];?></a></li>
					<?php
					}
					?>
					</ul>
				</div>
			<?php
			}
			?>
        </div>
    </div>
</div>
<script>
     $('#jwMenu').niceScroll({cursorcolor: "#000000",touchbehavior:true, cursorwidth: "4px",autohidemode:false,cursorborder: "0px solid #fff", cursoropacitymin: "0.3", cursoropacitymax: "0.3", railpadding: {top: 2, right: 2, left: 2, bottom: 2}});
</script>