<?php include 'bhead.html'; ?>
<body>
    <div class="container bgWhite fmOpenR diamond_shap">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class="wrapperMax">
                <div class="totalDiv fLeft marTop15">
                    <?php include 'sideBarLeft.html'; ?>
                    <div class="centerDiv bLeft bRight">
                        <div class="prdInfoTitle2 fLeft fmOpenL">Jewellery Cleaning Tips</div>
                        <div class="fmOpenR tctContents fLeft">
                            If you want to enjoy the pleasures of your bejeweled treasures for a long time, regular cleaning is important.
                            Besides occasional-wear jewellery, even the daily wear jewellery needs a cleaning round since it is exposed to sweat, oil etc and can suffer discoloration. 
                            Here are some jewellery cleaning tips:
                        </div>
                        <ul class="ulConts lineHeight24">
                            
                            <li>Always use warm and not hot water to clean jewellery, as hot water can discolor your jewellery. Use a couple drops of mild liquid detergent, such as baby shampoo and rinse thoroughly with clean water.</li>
                            <li>When using toothbrush to clean jewellery, ensure that the bristles are soft, as hard bristles can loosen the stones from their settings. </li>
                            <li>Dry it completely and lightly buff with a soft chamois cloth. Avoid tissue or paper towels because the fibers in it can cause scratches. Also use a lengthwise motion when washing or drying the jewellery, as a circular motion often causes scratching. </li>
                            <li>Instead of ammonia or detergent, you can use any special jewellery cleaning liquid available at jewellers. Read labels carefully before buying.</li>
                            <li>  Diamonds have an affinity for grease and should be cleaned monthly to keep the fire at its brightest. Every year or so, give your diamond jewellery for professional cleaning. Jewellers use ultra sonic or steam cleaning and will also check the setting, so that the stone does not fall out.</li>
                            
                        </ul>
                        <div class="lineHeight24 topContent tx_margin fmOpenR">Questions about jewellery cleaning tips or other aspects of a jewellery? Ask a jewellery consultant for answers. A consultant will answer any questions you have, and if you like, search for jewellery on your behalf that match your criteria. Email consultant@IFtoSI.com.</div>
                        <center><a id="dialink" href="<?=DOMAIN;?>jewellery/ct-10001"><div class="searchBtn fmOpenR ripplelink">Search for a jewellery now</div></a></center>
                    </div>
                    <?php include 'sideBarRight.html'; ?>
                </div>
            </div>

        </div>
        <div class="wrapper fLeft">
            <?php include 'logo.html'; ?>
            <div class="">
                <?php include 'footer.html'; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['anatomy']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>

</body>
</html>
