<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div class="contentCont fLeft">
        <form id='jwAddForm'>
            <div class="wrapper">
            <div class="wrapperMax">
                <div class="vCommTitle fLeft fmOpenL">Select a jewelery you want to add</div>
                <div class="formContainer fmOpenR">
                    <div class="jShapesCont resultsPage showHide fmOpenL fLeft">
                        <div class="allShapes resultsPage">
                            <center>
<?php
                                        foreach($cat['subcat'] as $ky=>$val)
                                        {   
                                            if(strtolower($val)!=='')
                                                {
                                                    if($val['catname']=="Bangles/Bracelets")
                                                    {
                                                        if($attr['shape']==$val['catname']) {
                                                            echo "<div id='Bracelet' class='jshapeComm transition300 ripplelink Bracelet shapeSelected'>".$val['catname']."</div>";
                                                        } else {
                                                            echo "<div id='Bracelet' class='jshapeComm transition300 ripplelink Bracelet'>".$val['catname']."</div>";
                                                        }
                                                    }
                                                    else if(($val['catname']=="Pendents")||($val['catname']=="Necklaces"))
                                                    {
                                                        
                                                        if($attr['shape']==$val['catname']) {
                                                            echo "<div id='".$val['catname']."' class='jshapeComm transition300 ripplelink shapeSelected ".ucwords(strtolower(substr($val['catname'],0,-1)))."'>".$val['catname']."</div>";   
                                                        } else {
                                                           echo "<div id='".$val['catname']."' class='jshapeComm transition300 ripplelink  ".ucwords(strtolower(substr($val['catname'],0,-1)))."'>".$val['catname']."</div>";   
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if($attr['shape']==$val['catname']) {
                                                            echo "<div id='".$val['catname']."' class='jshapeComm transition300 ripplelink shapeSelected ".ucwords(strtolower($val['catname']))."'>".$val['catname']."</div>";   
                                                        } else {
                                                           echo "<div id='".$val['catname']."' class='jshapeComm transition300 ripplelink ".ucwords(strtolower($val['catname']))."'>".$val['catname']."</div>";   
                                                        }
                                                    }
                                                }
                                        }
?>                          
                            </center>
                        </div>
                    </div>    
                               <!-- <div id="Rings" class="jshapeComm transition300 ripplelink Rings">Rings
                                </div><div id="Earrings" class="jshapeComm transition300 ripplelink Earrings">Earrings
                                </div><div id="Pendant" class="jshapeComm transition300 ripplelink Pendent">Pendant
                                </div><div id="Necklace" class="jshapeComm transition300 ripplelink Necklace"><span class="ink animate" style="height: 270px; width: 270px; top: -48px; left: 41.6094px;"></span>Necklace
                                </div><div id="Bracelet" class="jshapeComm transition300 ripplelink Bracelet">Bangles / Bracelets
                                </div> -->
<?php
                                        foreach($cat['subcat'] as $key=>$values)
                                        {
                                            if($values['catid']!=10007)
                                            {   
                                            
?>                                              
                                                <div class="divCon  fLeft fmOpenR subCatType <?php if($attr['shape']!=$val['catname']) { echo 'dn'; } ?>dn " id="<?=strtolower($values['catname']);?>Type">
                                                    <div  class="titleDiv txtCap fLeft"><?=ucwords(strtolower($values['catname']));?> Type</div>
                                                    <div class='radioCont fLeft'>
<?php                                                        
                                                        foreach($values['subcats'] as $ky=>$val)
                                                        {   
?>
                                                            <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='subcat_type' class="filled-in" value="<?=$val['subcatid'];?>" id="<?php echo $values['catname'].'_'.$val['subcatid'];?>" <?=(in_array($val['subcatid'],$pdet[catid])) ? 'checked="true"' : '';?> /> 
                                                            <label for="<?=$values['catname'].'_'.$val['subcatid'];?>"><?php echo $val['subcatname'];?></label>
                                                        </div>
<?php
                                                        }
?>                                                  
                                                    </div>
                                                </div>
<?php                                             
                                            }
                                            if($values['catid']==10007)
                                            { 
?>                    
                                                <div class="divCon  fLeft fmOpenR jw5 subCatType dn" id="braceletType">
                                                <div  class="titleDiv txtCap fLeft">Bracelet Type</div>
                                                <div class='radioCont fLeft'> 
<?php                                                        
                                                foreach($values['subcats'] as $ky=>$val)
                                                {
?>                            
                                                    <div class="checkDiv fLeft">
                                                    <input type="checkbox" name='<?=$val['subcatid'];?>' class="filled-in"  value="<?=$val['subcatid'];?>" id="<?=$val['subcatid'];?>" <?=($attr['type'] == $val['subcatname']) ? 'checked' : '';?> />
                                                    <label for="<?=$val['subcatid'];?>"><?php echo $val['subcatname'];?></label>
                                                    </div>
<?php
                                                }
?>                        
                                            </div>
                                            </div>
<?php                                             
                                            }
                                        }
/*
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Daily_Wear_Rings">
                                                            <label for="Daily_Wear_Rings">Daily Wear Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Party_Wear_Rings">
                                                            <label for="Party_Wear_Rings">Party Wear Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Band_Rings">
                                                            <label for="Band_Rings">Band Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Only_Diamonds_Rings">
                                                            <label for="Only_Diamonds_Rings">Only Diamonds Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Cocktails_Rings">
                                                            <label for="Cocktails_Rings">Cocktails Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="White_Gold_Rings">
                                                            <label for="White_Gold_Rings">White Gold Rings</label>
                                                        </div>
                                                        <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='rings_type'class="filled-in" id="Men_Rings">
                                                            <label for="Men_Rings">Men's Rings</label>
                                                        </div>                                       
                foreach($cat['subcat'] as $key=>$values)
                {
                    if((strtolower($values['catid'])!==10003)&&(strtolower($values['catid'])!==10007))
                    {
?>
                    <div class="divCon  fLeft fmOpenR subCatType dn" id="<?=strtolower($values['catname']);?>Type">
                        <div  class="titleDiv txtCap fLeft"><?=ucwords(strtolower($values['catname']));?> Type</div>
||||||| .r159
                                </div>
                            </center>
                        </div>
                    </div>


                    <!--                        <div class="divCon  fLeft fmOpenR jw5">
                                                <div  class="titleDiv txtCap fLeft">Jewellery Type</div>
                                                <div class='radioCont fLeft'>    
                                                    <div class="checkDiv fLeft Round">
                                                        <input type="radio" class="filled-in" id="rings" name="type">
                                                        <label for="rings">Rings</label>
                                                    </div>
                                                    <div class="checkDiv fLeft Round">
                                                        <input type="radio" class="filled-in" id="earrings" name="type">
                                                        <label for="earrings">Earrings</label>
                                                    </div>
                                                    <div class="checkDiv fLeft Round">
                                                        <input type="radio" class="filled-in" id="pendant" name="type">
                                                        <label for="pendant">Pendant</label>
                                                    </div>
                                                    <div class="checkDiv fLeft Round">
                                                        <input type="radio" class="filled-in" id="necklace" name="type">
                                                        <label for="necklace">Necklace</label>
                                                    </div>
                                                    <div class="checkDiv fLeft Round">
                                                        <input type="radio" class="filled-in" id="bangle" name="type">
                                                        <label for="bangle">Bangle</label>
                                                    </div>
                                                </div>
                                            </div>-->
                    <div class="divCon  fLeft fmOpenR">
                        <div  class="titleDiv txtCap fLeft">Ring Type</div>
=======
                                </div>
                            </center>

                        </div>
                    </div>

                    <div class="divCon  fLeft fmOpenR">
                        <div  class="titleDiv txtCap fLeft">Ring Type</div>
