<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div class="contentCont fLeft">
        <form id='jwAddForm'>
            <div class="wrapper">
            <div class="wrapperMax">
                <div class="vCommTitle fLeft fmOpenL">Select a jewellery you want to add</div>
                <div class="formContainer fmOpenR">
                    <div class="jShapesCont resultsPage showHide fmOpenL fLeft">
                        <div class="allShapes resultsPage">
                            <center>
<?php
                                        foreach($cat['subcat'] as $ky=>$val)
                                        {
                                            //echo "<pre>";print_r($val);die;
                                            if(strtolower($val)!=='')
                                                {
                                                    $typeClass='';
                                                    $typeId=$val['catname'];
                                                    $expd = explode('/',$val['catname']);
                                                    $typeId = $expd[0];
                                                    $typeClass=ucwords(strtolower($expd[0]));
                                                    if($typeId==$attr['shape']) {
                                                        $typeClass .=' shapeSelected';
                                                    }
                                                    echo "<div id='".$typeId."' class='jshapeComm transition300 ripplelink ".$typeId."'>".$val['catname']."</div>";
                                                }
                                        }
?>
                            </center>
                        </div>
                    </div>
                               <!-- <div id="Rings" class="jshapeComm transition300 ripplelink Rings">Rings
                                </div><div id="Earrings" class="jshapeComm transition300 ripplelink Earrings">Earrings
                                </div><div id="Pendant" class="jshapeComm transition300 ripplelink Pendent">Pendant
                                </div><div id="Necklace" class="jshapeComm transition300 ripplelink Necklace"><span class="ink animate" style="height: 270px; width: 270px; top: -48px; left: 41.6094px;"></span>Necklace
                                </div><div id="Bracelet" class="jshapeComm transition300 ripplelink Bracelet">Bangles / Bracelets
                                </div> -->
<?php

                                        foreach($cat['subcat'] as $key=>$values)
                                        {

                                                $expd = explode('/',$values['catname']);
                                                $values['catname'] = $expd[0];

?>
                                                <div class="divCon  fLeft fmOpenR subCatType <?php if($attr['shape']!=$values['catname']) { echo 'dn'; } ?> " id="<?=strtolower($values['catname']);?>Type">
                                                    <div  class="titleDiv txtCap fLeft"><?=ucwords(strtolower($values['catname']));?> Type*</div>
                                                    <div class='radioCont fLeft'>
<?php
                                                        foreach($values['subcats'] as $ky=>$val)
                                                        {
?>
                                                            <div class="checkDiv fLeft">
                                                            <input type="checkbox" name='subcat_type' class="filled-in" value="<?=$val['subcatid'];?>" id="<?php echo $values['catname'].'_'.$val['subcatid'];?>" <?=(in_array($val['subcatid'],$pdet['catid'])) ? 'checked="true"' : '';?> />
                                                            <label for="<?=$values['catname'].'_'.$val['subcatid'];?>"><?php echo $val['subcatname'];?></label>
                                                        </div>
<?php
                                                        }
?>
                                                    </div>
                                                </div>
<?php
                                          
                                        }
?>
<div class="<?=(!empty($attr['product_id']) == True) ? '' : 'dn';?>" id="allcontent">
                    <div class="divCon  fLeft jw3" id='certiicates'>
                        <div  class="titleDiv txtCap fLeft">Certficate*</div>
                        <div class='radioCont fLeft'>

                            <div class="checkDiv fLeft">
                                <input type="radio" name='Certficate' class="filled-in" value="SGL" <?=($attr['certified'] == 'SGL') ? 'checked' : '';?> id="Certficate_SGL">
                                <label for="Certficate_SGL">SGL</label>
                            </div>

                            <div class="checkDiv fLeft">
                                <input type="radio" name='Certficate' class="filled-in" value="DGLA" <?=($attr['certified'] == 'DGLA') ? 'checked' : '';?> id="Certficate_DGLA">
                                <label for="Certficate_DGLA">DGLA</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='Certficate' class="filled-in" value="EGL" <?=($attr['certified'] == 'EGL') ? 'checked' : '';?> id="Certficate_EGL">
                                <label for="Certficate_EGL">EGL</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='Certficate' class="filled-in" value="IGI" <?=($attr['certified'] == 'IGI') ? 'checked' : '';?> id="Certficate_IGI">
                                <label for="Certficate_IGI">IGI</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='Certficate' class="filled-in" id="Certficate_other" value="Other"  <?=(($attr['certified'] !== 'IGI')&&($attr['certified'] !== 'SGL')&&($attr['certified'] !== 'DGLA')&&($attr['certified'] !== 'EGL')&&(!empty($attr['certified']))) ? 'checked' : '';?>>
                                <label for="Certficate_other">Other</label>
                            </div>
                            <div id='othCert' class="otherBox fLeft <?=(($attr['certified'] !== 'IGI')&&($attr['certified'] !== 'SGL')&&($attr['certified'] !== 'DGLA')&&($attr['certified'] !== 'EGL')&&(!empty($attr['certified']))) ? '' : 'dn';?>">
                               <input name="other_cerificate" autocomplete="false" id="other_cerificate" type="text" placeholder="AGS,CIBJO, etc." value="<?=$attr['certified'];?>" class="othTxtinp fLeft fmOpenR font14 c666">
                            </div>
                        </div>
                    </div>

                     <div class="divCon  fLeft jw3">
                        <div  class="titleDiv txtCap fLeft">Metal*</div>
                        <div class='radioCont fLeft'>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='metal' class="filled-in" value="Gold" <?=($attr['metal'] == 'Gold') ? 'checked' : '';?> id="gold">
                                <label for="gold">Gold</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='metal' class="filled-in" value="Silver" <?=($attr['metal'] == 'Silver') ? 'checked' : '';?> id="silver">
                                <label for="silver">Silver</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='metal' class="filled-in" value="Platinum" <?=($attr['metal'] == 'Platinum') ? 'checked' : '';?> id="platinum">
                                <label for="platinum">Platinum</label>
                            </div>
                        </div>
                    </div>
<?php
					/**************** Diamond Related Fields Start  ****************/

					if(empty($attr['dwt']) || $attr['dwt'] == '0')
                    {
                       $attr['dwt'] = '';
                    }
                    if(empty($attr['nofd']) || $attr['dwt'] == '0' )
                    {
                       $attr['nofd'] = '';
                    }
?>
    <div class="vCommTitle fLeft fmOpenL" style="font-size:25px">Select the diamond you want to add in product</div>
    <div id="diamondShapeCont">
    <?php
        $attr['diamond_shape']=explode('|!|',$attr['diamond_shape']);
        $attr['color']=explode('|!|',$attr['color']);
        $attr['clarity']=explode('|!|',$attr['clarity']);
        for($curIndex=0; $curIndex<count($attr['diamond_shape']); $curIndex++) {
            $curDiv=$curIndex+1;
    ?>
        <div id="diamondShapeDiv">
					<div class="divCon fLeft dAuto" id="diamondShapeCont_<?php echo $curDiv; ?>">


<?php
						if(empty($attr['diamond_shape']))
						{
							$attr['color'] = $attr['clarity'] = $attr['dwt'] = $attr['nofd'] = '';
						}

						if(empty($attr['gemstone_type'][$curIndex]))
						{
							$attr['gemstone_color'][$curIndex] = $attr['gemwt'] = $attr['num_gemstones'] = '';
						}

						foreach($shapeAttrs['attributes'] as $key => $value)
						{
							if(strtolower($value['attribute_name']) == 'shape')
							{
?>
								<div class='shapesCont'>
									<div class="wrapperMax">
										<div class="allShapes">
											<center>
<?php
												$filval = explode(",", $value['attribute_values']);
												foreach ($filval as $ky => $vl)
												{
?>
													<div id="<?php echo $vl; ?>_<?php echo $curDiv; ?>" class="shapeComm transition300 ripplelink <?php echo $vl; ?> <?php echo (strtolower($attr['diamond_shape'][$curIndex]) == strtolower($vl)) ? 'shapeSelected' : '';?>" onclick="checkDiamondShape(this,<?php echo $curDiv; ?>);">
													</div>
<?php
												}
?>
											</center>
										</div>
									</div>
								</div>
<?php
							}
						}
?>
					</div>

                    <div class="divCon fLeft dAuto <?php echo ($attr['diamond_shape'][$curIndex]) ? '' : 'dn'; ?> diamondProp diamondProp_<?php echo $curDiv; ?>">
                        <div  class="titleDiv txtCap fLeft">Diamond Color*</div>
                        <div class='radioCont fLeft'>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="D" <?=($attr['color'][$curIndex] == 'D') ? 'checked' : '';?> id="color_D_<?php echo $curDiv; ?>">
                                <label for="color_D_<?php echo $curDiv; ?>"> D</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="E" <?=($attr['color'][$curIndex] == 'E') ? 'checked' : '';?> id="color_E_<?php echo $curDiv; ?>">
                                <label for="color_E_<?php echo $curDiv; ?>">E</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="F" <?=($attr['color'][$curIndex] == 'F') ? 'checked' : '';?> id="color_F_<?php echo $curDiv; ?>">
                                <label for="color_F_<?php echo $curDiv; ?>">F</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="G" <?=($attr['color'][$curIndex] == 'G') ? 'checked' : '';?> id="color_G_<?php echo $curDiv; ?>">
                                <label for="color_G_<?php echo $curDiv; ?>">G</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="H" <?=($attr['color'][$curIndex] == 'H') ? 'checked' : '';?> id="color_H_<?php echo $curDiv; ?>">
                                <label for="color_H_<?php echo $curDiv; ?>">H</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="I" <?=($attr['color'][$curIndex] == 'I') ? 'checked' : '';?> id="color_I_<?php echo $curDiv; ?>">
                                <label for="color_I_<?php echo $curDiv; ?>">I</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="J" <?=($attr['color'][$curIndex] == 'J') ? 'checked' : '';?> id="color_J_<?php echo $curDiv; ?>">
                                <label for="color_J_<?php echo $curDiv; ?>">J</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="K" <?=($attr['color'][$curIndex] == 'K') ? 'checked' : '';?> id="color_K_<?php echo $curDiv; ?>">
                                <label for="color_K_<?php echo $curDiv; ?>">K</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="L" <?=($attr['color'][$curIndex] == 'L') ? 'checked' : '';?> id="color_L_<?php echo $curDiv; ?>">
                                <label for="color_L_<?php echo $curDiv; ?>">L</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="M" <?=($attr['color'][$curIndex] == 'M') ? 'checked' : '';?> id="color_M_<?php echo $curDiv; ?>">
                                <label for="color_M_<?php echo $curDiv; ?>">M</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="N" <?=($attr['color'][$curIndex] == 'N') ? 'checked' : '';?> id="color_N_<?php echo $curDiv; ?>">
                                <label for="color_N_<?php echo $curDiv; ?>">N</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='color_<?php echo $curDiv; ?>' class="filled-in" value="O" <?=($attr['color'][$curIndex] == 'O') ? 'checked' : '';?> id="color_O_<?php echo $curDiv; ?>">
                                <label for="color_O_<?php echo $curDiv; ?>">O</label>
                        </div>
                    </div>
                        </div>

                    <div class="divCon  fLeft jw3 <?php echo ($attr['diamond_shape'][$curIndex]) ? '' : 'dn'; ?> diamondProp diamondProp_<?php echo $curDiv; ?>">
                        <div  class="titleDiv txtCap fLeft">Diamond Quality*</div>
                        <div class='radioCont fLeft'>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="IF" <?=($attr['clarity'][$curIndex] == 'IF') ? 'checked' : '';?> id="clarity_IF_<?php echo $curDiv; ?>">
                                <label for="clarity_IF_<?php echo $curDiv; ?>">IF</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="VVS1" <?=($attr['clarity'][$curIndex] == 'VVS1') ? 'checked' : '';?> id="clarity_VVS1_<?php echo $curDiv; ?>">
                                <label for="clarity_VVS1_<?php echo $curDiv; ?>">VVS1</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="VVS2" <?=($attr['clarity'][$curIndex] == 'VVS2') ? 'checked' : '';?> id="clarity_VVS2_<?php echo $curDiv; ?>">
                                <label for="clarity_VVS2_<?php echo $curDiv; ?>">VVS2</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="VS1" <?=($attr['clarity'][$curIndex] == 'VS1') ? 'checked' : '';?> id="clarity_VS1_<?php echo $curDiv; ?>">
                                <label for="clarity_VS1_<?php echo $curDiv; ?>">VS1</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="VS2" <?=($attr['clarity'][$curIndex] == 'VS2') ? 'checked' : '';?> id="clarity_VS2_<?php echo $curDiv; ?>">
                                <label for="clarity_VS2_<?php echo $curDiv; ?>">VS2</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="SI1" <?=($attr['clarity'][$curIndex] == 'SI1') ? 'checked' : '';?> id="clarity_SI1_<?php echo $curDiv; ?>">
                                <label for="clarity_SI1_<?php echo $curDiv; ?>">SI1</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="SI2" <?=($attr['clarity'][$curIndex] == 'SI2') ? 'checked' : '';?> id="clarity_SI2_<?php echo $curDiv; ?>">
                                <label for="clarity_SI2_<?php echo $curDiv; ?>">SI2</label>
                            </div>
                            <div class="checkDiv fLeft">
                                <input type="radio" name='clarity_<?php echo $curDiv; ?>' class="filled-in" value="I1" <?=($attr['clarity'][$curIndex] == 'I1') ? 'checked' : '';?> id="clarity_I1_<?php echo $curDiv; ?>">
                                <label for="clarity_I1_<?php echo $curDiv; ?>">I1</label>
                            </div>
                        </div>
                    </div>
                    </div>
            <?php } ?>
            </div>
    <?php if(!empty($attr['diamond_shape'][0])) { ?>
    <div class="submitBtn fmOpenR ripplelink poR fRight addMore" id="addDiamondType" onclick="addShapeType()">Add Diamond Type</div>
   <div style="clear: both;"></div>
   <?php } ?> <!--<div onclick="addShapeType()" id="addDiamondType" class="submitBtn fmOpenR ripplelink poR fRight">Add Diamond Type</div><div class="clearFill"></div>-->

                    <div class="divCon2 fLeft <?php echo ($attr['diamond_shape'][0]) ? '' : 'dn'; ?> diamondProp">
                        <div  class="titleDiv txtCap fLeft">Diamond Weight (in CTS)*</div>
                        <input name="diamonds_weight" id="diamondweight" type="text" autocomplete="false" placeholder=" eg. 1.25" maxlength="8" onkeypress="return common.isDecimalNumber(event,this.value);" value="<?=$attr['dwt'];?>" class="txtInput fLeft fmOpenR font14 c666">
                    </div>

					<div class="divCon2 fLeft <?php echo ($attr['diamond_shape'][0]) ? '' : 'dn'; ?> diamondProp">
                        <div  class="titleDiv txtCap fLeft">No. Of Diamonds*</div>
                        <input name="no_diamonds" id="no_diamonds" type="text" placeholder=" eg. 10" autocomplete="false" value="<?=$attr['nofd'];?>" onkeypress="common.isNumberKey(event);" class="txtInput fLeft fmOpenR font14 c666">
                    </div>

<?php
					/**************** Diamond Related Fields End  ****************/
?>


<?php
					/**************** Gemstone Related Fields Start  ****************/

					if(empty($attr['gemwt']) )
                    {
                       $attr['gemwt'] = '';
                    }

                    $curDiv=1;
?>

                        <div id="gemsTypeCont">
                            <?php
                                $attr['gemstone_type']=explode('|!|',$attr['gemstone_type']);
                                $attr['gemstone_color']=explode('|!|',$attr['gemstone_color']);
                                for($curIndex=0; $curIndex<count($attr['gemstone_type']); $curIndex++) {
                                    $curDiv=$curIndex+1;
                            ?>
                            <div id="gemsDiv">
					<div class="divCon fLeft" id="gemsTypeCont_<?php echo $curDiv; ?>">
                        <div class="titleDiv txtCap fLeft">Gemstone Type</div>
						<select id="gemstone_type" onchange="changeGemstoneType(this,<?php echo $curDiv; ?>);" class="txtInput fLeft fmOpenR font14 c666">
							<option value="">Select Gemstone Type</option>
<?php
							$gemsAttrsArr = array();
							foreach($gemsAttrs as $key => $value)
							{
								$gemsAttrsArr[] = $value['display_name'];
?>
								<option value="<?php echo $value['display_name']; ?>" <?php echo (strtolower($attr['gemstone_type'][$curIndex]) == strtolower($value['display_name'])) ? 'selected' : ''; ?>><?php echo $value['display_name']; ?></option>
<?php
							}
?>
							<option value="other" <?php echo (!empty($attr['gemstone_type'][$curIndex]) && !in_array($attr['gemstone_type'][$curIndex], $gemsAttrsArr)) ? 'selected' : ''; ?>>Others</option>
							<!--<option value="agate">Agate</option>
							<option value="alexandrite">Alexandrite</option>
							<option value="amazonite">Amazonite</option>
							<option value="amethyst">Amethyst</option>
							<option value="chrysocolla">Chrysocolla</option>
							<option value="moonstone">Moonstone</option>
							<option value="pearl">Pearl</option>
							<option value="peridot">Peridot</option>-->
						</select>
                    </div>

					<div class="divCon fLeft <?php echo (!empty($attr['gemstone_type'][$curIndex]) && !in_array($attr['gemstone_type'][$curIndex], $gemsAttrsArr)) ? '' : 'dn'; ?> otherGemstoneProp_<?php echo $curDiv; ?>">
						<div class="titleDiv txtCap fLeft">Other Gemstone Type</div>
						<input name="other_gem_type" type="text" id="other_gem_type" autocomplete="false" placeholder=" eg. ABC" value="<?php echo (!empty($attr['gemstone_type'][$curIndex]) && !in_array($attr['gemstone_type'][$curIndex], $gemsAttrsArr)) ? $attr['gemstone_type'][$curIndex] : ''; ?>" class="txtInput fLeft fmOpenR font14 c666">
					</div>

<?php
                    if(strtolower($catres[3]['attr_name'])=='gemstone_color')
                    {
?>
						<div class="divCon fLeft jw3 <?php echo ($attr['gemstone_type'][$curIndex]) ? '' : 'dn'; ?> gemstoneProp_<?php echo $curDiv; ?>">
							<div  class="titleDiv txtCap fLeft"><?=$catres[3]['attr_display_name']?>*</div>
								<div class='radioCont fLeft'>
<?php
								$gemvalues = explode(',',  strtolower($catres[3]['attr_values']));
								foreach($gemvalues as $key=>$values)
								{
?>

									<div class="checkDiv fLeft">
										<input type="radio" name='gemstone_color_<?php echo $curDiv; ?>' class="filled-in" value="<?=$gemvalues[$key]; ?>" <?php echo ($gemvalues[$key] == $attr['gemstone_color'][$curIndex]) ? 'checked' : '';?> id="<?=$gemvalues[$key].'_'.$curDiv; ?>">
										<label for="<?=$gemvalues[$key].'_'.$curDiv; ?>"><?=  ucwords($gemvalues[$key]);?></label>
									</div>
<?php
								}
?>
							</div>
						</div>
<?php
                    }
?>
                                </div>
            <?php } ?>
                            </div>
                            <div class="clearFill"></div>
    <?php if(!empty($attr['gemstone_type'][0])) { ?>
    <div class="submitBtn fmOpenR ripplelink poR fRight addMore" id="addGemsType" onclick="addGemsType()">Add Gemstone Type</div>
    <div style="clear: both;"></div>
    <?php } ?>
<!--<div onclick="addGemsType()" id="addGemsType" class="submitBtn fmOpenR ripplelink poR fRight">Add Gem Type</div><div class="clearFill"></div>-->
<?php
					$attr['gemwt'] = (!empty($attr['gemwt']) && strval($attr['gemwt']) !== '0.00' && strval($attr['gemwt']) !== '0.000') ? $attr['gemwt'] : '';
?>
					<div class="divCon2 fLeft <?php echo ($attr['gemstone_type'][0]) ? '' : 'dn'; ?> gemstoneProp">
                        <div  class="titleDiv txtCap fLeft">Gemstone Weight (in CTS)*</div>
                        <input name="gemstone_weight" type="text" id="gemweight" autocomplete="false" placeholder=" eg. 1.25" maxlength="8" onkeypress="return common.isDecimalNumber(event,this.value);" value="<?=$attr['gemwt'];?>" class="txtInput fLeft fmOpenR font14 c666">
                    </div>

<?php
					$attr['num_gemstones'] = (!empty($attr['num_gemstones']) && strval($attr['num_gemstones']) !== '0.00' && strval($attr['num_gemstones']) !== '0.000') ? $attr['num_gemstones'] : '';
?>
					<div class="divCon2 fLeft <?php echo ($attr['gemstone_type'][0]) ? '' : 'dn'; ?> gemstoneProp">
                        <div  class="titleDiv txtCap fLeft">No. of Gemstones*</div>
                        <input name="num_gemstones" type="text" id="num_gemstones" autocomplete="false" placeholder=" eg. 10" maxlength="3" onkeypress="return common.isNumberKey(event);" value="<?=$attr['num_gemstones'];?>" class="txtInput fLeft fmOpenR font14 c666">
                    </div><div style="clear: both;"></div>

<?php
					foreach($cat['subcat'] as $key=>$values)
					{
						if(strtolower($values['attr'][$key]['attr_name'])=='gold_purity')
						{
							$goldpurity=$values['attr'][$key]['attr_name'];

?>
                                                <div class="divCon2  fLeft">
                                                    <div  class="titleDiv txtCap fLeft">Gold <?php echo $values['attr'][$key]['attr_display_name']; ?> (in Kt)*</div>
                                                    <input name="<?php echo strtolower($goldpurity); ?>" id="goldpurity" type="text" autocomplete="false" maxlength="3" onkeypress="return common.isNumberKey(event);" value="<?=$attr['gold_purity'];?>" placeholder="eg. 18" onkeypress="common.isNumberKey(event);" class="txtInput fLeft fmOpenR font14 c666">
                                                </div>
<?php
						}
					}
?>
                    <div class="divCon2  fLeft">
                        <div  class="titleDiv txtCap fLeft">Weight (in Grams)*</div>
                        <input id="goldweight" name="gold_weight" type="text" placeholder=" eg. 10,20,50" maxlength="8" autocomplete="false" value="<?=$attr['gold_weight'];?>" onkeypress="return common.isDecimalKey(event);" class="txtInput fLeft fmOpenR font14 c666">
                    </div>

                    <div class="divCon2  fLeft">
                            <div  class="titleDiv txtCap fLeft">Design Number*</div>
                            <input name="barcode" id="barcode" type="text" placeholder=" eg. ABCD12" maxlength="20" autocomplete="false" class="txtInput fLeft fmOpenR font14 c666" value="<?=$pdet['product_barcode'];?>">
                    </div>
 <?php
                                        foreach($cat['subcat'] as $key=>$values)
                                        {
                                            if(strtolower($values['attr'][$key]['attr_name'])=='price')
                                            {
?>
                                                <div class="divCon2  fLeft">
                                                    <div  class="titleDiv txtCap fLeft"><?php echo $values['attr'][$key]['attr_display_name']; ?> (in Rs)*</div>
                                                    <input name="<?php echo strtolower($values['attr'][$key]['attr_display_name']); ?>" autocomplete="false" id="prdprice" type="text" placeholder="eg. 12000" maxlength="16" onkeypress="return common.isDecimalNumber(event,this.value);" value="<?=$attr['price'];?>" class="txtInput fLeft fmOpenR font14 c666">
                                                </div>
<?php                                       }
                                        }
?>
                    <div class="btnCont fLeft">
                        <center>
                            <div class="cancelBtn fmOpenR ripplelink poR" onclick="backbtn();">CANCEL</div>
                            <div class="submitBtn fmOpenR ripplelink poR" onclick="validateJForm()" id="Submitdiv">SUBMIT</div>
                        </center>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </form>
    </div>
<?php include 'rateForms.html'; ?>
</div>
      <?php
        function convertJSObj($array) {
            foreach ($array as $key => $value) {
                $c['c']=$value['display_name'];
                $c['n']=$value['display_name'];
                $val[]=$c;
            }
            return json_encode($val);
        }
    ?>
        <script>
            var shapeTypes = '<?php echo json_encode($filval);?>';
            var gemsTypes = '<?php echo convertJSObj($gemsAttrs);?>';
            var gemsValues = '<?php echo json_encode($gemvalues);?>';
        </script>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['jqryUi']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['vendorLanding'];?>"></script>
    <script type="text/javascript" src="<?= $jvs['cms_jquery_toast'];?>"></script>
    <script type="text/javascript" src="<?= $jvs['pForm'];?>"></script>
        <script>
        function showOther(id){
            $('#'+id).removeClass('dn');
        }

        function hideOther(id){
            $('#'+id).addClass('dn');
        }

        $(document).ready(function(){
            $('#certiicates label').click(function(){
                setTimeout(function(){
                    var id=$('#certiicates input[type=radio]:checked').attr('id');
                    if(id==='Certficate_other'){
                        $('#other_cerificate').val('');
                        showOther('othCert');
                    }else{
                        hideOther('othCert');
                        $('#other_cerificate').val('');
                    }
                },10);

            });
        });

    </script>
</body>
</html>
