<div id='leftMenu' class='leftMenu transition300 leftTransit'>
    <div class="menuList fLeft">
    <ul class="fLeft fmOpenR">
        <li class='iHome' id="homePg" onclick="common.goToUrl('<?php echo DOMAIN; ?>')">Home</li>
        <!--<li class='iDiamonds' id="dmdsPg">Diamonds</li>
        <li class='iJewellery' id="jwlryPg">Jewellery</li>
        <li class='iBullion' id="blnsPg">Bullions</li>-->
<?php
			for ($i = 0; $i < count($leftMenuData); $i++) {
				$curCatId = $leftMenuData[$i]['category_id'];
				if($curCatId == 10000)
				{
					$clsNm = 'iDiamonds';
					$idNm = 'dmdsPg';
				}

				if($curCatId == 10001)
				{
					$clsNm = 'iJewellery';
					$idNm = 'jwlryPg';
				}

				if($curCatId == 10002)
				{
					$clsNm = 'iBullion';
					$idNm = 'blnsPg';
				}
?>
				<li class="<?php echo $clsNm; ?>" id="<?php echo $idNm; ?>" onclick="common.goToUrl('<?php echo DOMAIN . strtolower(str_replace(' ', '-', $leftMenuData[$i]['category_name'])); ?>/ct-<?php echo $leftMenuData[$i]['category_id']; ?>')">
					<?php echo $leftMenuData[$i]['category_name']; ?>
				</li>
<?php
			}
?>
<!--    <li class='iWishlist' id="wshlstPg" onclick="common.goToWishlist();">Wishlist<span class="fRight" id="lftWshCnt">25</span></li>-->
        <li class='iWishlist' id="wshlstPg" onclick="redirectToWishlist();">Wishlist<span class="fRight" id="lftWshCnt"></span></li>
        <li class='iLogin dn' id="lgnPg" onclick="common.goToUrl('<?php echo DOMAIN .'login'; ?>')">Sign In</li>
        <li class='isignup'  onclick="common.goToUrl('<?php echo DOMAIN .'signup'; ?>')">Sign Up</li>
        <li class='iLogout dn' id="lgotPg" onclick="common.doLogout();">Logout <span class="fRight dn" id="usrNm"></span></li>
    </ul>
    </div>
</div>