<!DOCTYPE html>

<html>
    <body>
        <div class="mobileLnk fLeft">
            <div class="lnkWrppr fLeft">
            <div class="catLnk fLeft fmOpenR">
                <div class="linktxtMn fLeft">
                <div class="abtCatLnk fLeft tcenter">SHAPE</div>
                <div class="abtCatTxt fLeft tcenter">See every round and fancy</div>
                <div class="abtCatTxt fLeft tcenter">diamond shape…</div>
                </div>
                </div>
            </div>
             <div class="lnkWrppr fLeft">
            <div class="catLnk fLeft fmOpenR">
                <div class="linktxtMn fLeft">
                <div class="abtCatLnk fLeft tcenter">CARAT WEIGHT</div>
                <div class="abtCatTxt fLeft tcenter">How diamond carat size </div>
                <div class="abtCatTxt fLeft tcenter">affects price…</div>
                </div>
            </div>
             </div>
             <div class="lnkWrppr fLeft">
             <div class="catLnk fLeft fmOpenR">
                 <div class="linktxtMn fLeft">
                <div class="abtCatLnk fLeft tcenter">ANATOMY</div>
                <div class="abtCatTxt fLeft tcenter">Understand key terms and</div>
                <div class="abtCatTxt fLeft tcenter"> measurements…</div>
                 </div>
            </div>
             </div>
            <div class="lnkWrppr fLeft">
            <div class="catLnk fLeft fmOpenR">
                <div class="linktxtMn fLeft">
                <div class="abtCatLnk fLeft tcenter">CUT</div>
                <div class="abtCatTxt fLeft tcenter">How diamond cut affects</div>
                <div class="abtCatTxt fLeft tcenter">appearance & beauty…</div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
