<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR signupPage loginP">
        <div class="wrapper">
            <div class='loginDiv'>
                <div class="wrapperMax">
                    <div class="signupTitle fLeft">Login</div>
                    <div class="inputCont fLeft fmOpenR">
                        <input type="tel" id="pr_mobile" name="pr_mobile" autocomplete="off" class="txtInput cOrange fmOpenR font14 emailIcon">
                        <label for="pr_mobile" class="inp-label transition100">MOBILE</label>
                        <div id="pr_email_inpText" class="inpText fRight transition300">enter<br>mobile number</div>
                    </div>
                    <div class="inputCont fLeft fmOpenR">
                        <input type="password" id="pr_pass" name="pr_pass" autocomplete="off" class="txtInput cOrange fmOpenR font14 passwordIcon" onKeyPress="common.eSubmit(event, 'loginSubmit');">
                        <label for="pr_pass" class="inp-label transition100">PASSWORD</label>
                        <div id="pr_pass_inpText" class="inpText fRight transition300">enter your<br>password</div>
                    </div>  
                    <div class="cancelLgBtn fLeft fmOpenR ripplelink poR" id='signupCancel'> CANCEL</div>
                    <div class="loginBtn fLeft fmOpenR ripplelink poR" id='loginSubmit' onclick="common.submitLoginForm();">SIGN IN</div>
                    <div class="signuplink fmOpenB fLeft">
                        <center class="w50 fLeft"><a href="<?php echo DOMAIN; ?>index.php?case=forgot" style="color:#171334;"><span>Forgot Password?</span></a></center>
                        <center class="w50 fLeft"><a href="<?php echo DOMAIN; ?>index.php?case=signup"><span>Sign Up with Us</span></a></center>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'?>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?=$jvs['signup'];?>"></script>
    <script type="text/javascript" src="<?=$jvs['comm'];?>"></script>
</body>
