<?php
switch ($page) {
    case 'diamond_details':
        ?>
        <a href="<?php echo DOMAIN;?>">
            <div class="logo transition100 fmOpenR">
                <span id='logoTxt' style="color:#4d4d4d"><b>IF</b>to<b>SI</b></span>
            </div>
        </a>
        <?php
    break;
    case 'jewellery_details':
        ?>
        <a href="<?php echo DOMAIN;?>">
            <div class="logo transition100 fmOpenR">
                <span id='logoTxt' style="color:#4d4d4d"><b>IF</b>to<b>SI</b></span>
            </div>
        </a>
        <?php
    break;
    default:
    ?>       
        <a href="<?php echo DOMAIN;?>">
            <div class="logo transition100 fmOpenR">
                <span id='logoTxt'><b>IF</b>to<b>SI</b></span>
            </div>
        </a>
    <?php  
    break;
}
?>