<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Membership</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="row">
                        <div class="containerA">
                            <div class="texHolder font15 fmOpenR fLeft">
                               <div class="subHead4">IFtoSI Membership Process </div>
                                <div class="botmLine"></div>
                                IFtoSI membership is open and accessible for all reputable retailers and manufacturers. All applicants need to go through the accreditation process, which consists of <br>
                                1. Signing the Code of Practice<br>
                                2. Filling out the applications form<br>
                                3. Agreeing to IFtoSI terms & conditions<br>
                                4. Paying the membership fee<br>
                                5. Education of the sales staff<br>
                                <div class="subHead4">More in detail </div>
                               <div class="subHead4">• Signing the Code of Practice </div>
                                <div class="botmLine"></div>
                                IFtoSI has established a set of operating principles to reinforce confidence in the Diamond Solitaires, Jewellery and Bullion supply chain.
                                All members are required to sign and adhere to these principles.
                                All Diamond Dealers, Jewellers and Bullion traders must comply with and sign the IFtoSI Code of Conduct.
                                The IFtoSI Code of Conduct must be signed by the CEO of the applicant Diamond Dealer, Jewellery store and Bullion trader before accreditation by IFtoSI.<br>
                                <div class="subHead4">• IFtoSI members agree to</div>
                                 <div class="botmLine"></div>
                                1. Describe diamonds, jewellery, gemstones and bullion accurately and fairly in accordance with local and global industry standards and norms.<br>
                                2. Disclose all treatments of diamonds and other gemstones, whether traditional or otherwise.<br>
                                3. Disclose whether a diamond or any other gemstone is synthetic, man-made, cultured, and lab-grown or created wholly or partly through any such process which would classify it as not completely natural. <br>
                                4. Take all the necessary measures, required and voluntary, in order to avoid trading in conflict diamonds, including supporting the implementation, commitments and undertakings of the diamond industry as part of the Kimberley Process.<br>
                                5. Observe fair labour practices and provide employees with a safe and healthy work environment, in accordance with the guidance of the local laws.<br>
                                
                                <h4>Signing of the IFtoSI membership needs to be renewed annually.</h4>
                                
                                <div class="subHead4">• Providing the required application documents</div>
                                 <div class="botmLine"></div>
                                An IFtoSI applicant can apply for membership with uploading the following documents<br>
                                • Copy of any trade license / VAT certificate<br>
                                • Proof of membership to local reputable Jewellery association, diamond bourse (s), associated organisations <br>
                                • Catalogue of products <br>
                                • Duly completed application form<br>
                                • Any other documents that may be deemed relevant by IFtoSI<br>

                                <div class="subHead4">• Filling out the applications form</div>
                                 <div class="botmLine"></div>
                                The application form is simple and easy to fill out. Please follows the <a href="<?php echo DOMAIN?>?case=signup">link</a>
                               <div class="subHead4">• Paying the membership fee</div>
                                <div class="botmLine"></div>
                                IFtoSI membership fee is reasonable and accessible to all. The base IFtoSI membership fee is<br>

                                • For Jewellery and Bullion retail shops / dealer outlets &#8377;25,000 per annum, to be renewed annually<br>
                                • For Diamond dealers &#8377;30,000 per annum, to be renewed annually <br>
                                This fee includes the accreditation of the company and the use of the IFtoSI title according to the licensing guidelines. It also includes clerical work and inclusion of promoting the company / store(s) in IFtoSI database and website.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
