<!-- <div class="fLeft pagination fmOpenR">
	<center>
		<div class="pPrev poR ripplelink">Previous</div>
		<div class="pgComm poR ripplelink pgActive">1</div>
		<div class="pgComm poR ripplelink">2</div>
		<div class="pgComm poR ripplelink">3</div>
		<div class="pgComm poR ripplelink">4</div>
		<div class="pgEmpty"></div>
		<div class="pgEmpty"></div>
		<div class="pgEmpty"></div>
		<div class="pgComm poR ripplelink">20</div>
		<div class="pNext poR ripplelink">Next</div>
	</center>
</div> -->

<div class="fLeft pagination fmOpenR">
	<center>
	<?php
	if($totalCnt > 15)
	{
	?>
		<div class="pPrev poR ripplelink">Previous</div>
		<?php
		if($lastpg < 7 + ($adjacents * 2))
		{
			for($i = 1; $i <= $lastpg; $i++)
			{
				if($i == $pgno)
				{
		?>
					<div class="pgComm poR ripplelink pgActive"><?php echo $i;?></div>
		<?php
				}
				else
				{
		?>
					<div class="pgComm poR ripplelink"><?php echo $i;?></div>
		<?php
				}
			}
		}
		else if($lastpg > 5 + ($adjacents * 2))
		{
			if($pgno < 1 + ($adjacents * 2))
			{
				for ($i = 1; $i < 4 + ($adjacents * 2); $i++)
				{
					if($i == $pgno)
					{
		?>
						<div class="pgComm poR ripplelink pgActive"><?php echo $i;?></div>
		<?php
					}
					else
					{
		?>
						<div class="pgComm poR ripplelink"><?php echo $i;?></div>
		<?php
					}
				}
		?>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgComm poR ripplelink"><?php echo $lastpg;?></div>
		<?php
			}
			else if($lastpg - ($adjacents * 2) > $pgno && $pgno > ($adjacents * 2))
			{
		?>
				<div class="pgComm poR ripplelink">1</div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
		<?php
				for ($i = $pgno - $adjacents; $i <= $pgno + $adjacents; $i++)
				{
					if($i == $pgno)
					{
		?>
						<div class="pgComm poR ripplelink pgActive"><?php echo $i;?></div>
		<?php
					}
					else
					{
		?>
						<div class="pgComm poR ripplelink"><?php echo $i;?></div>
		<?php
					}
				}
		?>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgComm poR ripplelink"><?php echo $lastpg;?></div>
		<?php
			}
			else
			{
		?>
				<div class="pgComm poR ripplelink">1</div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
				<div class="pgEmpty"></div>
		<?php
				for ($i = $lastpg - (2 + ($adjacents * 2)); $i <= $lastpg; $i++)
				{
					if($i == $pgno)
					{
		?>
						<div class="pgComm poR ripplelink pgActive"><?php echo $i;?></div>
		<?php
					}
					else
					{
		?>
						<div class="pgComm poR ripplelink"><?php echo $i;?></div>
		<?php
					}
				}
			}
		}
		?>
		<div class="pNext poR ripplelink">Next</div>
	<?php
	}
	?>
	</center>
</div>