<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div id="product" class="contentCont fLeft">
        <div class="wrapperMax">
            <div  class="forPrds fLeft fmOpenR">
                <div class="prdResults fRight">
                    <div id="dmdS" class="prdSearchDiv fLeft">
                        <div class="formTitle fLeft fmOpenR m0"><span id="totalProducts">439</span> product(s) listed</div>
<!--                        <input type="text" onkeyup="searchBarcode(this.value);" autocomplete="off" class="prdSeachTxt fRight fmOpenR" placeholder="Search Product">-->
                    </div>
                    <div class="prdListHeader fLeft fmOpenR">
                        <div class="date fLeft">Date</div>
                        <div class="barcode fLeft">Barcode</div>
                        <div class="totalCnt fLeft">Total Images</div>
                        <div class="pending fLeft">Pending</div>
                        <div class="accepted fLeft">Accepted</div>
                        <div class="rejected fLeft">Rejected</div>
                        <div class="acct2 fLeft"></div>
                    </div>

                    <ul class="prdul fLeft fmOpenR" id="PoductsList">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="tools/js/adminNav.js?v=<?=VERSION;?>"></script>
<script>
    var uid = customStorage.readFromStorage('userid');
    var is_vendor = customStorage.readFromStorage('is_vendor');
    var userName = customStorage.readFromStorage('name');
    $('#userName').html(userName);
    if (uid == '' || is_vendor!=2) {
        window.location.assign(DOMAIN + 'index.php');
    }
    var loadProduct = true;
    var currentPage = 1;
    
loadProducts(1);

function loadProducts(pgno) {
    $.ajax({url: common.APIWebPath() + "index.php?action=getProdList&page=" + pgno + "&limit=50", success: function (result) {
        loadProductsCallback(result,pgno);
    }});
}
function loadProductsCallback(res,pgno) {
    var obj = jQuery.parseJSON(res);
    if (obj['results'] != '') {
        var total = obj['results']['total_products'];
        $('#totalProducts').text(total);
        var total_pages = obj['results']['total_pages'];
        
        var str = '';
        if(total!=0) {
            if(total_pages==currentPage) {
                loadProduct = false;
            }
            var len = obj['results']['products'].length;
            var i = 0;
            while (i < len) {
                str += generatProductsList(obj['results']['products'][i]);
                i++;
            }
			var html = pagination(obj,pgno);
        } else {
            str = '<p class="noRecords"><span>Sorry! No Products Found!</span></p>';
                    loadProduct = false;
                }
                $('#PoductsList').html(str);
                $('#PoductsList').append(html);
                $('.pgComm').click(function () {

                    $('.pgComm').removeClass('pgActive');
                    $(this).addClass('pgActive');
                    loadProducts($(this).text());
                    $('body').animate({scrollTop: $('.prdResults').offset().top - 100}, 300);
                });
            } else {
                loadProduct = false;
            }
        }
        function generatProductsList(obj) {
            var barcode = obj['barcode'];
            if (barcode == null || barcode == '' || barcode == 'null') {
                barcode = 'N-A';
            }
            
            var date = obj['update_time'].split(' ');
            var str = '<li>';
            str += '<div class="date fLeft"> ';
            str += '<span class="upSpan">' + date[0] + '</span>';
            str += '<span class="lwSpan">' + date[1] + '</span>';
            str += '</div>';
            str += '<div class="barcode fLeft">';
            str += '<span class="upSpan">' + barcode + '</span>';
            str += '<span class="lwSpan"><a href="' + DOMAIN + barcode + '/bid-' + obj['id'] + '" target="_blank">View Details</a></span>';
            str += '</div>';
            str += '<div class="totalCnt fLeft">' + obj['total_img'] + '</div>';
            str += '<div class="pending fLeft">' + obj['pend_img'] + '</div>';
            str += '<div class="accepted fLeft">' + obj['appr_img'] + '</div>';
            str += '<div class="rejected fLeft">' + obj['rej_img'] + '</div>';
            str += '<div class="acct2 fLeft">';
            str += '<a href="' + DOMAIN + 'index.php?case=thumbnail&pid=' + obj['id'] + '"><div class="viewDetBtn poR ripplelink fmOpenR fRight">View Images</div></a>';
            str += '</div>';
            str += '</li>';
            str += '';
            return str;
        }

        function pagination(data, pgno) {
            /* For Pagintion */
            pgno = pgno * 1;
            var html = '';
            var tc = data.results.total_products;
            var lastpg = Math.ceil(tc / 50);
            var adjacents = 2;

            if (lastpg > 1)
            {
                html += '<div class="fLeft pagination fmOpenR">';
                html += '<center>';
                html += '<div class="pPrev poR ripplelink">Previous</div>';
                if (lastpg < 7 + (adjacents * 2))
                {
                    for (var i = 1; i <= lastpg; i++)
                    {
                        if (i == pgno)
                        {
                            html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                        }
                        else
                        {
                            html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                        }
                    }
                }
                else if (lastpg > 5 + (adjacents * 2))
                {
                    if (pgno < 1 + (adjacents * 2))
                    {
                        for (var i = 1; i < 4 + (adjacents * 2); i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgComm poR ripplelink">' + lastpg + '</div>';
                    }
                    else if (lastpg - (adjacents * 2) > pgno && pgno > (adjacents * 2))
                    {
                        html += '<div class="pgComm poR ripplelink">1</div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        for (var i = pgno - adjacents; i <= pgno + adjacents; i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgComm poR ripplelink">' + lastpg + '</div>';
                    }
                    else
                    {
                        html += '<div class="pgComm poR ripplelink">1</div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        for (var i = lastpg - (2 + (adjacents * 2)); i <= lastpg; i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                    }
                }
                html += '<div class="pNext poR ripplelink">Next</div>';
                html += '</center>';
                html += '</div>';
            }
            return html;
        }

</script>
</body>
</html>