<?php include 'vendorHead.html'; ?>
<div class="mainContainer fLeft">
    <?php include 'HeaderVendor.html'; ?>
    <div id="product" class="contentCont fLeft">
        <div class="wrapperMax">
            <div  class="forPrds fLeft fmOpenR">
                <div class="prdResults fRight">
                    <div id="dmdS" class="prdSearchDiv fLeft">
                        <div class="formTitle fLeft fmOpenR m0"><span id="totalProducts">0</span> product(s) listed</div>
<!--                        <input type="text" onkeyup="searchBarcode(this.value);" autocomplete="off" class="prdSeachTxt fRight fmOpenR" placeholder="Search Product">-->
                    </div>
                    <div class="prdListHeader fLeft fmOpenR">
                        <div class="date fLeft">Date</div>
                        <div class="barcode fLeft">Barcode</div>
                        <div class="btype fLeft">Jeweller Name</div>
                        <div class="catg fLeft">Category </div>
                        <div class="shape fLeft">Total Images</div>
                        <div class="date fLeft">Pending</div>
                        <div class="shape fLeft">Accepted</div>
                        <div class="shape fLeft">Rejected</div>
                        <div class="acct2 fLeft"></div>
                    </div>

                    <ul class="prdul fLeft fmOpenR" id="PoductsList">
                        <li class="noRecords"><span >Sorry! No Enquiries Found!</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=DOMAIN;?>tools/js/adminNav.js?v=<?=VERSION;?>"></script>
<script>
    var uid = customStorage.readFromStorage('userid');
    var is_vendor = customStorage.readFromStorage('is_vendor');
    var userName = customStorage.readFromStorage('name');
    var pgno = customStorage.readFromStorage('pgno');
    $('#userName').html(userName);
    if (uid == '' || is_vendor!=2) {
        window.location.assign(DOMAIN);
    }
    var loadProduct = true;
    var currentPage = 1;
    


function loadProducts(pgno) {
    var tmstmp = new Date().getTime();
    $.ajax({url: common.APIWebPath() + "index.php?action=getProdList&page=" + pgno + "&limit=50&timestamp="+tmstmp, success: function (result) {
        loadProductsCallback(result,pgno);
    }});
}
function loadProductsCallback(res,pgno) {
    var obj = jQuery.parseJSON(res);
    if (obj['results'] != '') {
        $('#pgno').val(pgno);
        var total = obj['results']['total_products'];
        $('#totalProducts').text(total);
        var total_pages = obj['results']['total_pages'];
        
        var str = '';
        if(total!=0) {
            if(total_pages==currentPage) {
                loadProduct = false;
            }
            var len = obj['results']['products'].length;
            var i = 0;
            while (i < len) {
                str += generatProductsList(obj['results']['products'][i]);
                i++;
            }
			var html = pagination(obj,pgno);
        } else {
            str = '<p class="noRecords"><span>Sorry! No Products Found!</span></p>';
                    loadProduct = false;
                }
                $('#PoductsList').html(str);
                $('#PoductsList').append(html);
                $('.pgComm').click(function () {

                    $('.pgComm').removeClass('pgActive');
                    $(this).addClass('pgActive');
                    loadProducts($(this).text());
                    $('html,body').animate({scrollTop: $('.prdResults').offset().top - 100}, 300);
                });
                paginationPrevNext();
            } else {
                loadProduct = false;
            }
        }
        function generatProductsList(obj) {
            var barcode = obj['barcode'];
            var catName = obj.category.split(',');
            var tempUrl = '';
            if(obj.shape == undefined || obj.shape == '')
            {
                obj.shape = '';
            }
            if(obj.metal == undefined || obj.metal == '')
            {
                obj.metal = '';
            }
            if(obj.type == undefined || obj.type == '')
            {
                obj.type = '';
            }
            if(obj.color == undefined || obj.color == '')
            {
                obj.color = '';
            }
            if(obj.clarity == undefined || obj.clarity == '')
            {
                obj.clarity = '';
            }
            if(obj.certified == undefined || obj.certified == '')
            {
                obj.certified = '';
            }
            if(obj.purity == undefined || obj.purity == '')
            {
                obj.purity = '';
            }
            if(obj.weight == undefined || obj.weight == '')
            {
                obj.weight = '';
            }
            if (barcode == null || barcode == '' || barcode == 'null')
            {
                barcode = 'N-A';
            }
            if(catName[0] == 'Diamonds')
            {
                tempUrl += obj.shape+'-colour-'+obj.color+'-clarity-'+obj.clarity+'-certified-'+obj.certified;
                tempUrl += '/did-';
            }
            if(catName[0] == 'Bullion')
            {
                tempUrl += obj.metal+'-'+obj.type+'-'+obj.purity+'-'+obj.weight+'-Grams';
                tempUrl += '/bid-';
            }
            if(catName[0] == 'Jewellery')
            {
                tempUrl += obj.metal+'-'+catName[0]+'-'+catName[1]+'-'+obj.purity+'-Carat-'+obj.weight+'-Grams-'+obj.certified;
                tempUrl += '/jid-';
            }
            tempUrl = tempUrl.toString().replace('--', '-');
            
            
                var date = obj['update_time'].split(' ');
                var str = '<li>';
                str += '<div class="date fLeft"> ';
                str += '<span class="upSpan">' + date[0] + '</span>';
                str += '<span class="lwSpan">' + date[1] + '</span>';
                str += '</div>';
                str += '<div class="barcode fLeft">';
                str += '<span class="upSpan">' + barcode + '</span>';
                str += '<span class="lwSpan"><a href="' + DOMAIN + tempUrl +obj['id']+ '" target="_blank">View Details</a></span>';
                str += '</div>';
                str += '<div class="btype fLeft textOverflow" title="'+ obj['orgName'] +'">'+ obj['orgName'] +'</div>';
                str += '<div class="catg fLeft textOverflow" title="'+ obj['category'] +'"  >'+ obj['category'] +'</div>';
                str += '<div class="shape fLeft">' + obj['total_img'] + '</div>';
                str += '<div class="date fLeft">' + obj['pend_img'] + '</div>';
                str += '<div class="shape fLeft">' + obj['appr_img'] + '</div>';
                str += '<div class="shape fLeft">' + obj['rej_img'] + '</div>';
                str += '<div class="acct2 fLeft">';
                str += '<a href="' + DOMAIN + 'index.php?case=thumbnail&pid=' + obj.id + '"><div class="viewDetBtn poR ripplelink fmOpenR fRight">View Images</div></a>';
                str += '</div>';
                str += '</li>';
                str += '';
                return str;
        }

        function pagination(data, pgno) {
            /* For Pagintion */
            pgno = pgno * 1;
            var html = '';
            var tc = data.results.total_products;
            var lastpg = Math.ceil(tc / 50);
            var adjacents = 2;
            $('#total_pageno').val(lastpg);

            if (lastpg > 1)
            {
                html += '<div class="fLeft pagination fmOpenR">';
                html += '<center>';
                html += '<div class="pPrev poR ripplelink">Previous</div>';
                if (lastpg < 7 + (adjacents * 2))
                {
                    for (var i = 1; i <= lastpg; i++)
                    {
                        if (i == pgno)
                        {
                            html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                        }
                        else
                        {
                            html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                        }
                    }
                }
                else if (lastpg > 5 + (adjacents * 2))
                {
                    if (pgno < 1 + (adjacents * 2))
                    {
                        for (var i = 1; i < 4 + (adjacents * 2); i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgComm poR ripplelink">' + lastpg + '</div>';
                    }
                    else if (lastpg - (adjacents * 2) > pgno && pgno > (adjacents * 2))
                    {
                        html += '<div class="pgComm poR ripplelink">1</div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        for (var i = pgno - adjacents; i <= pgno + adjacents; i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgComm poR ripplelink">' + lastpg + '</div>';
                    }
                    else
                    {
                        html += '<div class="pgComm poR ripplelink">1</div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        html += '<div class="pgEmpty"></div>';
                        for (var i = lastpg - (2 + (adjacents * 2)); i <= lastpg; i++)
                        {
                            if (i == pgno)
                            {
                                html += '<div class="pgComm poR ripplelink pgActive">' + i + '</div>';
                            }
                            else
                            {
                                html += '<div class="pgComm poR ripplelink">' + i + '</div>';
                            }
                        }
                    }
                }
                html += '<div class="pNext poR ripplelink">Next</div>';
                html += '</center>';
                html += '</div>';
            }
            return html;
        }

function paginationPrevNext()
{
    $('.pPrev').bind('click', function() {
        
            var curpgno = parseInt($('#pgno').val());
                var pgval = curpgno - 1;
		if(curpgno > 1)
		{
			$('#pgno').val(pgval);
			if(pageName.indexOf("product_list") !== -1)
			{
				/*if(typeof $('.productstab') !== 'undefined')
				{
					$(".productstab").each(function(){
						if($(this).hasClass('sel'))
						{
							loadProducts($(this).attr('id'),pgval);
						}
					});
				}*/
                                loadProducts(pgval);
			}
			else
			{   
				loadProducts(1);
			}
		}
            });
            	$('.pNext').bind('click', function() {
		var curpgno = parseInt($('#pgno').val());
		var pgval = curpgno + 1;

		if(curpgno < parseInt($('#total_pageno').val()))
		{
			$('#pgno').val(pgval);
			if(pageName.indexOf("product_list") !== -1)
			{
				/*if(typeof $('.wishTabComm') !== 'undefined')
				{
					$(".productstab").each(function(){
						if($(this).hasClass('sel'))
						{
							loadProducts($(this).attr('id'),pgval);
						}
					});
				}*/
                                loadProducts(pgval);
			}
			else
			{
				loadProducts(1);
			}
		}
	});
}
$(document).ready(function() {	
    loadProducts(1);
        $('.pPrev').bind('click', function() {

            var curpgno = parseInt($('#pgno').val());
            	var pgval = curpgno - 1;
		if(curpgno > 1)
		{
			$('#pgno').val(pgval);
			if(pageName.indexOf("product_list") !== -1)
			{
				/*if(typeof $('.productstab') !== 'undefined')
				{
					$(".productstab").each(function(){
						if($(this).hasClass('sel'))
						{
							loadProducts($(this).attr('id'),pgval);
						}
					});
				}*/
                                loadProducts(pgval);
			}
			else
			{   
				loadProducts(1);
			}
		}
	});

	$('.pNext').bind('click', function() {
		var curpgno = parseInt($('#pgno').val());
		var pgval = curpgno + 1;
		if(curpgno < parseInt($('#total_pageno').val()))
		{
			$('#pgno').val(pgval);
			
			if(pageName.indexOf("product_list") !== -1)
			{
				/*if(typeof $('.wishTabComm') !== 'undefined')
				{
					$(".productstab").each(function(){
						if($(this).hasClass('sel'))
						{
							loadProducts($(this).attr('id'),pgval);
						}
					});
				}*/
                                loadProducts(pgval);
			}
			else
			{
				loadProducts(1);
			}
		}
	});
    });
</script>
</body>
</html>