<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class="container fmOpenR detailsPage bgWhite">
        <div class="wrapper">
            <div id='header' class="header transition300">
                <div class="wrapperMax poR">
                    <div id="mMenuBtn" class="menuBtn fLeft transition300 ripplelink" onclick="showLeftMenu(true)"></div>
                    <div id="mFilterBtn" class="filterBtn fRight transition300 ripplelink" onclick="swichFilter();"></div>
                    <div class="headCatCont fLeft transition300">
                        <div id='hbgDiam' class="headCat fLeft bgDiamond transition300 headSelected"><span>Diamonds</span></div>
                        <div id='hbgJewel' class="headCat fLeft bgJewellery transition300"><span>Jewellery</span></div>
                        <div id='hbgBull' class="headCat fLeft bgBullion transition300"><span>Bullions</span></div>
                    </div>
                    <div class="headRight fRight">
                        <div class="compNo fRight fmOpenB">+91 9980051525</div>
                        <div class="signInUpTab fRight fmOpenR">Sign In / Sign Up</div>
                        <div class="headDivider fRight"></div>
                        <div class="wishlist fRight fmOpenR">Wishlist</div>
                        <div class="wishCount fRight fmOpenR ripplelink">25</div>
                    </div>
                </div>
            </div>
            <div class="forBg"></div>
            <div class='prdMainDetails'>
                <div class="wrapperMax">
                    <div class="imgsCont">
                        <div id='prdImage' class="forImg fLeft" style="background: url(<?php echo DOMAIN;?>tools/img/common/tumb2.png) 50% 50% / contain no-repeat scroll padding-box border-box rgb(255, 255, 255);"></div>
                        <div class="gallery fLeft">
                            <div class="thumbnil fLeft" style="background:#fff url(<?php echo DOMAIN;?>tools/img/common/tumb5.jpg)no-repeat;background-size: contain;background-position: center;"></div>
                            <div class="thumbnil fLeft" style="background:#fff url(<?php echo DOMAIN;?>tools/img/common/tumb2.png)no-repeat;background-size: contain;background-position: center;"></div>
                            <div class="thumbnil fLeft" style="background:#fff url(<?php echo DOMAIN;?>tools/img/common/tumb3.jpg)no-repeat;background-size: contain;background-position: center;"></div>
                            <div class="thumbnil fLeft" style="background:#fff url(<?php echo DOMAIN;?>tools/img/common/tumb4.jpg)no-repeat;background-size: contain;background-position: center;"></div>
                        </div>
                    </div>
                    <div class="detCont">
                        <div class="btnsCont fLeft">
                            <div class="prdShape fLeft">
                                <div class="prdShTitle fLeft fmOpenB">PRICE</div>
                                <div class="prdShType fLeft fmOpenL"><span>&#8377;</span>8,28,5888</div>
                            </div>
                            <div class="prdBtns fLeft">
                                <div class="btnComm fLeft iconCall">Request a call</div>
                                <div class="btnComm fLeft iconWishlist">Add To Wishlist</div>
                                <div class="btnComm fLeft iconMessage">Message Vendor</div>
                            </div>
                        </div>
                        <div class="majorInfoBox fLeft">
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Shape</div>
                                <div class="infoValue c666 fmOpenR font25">Round</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Measurement</div>
                                <div class="infoValue c666 fmOpenR font25">2196113785</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Carats</div>
                                <div class="infoValue c666 fmOpenR font25">0.33</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Certificate</div>
                                <div class="infoValue c666 fmOpenR font25">GIA</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Color</div>
                                <div class="infoValue c666 fmOpenR font25">D</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Certificate No.</div>
                                <div class="infoValue c666 fmOpenR font25">2196113785</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Clarity</div>
                                <div class="infoValue c666 fmOpenR font25">IF</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR ">
                                <div class="infoLabel fmOpenB font12 fmOpenB">Barcode</div>
                                <div class="infoValue c666 fmOpenR font25">CW0H8IE9</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">% DISCOUNT</div>
                                <div class="infoValue c666 font25 fmOpenR">25%</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">SYMMETRY</div>
                                <div class="infoValue c666 font25 fmOpenR">Very Good</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">PROPORTION</div>
                                <div class="infoValue c666 font25 fmOpenR">Very Good</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">FLUORESCENCE</div>
                                <div class="infoValue c666 font25 fmOpenR">Very Good</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">LOT NUMBER</div>
                                <div class="infoValue c666 font25 fmOpenR">88888888888</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">TABLE</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">POLISH</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">CROWN HEIGHT</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">BASE</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">CROWN ANGLE</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">VALUE</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                            <div class="infoCommn fLeft fmOpenR">
                                <div class="infoLabel fmOpenB  font12">GIRDLE</div>
                                <div class="infoValue c666 font25 fmOpenR">1365445</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='prdInfo'>
                <div class="wrapperMax fmOpenR">
                    <div class="prdInfoTitle fLeft">SHAPE</div>
                    <div class="prdInfoDiv fLeft">
                        Shape is always a significant consideration when shopping for any diamond. While the 4C's are extremely important, 
                        the shape of the stone will have a major impact on a diamond's appearance and how much it is enjoyed by the recipient.
                        People often confuse a diamond's shape with its cut and the two characteristics are frequently listed side-by-side. 
                        For example, a "Round Brilliant" diamond is one with a Round shaped diamond with a Brilliant cut style. Whereas shape 
                        refers to the physical form and contour of the diamond, the quality of its cut dictates overall proportion and how it reacts to light. 
                        A diamond's sparkling character and reflective brilliance increases in proportion to the fineness of its cut.
                        In addition to ever-popular Round diamonds, there are a variety of other shapes available to appeal to any taste and preference.
                        These latter shapes are collectively referred to as "fancy cut" diamonds.
                        <div class="prdInfoDiv fLeft">
                        <ul>
                            <li>
                                <div>Round - </div>
                                <div>
                                    Round diamonds are perennially popular and account for a majority of sales today. 
                                    Round brilliant-cut diamonds, with their 58 facets and 360-degree symmetrical shape, 
                                    are the most optically brilliant diamonds.
                                </div>
                            </li>
<!--                            <li>
                                <div>Princess - </div>
                                <div>
                                    Also very popular, Princess diamonds are the perfect choice for those seeking a square or rectangular 
                                    stone offering the brilliance of a Round diamond. If you prefer a square-shaped Princess diamond, 
                                    choose a length-to-width ratio between 1 and 1.05.For a quality rectangular shaped Princess diamond,
                                    look for a length-to-width ratio greater than 1.10.
                                </div>
                            </li>
                            <li>
                                <div>Marquise - </div>
                                <div>
                                    The Marquise shape takes its name from the legend of the Sun King who desired a stone polished 
                                    into the shape of the mouth of the Marquise of Pompadour. The elongated diamond gives the illusion 
                                    of greater size while accentuating long, slender fingers.
                                    Diamonds with a classic Marquise shape usually have a length-to-width ratio between 1.75 and 2.25.
                                </div>
                            </li>
                            <li>
                                <div>Emerald - </div>
                                <div>
                                    Emerald diamonds have long facets, layered corners that resemble stairs and a cut that 
                                    highlights clarity better than any other shape of diamond. If you prefer an Emerald cut 
                                    with a square outline, look for an Asscher-cut diamond. 
                                    For a classical Emerald shape, look for a length-to-width ratio between 1.30 and 1.50.
                                </div>
                            </li>
                            <li>
                                <div>Radiant - </div>
                                <div>
                                    Blocked corners are the signature trait of Radiant shape diamonds. They combine the glamour 
                                    of a classic Emerald stone with the brilliance and fire of a Round-cut diamond. If you prefer 
                                    a square shaped Radiant diamond, look for a length-to-width ratio between 1 and 1.05. If you prefer
                                    a rectangular shape, the length-to-width ratio should be greater than 1.10.
                                </div>
                            </li>
                            <li>
                                <div>Pear - </div>
                                <div>
                                   Resembling an elegant teardrop, Pear diamonds are a stylish combination of Round and Marquise shaped stones. 
                                   Their unique shape allows them to easily be cut to accommodate profiles that are fatter and longer. 
                                   A classical Pear shaped diamond has a length-to-width ratio between 1.45 and 1.75.
                                </div>
                            </li>
                            <li>
                                <div>Oval - </div>
                                <div>
                                   Oval diamonds offer the sparkle of round stone in an alluring and elongated silhouette.
                                   They are the ideal choice for those who want a unique shaped diamond that accentuates long, 
                                   slender fingers. Classical oval shape diamonds have a length-to-width ratio between 1.33 and 1.66.
                                </div>
                            </li>
                            <li>
                                <div>Heart - </div>
                                <div>
                                   Heart diamonds offer brilliance and symmetry in a shape that is a timeless symbol of romance. 
                                   The lobes of a Heart stone should be rounded - not pointed - and clearly defined. 
                                   As with Pear-cut stones, the cut of Heart diamonds can be fatter and longer per your preference. 
                                   A wider Heart shape will have a length-to-width ratio between 0.85 and 1.00. 
                                   For a longer, tapered design, try a length-to-width ratio between 1.00 and 1.10.
                                </div>
                            </li>
                            <li>
                                <div>Asscher - </div>
                                <div>
                                   A variation of the classic Emerald shape, Asscher diamonds have deeply trimmed corners and a thick profile within a square frame.
                                   A classical Asscher shape has a length-to-width ratio close to 1.00. If you prefer an Asscher-cut style with a more rectangular outline, 
                                   look for an Emerald-cut stone.
                                </div>
                            </li>
                            <li>
                                <div>Cushion - </div>
                                <div>
                                   Cushion shaped stones have a square-rectangular cut with rounded corners and large facets that enhance brilliance.
                                   Those seeking a square shaped Cushion diamond should look for length-to-width ratio between 1 and 1.05. 
                                   For a rectangular shaped Cushion, try a length-to-width ratio between 1.10 and 1.20.
                                </div>
                            </li>-->
                        </ul>
                    </div>
                    </div>
                    <div class="prdInfoTitle fLeft">More Info</div>
                    <div class="prdInfoDiv fLeft">
                        <ul>
                            <li>
                                <div>Carat Weight - </div>
                                <div>A carat is the standard unit of measurement used to weigh diamond and gemstones. One carat (1.00 ct) equals 200 milligrams,
                                    or 0.200 grams. You may also have heard jewelers talking about "points". In common jewelry parlance, 
                                    when referring to a diamond weighing less than one carat, jewelers use points, just like pennies are used 
                                    for prices lower than one dollar. A point equals 0.01 ct. So, for example, a 15 point diamond is the same 
                                    as a 0.15 ct diamond.As large diamonds are rare, they have a greater value per carat and the price of diamonds rises 
                                    exponentially in relation to size. Accordingly, a one carat diamond with a certain color and clarity will be much more 
                                    valuable than two separate half carat diamonds of the same quality. Due to higher demand, diamonds increase in value after 
                                    they reach the half and full carat mark.
                                </div>
                            </li>
                            <li>
                                <div>Color - </div>
                                <div>
                                    Diamonds generally increase in value as their color moves from pale yellow to an absence of color that promotes more 
                                    reflection and dispersal of light. Even the slightest tinge of yellow or brown in a white diamond will decrease its value.
                                    White diamonds are graded on a scale that usesthe letters of the alphabet to describe color ranging from D (colorless) to Z (light yellow or brown). 
                                </div>
                            </li>
                            <li>
                                <div>Clarity - </div>
                                <div>
                                    A diamond's clarity rating is based on the presence and visibility of internal flaws (called inclusions) and external flaws (called blemishes). 
                                    Inclusions are naturally occurring impurities that can become embedded in a diamond during its formation. Blemishes can occur during cutting, polishing and wearing.
                                    Clarity improves when a diamond has fewer flaws. A clarity grade is assigned based on the overall appearance of a diamond under 10x magnification. There are five factors that determine how 
                                    a major laboratory will assign a clarity grade to a specific diamond:
                                </div>
                            </li>
                            <li>
                                <div>Cut - </div>
                                <div>
                                    Referring to the pattern of angled facets on the surface of the diamond, the cut of a diamond determines its brilliance and fire. People often confuse a diamond's cut with its shape. 
                                    Whereas shape refers to the physical form and contour of the diamond, the quality of its cut dictates overall proportion and how it reacts to light. A diamond's sparkling character 
                                    and reflective brilliance increases in proportion to the fineness of its cut.The cut of a diamond includes considerations like symmetry, depth, crown and pavilion angles, uniformity of facets,
                                    quality of polish and the overall skill of the cutter that sculpted the stone.
                                    Most gemologists consider cut to be the most important diamond characteristic. A poor cut will dull the brilliance of a diamond of perfect color and clarity.
                                    Cutting a diamond to ideal proportions sometimes requires sacrificing up to half of the crystal's initial weight. Consequently, such diamonds are sold at a relatively higher per-carat price.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <?php include 'logo.html'; ?>    
            <?php include 'leftmenu.html'; ?>    
            <div id='dragTarget' class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
            <div id='overlay' class="overlay transition300 transit-100Y1 dn"></div>
            <div id='loginDiv' class="loginDiv transition300 transit-200Y1 dn">
                <div class="lgTitle fLeft fmOpenR">One account. All about Diamonds</div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="tel" id="pr_mobile" name="pr_mobile" autocomplete="off" maxlength="10" class="txtInput cOrange fmOpenR font14 mobileIcon">
                    <label for="pr_mobile" class="inp-label transition100">MOBILE</label>
                    <div id="pr_mobile_inpText" class="inpText fRight transition300">enter<br>mobile number</div>
                </div>  
                <div class="inputCont fLeft fmOpenR">
                    <input type="tel" id="pr_pass" name="pr_pass" autocomplete="off" maxlength="10" class="txtInput cOrange fmOpenR font14 passwordIcon">
                    <label for="pr_pass" class="inp-label transition100">PASSWORD</label>
                    <div id="pr_pass_inpText" class="inpText fRight transition300">enter your<br>password</div>
                </div>  
                <div class="cancelLgBtn fLeft fmOpenR" id='lgCancel'> CANCEL</div>
                <div class="loginBtn fLeft fmOpenR">LOGIN</div>
                <div class="signuplink fmOpenB fLeft">
                    <center><span><a href='<?php echo DOMAIN; ?>?case=signup'>Sign Up with Us</a></span></center>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<?= $jvs['velocity']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['hammer']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['ripple']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['details']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['head']; ?>"></script>
    <script type="text/javascript" src="<?= $jvs['comm']; ?>"></script>
</body>
</html>
