
        <div id='overlay' class="overlay transition300 transit-100Y1 dn"></div>
<div id='dollarRateDiv' class="popDiv transition300 transit-200Y1 dn" style="height: 250px;">
                <div class="upTitle fLeft fmOpenR">Update Dollar Rate </div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="text" id="dollar_rate" name="dollar_rate" class="inpTxt fRight fmOpenR" maxlength="15" autocomplete="off" onkeypress="return isValidFloatKey(this, event, true);" onkeyup="return onEnterFormSubmit(event,1);" placeholder="eg. 60.45" autofocus="">
                </div>
                <div class="commBtn cancelBtn fLeft fmOpenR" id='upCancel' onclick="closeAllForms(1);"> CANCEL</div>
                <div class="commBtn upBtn fLeft fmOpenR" onclick="updateDollarRate();">UPDATE</div>
                <div id="dollarErr" class="rateErr dn"><span> Update Dollar Rate to add Diamonds</span></div>
        </div>
        
<!--        <div id='silverRateDiv' class="popDiv transition300 transit-200Y1 dn" style="height: 250px;">
                <div class="upTitle fLeft fmOpenR">Silver Rate </div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="text" id="silver_rate" name="silver_rate" autocomplete="off" class="inpTxt fRight fmOpenR" maxlength="15" onkeypress="return isValidFloatKey(this, event, true);" onkeyup="return onEnterFormSubmit(event,2);" placeholder="Silver Rate For 995" autofocus="">
                </div>
                <div class="commBtn cancelBtn fLeft fmOpenR" id='upCancel' onclick="closeAllForms(2);"> CANCEL</div>
                <div class="commBtn upBtn fLeft fmOpenR" onclick="updateSilverRate();">UPDATE</div>
                <div id="silverErr" class="rateErr dn"><span>Silver Rate to add Products</span></div>
           
        </div>-->
        
        <div id='goldRateDiv' class="popDiv transition300 transit-200Y1 dn" style="height:315px">
               <div class="upSpan fLeft fmOpenR upTitle" style="padding-bottom: 0;height: auto;">Update Gold Rate </div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="text" id="gold_rate" name="gold_rate" autocomplete="off" class="inpTxt fRight fmOpenR" maxlength="15" onkeypress="return isValidFloatKey(this, event, true);" onkeyup="return onEnterFormSubmit(event,3);" placeholder="Gold Rate For 995" autofocus="">
                </div>
                <div class="upSpan fLeft fmOpenR upTitle" style="padding-bottom: 0;height: auto;">Update Silver Rate </div>
                <div class="inputCont fLeft fmOpenR">
                    <input type="text" id="silver_rate" name="silver_rate" class="inpTxt fRight fmOpenR" maxlength="15" autocomplete="off" onkeypress="return isValidFloatKey(this, event, true);" onkeyup="return onEnterFormSubmit(event,3);" placeholder="Silver Rate For 999" autofocus="">
                </div>
                <div class="commBtn cancelBtn fLeft fmOpenR" id='upCancel' onclick="closeAllForms(3);"> CANCEL</div>
                <div class="commBtn upBtn fLeft fmOpenR" onclick="updateGoldRate();">UPDATE</div>
                <div id="goldErr" class="rateErr dn"><span> Update Gold And Silver Rate to add Products</span></div>
        </div>

		<div id='confirmDelete' class="popDiv transition300 transit-200Y1 dn" style="height: 200px;">
			<div class="upTitle fLeft fmOpenR">Are you sure you want to delete Product?</div>
			<div class="commBtn cancelBtn fLeft fmOpenR" id='delCancel' onclick="closeConfirmDelete();"> CANCEL</div>
			<div class="commBtn upBtn fLeft fmOpenR" onclick="deleteProduct();"> OK</div>
        </div>
        