<!DOCTYPE html>


<body>
    <div class="sideDiv showSide ">
        <div class="color0044 font16">WHY CHOOSE IFTOSI?</div>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">The Best Selection:</span></div>
        <p class="font13 lineHeight24 margnTop0"> 100 x the selection of the largest jewelry stores.</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">The Best Prices:</span></div>
        <p class="font13 lineHeight24 margnTop0"> 20-40% lower than typical jewelry store sale prices.</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">The Best Service:</span></div>
        <p class="font13 lineHeight24 margnTop0"> Read some of our most recent customer reviews.</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">Lifetime Trade-In</span></div>
        <p class="font13 lineHeight24 margnTop0"> Change your mind or upgrade and receive the full price you paid for the original purchase. (get the details)</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">Quality Guarantee:</span></div>
        <p class="font13 lineHeight24 margnTop0"> Your purchase will appraise at or higher than what you pay or your money back, plus $100. (details)</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">Only GIA Certified:</span></div>
        <p class="font13 lineHeight24 margnTop0">We do not sell uncertified diamonds, or those certified by inferior labs. (learn about certification).</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">Free FedEx Overnight:</span></div>
        <p class="font13 lineHeight24 margnTop0">on every order.</p>
        <div class="font13 subHead4"><span class="color0044 fmOpenR ">30-Day Returns:</span></div>
        <p class="font13 lineHeight24 margnTop0">If you are not satisfied for any reason. (details)</p>
    </div>
</body>
</html>
