<!DOCTYPE html>


<body>
    <div class="sideDiv ">
        <div class="subList transition300 fmOpenR font15">Shape</div>
        <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'index.php?case=education_round';?>" class="colo4d4d">Round</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_princess';?>" class="colo4d4d">Princess</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_oval';?>" class="colo4d4d">Oval</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_marq';?>" class="colo4d4d">Marque</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_pear';?>" class="colo4d4d">Pear</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_cushion';?>" class="colo4d4d">Cushion</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_emerald';?>" class="colo4d4d">Emerald</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_asscher';?>" class="colo4d4d">Asscher</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_radiant';?>" class="colo4d4d">Radiant</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=education_heart';?>" class="colo4d4d">Heart</a></li>
        </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=e_carat_weight';?>" class="colo4d4d">Carat weight</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=diamond_shapes';?>" class="colo4d4d">Anatomy</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=e_cut';?>" class="colo4d4d">Cut</a></div>
        <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'index.php?case=e_cut1';?>" class="colo4d4d">Girdle Size</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=e_cut2';?>" class="colo4d4d">Culet Size</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=e_cut3';?>" class="colo4d4d">Polish</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=e_cut4';?>" class="colo4d4d">Symmetry</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=e_cut5';?>" class="colo4d4d">Heart and Arrows</a></li>
        </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=e_color';?>" class="colo4d4d">Color</a></div>
         <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'index.php?case=e_color1';?>" class="colo4d4d">Fluorescence</a></li>
         </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=education_clarity';?>" class="colo4d4d" >Clarity</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'index.php?case=e_certification';?>" class="colo4d4d">Certification</a></div>
         <ul class="licontent fmOpenR">
             <li class="arrowPos"><a href="<?php echo DOMAIN.'index.php?case=e_certification1';?>" class="colo4d4d">How GIA Grades A Diamond</a></li>
            <li><a href="<?php echo DOMAIN.'index.php?case=e_certification2';?>" class="colo4d4d">GIA Vs EGL</a></li>
         </ul>
<!--        <div class="subList transition300 fmOpenR font15">Glossary</div>-->
    </div>
</body>
</html>
