<!DOCTYPE html>


<body>
    <div class="sideDiv ">
        <a href="<?php echo DOMAIN.'index.php?case=e_shapes';?>" class="sideli <?=($page == 'e_shapes')? 'sideactive' : ''; ?>"><div class="subList transition300 fmOpenR font15">Shape</div></a>
        <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'Round';?>" class="sideli <?=($page == 'education_round')? 'sideactive' : ''; ?>">Round</a></li>
            <li><a href="<?php echo DOMAIN.'Princess';?>" class="sideli <?=($page == 'education_princess')? 'sideactive' : ''; ?>">Princess</a></li>
            <li><a href="<?php echo DOMAIN.'Oval';?>" class="sideli <?=($page == 'education_oval')? 'sideactive' : ''; ?>">Oval</a></li>
            <li><a href="<?php echo DOMAIN.'Marquise';?>" class="sideli <?=($page == 'education_marq')? 'sideactive' : ''; ?>">Marque</a></li>
            <li><a href="<?php echo DOMAIN.'Pear';?>" class="sideli <?=($page == 'education_pear')? 'sideactive' : ''; ?>">Pear</a></li>
            <li><a href="<?php echo DOMAIN.'Cushion';?>" class="sideli <?=($page == 'education_cushion')? 'sideactive' : ''; ?>">Cushion</a></li>
            <li><a href="<?php echo DOMAIN.'Emerald';?>" class="sideli <?=($page == 'education_emerald')? 'sideactive' : ''; ?>">Emerald</a></li>
            <li><a href="<?php echo DOMAIN.'Asscher';?>" class="sideli <?=($page == 'education_asscher')? 'sideactive' : ''; ?>">Asscher</a></li>
            <li><a href="<?php echo DOMAIN.'Radiant';?>" class="sideli <?=($page == 'education_radiant')? 'sideactive' : ''; ?>">Radiant</a></li>
            <li><a href="<?php echo DOMAIN.'Heart';?>" class="sideli <?=($page == 'education_heart')? 'sideactive' : ''; ?>">Heart</a></li>
        </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Carat-Weight';?>" class="sideli <?=($page == 'e_carat_weight')? 'sideactive' : ''; ?>">Carat weight</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Anatomy';?>" class="sideli <?=($page == 'diamond_shapes')? 'sideactive' : ''; ?>">Anatomy</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Cut';?>" class="sideli <?=($page == 'e_cut')? 'sideactive' : ''; ?>">Cut</a></div>
        <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'Girdle-Size';?>" class="sideli <?=($page == 'e_cut1')? 'sideactive' : ''; ?>">Girdle Size</a></li>
            <li><a href="<?php echo DOMAIN.'Culet-Size';?>" class="sideli <?=($page == 'e_cut2')? 'sideactive' : ''; ?>">Culet Size</a></li>
            <li><a href="<?php echo DOMAIN.'Polish';?>" class="sideli <?=($page == 'e_cut3')? 'sideactive' : ''; ?>">Polish</a></li>
            <li><a href="<?php echo DOMAIN.'Symmetry';?>" class="sideli <?=($page == 'e_cut4')? 'sideactive' : ''; ?>">Symmetry</a></li>
            <li><a href="<?php echo DOMAIN.'Heart-And-Arrows';?>" class="sideli <?=($page == 'e_cut5')? 'sideactive' : ''; ?>">Heart and Arrows</a></li>
        </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Color';?>" class="sideli <?=($page == 'e_color')? 'sideactive' : ''; ?>">Color</a></div>
         <ul class="licontent fmOpenR">
            <li><a href="<?php echo DOMAIN.'Fluorescence';?>" class="sideli <?=($page == 'e_color1')? 'sideactive' : ''; ?>">Fluorescence</a></li>
         </ul>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Clarity';?>" class="sideli <?=($page == 'education_clarity')? 'sideactive' : ''; ?>">Clarity</a></div>
        <div class="subList transition300 fmOpenR font15"><a href="<?php echo DOMAIN.'Certification-And-Grading';?>" class="sideli <?=($page == 'e_certification')? 'sideactive' : ''; ?>">Certification</a></div>
         <ul class="licontent fmOpenR">
             <li class="arrowPos"><a href="<?php echo DOMAIN.'How-GIA-Grades-A-Diamond';?>" class="sideli <?=($page == 'e_certification1')? 'sideactive' : ''; ?>">How GIA Grades A Diamond</a></li>
            <li><a href="<?php echo DOMAIN.'GIA-vs-EGL';?>" class="sideli <?=($page == 'e_certification2')? 'sideactive' : ''; ?>">GIA Vs EGL</a></li>
         </ul>
<!--        <div class="subList transition300 fmOpenR font15"> <a href="<?php echo DOMAIN.'index.php?case=e_glossary';?>" class="sideli <?=($page == 'e_glossary')? 'sideactive' : ''; ?>">Glossary</a></div>-->
    </div>
</body>
</html>
