<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR aboutus">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Team</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperMax">
                    <div class="row">
                        <div class="rowLeft fLeft">
                            <div class="sideDiv team">
                                <div class="texHolder fLeft">
                                    <ul class="licontent fmOpenR">
                                        <li class="mTop15"><a href="<?php echo DOMAIN?>About-Us" alt="About Us" title="About Us">About us</a></li>
                                        <li class="tActive"><a href="<?php echo DOMAIN?>Team" alt="Team" title="Team">Meet The Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="rowRight fRight">
                            <div class="teamComm fLeft mTop25">
                                <div class="teamCircle fLeft imgMate4"></div>
                                <div class="teamtxt fLeft">
                                    <div class="subHead4 fmOpenL">Neeraj Kayathwal <span class="desg">(Founder & CEO)</span></div>
                                    <div class="botmLine"></div>
                                    <p>
                                        Neeraj has spent close to three decades in the gem and jewellery industry.Having participated at all the major jewellery shows around the world, Neeraj understands the very pulse of this industry. </p>
                                    <p> Previously he served as Marketing Director for the brand Imagem, introducing fine jewels into the Indian market and also as Director for Daneli Jewellery Pvt. Ltd., overseeing its in-house jewellery brand, Charade, which is sold in top retail stores in Europe. Neeraj introduced Charade jewellery via. major retailers in Singapore, Malaysia, Australia, New Zealand and South Africa.</p>
                                        <p>Neeraj's in-depth knowledge of the gems and jewellery industry and his passion to create strong values for customer relations led to the birth of IFtoSI. He and his team of hardworking and committed professionals behind IFtoSI offer its clients decades of combined and diversified expertise in online marketing and jewellery retailing.</p> 
                                </div>
                            </div>
                            <div class="botmLine fLeft"></div>
                            <div class="teamComm fLeft">
                                <div class="subHead4 fmOpenL xelpmocLogo"><a href='http://www.xelpmoc.co' target="_blank"> <div class="xelogoHolder"></div></a>Tech Co-founder</div>
                                <p class="xelP1">Xelpmoc is a first of it's kind in the world which works as a tech co-founder with startups.</p>
                                <p>Xelpmoc comprises of engineers, designers, product managers, marketing specialists, data scientists, and finance & legal experts. This gives Xelpmocthe unique ability to provide cutting edge solutions to any technology or business challenge.</p>   
                            </div>
                            
                             <div class="botmLine fLeft"></div>
                            <div class="teamComm fLeft">
                                <div class="teamCircle fLeft imgMate1"></div>
                                <div class="teamtxt fLeft">
                                    <div class="subHead4 fmOpenL">Sandipan Chattopadhyay <span class="desg">(Founder & Mentor - XELPMOC)</span></div>
                                    <div class="botmLine"></div>
                                    <p>
                                        Sandipan Chattopadhyay is a technical wizard. He has over 20 years of technology experience and has played an important factor in propagating the Linux, Apache, MySQL and PHP technology implementation in Asia. Sandipan's past companies include JustDial, Tata Interactive, Wipro, Moneycontrol, CRISIL, Edelweiss and Karvy. 
                                        Sandipan is also an investor in Xelpmoc and a mentor to both Xelpmoc and its portfolio companies.
                                    </p>
                                </div>
                            </div>
                             <div class="teamComm fLeft">
                                <div class="teamCircle fLeft imgMate2"></div>
                                <div class="teamtxt fLeft">
                                    <div class="subHead4 fmOpenL">Rajesh Dembla <span class="desg">(Founder & CEO - XELPMOC)</span></div>
                                    <div class="botmLine"></div>
                                    <p>
                                        Rajesh has more than 22 years of experience in the local search industry. Rajesh has also played a crucial role in Justdial since its inception. His past experiences includes been an angel investor/mentor to a number of B2B ans B2C technology startups. 
                                        Rajesh is also an investor in Xelpmoc and a mentor to both Xelpmoc and its portfolio companies.
                                    </p>
                                </div>
                            </div>
                            <div class="teamComm fLeft">
                                <div class="teamCircle fLeft imgMate3"></div>
                                <div class="teamtxt fLeft">
                                    <div class="subHead4 fmOpenL">Srinivas Koora <span class="desg">(Founder & CFO - XELPMOC)</span></div>
                                    <div class="botmLine"></div>
                                    <p>
                                        Srinivas is Deputy – CFO at Justdial.
                                        He has been associated with Justdial since 1999, and has played a crucial role in growing the firm from a startup to a publicly listed company.  
                                        At Justdial, he has been responsible for financial planning, implementation of business strategy, budgeting, fiscal management, capital raising, treasury management, investor relations, legal and M&A. 
                                        Srinivas is an investor in Xelpmoc, and a mentor to both Xelpmoc and its portfolio companies.

                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <?php include 'logo.html'; ?>
    </div>
    <?php include 'footer.html'; ?>
</body>
</html>
