<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Terms and Conditions</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperA">
                    <div class="wrapperMax">
                        <div class="texHolder font15 fmOpenR fLeft">
                            <h2>TERMS OF SERVICE</h2>
                            <h3>Important</h3>
                            IftoSi Jewels Private Limited, a company incorporated under the Companies Act, 2013, and
                            having its registered office at F-27, Shagun Arcade, Film City Road, Near Dindoshi Bus Stop, Goregaon East, 
                            Mumbai 400063, is the sole owner of the website IFtoSI.com (“Website”, which expression shall include any 
                            versions of the Website designed for use on mobile phones and other devices) and associated domain names, 
                            trademarks and mobile applications.
                            <p>These Terms of Service (“Terms”) constitute a binding contract between IftoSi and you as a registered user on the
                                Website. If you do not agree to these Terms you must not register yourself with the Website. In that event you shall 
                                not be able to avail of the Services (defined below) but you may continue on the Website as a visitor.</p>
                            <p>Without prejudice to any other specific requirement which may be laid out in these Terms, your use of the Services 
                                and specifically, your acceptance of these Terms as aforesaid shall be deemed to be a representation from you that 
                                you are above 18 years of age, or possess legal parental or guardian consent, and are fully able and competent to 
                                enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, 
                                and to abide by and comply with these Terms.</p>
                            <p>Headings of clauses are only for convenience and are not intended to be used to interpret the contents thereunder. 
                                Please read these Terms fully.</p>
                            <h3>1. Services </h3>
                            <div class='subNumber font12 fmOpenB marT5'> 1.1.</div>
                            <div class='padL30'>
                                <p class='marBottom0'> IftoSi makes available to you the following services on the Website (“Services”): </p>
                            </div>
                            <div class="padL10">
                                <div class='subNumber font12 fmOpenB'>(a)</div>  <div class="padL30">Listing of diamonds, jewellery and bullion (“Products”);</div>
                                <div class='subNumber font12 fmOpenB'>(b)</div> <div class="padL30"> Listing of information of and related to the sellers of the Products, including sellers registered on the 
                                    diamond bourse/s in India, wholesalers of bullion and jewelry stores (“Sellers”); </div>
                                <div class='subNumber font12 fmOpenB'>(c)</div> <div class="padL30">Facilitating contact between you and the Sellers;</div>
                                <div class='subNumber font12 fmOpenB'>(d)</div> <div class="padL30">Such other services as provided from time to time in IftoSi’s sole discretion.</div>
                            </div>
                            <div class='subNumber font12 fmOpenB marT5'>1.2.</div>
                            <div class='padL10'>
                                <p class="marBottom0"> Notwithstanding anything to the contrary in these Terms:</p>
                            </div>
                            <div class="padL10">
                                <div class='subNumber font12 fmOpenB'>1.2.1.</div>
                                <div class="padL30">
                                    <p>
                                        The Services enable you to view and evaluate the Products and the Sellers to the extent of the 
                                        information made available on the Website. The Services do not enable you to place orders on the 
                                        Website for purchasing Products. All contracts for sale and purchase of the Products shall be solely 
                                        between you and the Seller of the Product you wish to purchase.
                                    </p>
                                </div>
                                <div class='subNumber font12 fmOpenB'>1.2.2.</div>
                                <div class="padL30">
                                    <p>
                                        IftoSi makes reasonable efforts to verify information about the Products and the Sellers which are 
                                        provided to IftoSi by the Sellers. IftoSi does not make any representation or endorsement or offer any 
                                        assurance that the information provided about the Products and the Sellers is correct and complete in 
                                        all respects. IftoSi and Sellers are independent parties and neither is an agent or partner of the other. 
                                        As a prudent buyer, it shall be solely your responsibility to evaluate the Product and the Seller 
                                        independently before making any purchase.
                                    </p>
                                </div>
                                <div class='subNumber font12 fmOpenB'>1.2.3.</div>
                                <div class="padL30">
                                    <p>
                                        If you become aware of any errors on the Website we encourage you to contact IftoSi with the details 
                                        of the errors and corrections. IftoSi shall make all reasonable efforts to carry out the corrections but 
                                        shall not have any further liability to you in respect thereof.
                                    </p>
                                </div>
                            </div>
                            <h3>2. Applicability of the Terms</h3>
                            <div class='subNumber font12 fmOpenB marT5'>2.1.</div>
                            <div class="padL30">
                                <p class='marBottom0'> By registering yourself with the Website you hereby give your unconditional consent to:</p> 
                            </div>
                            <div class='padL10'>
                                <div class="subNumber font12 fmOpenB">(1)</div>
                                <div class="padLeft40">These Terms.</div> 
                                <div class="subNumber font12 fmOpenB">(2)</div>
                                <div class="padLeft40">
                                    The “Privacy Policy” available for view on the Website and incorporated herein by reference. <a href="<?php echo DOMAIN.'index.php?case=privacy';?>" class="fmOpenB">[Click here to 
                                        view the Privacy Policy.]</a>
                                </div>
                                <div class="subNumber font12 fmOpenB">(3)</div>
                                <div class="padLeft40">
                                    Any other notice, disclaimer, policy, or term of use, by whatever name called, which may be applicable to 
                                    the use of the Services from time to time.
                                </div>

                            </div>
                            <h3>3. Amendments</h3>
                            <div class='subNumber font12 fmOpenB marT5'>3.1.</div>
                            <div class="padL30">
                                <p>
                                    These Terms may be amended at any time by IftoSi. All such amendments shall be binding on you 
                                    effective 24 hours after the amended Terms are made available on the Website. If you do not agree with 
                                    any amendment, you shall stop your use of the Services with no liability from IftoSi to you except in case 
                                    of orders placed prior to the amendments.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>3.2.</div>
                            <div class="padL30">
                                <p>
                                    Although IftoSi may attempt to notify you when major changes are made to these Terms, it shall be solely 
                                    your responsibility to read and understand the most up-to-date version of the Terms on the Website. 
                                    Nothing in these Terms shall be deemed to confer any third-party rights or benefits.
                                </p>
                            </div>
                            <h3>4. Registration</h3>
                            <div class='subNumber font12 fmOpenB marT5'>4.1.</div>
                            <div class="padL30">
                                <p>
                                    In order to use the Services on the Website, you shall be required to register on the Website and create an
                                    account. You hereby represent and warrant that any information you provide for the aforesaid purpose is 
                                    correct and complete in all material respects. You shall be solely responsible to keep such information 
                                    updated from time to time.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.2.</div>
                            <div class="padL30">
                                <p> Upon registration on the Website, IftoSi shall assign you an account and issue a unique member ID.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.3.</div>
                            <div class="padL30">
                                <p> You shall be solely responsible for maintaining the confidentiality and security of your member ID and 
                                    password. You are solely responsible for the activity that occurs on your account, and you must keep your 
                                    account password secure. You must notify IftoSi immediately of any breach of security or unauthorized 
                                    use of your account. IftoSi hereby disclaims any responsibility for use of the Services by any other person 
                                    through your account, irrespective of whether or not you permitted such use.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.4. </div>
                            <div class="padL30">
                                <p> In order to provide the Services effectively, the Website may use cookies or other methods of collecting 
                                    information about your Use of the Services. You hereby waive any objection to the same. Please note that 
                                    if you disable cookies and such features, you may not be able to avail of the Services effectively, and 
                                    IftoSi shall not be responsible for the same.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.5.</div>
                            <div class="padL30">
                                <p> IftoSi shall not be liable for any loss, damage, injury or any liability, whether in tort, contract or other 
                                    theory of liability, resulting from any unauthorized use of your account. However, you shall always be 
                                    liable for the losses of IftoSi or others due to such unauthorized use.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.6.</div>
                            <div class="padL30">
                                <p> Subject to successful registration and your continued adherence to these Terms and any other terms and 
                                    conditions prescribed from time to time, IftoSi shall permit you to access the Website and use the 
                                    Services.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.7.</div>
                            <div class="padL30">
                                <p> Except as expressly provided herein, IftoSi does not grant any express or implied permission to use the 
                                    Services. In addition to the restrictions specified in these Terms, you shall also comply with any special 
                                    terms and conditions in respect of any specific Service.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.8.</div>
                            <div class="padL30">
                                <p> Without prejudice to its other rights and remedies, IftoSi may, without prior notice, restrict your access or 
                                    use of Website (or any features within the Website), indefinitely suspend or immediately terminate this 
                                    contract with you or stop you from using the Services if it is discovered that the details you gave at the 
                                    time of registration are materially inaccurate or false, or if you fail to keep such details updated from time 
                                    to time, in its sole discretion. IftoSi may also launch, change, upgrade or impose conditions to suspend or 
                                    stop any Services or any features without prior notice, except that in case of a fee-based Service such 
                                    changes will not substantially adversely affect the paying users in enjoying that Service</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.9.</div>
                            <div class="padL30">
                                <p> IftoSi reserves the right to discontinue any aspect of the Services at any time.</p>
                            </div>
                            <h3>5. Use of the Services</h3>
                            <div class='subNumber font12 fmOpenB marT5'>5.1.</div>
                            <div class="padL30">
                                <p> You hereby represent and warrant that you shall make use of the Services as a prudent, reasonable and 
                                    law-abiding citizen.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.2.</div> 
                            <div class="padL30">
                                <p> IftoSi may, in its sole discretion, and upon receiving any complaints about you from other users, suspend 
                                    your use of the Services or terminate your contract under these Terms.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.3. </div>
                            <div class="padL30">
                                <p> IftoSi shall not be responsible for any delay or failure resulting from infrastructure issues, like server 
                                    uptime, network availability and connectivity.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.4.</div>
                            <div class="padL30">
                                <p> You agree not to use any data mining, robots or similar data and/or image gathering and extraction 
                                    methods in connection with the Services.</p>

                            </div>
                            <div class='subNumber font12 fmOpenB'>5.5.</div>
                            <div class="padL30">
                                <p> You shall not use the Services to defame, harass, abuse, threaten or defraud others, or collect or threaten 
                                    to collect personal information about other users, or to do anything that is contrary to the law, decency or 
                                    morality.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.6.</div>
                            <div class="padL30">
                                <p> You shall not use the Service to make unsolicited offers, advertisements, proposals, or send junk mail or 
                                    spam to others.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.7.</div>
                            <div class="padL30">
                                <p> You shall not take any action that would cause IftoSi to suffer any types of losses.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.8.</div>
                            <div class="padL30">
                                <p> You agree not to collect or harvest from the Services any personally identifiable information, including
                                    account names, or to use the communication platforms provided by the Services (e.g., comments, email) 
                                    for any commercial solicitation purposes.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.9. </div> 
                            <div class="padL30">
                                <p>In your Use of the Services, you shall always comply with all applicable laws.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.10. </div>
                            <div class="padL30">
                                <p> You shall not copy, reproduce, make available online or electronically transmit, publish, adapt, distribute, 
                                    transmit, broadcast, display, sell, license, or otherwise exploit the content on the Website.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.11.</div>
                            <div class="padL30">
                                <p> You agree not to circumvent, disable or otherwise interfere with security-related features of the Services 
                                    or features that prevent or restrict use or copying of any content or enforce limitations on use of the 
                                    Services or the content therein.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.12.</div>
                            <div class="padL30">
                                <p> Except for the Services explicitly provided, IftoSi does not provide, control or endorse any third party 
                                    information, products or services in any manner whatsoever even if such third party information, products 
                                    or services are advertised on the Website.</p>
                            </div>
                            <h3>6. Consideration and Payment Terms</h3>
                            <div class='subNumber font12 fmOpenB marT5'>6.1.</div>
                            <div class="padL30">
                                <p> Even if the Services are provided on a ‘no charge’ basis for a period of time, IftoSi shall have the right to 
                                    charge such subscription fees as it determines in its sole discretion from time to time.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.2.</div>
                            <div class="padL30">
                                <p> All payments shall be made by credit card, debit card, or such other method as IftoSi may specify from time to time.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.3.</div>
                            <div class="padL30">
                                <p> Unless permitted otherwise by IftoSi as per the then prevalent subscription package, all fees shall be paid
                                    in advance of availing of the Services and shall be non-refundable. For the avoidance of doubt, IftoSi shall 
                                    not refund any amount regardless of the reason for the termination or annulment of these Terms, even if 
                                    you discontinue the Services during the period of your then current subscription package.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.4.</div>
                            <div class="padL30">
                                <p> Any promotional offers made available from time to time to all or any group of Users shall be fulfilled on
                                    the terms of such offers and shall not confer any right or entitlement on you or affect your obligations 
                                    under these Terms.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.5.</div>
                            <div class="padL30"><p> You shall also bear and pay all taxes that may be levied on any Services provided to you.</p></div>
                            <div class='subNumber font12 fmOpenB'>6.6.</div>
                            <div class="padL30">
                                <p> You shall have no right to set off or adjust amounts due from you to IftoSi from any amounts that are 
                                    actually or allegedly due by IftoSi to you.</p>
                            </div>
                            <div class="subNumber font12 fmOpenB">6.7.</div>
                            <div class='padL30'>
                                <p> Non-payment of fees and such other amounts shall result in suspension or termination of these Terms and 
                                    your ability to Use the Services.</p>
                            </div>
                            <h3>7. Termination and Suspension</h3>
                            <div class="subNumber font12 fmOpenB marT5">7.1.</div>
                            <div class='padL30'>
                                <p> Notwithstanding anything to the contrary in these Terms, any other terms, or any other communication 
                                    between you and IftoSi, IftoSi may terminate the Services at any time with or without notice, and for or 
                                    without any reasons, with absolutely no liability to you.</p>
                            </div>
                            <div class="subNumber font12 fmOpenB">7.2.</div>
                            <div class=' padL30'>
                                <p> Without prejudice to the foregoing:</p>
                            </div>
                            <div class='padL10'>
                                <div class="subNumber font12 fmOpenB">7.2.1.</div>
                                <div class=' padLeft40'>
                                    <p> IftoSi reserves the right to terminate these Terms without notice and without liability to you on 
                                        becoming aware that you have violated these Terms or any other guidelines and rules published in 
                                        respect of the Services.</p>
                                </div>
                                <div class='subNumber font12 fmOpenB'>7.2.2.</div>
                                <div class="padLeft40">
                                    <p>IftoSi may block, restrict, disable, suspend or terminate your access to all or part of the Services at
                                        any time in IftoSi’s discretion, without prior notice or liability to you.</p>
                                </div>
                            </div>
                            <h3>8. Warranty Disclaimer</h3>
                            <div class="subNumber font12 fmOpenB marT5">8.1.</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    IFTOSI MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
                                    TO, CORRECTNESS OR COMPLETENESS OF ANY INFORMATION AVAILABLE ON THE 
                                    WEBSITE OR THAT THE PRODUCTS LISTED THEREIN ARE MERCHANTABLE, FIT FOR A 
                                    PARTICULAR PURPOSE, OR ARE FREE FROM DEFECTS, AND NON-INFRINGEMENT OF 
                                    PROPRIETARY RIGHTS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, 
                                    OBTAINED BY YOU THROUGH THE SERVICES WILL CONSTITUTE OR CREATE ANY 
                                    REPRESENTATION OR WARRANTY NOT EXPRESSLY STATED HEREIN.
                                </p>

                            </div>
                            <div class='subNumber font12 fmOpenB'>8.2</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    YOU EXPRESSLY AGREE THAT USE OF THE SERVICES IS AT YOUR SOLE RISK. THE
                                    SERVICES AND ANY DATA, INFORMATION, THIRD PARTY SOFTWARE, REFERENCE SITES, 
                                    SERVICES, OR SOFTWARE MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE 
                                    SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE,” “WITH ALL FAULTS” 
                                    BASIS AND WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND EITHER 
                                    EXPRESS OR IMPLIED.
                                </p>
                            </div>
                            <h3>9. Intellectual Property</h3>
                            <div class='subNumber font12 fmOpenB marT5'>9.1</div>
                            <div class='padL30'>
                                <p>
                                    IftoSi and its licensors, if any, shall be the sole and absolute owners of the Services, including but not
                                    limited to the idea behind the Services, the copyright in all content on the Website and all trademarks, 
                                    designs, logos and other insignia of trade used on the Website and elsewhere during the performance of 
                                    the Services, all of which are subject to protection under patent, copyright, trade mark and trade secret and 
                                    other intellectual property laws of India and other countries. Any copying of any part of the Services shall 
                                    entail immediate termination of these Terms without prejudice to the other rights and remedies of IftoSi, 
                                    including for civil wrongs and criminal offences.
                                </p>
                            </div>
                            <h3>10. Limitation of Liability</h3>
                            <div class='subNumber font12 fmOpenB marT5'>10.1</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    IN NO EVENT SHALL IFTOSI, ITS OFFICERS, DIRECTORS AND EMPLOYEES, OR ITS
                                    CONTRACTORS, AGENTS, LICENSORS, PARTNERS, OR SUPPLIERS BE LIABLE TO YOU FOR 
                                    ANY DIRECT, SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, OR 
                                    EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION LOST BUSINESS 
                                    OPPORTUNITIES, LOST REVENUES, OR LOSS OF ANTICIPATED PROFITS OR ANY OTHER 
                                    PECUNIARY OR NON-PECUNIARY LOSS OR DAMAGE OF ANY NATURE WHATSOEVER), 
                                    EVEN IF IFTOSI OR AN AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE 
                                    POSSIBILITY OF SUCH DAMAGES, ARISING OUT OF OR RELATING TO (I) THESE TERMS, (II) 
                                    THE SERVICES, (III) YOUR USE OR INABILITY TO USE THE SERVICES; OR (IV) ANY OTHER 
                                    INTERACTIONS WITH ANOTHER USER IN CONNECTION WITH THE SERVICES. IF THE 
                                    FOREGOING LIMITATION IS NOT ENFORCEABLE, THE MAXIMUM LIABILITY OF IFTOSI 
                                    SHALL BE Rs.500.
                                </p>

                            </div>
                            <div class="subNumber font12 fmOpenB">10.2</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    YOU ACKNOWLEDGE AND AGREE THAT THE WARRANTY DISCLAIMERS AND THE
                                    LIMITATIONS OF LIABILITY SET FORTH HEREIN REFLECT A REASONABLE AND FAIR 
                                    ALLOCATION OF RISK BETWEEN YOU AND IFTOSI, AND THAT THE WARRANTY 
                                    DISCLAIMERS AND THE LIMITATIONS OF LIABILITY SET FORTH HEREIN FORM AN 
                                    ESSENTIAL BASIS OF THE BARGAIN BETWEEN YOU AND IFTOSI. IFTOSI WOULD NOT BE 
                                    ABLE TO PROVIDE THE SERVICE TO YOU ON AN ECONOMICALLY REASONABLE BASIS 
                                    WITHOUT THESE LIMITATIONS.
                                </p>
                            </div>
                            <div class="subNumber font12 fmOpenB">10.3</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    YOU SPECIFICALLY ACKNOWLEDGE THAT IFTOSI SHALL NOT BE LIABLE FOR CONTENT
                                    OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND 
                                    THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING LIES ENTIRELY WITH 
                                    YOU.
                                </p>
                            </div>
                            <div class="subNumber font12 fmOpenB">10.4</div>
                            <div class='padL30'>
                                <p>
                                    The Services are controlled and offered by IftoSi from its facilities in India. If you are a User outside
                                    India, please take note IftoSi is subject only to Indian law and only to the jurisdiction of Indian courts. 
                                    IftoSi makes no representations that the Services are appropriate or available for use in other locations. 
                                    Therefore, if you are a user outside India, you may use the Services solely on your own volition and at 
                                    your own risk. You shall be solely responsible for compliance with local law.
                                </p>
                            </div>
                            <div class="subNumber font12 fmOpenB">10.5</div>
                            <div class='padL30 textLowercase'>
                                <p>
                                    IFTOSI PROVIDES TO YOU SERVICES VIA THE WEBSITE WHICH ENABLE A USER LIKE
                                    YOU TO SELECT AND PURCHASE PRODUCTS DIRECTLY FROM THIRD PARTY SELLERS. 
                                    ALL PRODUCTS ON THE WEBSITE ARE SOLD AND DELIVERED BY THIRD PARTY SELLERS 
                                    THAT ARE NEITHER EMPLOYED BY, NOR HAVE ANY OTHER RELATIONSHIP WITH IFTOSI. 
                                    ACCORDINGLY, IFTOSI SHALL NOT BE RESPONSIBLE FOR AND EXPRESSLY DISCLAIMS 
                                    ANY AND ALL LIABILITY REGARDING THE PRODUCTS. ANY DISPUTE REGARDING ANY 
                                    PRODUCTS PURCHASED ON THE WEBSITE SHALL BE SOLELY BETWEEN YOU AND THE 
                                    RESPECTIVE SELLER, AND YOU HEREBY AGREE THAT IFTOSI SHALL NOT BE A PARTY TO 
                                    SUCH DISPUTE.
                                </p>
                            </div>
                            <h3>11. Indemnity</h3>
                            <div class='subNumber font12 fmOpenB marT5'>11.1</div>
                            <div class='padL30'>
                                <p>
                                    You hereby agree to defend, indemnify and hold harmless IftoSi, its affiliates, officers, directors,
                                    employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs 
                                    or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your Use of the 
                                    Services; (ii) your violation of any term of these Terms; (iii) your violation of any third party right, 
                                    including without limitation any copyright, property, or privacy right. This indemnification obligation 
                                    shall survive these Terms and use of the Services.
                                </p>
                            </div>
                            <h3>12. Governing Law and Arbitration</h3>
                            <div class='subNumber font12 fmOpenB marT5'>12.1</div>
                            <div class="padL30">
                                <p>
                                    These Terms are governed by and shall be construed in accordance with the laws of the Republic of India
                                    without respect to its conflict of laws provisions.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>12.2</div>
                            <div class="padL30">
                                <p>
                                    Disputes, if any, shall be attempted to be resolved amicably for thirty (30) days. Unresolved disputes shall
                                    be referred to an independent, sole arbitrator in Mumbai appointed by IftoSi in accordance with the 
                                    procedure established by the Arbitration and Conciliation Act, 1996. Subject to the foregoing, you hereby 
                                    consent to the exclusive jurisdiction of the Courts in Mumbai.
                                </p>
                            </div>
                            <h3>13. Miscellaneous</h3>
                            <div class='subNumber font12 fmOpenB marT5'>13.1</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">Headings:</span> All headings used in these Terms are for convenience only and shall not affect the construction
                                    hereof.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.2</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">No Waiver:</span> No failure or delay in exercising any right, power or remedy hereunder shall operate as a
                                    waiver thereof; nor shall any single or partial exercise of any such right, power or remedy preclude any 
                                    other or further exercise thereof or the exercise of any other right, power or remedy hereunder. No waiver 
                                    of any provision hereof shall be effective unless the same shall be in writing and signed.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.3</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">Severability:</span> If any provision of these Terms is prohibited or unenforceable, it shall be ineffective only to
                                    the extent of such prohibition or unenforceability, and such prohibition or unenforceability shall not 
                                    invalidate the balance of such provision to the extent it is not prohibited or enforceable nor the remaining 
                                    provisions hereof, nor render unenforceable such provision in any other jurisdiction. In the event any 
                                    provisions of these Terms shall be held to be invalid, illegal or unenforceable, the parties hereto shall use 
                                    their best efforts to substitute valid, legal and enforceable provisions which, insofar as practical, 
                                    implement the purposes hereof. </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.4</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">Cumulative Remedies:</span> The remedies herein provided are cumulative and not exclusive of any remediesprovided by law. </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.5</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">Force Majeure:</span> If the whole or any part of the performance of the respective obligations of the parties
                                    hereunder is prevented or delayed by reasons of natural calamities, war, arson, civil disturbance, and such 
                                    other reasons beyond the reasonable control of a person (each a “Force Majeure Event”), then to the extent 
                                    either party shall be prevented or delayed from performing all or any part of their respective obligations 
                                    under these Terms despite due diligence and reasonable efforts to do so, then such party shall be excused 
                                    from performance hereunder for so long as reasons of Force Majeure Event. A Force Majeure Event shall 
                                    not affect the payment obligations of the parties unless there is legal bar / embargo to the making of the 
                                    payments.  </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.6</div>
                            <div class="padL30">
                                <p>
                                    <span class="fmOpenB colo4d4d">Assignment:</span> The right to use the Services is personal to you and is not transferable by assignment,
                                    sublicense, or any other method to any other person or entity. </p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <?php include 'logo.html'; ?>
        </div>
        <?php include 'footer.html'; ?>
</body>
</html>
