<?php include 'bhead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
            <?php include 'header.html'; ?>
            <div class='bgHolder'>
                <div class="heading font40 fmOpenL">Terms Of Listing</div>
            </div>
            <div class="wrapperA">
                <div class="wrapperA">
                    <div class="wrapperMax">
                        <div class="texHolder font15 fmOpenR fLeft">
<!--                            <div class="paraHead fmOpenL color0044">Terms Of Conditions</div>-->
                            <div class="subHead4">Important</div>
                            <div class="botmLine"></div>
                            
                            <p>These Terms of Listing (“Terms”) constitute a binding contract between IFtoSI Jewels Private Limited, a company incorporated under the Companies Act, 2013, and having its registered office at F-27, Shagun Arcade, Film City Road, Near Dindoshi Bus Stop, Goregaon East, Mumbai 400063 and Merchant registered with the Website.</p>
                           
                            <div class="subHead4">1.General </div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'> 1.1.</div>
                            <div class='padL30'>
                                <p class='marBottom0'> IFtoSI is the sole owner of the  <a href="<?php echo DOMAIN;?>" target="_blank"><span class="fmOpenB color0044">www.IFtoSI.com</span></a>(“Website”, which expression shall include any versions of the Website designed for use on mobile phones and other devices) and associated domain names, trademarks and mobile applications.</p>
                            </div>
                           
                            <div class='subNumber font12 fmOpenB marTop15'>1.2.</div>
                            <div class='padL30'>
                                <p class="marBottom0"> Subject to registration and acceptance of these Terms, IFtoSI enables sellers of diamonds, jewellery, and bullion to list and market their goods, and connect with prospective buyers (“Customers”) who may be individuals, families, corporates or other businesses via the Website, thereby connecting Merchants and Customers who may wish to buy the Products.</p>
                            </div>
                            
                            <div class="subHead4">2. Services</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>2.1.</div>
                            <div class="padL30">
                                <p class='marBottom0'> IFtoSI makes available to Merchant the following services on the Website (“Services”):</p>
                            </div>
                            <div class='padL10'>
                                <div class="subNumber font12 fmOpenB">2.1.1</div>
                                <div class="padLeft40">Listing of diamonds, jewellery and bullion or any one or more of them as opted for by Merchant (“Products”) together with the specifications of each Product, all in the format provided on the Website;</div>
                                <div class="subNumber font12 fmOpenB">2.1.2</div>
                                <div class="padLeft40">
                                    Facilitating contact between Merchant and the prospective buyers (“Customers”) of the Products;
                                </div>
                                <div class="subNumber font12 fmOpenB">2.1.3</div>
                                <div class="padLeft40">
                                   Such other services as provided from time to time in IFtoSI’s sole discretion.
                                </div>
                            </div>
                            <div class="subNumber font12 fmOpenB marT5">2.2</div>
                                <div class="padL30">
                                    <p class="marT5"> Notwithstanding anything to the contrary in these Terms the Services enable the Merchant to only list the Products, and the Customers to view and evaluate the Products to the extent of the information provided by Merchant on the Website. The Services do not enable ordering of Products on the Website. All contracts for sale and purchase of a Product shall be solely between the Customer who wishes to purchase the Product and Merchant.</p>
                                </div>
                            <div class="subHead4">3. Applicability</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>3.1.</div>
                            <div class="padL30">
                                <p>
                                    By registering with the Website Merchant hereby gives unconditionally accepts:
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>3.2.</div>
                            <div class="padL30">
                                <p>
                                     These Terms.
                                </p>
                            </div>
                            <div class="subNumber font12 fmOpenB">3.3</div>
                            <div class="padL30">
                                <p class="marBottom0">
                                     The Commercial Annexure.
                                </p>
                            </div>
                            <div class="padL10">
                                  <div class="subNumber font12 fmOpenB">3.1.1</div>
                                  <div class="padLeft40">The “Privacy Policy” available for view on the Website and incorporated herein by reference. <a href="<?php echo DOMAIN.'Vendor-Privacy-Policy';?>" target="_blank" class="fmOpenB">[Click here to
                                        view the Privacy Policy.]</a>
                                  </div>
                                  <div class="subNumber font12 fmOpenB">3.1.2</div>
                                  <div class="padLeft40">Any other notice, disclaimer, policy, or term of use, by whatever name called, which may be applicable to the use of the Services from time to time.
                                  </div>
                            </div>
                           <div class="subHead4">4. Registration, Dashboard and Notifications.</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>4.1.</div>
                            <div class="padL30">
                                <p>
                                    In order to register with the Website, Merchant may be required to provide IFtoSI with copies of business documents including proof of identity, PAN, and VAT certificate. Merchant shall ensure that all such documents are genuine, not expired or otherwise invalid and legible.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>4.2.</div>
                            <div class="padL30">
                                <p>  Upon acceptance of these Terms, Merchant shall be permitted use of a dashboard. The dashboard shall enable Merchant to give information about Merchant’s profile, the Products which Merchant chooses to list on the Website, the features and prices of such Products, and such other matters as enabled from time to time by IFtoSI in its sole discretion. Upon a Customer making an inquiry on the Website about a Product, the Customer’s email address shall be made visible to Merchant. The dashboard shall permit Merchant to view and track all inquiries by Customers only for a period of three (3) months prior to the then current date, after which period the data shall be purged by IFtoSI.</p>
                            </div>
                           
                            <div class="subHead4">5. Merchant’s Obligations.</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>5.1.</div>
                            <div class="padL30">
                                <p> Merchant’s diligent fulfillment of the obligations below is necessary for both Merchant and the Website to maintain credibility. Therefore, Merchant is hereby made aware that its failure to promptly and diligently perform its obligations below shall give IFtoSI the discretion to suspend its access to the Website or altogether terminate these Terms, without prejudice to IFtoSI’s other rights and remedies.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.2.</div>
                            <div class="padL30">
                                <p> Merchant shall submit correct, complete and updated information about Merchant and every Product that Merchant wishes to list on the Website. Merchant alone and not IFtoSI shall be solely responsible for the consequences and costs of any inaccuracy, misrepresentation, falsehood or other defect in such information.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.3. </div>
                            <div class="padL30">
                                <p>  Merchant shall adhere to the Code of Conduct included herein as Schedule A.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.4.</div>
                            <div class="padL30">
                                <p>  IFtoSI reserves the right to terminate these Terms without notice and without liability to Merchant on becoming aware that Merchant has violated these Terms, the Privacy Policy, the Code of Conduct or such other terms and conditions accepted or deemed to have been accepted by Merchant.</p>

                            </div>
                            <div class='subNumber font12 fmOpenB'>5.5.</div>
                            <div class="padL30">
                                <p> Merchant shall not offer any Products that Merchant has no right to sell or offer for sale, including Products that are pledged or encumbered in any other manner. Merchant shall not offer for sale any Products the trading of which is unlawful.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.6.</div>
                            <div class="padL30">
                                <p> With respect to Customers, Merchant shall be courteous. Merchant shall ensure that all orders placed by Customers are fulfilled as per the agreed terms.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.7.</div>
                            <div class="padL30">
                                <p>  Merchant is hereby made aware that IFtoSI may solicit or receive feedback from Customers about their dealings with Merchant. IFtoSI shall communicate such feedback to Merchant in IFtoSI’s sole discretion.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.8.</div>
                            <div class="padL30">
                                <p> At all times Merchant shall have a duty to cooperate with IFtoSI to resolve amicably disputes with Customers.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.9. </div>
                            <div class="padL30">
                                <p> Merchant shall provide necessary access to IFtoSI to inspect the offices of Merchant in order to ensure Merchant’s compliance with its obligations under these Terms.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.10. </div>
                            <div class="padL30">
                                <p> Merchant shall not do, cause or authorize to be done anything which will or may impair, damage or be detrimental to the rights, reputation and goodwill associated with IFtoSI, the Website, and IFtoSI’s its promoters, directors, and shareholders.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>5.11.</div>
                            <div class="padL30">
                                <p>  Cross referencing the subscription fees to the fees agreed to at the time of registering with the website.</p>
                            </div>
                            
                            <div class="subHead4">6.Consideration and Payment Terms.</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>6.1.</div>
                            <div class="padL30">
                                <p> In consideration of being rendered the Services, Merchant shall pay IFtoSI the fees stipulated in the Commercial Annexure effective at the time Merchant registers with the Website and as amended from time to time. Notwithstanding anything to the contrary, all fees are non-refundable.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.2.</div>
                            <div class="padL30">
                                <p>Any delays in payments by Merchant shall attract an interest at the rate of 18% per annum.</p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>6.3.</div>
                            <div class="padL30">
                                <p>Service tax or any other central, state or local tax shall be charged extra at actuals and Merchant shall pay the same.</p>
                            </div>
                           
                            <div class="subHead4">7.Representations.</div>
                            <div class="botmLine"></div>
                            <div class="subNumber font12 fmOpenB marT5">7.1.</div>
                            <div class='padL30'>
                                <p> Merchant hereby represents and warrants that:</p>
                            </div>
                            <div class='padL10'>
                                <div class="subNumber font12 fmOpenB">7.1.1.</div>
                                <div class='padLeft40'>
                                    <p> Merchant is authorized to accept these Terms and perform all its obligations hereunder.</p>
                                </div>
                                <div class='subNumber font12 fmOpenB'>7.1.2.</div>
                                <div class="padLeft40">
                                    <p> Merchant’s name, marks or logos do not infringe any third party’s intellectual property rights, whether in India or anywhere in the world;</p>
                                </div>
                                <div class='subNumber font12 fmOpenB'>7.1.3.</div>
                                <div class="padLeft40">
                                    <p> Merchant shall perform its obligations diligently and in a manner that always reflects well on the Website.</p>
                                </div>
                            </div>
                            <div class="subHead4">8.Termination and Suspension.</div>
                            <div class="botmLine"></div>
                            <div class="subNumber font12 fmOpenB marT5">8.1.</div>
                            <div class='padL30 '>
                                <p>
                                    Unless terminated in accordance with its provisions, these Terms shall be valid indefinitely from the effective date unless terminated in accordance with the provisions contained herein.
                                </p>

                            </div>
                            <div class='subNumber font12 fmOpenB'>8.2</div>
                            <div class='padL30 '>
                                <p>
                                    Notwithstanding anything to the contrary in these Terms, IFtoSI may terminate these Terms at any time with or without notice, and for or without any reasons, with absolutely no liability to Merchant. Merchant may terminate these Terms at any time by prior written notice of thirty (30) days to IFtoSI.
                                </p>
                            </div>
                            <div class="subNumber font12 fmOpenB">8.3</div>
                            <div class="padL30">
                                <p>
                                     Without prejudice to the foregoing:
                                </p>
                            </div>
                            <div class="padL10">
                                <div class="subNumber font12 fmOpenB">8.3.1</div>
                                <div class="padL30">
                                    <p>
                                        IFtoSI may block, restrict, disable, suspend or terminate Merchant’s access to all or part of the Website at any time in IFtoSI’s discretion, without prior notice or liability to Merchant.
                                    </p>
                                </div>
                            </div>
                            <div class="subNumber font12 fmOpenB">8.4</div>
                            <div class="padL30">
                                <p>
                                      Upon expiry of the term of these Terms or its termination for any reason whatsoever, IFtoSI shall disable Merchant’s access to the Website. All obligations accrued prior to the date of expiry or termination shall survive.
                                </p>
                            </div>
                            <div class="subHead4">9. Warranty Disclaimer</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>9.1</div>
                            <div class='padL30'>
                                <p>
                                    It shall be the responsibility of Merchant to perform any and all background and/or identity checks regarding the Customer. The Website is only a platform for connecting Merchant and the Customer with each other, and IFtoSI disclaims any responsibility relating to such background or identity checks of the Customer.
                                </p>
                            </div>
                             <div class='subNumber font12 fmOpenB '>9.2</div>
                            <div class='padL30'>
                                <p>
                                    IFtoSI makes no representations or warranties as regards the services. to the fullest extent permissible by applicable law, iftosi hereby disclaims all warranties, statutory, express or implied, including, but not limited to, implied warranties of freedom from defects, uninterrupted use, fitness for a particular purpose, and non-infringement of proprietary rights.
                                </p>
                            </div>
                            <div class="subHead4">10. Intellectual Property</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>10.1</div>
                            <div class='padL30 '>
                                <p>
                                     IFtoSI and its licensors, if any, shall be the sole and absolute owners of the Website, including but not limited to the copyright in all content on the Website, IFtoSI’s brand name, goodwill and all trademarks, designs, logos, and other insignia of trade used on the Website, all of which are subject to protection under patent, copyright, trade mark and trade secret and other intellectual property laws of India and other countries. These Terms shall in no way be interpreted to assign any right, title or interest to such idea, copyright, brand name, goodwill, trademarks, designs, logos and other insignias of trade in favour of Merchant and such right, title and interest shall always vest in IFtoSI. Any copying of any part of the Website shall entail immediate termination of these Terms without prejudice to the other rights and remedies of IFtoSI, including for civil wrongs and criminal offences.
                                </p>

                            </div>
                           
                            <div class="subHead4">11. Limitation of Liability</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>11.1</div>
                            <div class='padL30'>
                                <p>
                                    In no event shall IFtoSI, its officers, directors and employees, or its contractors, agents, licensors, partners, or suppliers be liable to merchant for any direct, special, indirect, incidental, consequential, punitive, reliance, or exemplary damages (including without limitation lost business opportunities, lost revenues, or loss of anticipated profits or any other pecuniary or non-pecuniary loss or damage of any nature whatsoever), even if iftosi has been advised of the possibility of such damages. notwithstanding anything to the contrary in these terms, iftosi’s liability to merchant shall not exceed the fees paid by merchant to iftosi in the six months prior to the date of liability.
                                </p>
                            </div>
                            <div class="subHead4">12. Indemnity</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>12.1</div>
                            <div class="padL30">
                                <p>
                                    Merchant hereby agrees to defend, indemnify and hold harmless IFtoSI, its affiliates, officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees): (i) made by any Customer; or (ii) arising from Merchant’s use of the Website; (iii) arising from Merchant’s violation of any term of these Terms; (iv) arising from Merchant’s violation of any third party right, including without limitation any copyright, property, or privacy right. This indemnification obligation shall survive these Terms.
                                </p>
                            </div>
                           
                            <div class="subHead4">13. Governing Law and Arbitration</div>
                            <div class="botmLine"></div>
                            <div class='subNumber font12 fmOpenB marT5'>13.1</div>
                            <div class="padL30">
                                <p>
                                    These Terms are governed by and shall be construed in accordance with the laws of the Republic of India
                                    without respect to its conflict of laws provisions.
                                </p>
                            </div>
                            <div class='subNumber font12 fmOpenB'>13.2</div>
                            <div class="padL30">
                                <p>
                                    Disputes, if any, shall be attempted to be resolved amicably for thirty (30) days. Unresolved disputes shall
                                    be referred to an independent, sole arbitrator in Mumbai appointed by IFtoSI in accordance with the
                                    procedure established by the Arbitration and Conciliation Act, 1996. Subject to the foregoing, you hereby
                                    consent to the exclusive jurisdiction of the Courts in Mumbai.
                                </p>
                            </div>
                            <div class="subHead4">14. Miscellaneous</div>
                            <div class="botmLine"></div>
                             <div class='subNumber font12 fmOpenB marT5'>14.1</div>
                            <div class="padL30">
                                <p>
                                      <span class="fmOpenB colo4d4d">Notices: </span> Any notice required to be given to IFtoSI under these Terms shall be sent by registered mail or recognized courier to the address of IFtoSI first set out above. Any notice required to be given to Merchant under these Terms shall be sent by registered mail or recognized courier to the address supplied by Merchant while registering with the Website.
                                </p>
                            </div>
                              <div class='subNumber font12 fmOpenB '>14.2</div>
                            <div class="padL30">
                                <p>
                                      <span class="fmOpenB colo4d4d">Force Majeure: </span> If the whole or any part of the performance of the respective obligations of the parties hereunder is prevented or delayed by reasons of natural calamities, war, arson, civil disturbance, and such other reasons beyond reasonable control (each a “Force Majeure Event”), then to the extent IFtoSI shall be prevented or delayed from rendering the Services, then IFtoSI shall be excused from performance hereunder for so long as reasons of Force Majeure Event.
                                </p>
                            </div>
                              <div class='subNumber font12 fmOpenB'>14.3</div>
                            <div class="padL30">

                                    <span class="fmOpenB colo4d4d">Relationship between Parties: </span> IFtoSI and Merchant are independent contractors and not joint venturers, partners, employees, or agents
                            </div>
                            <div class='subNumber font12 fmOpenB'>14.4</div>
                            <div class="padL30">

                                    <span class="fmOpenB colo4d4d">Severability:</span> Notwithstanding that the whole or any part of any provision of these Terms may be illegal or unenforceable, the other provisions hereof and the remainder of the provision in question shall continue in full force and effect.
                            </div>
                            <div class='subNumber font12 fmOpenB'>14.5</div>
                            <div class="padL30">

                                    <span class="fmOpenB colo4d4d">No Waiver or Election:</span> No failure or delay in exercising any right, power or privilege hereunder shall operate as a waiver thereof nor shall any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power or privilege. Every right or remedy herein conferred upon or reserved to either party shall be cumulative and shall be in addition to every right and remedy existing at law or equity or by statute and the pursuit of any one right or remedy shall not be construed as an election.
                            </div>
                            <div class='subNumber font12 fmOpenB'>14.6</div>
                            <div class="padL30">

                                    <span class="fmOpenB colo4d4d">Assignment: </span> The registration of Merchant on the Website is personal to Merchant and is not transferable by assignment, sublicense, or any other method to any other person or entity.
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <?php include 'logo.html'; ?>
        </div>
    </div>
        <?php include 'footer.html'; ?>
</body>
</html>
