
        <!-- <div style="width:80%;float:left; box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);padding:10px; height:auto;">
               <div style="height:40px;width:100%;float:left;border-bottom:1px solid #ccc">
                   <div style="width:20%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Product Id</div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Price</div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Carats</div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Color</div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Shape</div>
                   <div style="width:19%;height:40px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;float:left">Polish</div>
                   <div style="width:20%;height:40px;line-height:40px;text-align:center;color:#8A0044;float:left">Certificate</div>
               </div>
               <div style="height:40px;width:100%;float:left;">
                   <div style="width:20%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:10%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:19%;height:40px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;float:left"></div>
                   <div style="width:20%;height:40px;line-height:40px;text-align:center;color:#cccccc;float:left"></div>
               </div>
        </div> -->
        <!-- <table border="0" cellpadding="0" cellspacing="0" height="100%" width="650" align="center" style="margin:0!important;padding:0!important">
						<tbody>
							<tr>
								<td height="100%" align="left" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#7ca9ad">
									<a href="http://us5.campaign-archive1.com/?u=32d8ef31243db6075c45571bd&amp;id=8242f574d5&amp;e=d30dbae920" title="View email in your browser" style="color:#5eccff;text-decoration:underline" target="_blank">
										<img width="650" height="49" src="https://ci6.googleusercontent.com/proxy/GJ5dG4D6RXZPmlSd-9-7pc71wWFIEVF66y0A01w4WftFInBG1jKpeDCsANta3UF6XKwHEGTd46tuvtu5nCgEFSFjCdKRQFzYyza65B8jFbsgVnCCily61otkTGovaGwaRn_fFB3EXRoTT2Vzb7s=s0-d-e1-ft#https://cdn-rsi.s3-us-west-2.amazonaws.com/images/email_templates/rsi/general/topbar.jpg" alt="View email in your browser" style="border:none;min-height:auto;line-height:100%;margin:0;outline:none;padding:0;text-decoration:none" class="CToWUd">
									</a>
								</td>
							</tr>
							<tr>
								<td height="100%" align="left" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#91b0c0">
									<a href="http://robertsspaceindustries.us5.list-manage2.com/track/click?u=32d8ef31243db6075c45571bd&amp;id=4e9b647559&amp;e=d30dbae920" title="Roberts Space Industries Home" style="color:white" target="_blank">
										<img width="650" height="145" src="https://ci5.googleusercontent.com/proxy/qNZrk6vOb1FKukjj2PZjzHsBxJF2eH2ozja3ScOP4c45FelmKHg01-jA5IOhSYN0zLy0PF9ObJWGqzOdJ0kulh6xGbjY21AgyeB_9u0NcmetAwC7qyyVPt1HdUJVlRMcWYyji-yBA7Aa-P15_Mo=s0-d-e1-ft#https://cdn-rsi.s3-us-west-2.amazonaws.com/images/email_templates/rsi/general/header.jpg" alt="Roberts Space Industries Home" style="border:none;min-height:auto;line-height:100%;margin:0;outline:none;padding:0;text-decoration:none" class="CToWUd">
									</a>
								</td>
							</tr>
						</tbody>
					</table> -->
        <!-- <table style="width:80%;float:left; box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);padding:10px; ">
          <tbody>
            <tr style="height:43px;width:680px;border-bottom:1px solid #cccccc">
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Product Id</b></td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Price</b></td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Carats</b></td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Color</b></td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Shape</b></td>
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-right:1px solid #cccccc;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Polish</b></td>
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#8A0044;border-bottom:1px solid  #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"><b>Certificate</b></td>
            </tr>
            <tr style="height:43px;width:680px;">
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;">2</td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;">0.00</td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;">0.00</td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"></td>
              <td style="width:75px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;">sCoins</td>
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#cccccc;border-right:1px solid #cccccc;font-family: ‘Lobster’, Arial, sans-serif;"></td>
              <td style="width:150px;height:35px;line-height:40px;text-align:center;color:#cccccc;"></td>
            </tr>
          </tbody>
        </table> -->


<script type="text/javascript" src="<?php echo $jvs['jqry']; ?>"></script>

<script type='text/javascript'>
        var DOMAIN = '<?=DOMAIN;?>';
var str = '';
function checkMailbtn(str)
{
        var to = 'shitanshu@xelpmoc.in';
        $.ajax({url: DOMAIN + "apis/index.php?action=sendMail&str="+encodeURIComponent(str)+"&to="+encodeURIComponent(to), success: function(result)
            {
                var obj = eval('('+result+')');
                console.log(obj);
                var errCode = obj.error.code;
                if(errCode == 0 || errCode == '0')
                {
                    alert('mail Sent');
                }
                else if(errCode == 1 || errCode == '1')
                {
                    alert('error in sending mail');
                }
            }
        });
}
// str += '<!DOCTYPE html>';
// str += '<html>';
// str += '<head>';
// str += '<title>TODO supply a title</title>';
//     str += '<meta charset="UTF-8">';
//     str += '<meta name="viewport" content="width=device-width, initial-scale=1.0">';
//     str += '</head>';
//     str += '<body>';
//     str += '<center>';
//     str += '<div style="text-align: center; height: auto; font-size: 1em; margin:0; max-width: 500px; letter-spacing: -0.02em; color:#333; padding: 10px; -webkit-font-smoothing: antialiased;font-family: Helvetica, Roboto, verdana, sans-serif-condensed, Tahoma;background-color:#8A0044">';
//     str += '<div style="height: auto; width:100%; padding-bottom: 15px;"><img src="http://beta.xelpmoc.in/iftosi/tools/img/common/logo.svg" style="width:15%; max-width: 150px;"><span id="logoTxt" class="" style="color: rgb(255, 255, 255); left: 20px; bottom: 20px;"></div>';
//     str += '<div style="height: auto; border-radius: 15px; padding: 15px 4%;background: #fff;">';
//     str += '<div style="width:100%;">';
//     str += '<center>';
//     str += '<div style="width:auto; vertical-align: top; height: auto; display: inline-block; text-transform: capitalize; line-height: 30px; padding:10px 20px; letter-spacing: -0.03em; font-weight: normal; text-align: center; font-size: 16px; border-radius: 40px; background-color:#8A0044; color: #fff; border: 2px solid #fff"><b>Ankur Gala</b></div>';
//     str += '<div style="padding: 0; line-height: 1.2em; padding: 10px 0 0 0 ; color:#666; font-size: 1.6em; letter-spacing: -0.03em; font-weight: 200;">Welcome to <b>IftoSi.com!</b></div>';
//     str += '<div><span style="font-size:0.9em; color:#d00000;padding: 5px 10px;background: #8A0044; color:#fff; letter-spacing: 0em;line-height: 2em;"><b>the smartest online platform </b></span></div>';
//     str += '<div style="padding-bottom: 15px; "><span style="font-size:0.9em; color:#d00000; padding: 5px 10px;background: #8A0044; color:#fff; letter-spacing: 0em;"><b>to exchange your Foreign Currency.</b></span></div>';
//     str += '</center>';
//     str += '<div style="padding:15px 0;">';
//     str += '<div style="color:#666; font-size: 1em;  line-height: 1.2em; padding-bottom: 25px; ">Your <b>account has been activated</b> with the following credentials </div>';
//     str += '<div style="display:inline-block; vertical-align: top; width:49%; border-right: 1px solid #ccc;">';
//     str += '<div style="padding: 0;font-size: 0.7em;  line-height: 1em; color: #8A0044; text-transform: uppercase; font-weight: bold; ">USERNAME</div>';
//     str += '<div style="color:#666; padding: 0 0 5px 0; font-size: 1.4em; line-height: 30px;"><b>9980051525</b></div>';
//     str += '</div>';
//     str += '<div style="display:inline-block; vertical-align: top; width:49%;">';
//     str += '<div style="padding: 0;font-size: 0.7em;  line-height: 1em; color: #8A0044; text-transform: uppercase; font-weight: bold; ">PASSWORD</div>';
//     str += '<div style="color:#666; padding: 0 0 0px 0; font-size: 1.4em; line-height: 30px;"><b>479852</b></div>';
//     str += '</div>';
//     str += '</div>';
//     str += '<div style="padding:15px 0; border-top: 1px solid #e6e6e6; text-align: left;">';
//     str += '<div style="color:#666; font-size: 1.4em; width:100%;color: #f49712; text-align: left; line-height: 1.6em; letter-spacing: -0.03em;">Quickly log into your account to:</div>';
//     str += '<div style="width:97%; padding-left: 3%;">';
//     str += '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Track your current order.</b></div>';
//     str += '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Avail various deals & discounts.</b></div>';
//     str += '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- View your previous transaction history.</b></div>';
//     str += '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Save time while placing a new request.</b></div>';
//     str += '</div>';
//     str += '<center style="padding: 15px 0">';
//     str += '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/01_mail.jpg" style="width:100%;"></div>';
//     str += '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/02_mail.jpg" style="width:100%;"></div>';
//     str += '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/03_mail.jpg" style="width:100%;"></div>';
//     str += '<a href="http://www.IftoSi.com"><div style="height: auto; width:150px; padding-top: 15px;"><img src="http://www.digivac.com/wp-content/uploads/2015/01/appstore_button_google.png" style="width:100%;"></div></a>';
//     str += '</center>';
//     str += '</div>';
//     str += '<div style="color:#666; font-size: 0.8em;">- The IftoSi.com Team</div>';
//     str += '</div>';
//     str += '</div>';
//     str += '</div>';
//     str += '</center>';
//     str += '</body>';
str +='<!DOCTYPE html>';
str +='<html>';
str +=    '<head>';
str +=        '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>';
str +=        '<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>';
str +=        '<meta name = "format-detection" content = "telephone=no">';
str +=        '<title>FFMC - Bid Lost</title>';
str +=    '</head>';
str +=    '<body style="margin:0; padding: 0; background: #0090a5; ">';
str +=    '<center>';
str +=        '<div style="text-align: center; height: auto; font-size: 1em; margin:0; max-width: 500px; letter-spacing: -0.02em; color:#333; padding: 10px; -webkit-font-smoothing: antialiased;font-family: Helvetica, Roboto, verdana, sans-serif-condensed, Tahoma;">';
str +=            '<div style="height: auto; width:100%; padding-bottom: 15px;"><img src="http://www.nafex.co/assets/images/icons/logo_nafex.svg" style="width:55%; max-width: 250px;"></div>';
str +=            '<div style="height: auto; border-radius: 15px; padding: 15px 4%;background: #fff;">';
str +=                '<div style="width:100%;">';
str +=                    '<center>';
str +=                        '<div style="width:auto; vertical-align: top; height: auto; display: inline-block; text-transform: capitalize; line-height: 30px; padding:10px 20px; letter-spacing: -0.03em; font-weight: normal; text-align: center; font-size: 16px; border-radius: 40px; background: #91bf34; color: #fff; border: 2px solid #fff"><b>Ankur Gala</b></div>';
str +=                        '<div style="padding: 0; line-height: 1.2em; padding: 10px 0 0 0 ; color:#666; font-size: 1.6em; letter-spacing: -0.03em; font-weight: 200;">Welcome to <b>Nafex.com!</b></div>';
str +=                        '<div><span style="font-size:0.9em; color:#d00000;padding: 5px 10px;background: #0090a5; color:#fff; letter-spacing: 0em;line-height: 2em;"><b>the smartest online platform </b></span></div>';
str +=                        '<div style="padding-bottom: 15px; "><span style="font-size:0.9em; color:#d00000; padding: 5px 10px;background: #0090a5; color:#fff; letter-spacing: 0em;"><b>to exchange your Foreign Currency.</b></span></div>';
str +=                    '</center>';
str +=                    '<div style="padding:15px 0;">';
str +=                        '<div style="color:#666; font-size: 1em;  line-height: 1.2em; padding-bottom: 25px; ">Your <b>account has been activated</b> with the following credentials </div>';
str +=                        '<div style="display:inline-block; vertical-align: top; width:49%; border-right: 1px solid #ccc;">';
str +=                            '<div style="padding: 0;font-size: 0.7em;  line-height: 1em; color: #91bf34; text-transform: uppercase; font-weight: bold; ">USERNAME</div>';
str +=                            '<div style="color:#666; padding: 0 0 5px 0; font-size: 1.4em; line-height: 30px;"><b>9980051525</b></div>';
str +=                        '</div>';
str +=                        '<div style="display:inline-block; vertical-align: top; width:49%;">';
str +=                            '<div style="padding: 0;font-size: 0.7em;  line-height: 1em; color: #91bf34; text-transform: uppercase; font-weight: bold; ">PASSWORD</div>';
str +=                            '<div style="color:#666; padding: 0 0 0px 0; font-size: 1.4em; line-height: 30px;"><b>479852</b></div>';
str +=                        '</div>';
str +=                    '</div>';
str +=                    '<div style="padding:15px 0; border-top: 1px solid #e6e6e6; text-align: left;">';
str +=                        '<div style="color:#666; font-size: 1.4em; width:100%;color: #f49712; text-align: left; line-height: 1.6em; letter-spacing: -0.03em;">Quickly log into your account to:</div>';
str +=                        '<div style="width:97%; padding-left: 3%;">';
str +=                            '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Track your current order.</b></div>';
str +=                            '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Avail various deals & discounts.</b></div>';
str +=                            '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- View your previous transaction history.</b></div>';
str +=                            '<div style="color:#666; font-size: 0.9em;  line-height: 1.7em;"><b>- Save time while placing a new forex request.</b></div>';
str +=                        '</div>';
str +=                        '<center style="padding: 15px 0;">';
str +=                            '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/01_mail.jpg" style="width:100%;"></div>';
str +=                            '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/02_mail.jpg" style="width:100%;"></div>';
str +=                            '<div style="display:inline-block; vertical-align: middle; height: auto; width:32%;"><img src="emaiImg/03_mail.jpg" style="width:100%;"></div>';
str +=                            '<a href="http://www.nafex.com"><div style="height: auto; width:150px; padding-top: 15px;"><img src="http://www.digivac.com/wp-content/uploads/2015/01/appstore_button_google.png" style="width:100%;"></div></a>';
str +=                        '</center>'
str +=                    '</div>';
str +=                    '<div style="color:#666; font-size: 0.8em;">- The Nafex.com Team</div>';
str +=                '</div>';
str +=            '</div>';
str +=        '</div>';
str +=    '</center>';
str +='</body>';
str +='</html>';

checkMailbtn(str);


//checkMailbtn('hi');
        </script>
</html>
