<?php include 'backHead.html' ?>
<body>
    <div class="container">
        <?php include 'backheader.html'; ?>
        <div class="wrapper">
            <div class="wrapperMax vMax">
                <div class="formContainer fmOpenR vendorDetails">
                    <div class="formTitle fLeft fmOpenL">Vendor Contact Details Form</div>
                    <div class="divCon2 fLeft c666">
                        <div class="titleDiv fmRoboto fLeft font14">Contact Person Name *</div>
                        <input type="text" id="conName" name="conName" onkeypress="return common.onlyAlphabets(event)" placeholder=" Contact Person Name  " class="txtInput c666 fLeft fmRoboto font14">
                    </div>
                    <div class="divCon2 fRight c666">
                        <div class="titleDiv fmRoboto fLeft font14">Position *</div>
                        <input type="text" id="position" name="position" placeholder=" Director  " class="txtInput c666 fLeft fmRoboto font14">
                    </div>
                    
                    <div class="divCon2 fLeft c666 foraltMb">
                        <div class="titleDiv fmRoboto fLeft font14">Contact Mobile *</div>
                        <div class="fLeft falmb">
                                <input type="text" name="conMobile" id="conMobile" maxlength="10" onkeypress="return common.isNumberKey(event)" placeholder=" Mobile Number  " class="txtInput c666 fLeft fmRoboto font14">
                                <div class="fRight addBtn pointer" onclick="common.addMobileNumber(this)"></div>
                        </div>
                    </div>
                    <div class="divCon2 fRight c666">
                        <div class="titleDiv fmRoboto fLeft font14">Email *</div>
                        <input type="text" id="email" name="email" placeholder=" Email  " class="txtInput c666 fLeft fmRoboto font14">
                    </div>
                    <div id="altmbNo1" class="divCon2 fLeft c666 foraltMb dn mR50">
                        <div class="titleDiv fmRoboto fLeft font14">Alternate Mobile *</div>
                        <div class="fLeft falmb">
                            <input type="text" name="conMobile" id="altmbNo1_Mobile" maxlength="10" onkeypress="return common.isNumberKey(event)" placeholder=" Mobile Number  " class="txtInput c666 fLeft fmRoboto font14">
                            <div class="fRight delBtn pointer" onclick="common.delmbNumber('altmbNo1')"></div>
                        </div>
                    </div>
                    <div id="altmbNo2" class="divCon2 fLeft c666 foraltMb dn mR50">
                        <div class="titleDiv fmRoboto fLeft font14">Alternate Mobile *</div>
                        <div class="fLeft falmb">
                            <input type="text" name="conMobile" id="altmbNo2_Mobile" maxlength="10" onkeypress="return common.isNumberKey(event)" placeholder=" Mobile Number  " class="txtInput c666 fLeft fmRoboto font14">
                            <div class="fRight delBtn pointer" onclick="common.delmbNumber('altmbNo2')"></div>
                        </div>
                    </div>
                    <div class="divCon fLeft c666">
                        <div class="titleDiv fmRoboto fLeft font14">Landline Number</div>
                        <div class="mobileCont fLeft">
                            <input type="text" id="lnCode" class="fLeft txtCCode" placeholder=" Code" maxlength="5">
                            <input type="text" id="landline" onkeypress="return common.isNumberKey(event)" maxlength="8" placeholder=" Contact No. " class="txtInput c666 fLeft fmRoboto font14 lnNo">
                            <div class="fRight addBtn pointer" onclick="common.addNumber(this)"></div>
                        </div>
                    </div>
                    <div id="altNo1" class="divCon fLeft c666 dn">
                        <div class="titleDiv fmRoboto fLeft font14">Alternate Number</div>
                        <div class="mobileCont fLeft">
                            <input type="text" id="lnCode1" class="fLeft txtCCode" placeholder=" Code" maxlength="5">
                            <input type="text" id="landline1" onkeypress="return common.isNumberKey(event)" maxlength="8" placeholder=" Contact No. " class="txtInput c666 fLeft fmRoboto font14 lnNo">
                            <div class="fRight delBtn pointer" onclick="common.delNumber('altNo1')"></div>
                        </div>
                    </div>
                    <div id="altNo2" class="divCon fLeft c666 dn">
                        <div class="titleDiv fmRoboto fLeft font14">Alternate Number</div>
                        <div class="mobileCont fLeft">
                            <input type="text" id="lnCode2" class="fLeft txtCCode" placeholder=" Code" maxlength="5">
                            <input type="text" id="landline2" onkeypress="return common.isNumberKey(event)" maxlength="8" placeholder=" Contact No. " class="txtInput c666 fLeft fmRoboto font14 lnNo">
                            <div class="fRight delBtn pointer" onclick="common.delNumber('altNo2')"></div>
                        </div>
                    </div>
                    <div id="altNo3" class="divCon fLeft c666 dn">
                        <div class="titleDiv fmRoboto fLeft font14">Alternate Number</div>
                        <div class="mobileCont fLeft">
                            <input type="text" id="lnCode3" class="fLeft txtCCode" placeholder=" Code" maxlength="5">
                            <input type="text" id="landline3" onkeypress="return common.isNumberKey(event)" maxlength="8" placeholder=" Contact No. " class="txtInput c666 fLeft fmRoboto font14 lnNo">
                            <div class="fRight delBtn pointer" onclick="common.delNumber('altNo3')"></div>
                        </div>
                    </div>
                    <div class="btnCont fLeft">
                        <center>
                            <div class="cancelBtn fmOpenR ripplelink poR">CANCEL</div>
                            <div class="submitBtn fmOpenR ripplelink poR">SUBMIT</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>