<input type="hidden" id="catid" value="<?php echo $_GET['catid']; ?>" />
<input type="hidden" id="ctid" value="" />
<input type="hidden" id="pgno" value="1" />
<input type="hidden" id="uid" value="<?php echo $_GET['uid']; ?>" />
<input type="hidden" id="slist" value="<?php echo $_GET['slist']; ?>" />
<input type="hidden" id="total_pageno" value="<?php echo $lastpg; ?>" />
<input type="hidden" id="sortbyvl" value="" />
<div class="pageLinks fmOpenR">
	<center>
            <a href="<?php echo DOMAIN?>FAQs-Seller" alt="FAQs" title="FAQs" target="_blank"><div class="lowerFooterTab transition100">FAQs</div></a>
	   <a href="<?php echo DOMAIN?>Vendor-Terms-And-Conditions" alt="Terms Of Use" title="Terms of Use" target="_blank"><div class="lowerFooterTab transition100">TERMS OF USE</div></a>
	   <a href="<?php echo DOMAIN?>Vendor-Privacy" alt="Privacy Policy" title="Privacy Policy" target="_blank"><div class="lowerFooterTab transition100">PRIVACY POLICY</div></a>
	   <div class="lowerFooterTab transition100">Copyrights 2015. All Rights Reserved.</div>
    </center>
</div>
<script type="text/javascript">
	var prdList = "<?=$prdList;?>";
</script>
