<?php include 'vendorHead.html'; ?>
<body>
    <div id='baseCont' class=" fmOpenR faq">
        <div class="wrapper">
    <?php include 'HeaderVendor.html'; ?>

            <div class="wrapperA">
                <div class="wrapperA">
                    <div class="wrapperMax">
                        <div class="texHolder font15 fmOpenR fLeft vterms">
                            <div class="paraHead fmOpenL color0044">Privacy Policy</div>
                            <div class="padL10">
                                This is the Privacy Policy (“Policy”) of IFtoSI Jewels Private Limited, a company incorporated under
                                the Companies Act, 2013, and having its registered office at F-27, Shagun Arcade, Film City Road,
                                Near Dindoshi Bus Stop, Goregaon East, Mumbai 400063 (“, carrying on business under the
                                brand styled as “IFtoSI” (hereinafter referred to as “IFtoSI”).
                            </div>
                            <div class="padL10">
                                Thank you for visiting IFtoSI’s website www.IFtoSI.com (“Website”). We value the trust you place in
                                us. This Policy discloses IFtoSI’s information practices for this Website and subscriber/membership
                                based services (“Services”) including the type of information being collected, method of such
                                information collection, use of such information and sharing of such information with third parties. By
                                visiting the Website you expressly consent to our use and disclosure of your personal information in
                                any manner described in this Policy. This Policy extends to both visitors to the Website who do not
                                transact business on the Website and to registered users, whether customers or vendors, who
                                transact business on the Website.
                            </div>
                            <h3>1. Your Personal Information.</h3>
                            <div class='subNumber font12 fmOpenB marT5'>1.1</div>
                            <div class="padL30">

                                    By accepting this Policy, you authorize IFtoSI to collect and store and use
                                    that you may enter on our Website or provide to us in some other way. To enable you to
                                    become a registered user of our Website, we need your basic personal information like
                                    name, address, email address and mobile number. We assure you that at no time will this
                                    information be sold or shared with parties not associated with us.

                            </div>
                            <h3>2. How We Use the Information We Collect.</h3>
                            <div class='subNumber font12 fmOpenB marT5'>2.1</div>
                            <div class="padL30">

                                    IFtoSI owns all the information collected via the Website. We may use the described above to:
                            </div>
                            <div class="padL10">
                                <div class='subNumber font12 fmOpenB'>2.1.1</div>
                                <div class="padL30">

                                        Verify your identity.

                                </div>
                                <div class='subNumber font12 fmOpenB '>2.1.2</div>
                                <div class="padL30">

                                        Create and manage your account.

                                </div>
                                <div class='subNumber font12 fmOpenB'>2.1.3</div>
                                <div class="padL30">

                                        Send you (via email or other means) offerings of products or services and update you
                                        on all the special offers available on the Website to ensure a better shopping
                                        experience for you. You can unsubscribe from such communications anytime you wish
                                        to do so.

                                </div>
                                <div class='subNumber font12 fmOpenB'>2.1.4</div>
                                <div class="padL30">

                                        Monitor and improve the Website including by calculating the number of visitors to
                                        the Website, identifying the geographical locations of the visitors and their
                                        demographics, preferences, interests, and behaviour. We may share such Website
                                        usage statistics with our sponsors, advertisers or other third parties (which do not
                                        include IFtoSI marketing partners and

                                </div>
                                <div class='subNumber font12 fmOpenB '>2.1.5</div>
                                <div class="padL30">

                                        Communicate with you about, and administer your participation in, special events,
                                        contests, offers, surveys and market research.

                                </div>
                                <div class='subNumber font12 fmOpenB'>2.1.6</div>
                                <div class="padL30">

                                        Respond to your queries.

                                </div>
                                <div class='subNumber font12 fmOpenB '>2.1.7</div>
                                <div class="padL30">

                                        Operate, evaluate and improve our business.

                                </div>
                                <div class='subNumber font12 fmOpenB '>2.1.8</div>
                                <div class="padL30">

                                        Besides the above, this information may be used when you contact IFtoSI
                                        means such as chat or email. IFtoSI reserves the right to include your email ID for
                                        marketing communications.

                                </div>
                                <h3>3. IP Address.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>3.1.</div>
                                <div class="padL30">

                                        When you visit our Website, IFtoSI collects your IP address to help diagnose
                                        its server, administer and tune the operation of its Website, analyze trends, track traffic
                                        patterns, gather demographic information for aggregate use, and track the date and
                                        duration of each session within our Website and similar purposes. Your IP address may also
                                        be used in combination with your personal information to prevent fraud or abuse, customize
                                        your shopping experience, improve our Website, customer service, products, and
                                        promotional efforts, and to understand your preferences, patterns and interests. 
                                </div>
                                <h3>4. Cookies and Web Beacons.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>4.1.</div>
                                <div class="padL30">

                                        IFtoSI collects data through cookies and other monitoring technologies to enhance your
                                        browsing and shopping experience on our Website. ‘Cookies’ are small pieces of information
                                        that are stored by your browser on your computer’s hard drive to collect information about
                                        your activities on our Website. We may authorize third parties to use cookies and other
                                        monitoring technologies to compile information about the use of the Website or interaction
                                        with advertisements that appear on the Website. We do not have access or control over
                                        these cookies. We do not link the information we store in cookies to any personally
                                        identifiable information you submit while on the Website. We use session ID cookies and
                                        persistent cookies. A session ID cookie expires when you close your browser. A persistent
                                        cookie remains on your hard drive for an extended period of time. You are always free to
                                        decline cookies if your browser permits, although, by declining the use of cookies you may
                                        not be able to use certain features on the Website.

                                </div>
                                <h3>5. Sharing of Information.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>5.1.</div>
                                <div class="padL30">

                                        Any personal information, if collected, will be passed on to our trusted partners and service
                                        providers who shall need access to the information upon your placing an order with us. We
                                        use trusted third-party service providers to perform certain services on our behalf, including
                                        for the purposes of shipping, payment processing, data storage/management, web hosting,
                                        web analytics, fulfillment, assembly, marketing, mailing, and emailing. These service
                                        providers only receive personal information if such information is needed to perform their
                                        function(s), and they are not authorized to use any personal information for any other
                                        purpose(s) other than the purpose(s) set forth by IFtoSI.

                                </div>
                                <h3>6. Your Rights.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>6.1.</div>
                                <div class="padL30">

                                        Upon request, we will remove your personal information from our database. Customers are
                                        also advised that upon written request you may access and/or request that any erroneous
                                        information about you be corrected.

                                </div>
                                <div class='subNumber font12 fmOpenB marT5'>6.2.</div>
                                <div class="padL30">

                                        You have the right to ask us not to process your personal data for marketing purposes. You
                                        can exercise your right to prevent such processing by checking certain boxes on the forms
                                        we use to collect your data. You can also exercise the right at any time by contacting us at
                                        the e-mail address below.

                                </div>
                                <div class='subNumber font12 fmOpenB marT5'>6.3.</div>
                                <div class="padL30">

                                        The Website may, from time to time, contain links to and from the Websites of our partner
                                        networks, advertisers and affiliates. If you follow a link to any of these Websites, please note
                                        that these Websites have their own privacy policies and that we do not accept any
                                        responsibility or liability for these policies. Please check these policies before you submit any
                                        personal data to these Websites.

                                </div>
                                <h3>7. Business Transfer.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>7.1.</div>
                                <div class="padL30">

                                        Your personal information may be disclosed as part of any merger, sale of IFtoSI assets or
                                        acquisition, as well as in the event of insolvency, bankruptcy or receivership.

                                </div>
                                <h3>8. Comments.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>8.1.</div>
                                <div class="padL30">

                                        We value your comments, feedback, and testimonials which help us improve our Website,
                                        products, and services. By making such submissions to us, you assign your rights in the
                                        submissions to us.
                                </div>
                                <h3>9. Children’s Privacy.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>9.1.</div>
                                <div class="padL30">

                                        Our Website is not directed at anyone who we know to be under the age of 18, nor do
                                        collect any personal information from anyone who we know to be under the age of 18. If
                                        you are under the age of 18, you should not use the Website and should not submit any
                                        personal information to us.
                                </div>
                                <h3>10. Phishing.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>10.1.</div>
                                <div class="padL30">
                                        Safeguarding information to help protect you from identity theft is a top priority and we
                                        at IFtoSI take all measures to protect identity theft. We do not and will not, at any time,
                                        request your credit card information or national identification numbers in a non-secure or
                                        unsolicited e-mail or telephone communication.
                                </div>
                                <h3>11. Links.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>11.1.</div>
                                <div class="padL30">

                                        This Website may contain links and advertisements which may lead you to other Websites.
                                        Please note that once you leave our Website you will be subjected to the privacy policy of
                                        the other Website and this Policy will no longer apply. By using this Website, you signify
                                        your agreement to the terms of this Policy. IFtoSI reserves the right, in our sole discretion,
                                        to change, modify, and or delete portions of the terms of this Policy at any time.
                                </div>
                                <h3>12. Limit of Liability.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>12.1.</div>
                                <div class="padL30">

                                        Notwithstanding anything to the contrary in this Policy or any other terms of service or use
                                        applicable as between IFtoSI and you, IFtoSI’s aggregate liability hereunder shall be limited
                                        to Rs.1000 only and shall not extend to any indirect or remote damages whatsoever,
                                        including but not limited to special, incidental, consequential, or punitive damages or loss
                                        of profits.
                                </div>
                                <h3>13. Contact Us.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>13.1.</div>
                                <div class="padL30">

                                        If You believe that IFtoSI has not complied with this Policy with respect to your personal
                                        information or would like us to update information we have about you or your
                                        preferences or if you have any questions about our Policy, please feel free to contact our
                                        Privacy Grievance Officer at: info@IFtoSI.com.
                                </div>
                                <h3>14. Applicability of Policy.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>14.1.</div>
                                <div class="padL30">

                                        While this Policy applies to all personal information collected, stored and used by IFtoSI, it
                                        is intended to comply only with the applicable laws of India and not any other jurisdiction.
                                        All matters of dispute are subject to the courts in the city of Mumbai.
                                </div>
                                <h3>15. Compliance.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>15.1.</div>
                                <div class="padL30">

                                        IFtoSI shall always cooperate with regulatory authorities and investigating agencies in India
                                        in the matter of treatment of personal information.
                                </div>
                                <h3>16. Amendments.</h3>
                                <div class='subNumber font12 fmOpenB marT5'>16.1.</div>
                                <div class="padL30">

                                        IFtoSI may modify this Policy in its sole discretion at any time. While IFtoSI shall make best
                                        efforts to notify You of any such modification, it shall be Your responsibility to read and
                                        understand the Policy as prevalent from time to time. Continued use of the Website shall
                                        be deemed to constitute acceptance of the Policy as amended.
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php include 'rateForms.html'; ?>
         </div>
        <?php include 'vfooter.html'; ?>
</body>
<script type="text/javascript" src="<?=$jvs['velocity']; ?>"></script>
<script type="text/javascript" src="<?=$jvs['jqryUi']; ?>"></script>
<script type="text/javascript" src="<?=$jvs['jquery_toast'];?>"></script>
<script type="text/javascript" src="<?=$jvs['cmsCommon'];?>"></script>
<script type="text/javascript" src="<?=$jvs['vendorLanding'];?>"></script>
</html>
