<div class="prdResults fRight">
    <div id='dmdS' class='prdSearchDiv fLeft'>
        <div class="formTitle fLeft fmOpenR m0"><span id="totalDiamonds">0</span> diamond(s) listed</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upDolRt">Update Dollar Rate</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upProds">Upload Products</div>

        <div class="addPrdBtn fRight poR ripplelink" onclick='addDiamond();'>Add Diamond</div>
        <input type="text" onkeyup="searchBarcode(this.value);" autocomplete="false" class="prdSeachTxt fRight fmOpenR" placeholder="Search your Product">
      <!--  <div class="vFilBtn fRight poR ripplelink"></div>
      -->
    </div>
    <div class="prdListHeader fLeft fmOpenR">
        <div class="date fLeft">Date</div>
        <div class="barcode fLeft">Barcode</div>
        <div class="shape fLeft">Shape</div>
        <div class="carats fLeft">Carats</div>
        <div class="color fLeft">Color</div>
        <div class="clarity fLeft">Clarity</div>
        <div class="cert fLeft">Certificate</div>
        <div class="price fLeft">Cust Price</div>
        <div class="price fLeft">B2B Price</div>
        <div class="acct fLeft">Action</div>
    </div>
<?php
      if($page == 'Pending')
      {
?>
          <ul class='prdul fLeft fmOpenR' id="DiamondsPList">
          </ul>
          <ul class='prdul fLeft fmOpenR dn' id="sDiamondsPList"></ul>
          </div>
<?php
      }
      else
      {
?>
        <ul class='prdul fLeft fmOpenR' id="DiamondsList">
        </ul>
        <ul class='prdul fLeft fmOpenR dn' id="sDiamondsList"></ul>
        </div>
<?php
      }
?>
