<div class="prdResults fRight">
    <div id='dmdS' class='prdSearchDiv fLeft'>
        <div class="formTitle fLeft fmOpenR m0"><span id="totalDiamonds">250</span> diamond(s) listed</div>
        <a href='<?php echo DOMAIN?>index.php?case=diamond_Form&catid=10000'><div class="addPrdBtn fRight poR ripplelink">Add Diamond</div></a>
        <input type="text" class="prdSeachTxt fRight fmOpenR" placeholder=" Search your Product">
        <div class="vFilBtn fRight poR ripplelink"></div>
    </div>
    <div class="prdListHeader fLeft fmOpenR">
        <div class="date fLeft">Date</div>
        <div class="barcode fLeft">Barcode</div>
        <div class="shape fLeft">Shape</div>
        <div class="color fLeft">Color</div>
        <div class="carats fLeft">Carats</div>
        <div class="clarity fLeft">Clarity</div>
        <div class="cert fLeft">Certificate</div>
        <div class="price fLeft">Price</div>
        <div class="acct fLeft">Action</div>
    </div>    
    <ul class='prdul fLeft fmOpenR' id="DiamondsList">
            <!--<li>
                <div class="date fLeft"> 
                    <span class="upSpan">20/10/2015</span>
                    <span class="lwSpan">8:10 Pm</span>
                </div>
                <div class="barcode fLeft">
                    <span class="upSpan">CW0H8IE9</span>
                    <span class="lwSpan"><a href="http://localhost/iftosi//gia-round-clarity-IF/did-10000">View Details</a></span>
                </div>
                <div class="shape fLeft">Round</div>
                <div class="color fLeft">F</div>
                <div class="carats fLeft">0.33</div>
                <div class="clarity fLeft">IF</div>
                <div class="cert fLeft">GIA</div>
                <div class="price fLeft fmOpenB">&#8377;1,000,000,000</div>
                <div class="acct fLeft">
                    <center>
                        <div class="deltBtn poR ripplelink"></div>
                        <div class="editBtn poR ripplelink"></div>
                        <div class="soldBtn poR ripplelink fmOpenR">SOLD</div>
                    </center>
                </div>
            </li>-->
    </ul>
</div>
