<div class="prdResults fRight JEWELLERY">
    <div class='prdSearchDiv fLeft'>
        <div class="formTitle fLeft fmOpenR m0"><span id="totalJewells">0</span> jewellery listed</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upProds">Upload Products</div>
        <a href='<?php echo DOMAIN?>index.php?case=jewellery_Form&catid=10001'><div class="addPrdBtn fRight poR ripplelink">Add Jewellery</div></a>
        <input type="text" onkeyup="searchBarcode(this.value);" autocomplete="off" class="prdSeachTxt fRight fmOpenR" placeholder=" Search your Product">
        <!--<div class="vFilBtn fRight poR ripplelink"></div>-->
    </div>
    <div class="prdListHeader fLeft fmOpenR ">
        <div class="date fLeft">Date</div>
        <div class="barcode fLeft">Design Number</div>
        <div class="metal fLeft">Metal</div>
        <div class="catg fLeft">Category</div>
        <div class="degno fLeft">Diamond Wt</div>
<!--        <div class="subType fLeft">Gold Wt</div>-->
        <div class="price fLeft">Price</div>
        <div class="acct fLeft">Action</div>
    </div>

<?php
          if($page == 'Pending')
          {
?>
              <ul class='prdul fLeft fmOpenR' id="JewellsPList">
              </ul>
              <ul class='prdul fLeft fmOpenR dn' id="sJewellsPList"></ul>
          </div>
<?php
          }
          else
          {
?>
              <ul class='prdul fLeft fmOpenR' id="JewellsList">
              </ul>
              <ul class='prdul fLeft fmOpenR dn' id="sJewellsList"></ul>
          </div>
<?php
          }
?>
