<?php include 'backHead.html' ?>
<body class="">
    <div class="container vProducts">
        <center><div class="backLogo fmOpenR"><div><b>IF</b>to<b>SI</b></div></div></center>
        <div class="wrapper">
            <div class="wrapperMax">
                <div class="prdResults fLeft">
                    <div class='prdSearchDiv fLeft'>.
                        <input type="text" class="prdSeachTxt fRight fmOpenR" placeholder=" Search your Product">
                    
                    </div>
                    <div class="prdListHeader fLeft fmOpenR">
                        <div class="sno fLeft">Sr No.</div>
                        <div class="barcode fLeft">Barcode</div>
                        <div class="btype fLeft">Type</div>
                        <div class="metal fLeft">Metal</div>
                        <div class="purity fLeft">Purity</div>
                        <div class="weight fLeft">Weight</div>
                        <div class="price fLeft">Price</div>
                        <div class="acct fLeft">Action</div>
                    </div>
                    <ul class='prdul fLeft fmOpenR'>
                        <?php for($i=1;$i<15;$i++){ ?>
                            <li>
                                <div class="sno fLeft"><?php echo $i?></div>
                                <div class="barcode fLeft">CW0H8IE9</div>
                                <div class="btype fLeft">Coin</div>
                                <div class="metal fLeft">Gold</div>
                                <div class="purity fLeft">995 / 999</div>
                                <div class="weight fLeft">50 Gms</div>
                                <div class="price fLeft">&#8377;1,000,000,000</div>
                                <div class="acct fLeft">
                                    <center>
                                        <div class="deltBtn poR ripplelink"></div>
                                        <div class="editBtn poR ripplelink"></div>
                                        <div class="soldBtn poR ripplelink fmOpenR">SOLD</div>
                                    </center>
                                </div>
                            </li>
                        <?php }?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>