<div class="prdResults fLeft">
    <div class='prdSearchDiv fLeft'>
        <div class="formTitle fLeft fmOpenR m0"><span id="totalBullions">0</span> bullion(s) listed</div>
        <div class="addPrdBtn fRight poR ripplelink"  onclick="showgoldSilverRateForm()">Gold Rate</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upSilRt">Silver Rate</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upPlatRt">Platinum Rate</div>
        <div class="addPrdBtn fRight poR ripplelink" id="upProds">Upload Products</div>
        <a onclick='addBulion();'><div class="addPrdBtn fRight poR ripplelink">Add Bullion</div></a>

        <input type="text" onkeyup="searchBarcode(this.value);" class="prdSeachTxt fRight fmOpenR" autocomplete="false" placeholder=" Search your Product">
        <!--  <div class="vFilBtn fRight poR ripplelink"></div>
        -->
    </div>
    <div class="prdListHeader fLeft fmOpenR">
        <div class="date fLeft">Date</div>
        <div class="barcode fLeft">Design Number</div>
        <div class="weight fLeft">Type</div>
        <div class="metal fLeft">Metal</div>
        <div class="purity fLeft">Purity</div>
        <div class="btype fLeft">Weight</div>
        <div class="price fLeft">Price</div>
        <div class="acct fLeft">Action</div>
    </div>
<?php
          if($page == 'Pending')
          {
?>
            <ul class='prdul fLeft fmOpenR' id="BullionsPList">
            </ul>
            <ul class='prdul fLeft fmOpenR dn' id="sBullionsPList"></ul>
            </div>
<?php
          }
          else
          {
?>
              <ul class='prdul fLeft fmOpenR' id="BullionsList">
              </ul>
              <ul class='prdul fLeft fmOpenR dn' id="sBullionsList"></ul>
              </div>
<?php
          }
?>
