Options +FollowSymlinks

#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType image/gif A86400
#ExpiresByType image/jpg A86400
#ExpiresByType image/jpeg A86400
#ExpiresByType application/x-javascript A86400
#</IfModule>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

####################### FRONT END LINKS ######################

RewriteRule ^((?i)about-us)$    index.php?case=about_us [L]
RewriteRule ^((?i)team)$    index.php?case=team [L]
RewriteRule ^((?i)membership)$    index.php?case=membership [L]
RewriteRule ^((?i)education)$    index.php?case=education [L]
RewriteRule ^((?i)faqs)$    index.php?case=faq [L]
RewriteRule ^((?i)faqs-seller)$    index.php?case=faqs_seller [L]
RewriteRule ^((?i)terms-of-service)$    index.php?case=terms_conditions [L]
RewriteRule ^((?i)vendor-terms-of-listing)$    index.php?case=vterms_of_listing [L]
RewriteRule ^((?i)terms-of-listing)$    index.php?case=terms_of_listing [L]
RewriteRule ^((?i)privacy-policy)$    index.php?case=policy [L]
RewriteRule ^((?i)vendor-privacy-policy)$    index.php?case=vendor_privacy [L]
RewriteRule ^((?i)Coming-Soon)$    index.php?case=comingsoon [L]
RewriteRule ^((?i)contact-us)$    index.php?case=contact_us [L]

####################### EDUCATION #############################
RewriteRule ^((?i)round)$    index.php?case=education_round [L]
RewriteRule ^((?i)heart)$    index.php?case=education_heart [L]
RewriteRule ^((?i)pear)$    index.php?case=education_pear [L]
RewriteRule ^((?i)cushion)$    index.php?case=education_cushion [L]
RewriteRule ^((?i)emerald)$    index.php?case=education_emerald [L]
RewriteRule ^((?i)marquise)$    index.php?case=education_marq [L]
RewriteRule ^((?i)asscher)$    index.php?case=education_asscher [L]
RewriteRule ^((?i)oval)$    index.php?case=education_oval [L]
RewriteRule ^((?i)princess)$    index.php?case=education_princess [L]
RewriteRule ^((?i)radiant)$    index.php?case=education_radiant [L]
RewriteRule ^((?i)carat-weight)$    index.php?case=e_carat_weight [L]
RewriteRule ^((?i)shapes)$    index.php?case=e_shapes [L]
RewriteRule ^((?i)anatomy)$    index.php?case=diamond_shapes [L]

RewriteRule ^((?i)jewellery-tips)$    index.php?case=jewellery_tips [L]

RewriteRule ^((?i)cut)$    index.php?case=e_cut [L]
RewriteRule ^((?i)girdle-size)$    index.php?case=e_cut1 [L]
RewriteRule ^((?i)culet-size)$    index.php?case=e_cut2 [L]
RewriteRule ^((?i)polish)$    index.php?case=e_cut3 [L]
RewriteRule ^((?i)symmetry)$    index.php?case=e_cut4 [L]
RewriteRule ^((?i)heart-and-arrows)$    index.php?case=e_cut5 [L]
RewriteRule ^((?i)color)$    index.php?case=e_color [L]
RewriteRule ^((?i)fluorescence)$    index.php?case=e_color1 [L]
RewriteRule ^((?i)clarity)$    index.php?case=education_clarity [L]
RewriteRule ^((?i)certification-and-grading)$    index.php?case=e_certification [L]
RewriteRule ^((?i)how-gia-grades-a-diamond)$    index.php?case=e_certification1 [L]
RewriteRule ^((?i)gia-vs-egl)$    index.php?case=e_certification2 [L]

###################### LOGIN RELATED ##########################
RewriteRule ^((?i)sign-up)$    index.php?case=signup [L]
RewriteRule ^((?i)vendor-sign-up)$    index.php?case=vsignup [L]
RewriteRule ^((?i)forgot-password)$    index.php?case=forgot [L]
RewriteRule ^((?i)login)$ index.php?case=login [L]
RewriteRule ^((?i)change-password)$ index.php?case=changepwd [L]
RewriteRule ^((?i)fp-[^/.]*)$ index.php?case=changepwd&key=$1 [L]

####################### CMS STARTS ###########################

RewriteRule ^([^/.]*)$	index.php?case=$1 [L]
RewriteRule ^(upload-image)/(pid-[^/.]*)$	index.php?case=upload&pid=$2 [L]

RewriteRule ^((?i)wishlist)/([^/.]*)$	index.php?case=wishlist&uid=$2 [L]

RewriteRule ^([^/.]*)/(ct-[^/.]*)$	index.php?case=$1&catid=$2 [L,QSA]
RewriteRule ^([^/.]*)/(ct-[^/.]*)/(page-[^/.]*)$	index.php?case=$1&catid=$2&pgno=$3 [L,QSA]
RewriteRule ^([^/.]*)/([^/.]*)/(ct-[^/.]*)$	index.php?case=$1&catid=$3 [L]
RewriteRule ^([^/.]*)/([^/.]*)/(ct-[^/.]*)/(page-[^/.]*)$	index.php?case=$1&catid=$3&pgno=$4 [L]
RewriteRule ^([^/.]*)/([^/.]*)/([^/.]*)/(ct-[^/.]*)$	index.php?case=$1&catid=$4 [L]
RewriteRule ^([^/.]*)/([^/.]*)/([^/.]*)/(ct-[^/.]*)/(page-[^/.]*)$	index.php?case=$1&catid=$3&pgno=$5 [L]

RewriteRule ^([^/.]*)/(did-[^/.]*)$	index.php?case=diamond_details&productname=$1&productid=$2 [L]
RewriteRule ^([^/.]*)/(did-[^/.]*)/([^/.]*)$	index.php?case=diamond_details&productname=$1&productid=$2&popup=$3 [L]
RewriteRule ^([^/.]*)/(jid-[^/.]*)$	index.php?case=jewellery_details&productname=$1&productid=$2 [L]
RewriteRule ^([^/.]*)/(jid-[^/.]*)/([^/.]*)$	index.php?case=jewellery_details&productname=$1&productid=$2&popup=$3 [L]
RewriteRule ^([^/.]*)/(bid-[^/.]*)$	index.php?case=bullion_details&productname=$1&productid=$2 [L]
RewriteRule ^([^/.]*)/(bid-[^/.]*)/([^/.]*)$	index.php?case=bullion_details&productname=$1&productid=$2&popup=$3 [L]

#RewriteRule ^([^/.]*)/([^/.]*)/([^/.]*)$	index.php?par=$1&mob=$2&mod=$3 [L]
