html{}
body{padding: 0;margin: 0;}
*{outline:none;outline-style: none}
@font-face{font-family:sansationR;src: url(../font/Sansation_Regular.ttf);}
@font-face{font-family:sansationL;src: url(../font/Sansation_Light.ttf);}
@font-face{font-family:sansationB;src: url(../font/Sansation_Bold.ttf);}

.fmsansr{font-family:sansationR}
.fmsansl{font-family:sansationL; letter-spacing: -0.03em;}
.fmsansb{font-family:sansationB}

.font12{font-size: 12px!important;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font35{font-size: 35px;}
.font40{font-size: 40px;}
.font43{font-size: 43px;}
.font45{font-size: 45px;}
.font55{font-size: 55px;}
.font65{font-size: 65px;}

div,input,form,ul,span{box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;}
.blockIn{display: inline-block}

.fLeft{float:left!important}
.fRight{float:right!important}
.txtCenter{text-align: center}
.txtLeft{text-align: left}
.txtRight{text-align: right}

.txtUpper{text-transform: uppercase}
.txtLower{text-transform: lowercase}
.txtCap{text-transform: capitalize}
.pointer{cursor: pointer}

.clBlue{color:#18c0EF;}
.cFF{color:#fff;}
.c666{color:#666;}
.cRed{color:#db3b3b}
.cGray{color:#b3b3b3}

.bgNone{background: none!important}


/*Backgrounds*/
.bgBlue{background:#18c0EF}
.bgGray{background-color: #f0f0f0!important}
.bgWhite{background: #fff}
/*Margins*/
.m010{margin: 0 10px;}

/*Paddings*/
.pB15{padding-bottom: 15px}
.pTop60px{padding-top: 60px!important}

/*width*/
.w100{width: 100%;}

.op0{opacity: 0}
.transition300 {transition: 300ms ease-in-out;-moz-transition: 300ms ease-in-out;-ms-transition: 300ms ease-in-out;-webkit-transition: 300ms ease-in-out;-o-transition: 300ms ease-in-out;}
.transition500 {transition: 500ms ease-in-out;-moz-transition: 500ms ease-in-out;-ms-transition: 500ms ease-in-out;-webkit-transition: 500ms ease-in-out;-o-transition: 500ms ease-in-out;}
.transition800 {transition: 800ms ease-in-out;-moz-transition: 800ms ease-in-out;-ms-transition: 800ms ease-in-out;-webkit-transition: 800ms ease-in-out;-o-transition: 800ms ease-in-out;}
.transition100 {transition: 100ms ease-in-out;-moz-transition: 100ms ease-in-out;-ms-transition: 100ms ease-in-out;-webkit-transition: 100ms ease-in-out;-o-transition: 100ms ease-in-out;}
.ui-helper-hidden-accessible{display:none !important;}
.ui-autocomplete{height:auto;overflow:hidden;font-family:sansationB;width:1%;z-index: 1000;background: #fff;box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);}
.ui-menu {list-style: none; padding: 0px; margin: 0; display: block; outline: none; color: #666; font-size: 16px; position: absolute !important;overflow-y:auto;}
.ui-menu .ui-menu-item {  width: 100%!important;height:35px;list-style:none; line-height: 35px; text-align: left;overflow: hidden; text-overflow: ellipsis; white-space:nowrap;max-width:100%;text-transform: capitalize; }
.ui-menu .ui-menu-item a {overflow: hidden; cursor: pointer; text-overflow: ellipsis; white-space:nowrap;padding-right:15px; padding-left:15px; display: block; min-height: 0; /* support: IE7 */}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {border-bottom:1px solid transparent;  font-size: 16px; background-color:#e6e6e6; color:#666;  padding-right:25px;}


.baseContainer{width:100%;height:auto;min-height: 500px;padding-top: 500px;}
.baseTransit{padding-top: 150px}
.logo_PrdCont{width:100%;height:auto;position: fixed; top:0;z-index: 0;-webkit-backface-visibility:hidden;-webkit-transform: translate3d(0,0,0); background: url(../images/background.png)no-repeat; background-position: top right; background-size: auto 150%;}
.logo {height: 150px;width: 100%;line-height: 120px;font-size: 40px;background: url(../images/logo.svg)no-repeat;background-size: auto 40%;background-position: center;}


.logoTop{ width: 100%;  height: 60px!important;background: #333; z-index:99;  line-height: 60px; position: fixed!important; top:0; font-size: 35px;  text-align: left;}
.topLoader{height: 10px;width:100%;background: red;}

.logoTransit{height: 0px;}
.logoTransit1{transform: translateY(-100px);-webkit-transform: translateY(-100px);-ms-transform: translateY(-100px); -moz-transform: translateY(-100px); -o-transform: translateY(-100px);}
.pcTransit{height: 0px!important;overflow: hidden}

.productCont{width:100%;height:350px;padding-bottom: 200px;position: relative;z-index: 1}
.productContDone{padding-bottom:0px;}

.prdComm{width: 150px;height: 150px; vertical-align: top !important; border:none;line-height: 60px; display: inline-block;padding-top: 0px;border-radius: 5px;cursor: pointer;  vertical-align: top; background: rgba(255,255,255,0.8); transform: scale(0.9);-moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); -webkit-transform: scale(0.9);}
.prdComm:hover{transform: scale(1);-moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1);}
.prdComm img{width: 70%;height: auto;margin: 15%;}
.productCont center{height: 100%}
.cityCont{width:100%;display: inline-block; line-height: 60px;padding: 45px 0;overflow: hidden;z-index: 1}
.cityTransit{width: 0%!important}
.pTop75{padding-top: 75px!important;  padding-bottom: 0;}
.h0{height: 0px!important}
.h50{height:50px !important;}
.h60{height:60px !important;}
/*
.activePrd{width:auto;border:none;font-size: 40px !important;padding:45px 0;transform: scale(1);  -moz-transform: scale(1);  -ms-transform: scale(1);  -o-transform: scale(1);  -webkit-transform: scale(1);}
.activePrd:hover{transform: scale(1);  -moz-transform: scale(1);  -ms-transform: scale(1);  -o-transform: scale(1);  -webkit-transform: scale(1);}
*/

.txtInput{width:auto;max-width: 300px;display: inline-block;padding: 0 15px;background: transparent;border:none;outline: none;outline-style: none; line-height: 60px;}
.bgBorder {outline: none;background: url(../images/border.svg);background-size: auto 15px;background-position: -282px bottom;background-repeat: repeat-x;transition: ease-in-out 0.7s;}
.onFocus{background-position: -800px bottom;}

.contents{width:100%;height: auto;position: relative; z-index: 2;padding-top:0px;-webkit-transform: translate3d(0px, 0px, 0px); box-shadow: 0 0 50px 0 rgba(0,0,0,0.2)}
.filterCont{width:30%;height:auto;overflow: hidden;}
.filChildCont{width:100%;height:auto;overflow: hidden;padding: 25px 0 25px 25px;}
.filChildCont.h0{height:auto!important}
.results{width:70%;height:auto;overflow: hidden; padding: 25px;}
.temp{width: 100%;height: 55px;margin-bottom: 5px;padding: 10px 10px 10px 0;background: #fff;border-radius: 5px;}
.tempTransit{transform:translateX(-150%);}
.filterTransit1{width:30%;padding: 25px 0 25px 25px;}
.filterOpacity{opacity: 0}
.fTitle{  width: 100%;height: 45px;line-height: 35px;border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.filterRefreshBtn{display: none!important;}
.mFilterIcon{width: 35px;height: 35px;background:#18c0EF url(../images/filterIcon.svg)no-repeat;background-size: auto 85%;background-position: center;margin:0px 0;display: none;  vertical-align: top; border-radius: 5px;margin-left: 5px;}
.filterReset{background: none;padding: 0!important;color: #666!important;display: inline-block!important;text-transform: capitalize!important}
.filterReset:hover {background:none!important;}
.filterReset .mdi-action-cached{font-size: 20px;margin-left: 2px;}
.resHeader{width: 100%;height: 50px;line-height: 50px;background: #666;margin-bottom: 5px;padding: 0px 10px 0px 0;border-radius: 5px;}
.resHeader .dtTitle:last-child{border-right: none;width:16%}

.dtTitle{width:14%;border-right: 1px solid rgba(0,0,0,.1)}
.dtData{width:14%;height: 35px;line-height: 35px;border-right: 1px solid rgba(0,0,0,.1)}
.temp .dtData:last-child{border-right: none;width:16%}

.resBtn{width:20%;height: 35px;line-height: 35px;background: #18c0EF;cursor: pointer;border-radius: 5px;padding-left: 15px}
.viewmorebtn{width: 95%;height: 35px;line-height: 35px;background: #18c0EF;cursor: pointer;border-radius: 5px;}


.shapeFilter{width:100%;height:100px;padding-left: 0%;}
.Shape1 {background-image:url(../images/shapes.svg);background-repeat: no-repeat;width: 60px;height: 56px;display: inline-block;vertical-align: bottom;text-align: center;cursor: pointer;padding-top: 42px;}

.Round{background-position: 0% 0%;}
.Pear{width:40px;background-position: 11% 0%;}
.Heart{background-position: 22% 0%;}
.Princess{background-position: 33.5% 0%;}
.Asscher{background-position: 44.5% 0%;}
.Marquise{background-position: 55.5% 0%;}
.Oval{background-position: 66.5% 0%;}
.Emerald {background-position: 78% 0%;}
.Radiant {background-position: 89% 0%;}
.Cushion {background-position: 100% 0%;}


.addBtn{line-height: 35px;height: 35px;display: inline-block;vertical-align: top;padding: 0 3px;}

.rangeCont{width:100%;padding: 0 0px;margin-top: 10px;}
.rangeCont2{width:100%;padding:0 0px;margin-top: 10px;}
.rangeDiv{width: 100%;}

.rangeTitle{width:100%;height: 20px;line-height: 20px;margin-bottom: 15px;}
.rangeDiv2{width: 33.33%;padding: 0 20px;margin: 0;}
.shapeFilter {height: auto;width: 100%;margin-top: 0;background: #fff;border-radius: 5px;padding: 0;}
.Shape1{float: left;margin-bottom: 10px;}


.resShape{background-image: url(../images/shapesonly.svg);background-repeat: no-repeat;width:45%!important;height:50px;display: inline-block;vertical-align: bottom;text-align: center;cursor: pointer;padding-top: 0;padding: 0 !important;margin: 0;  margin-top: -10px;background-size: 1000% auto;}

 
.shapeCont{width:auto;height: 100px;}
.Shape {background-image: url(../images/shapes.svg);background-repeat: no-repeat;width: 60px !important;height: 80px !important;display: inline-block;vertical-align: bottom;text-align: center;cursor: pointer;padding-top: 0;padding: 0 !important;margin: 0 !important;background-size: 1000% auto; border-bottom: 20px solid #fff;}


.shapeFilter .filled-in:not(:checked) + label:after {height: 20px;width: 20px;background-color: transparent;border: 2px solid green;top: 0px;z-index: 0;margin:60px 20px 0px 20px;}
.shapeFilter .filled-in:checked + label:after {top: 0px;width: 20px;height: 20px;border: 2px solid #18c0EF;background-color: #18c0EF;z-index: 0;margin-top: 60px;margin:60px 20px 0px 20px;}
.shapeFilter .filled-in:checked + label:before {top: 0;left: 1px;width: 8px;height: 13px;border-top: 2px solid transparent;border-left: 2px solid transparent;border-right: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;margin:62px 20px 0px 20px;}
.shapeFilter .filled-in:checked + .Round{background-position: 0% 33%;}
.shapeFilter .filled-in:checked + .Pear{width:40px;background-position: 11% 33%;}
.shapeFilter .filled-in:checked + .Heart{background-position: 22% 33%;}
.shapeFilter .filled-in:checked + .Princess{background-position: 33.5% 33%;}
.shapeFilter .filled-in:checked + .Asscher{background-position: 44.5% 33%;}
.shapeFilter .filled-in:checked + .Marquise{background-position: 55.5% 33%;}
.shapeFilter .filled-in:checked + .Oval{background-position: 66.5% 33%;}
.shapeFilter .filled-in:checked + .Emerald {background-position: 78% 33%;}
.shapeFilter .filled-in:checked + .Radiant {background-position: 89% 33%;}
.shapeFilter .filled-in:checked + .Cushion {background-position: 100% 33%;}



.prllx ul{margin:0;padding: 0;width:520px;margin-left: 100px}
.prllx li{width: 150px;display: inline-block !important;position: relative!important;margin: 0 10px;}
.dn{display: none !important}
.prllx li.dn{display: none !important}
.progress{position: fixed!important;top:0;z-index: 100;}


.whyCont{width: 100%;height: 400px;background:#333 url(../images/bg.jpg)no-repeat;background-size: cover;position: relative;z-index: 2;padding: 50px 35px}
.whyContLeft{width:30%;height: 100%;border-right:2px solid #333;padding: 35px;display: table;}
.backBtn{width:60px;height: 60px;background:url(../images/back.svg)no-repeat;background-size:auto 40px;background-position: center;  vertical-align: top;border-radius: 5px}
.backTransit{width:0px !important;}
.bgLocation{background: transparent url(../images/location.svg)no-repeat;background-position: left center;background-size: auto 45px;padding: 0 15px 0 45px;}
.logoWhy{background: url(../images/logoondark.svg)no-repeat;background-size: auto 70%;background-position: right center;width: 100%;height: 90px;}
.whyContRight{width:70%;padding: 35px;height: 100%;display: table}
.wContents{width: 100%;vertical-align: middle;display: table-cell;}
.wTabsContainer{width: 100%;height: 200px;background: #18c0EF;position: relative;z-index: 2;padding: 25px;}
.wTabs{width:25%;height: 100%;}
.wTab1{width:10%;height: 100%}
.wTab2{width:90%;height: 100%;border-left: 2px solid rgba(0,0,0,0.2);padding:15px;}
.wTab2 div{width:100%;text-transform: capitalize}
.wTab2 .font30{line-height: 30px;}
.lH50{line-height: 50px}
.lH60{line-height: 60px}

.showHide{display:block}
.hideShow{display:none!important}
.blockIn.showHide {display: inline-block;}

/*Sorting Tabs*/
.sortingTabs{width:auto;padding:0}
.dropDown{width:auto; min-width: 145px;height:35px; line-height: 35px;background:#18c0EF; border-radius:5px; padding:0 15px; }
.sortText{width: auto;padding: 0 15px;}
nav .brand-logo{height:60px!important; width:20%; background: #333 url(../images/logoondark.svg)no-repeat;background-size: auto 55%;background-position: 15px center;}

.bgDiamond{background: url(../images/diamonds.svg)no-repeat;background-size: auto 60%;background-position:center;}
.bgJewellery{background: url(../images/jewellery.svg)no-repeat;background-size: auto 60%;background-position:center;}
.bgBullion{background: url(../images/bullion.svg)no-repeat;background-size: auto 60%;background-position:center;}

/*Loader*/
.uniLoader{width:100%;height: 100%;background: #fff url(../images/hex-loader.gif)no-repeat;background-size: auto;background-position: center;position: fixed;top:0;  opacity: 0.8;z-index: 10}
.cityName{font-size: 20px}
.cityLinkCont{width:75%;height:auto;margin:20px 15%;padding: 15px;}
.cityLinks{width:auto;height: 20px;line-height: 20px;padding: 0 5px;display: inline-block;cursor: pointer}

.footer{width:100%;height: 200px;background: #fff;position: relative;z-index: 2;  text-align: center;padding: 20px 0; }
.relatedLinkCont{width: auto;height: auto;margin: auto;display: inline-block;}
.figureImg {margin: auto;width: 35px;height: 35px;padding-left: 10px;display: inline-block;vertical-align: bottom;cursor: pointer}
.figureImg:hover {transform: scale(1.3);}
.col4 label{width:19%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}
.col3 label{width: 33%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}
.col2 label{width: 49%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}
.rangeCont2,.rangeCont {width: 100%;margin-top: 10px;background: #fff;border-radius: 5px;padding: 0;}
.rangeTitle {width: 100%;height: 35px;line-height: 35px;color: #18c0EF;border-bottom: 1px solid #18c0EF;padding: 0 0 0 15px;margin-bottom: 10px;}
.rangeDiv {width: 100%;padding: 10px 15px;}
.mdi-action-cached {width: 35px;height: 35px;text-align: center;  font-size: 20px!important;}

/*ResultPage*/
.imgContainer{width: 30%;height: 400px;background-color: #f0f0f0;padding: 15px;  margin-top: 15px;}

.prdDetailsCont{width:70%;height:auto;padding:20px;background: #fff}
.majorDet{  width: 35%;height: 100%;background: #fff;box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);padding: 25px 0;  border-radius: 5px;  margin-top: 15px;}
.majorInfoBox{width:100%;height: auto;padding:0 15px}

.infoCommn{width:50%;text-align: left;padding-left: 40px;height:40px;margin-bottom: 25px;background: #fff url(../images/test.png)no-repeat;  background-size: auto 40px;  background-position: left center;}
.infoLabel{width: 100%;line-height: 15px;height: 15px;text-transform: uppercase;}
.infoValue{width: 100%;line-height: 25px;height: 25px;}
.priceBtn{width: 100%;height: auto;padding: 20px;border-top: 1px solid #ccc;padding: 20px;}
.priceBtn .infoCommn{padding-left: 0;background: none;margin-bottom: 0;width: auto;}
.sellerInfoBtn{width: auto;padding: 0 25px;background: #18c0EF;height: 40px;line-height: 40px;border-radius: 5px;}


.extraDet{width:35%;height: 100%;margin-top: 15px;}
.extraTitle{width:100%;height: 50px;line-height: 50px;border-bottom: 1px solid #ccc;padding-left:25px}
.extraDetCont{width: 100%;padding-left: 25px;padding-top: 20px;}
.extraDetCont .infoCommn{  width: 50%;padding-left: 0;background: none;height: auto;margin-bottom: 20px;}
.extraDetCont .infoLabel{line-height: 15px;height: auto;padding: 0px}
.extraDetCont .infoValue{line-height: 20px;height: auto;font-size: 18px;text-transform: capitalize!important}

/*Tootl Tips*/
.dummy-menu {
  max-width: 100%;
  padding: 4em 1em;
}
.dummy {
  text-align: left;
  padding: 1em;
  min-height: 300px;
  margin: 0 auto;
  font-weight: 300;
}

.dummy-menu ul, .dummy-team ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 3em;
}
*, *:after, *:before {-webkit-box-sizing: border-box;box-sizing: border-box;}


.color-7 a:hover, .color-7 a:focus {color: #fff;}
.color-7 a {  color: #fffaf0;}
a:hover, a:focus {color: #74777b;}
.tooltip {display: inline;position: relative;cursor: help;}
.tooltip:hover::after {  pointer-events: auto;}
.tooltip::after {  content: '';  position: absolute;  width: 100%;  height: 20px;  bottom: 100%;  left: 50%;  pointer-events: none;  -webkit-transform: translateX(-50%);  transform: translateX(-50%);}

.fa-fw {width: 1.28571429em;text-align: center;}
.fa {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.tooltip:hover .tooltip-content {  opacity: 1;  pointer-events: auto;  -webkit-transition-delay: 0s;  transition-delay: 0s;}
.tooltip-content {position: absolute;  z-index: 9999;  width: 300px;bottom: 100%;font-size: 16px;line-height: 1.4;text-align: left;font-weight: normal; color: #fffaf0;  background: transparent;  opacity: 0;  margin: 0 0 20px -150px;  cursor: help;  pointer-events: none;  transition: opacity 0.3s 0.3s;  top: 15px;  right: 0;  left: 0%;  margin: 0;}
.tooltip:hover .tooltip-text {  -webkit-transition-delay: 0s;  transition-delay: 0s;  -webkit-transform: scale3d(1,1,1);  transform: scale3d(1,1,1);}
.tooltip-content span {display: block;}
.tooltip-text {background-color: #fff;box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);  border-bottom: 0px solid #fff;  overflow: hidden;  -webkit-transform: scale3d(0,1,1);  transform: scale3d(0,1,1);  -webkit-transition: -webkit-transform 0.3s 0.3s;  transition: transform 0.3s 0.3s;  border-radius: 5px;}
.tooltip:hover .tooltip-inner {-webkit-transition-delay: 0.3s;transition-delay: 0.3s;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);background: #fff;}
.tooltip-content span {display: block;}
.tooltip-inner {background: #fff;padding: 15px 20px;-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,100%,0);webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;color: #666;}



.tooltip-text:hover {
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
-webkit-transform: scale3d(0,1,1)!important;
 transform: scale3d(0,1,1)!important;
}
.tooltip-text:hover .tooltip-inner {
transition-delay: 0s!important;
-webkit-transform: translate3d(0,100%,0)!important;
transform: translate3d(0,100%,0)!important;
}










.relatedProducts{width:100%;height: 211px;padding: 20px 0;border-top:1px solid #ccc;margin-top: 10px;overflow: hidden}
.relPrdComm{width:23%;margin:0 1%; height: 170px;}
.relPrdComm .temp {width: 100%;height:100%;margin-bottom: 5px;padding: 10px;background: #fff;border-radius: 5px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);}



.redtData {width: 40%!important;height: 90px;line-height: 60px;margin: 0;padding: 0;border-right: none;border-bottom: 0;margin-bottom: 0;text-align: left;padding-left: 0;font-size: 15px;}
.relPrdComm .resShape {background-image: url(../images/shapes.svg);background-repeat: no-repeat;width: 90px !important;height: 90px;display: inline-block;vertical-align: bottom;text-align: center;padding: 0 !important;margin: 5px;background-size: 1000% auto;}
.relPrdComm .dtData {width: 60%;height: 20px;line-height: 20px;border-right: none;border-bottom: 0;margin-bottom: 0;text-align: left;padding-left: 0;font-size: 15px;}
.relPrdComm .mTitle {width: 45%;color: #888;font-size: 13px;}
.relPrdComm .temp .dtData:last-child {border: none;width: 100%;padding-left: 0;height: 40px;line-height: 40px;margin-top: 5px;text-align: center;}
.relPrdComm .viewmorebtn {width:100%}





@media only screen and (min-width:960px) and (max-width:1024px){
   
}

















@media only screen and (max-width:960px){
.baseContainer {width: 100%;height: auto; min-height: 300px;padding-top: 0px;}
.baseTransit {padding-top: 50px!important;}
.prdComm{width: 100%;height: 65px;line-height: 65px; margin: 0;text-align: left;background:#f0f0f0; border-radius: 5px;margin-bottom: 10px;transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);}
.prdComm img {width: auto;height: 40px;margin: 0;display: inline-block;vertical-align: middle;}
.prdTransit{height: 0!important;border-color: #fff;margin-bottom: 0;opacity:0;}



.bgDiamond{background: url(../images/diamond_icon.svg)no-repeat;background-size: auto 30px;background-position:15px center;}
.bgJewellery{background: url(../images/jewellery_icon.svg)no-repeat;background-size: auto 30px;background-position:15px center;}
.bgBullion{background:url(../images/bullion_icon.svg)no-repeat;background-size: auto 30px;background-position:15px center;}
.prdComm.bgDiamond {background: rgba(255,255,255,0.8); box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);} 
.prdComm.bgJewellery {background:  rgba(255,255,255,0.8); box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);} 
.prdComm.bgBullion {background:  rgba(255,255,255,0.8); box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);} 

.prllx{width:100%;margin: 0;padding: 0 15px;line-height: 0; }
.prllx li {width:100%;  display: block !important; margin: 0;margin-bottom: 10px;line-height: 0;margin-bottom:0px;}
.activePrd{width:auto;font-size: 20px !important;padding: 10px 0;}  
.font40 {font-size: 25px;}

.cityCont {width: 100%;  display: inline-block;  line-height: 60px;  padding:0;}
.wTabs{width:100%;height:auto;}
.wTabsContainer{height:auto;padding: 15px;}
.whyContLeft {width: 100%;height: 100%;border-right:none;padding: 0 0px;display: table;}
.whyCont {width: 100%;height: auto;background: #333 url(../images/bg.jpg)no-repeat;background-size: cover;position: relative;z-index: 2;padding: 15px 25px;}
.whyContRight {width: 100%;padding: 5px 0px;height: 100%;display: table;}
.productCont {width: 100%;height: auto;padding-bottom:80px;padding-bottom:0px;}

nav .button-collapse {height: 50px!important;;}
nav .brand-logo {height: 50px!important;width: 100%!important;background-position: center!important;}

  
.logoTop{height:  50px!important;z-index: 1000}
.filterCont {width: 100%;}
.fTitle {width: 100%;height: auto;line-height: 35px;border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.sortingTabs {margin-bottom: 15px;width: 100%;}
.sortText {width: auto;padding: 0;margin-right: 10px;}
.results {width: 100%;padding:10px 15px 15px 15px;height: auto}
.pTop75{padding-top: 0!important}
.txtInput {width: 100%;}
.wContents .txtRight{text-align: left}
.font55 {font-size: 35px;}
.font20 {font-size: 16px;}
.font35 {font-size: 25px;}
.font30 {font-size: 20px;}
.logoWhy {background: url(../images/logoondark.svg)no-repeat;background-size: auto 70%;background-position: 0 top;width: 100%;height: 60px;}
.logo_PrdCont{position: relative;padding-bottom: 50px;padding-top:0px; background-size: 110% auto;}
.selectedType{width: 100%;background: #f0f0f0;height: 50px;line-height: 50px}
.backBtn {width: 50px;height: 50px;border-right:1px solid #e6e6e6; background: url(../images/back.svg)no-repeat; background-size: auto 30px;background-position: center;vertical-align: middle;border-radius: 0px;}

.mFilterIcon{display: inline-block;}
#selectedType{background: url(../images/diamonds.svg);background-size: 40px 40px;background-repeat: no-repeat;background-position: center right;padding-right: 50px;}
.showHide{display: none}
.hideShow{display:block!important;}
.blockIn.showHide {display: none;}
.waves-effect.hideShow{display:inline-block!important}
.bgBorder {width: 100%;outline: none;background: url(../images/border.svg);background-size: auto 15px;background-position: -230px bottom;background-repeat: repeat-x;transition: ease-in-out 0.7s;}
.logo {height: 100px;}
.mSelected{height: 50px;line-height: 50px;margin-bottom: 0;}
.mSelected .backBtn{margin-top: 0px;}
.filChildCont{height: 1458px;padding: 10px;padding-bottom: 40px;}
.filChildCont.h0{height:0px!important;padding: 0 15px}

.mSelected.bgDiamond {background-position: 55px center;}
.mSelected.bgJewellery{background-position:55px center;}
.mSelected.bgBullion{background-position:55px center;}
.citySelected{background-position: 40px center!important;background-size: 100px auto!important;}
.p0{padding:0;}
.cityName{padding-left: 55px;}
.citySelected .cityName{font-size: 16px}
.pB0{padding-bottom: 0!important}
.resCnt{width:100%;height: 40px;line-height: 40px;}
.dropDown{  vertical-align: top!important;}
.dropDown{min-width: 130px;}
.mcityContainer{width:100%;padding:10px;line-height: 15px}
.mcityContainer .dropdown-content{position: relative!important;top:0!important;left:0!important;border-radius: 5px;width: 100%!important;}
.mcityContainer .dropDown{width:100%;height: 45px;line-height: 45px;}
.mcityContainer li a{color:#666!important}
.filterRefreshBtn{display: inline-block!important;margin-top: 10px;width: 100%;height: 45px!important;  line-height: 45px!important;}
.cityLinkCont {width:100%;height: auto;margin: 20px 0;padding: 15px;}
.col4 label{width: 24%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}
.col3 label{width: 33%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}
.col2 label{width: 49%;margin-left: 0;margin-right: 0!important;padding: 0;margin-right: 0;}

.rangeCont2,.rangeCont {width: 100%;margin-top: 10px;background: #fff;border-radius: 5px;padding: 0;border: none;}
.rangeTitle {width: 100%;height: 35px;line-height: 35px;color: #18c0EF;border-bottom: 1px solid #18c0EF;padding: 0 0 0 15px;margin-bottom: 0px;}
.rangeDiv {width: 100%;padding: 10px 15px;}
.filterReset{background: none;padding: 0;color: #666;display: inline-block!important}
.filterReset .mdi-action-cached {font-size:16px;}
.temp {width: 100%;height: auto;margin-bottom: 5px;padding: 10px;background: #fff;border-radius: 5px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);}
.dtData {width: 60%;height: 20px;line-height: 20px;border-right: none;border-bottom: 0;margin-bottom: 0;text-align: left;padding-left: 0;font-size: 15px;}.temp .dtData:last-child {border: none;width: 100%;padding-left: 0;height: 40px;line-height: 40px;  margin-top: 5px;}.viewmorebtn{width:100%;text-align: center;font-size: 18px;height: 40px;line-height: 40px}.addBtn {line-height: 40px;height: 40px;display: inline-block;vertical-align: top;padding: 0 3px;}.resShape {background-image: url(../images/shapes.svg);background-repeat: no-repeat;width: 90px !important;height: 90px;display: inline-block;vertical-align: bottom;text-align: center;padding: 0 !important;margin: 5px;background-size: 1000% auto;}
.mTitle{width:45%;color: #888;font-size: 13px;}
.mShapeCont{width: 40%!important;height: 90px;line-height: 60px;margin: 0;padding: 0;}



.infoCommn {width: 50%;text-align: left;padding-left: 35px;height: 35px;margin-bottom: 15px;background: #fff url(../images/test.png)no-repeat;background-size: auto 40px;background-position: left center;}
.infoValue {width: 100%;line-height: 20px;height: 20px;}
.infoValue.font25{font-size: 18px}
.infoLabel.font12{font-size: 11px!important}


.extraDetCont .infoCommn {margin-bottom: 10px;}
.extraDetCont .infoValue{font-size: 16px}
.imgContainer {width: 100%;height: 300px;border: 1px solid #333;padding-bottom: 0;}
.majorDet{width:100%;}
.extraDet{width:100%}
.pTop60px {padding-top: 50px!important;}
.pswp__img--placeholder--blank{height: 270px!important;}
.pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap{height: 270px!important;}
.pswp__scroll-wrap{height: 270px!important;}

.relatedProducts {width: 100%;height: auto;padding: 10px;border: 1px solid #ccc;margin-top: 10px;}



}


@media only screen and (min-width: 0px) and (max-width: 479px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .relPrdComm{width:48%;margin:0 1%; height: 170px;}
    .relatedProducts .relPrdComm:last-child{display: none}
    .relatedProducts .relPrdComm:nth-child(3) {display:none}
    .relatedProducts .relPrdComm:nth-child(4) {display:none}
}
@media only screen and (max-width: 479px) {
    .relPrdComm{width:100%;margin:1% 0; height: 170px;}
    .relatedProducts .relPrdComm:last-child{display: none}
    .relatedProducts .relPrdComm:nth-child(3) {display:none}
    .relatedProducts .relPrdComm:nth-child(4) {display:none}
}

@media only screen and (max-width: 767px){}
@media only screen and (min-width: 768px) and (max-width: 959px){}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .relPrdComm{width:48%;margin:0 1%; height: 170px;}
    .relatedProducts .relPrdComm:last-child{display: none}
    .relatedProducts .relPrdComm:nth-child(3) {display:none}
    .relatedProducts .relPrdComm:nth-child(4) {display:none}
}





@media only screen and (min-width: 768px){
    
    
    
    
    
}



@media only screen and (max-width: 991px){}
@media (min-width: 992px) {}
@media only screen and (max-width: 1199px) {}
@media only screen and (min-width: 992px) and (max-width: 1199px) {}





@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .relPrdComm{width:31%;margin:0 1%; height: 170px;}
    .relatedProducts .relPrdComm:last-child{display: none}
}

@media (min-width: 1200px) {}